<ng-container *ngIf="rule">
  <form #form="ngForm">

    <m-form-item mName="type" mLabel="entities.value-set-rule-set.rule.type" [required]="!viewMode">
      <m-radio-group name="type" [(ngModel)]="rule.type" [disabled]="!!viewMode" [required]="!viewMode">
        <label m-radio-button [mValue]="'include'">{{'web.value-set-version.form.rule-set.rule.include' | translate}}</label>
        <label m-radio-button [mValue]="'exclude'">{{'web.value-set-version.form.rule-set.rule.exclude' | translate}}</label>
      </m-radio-group>
    </m-form-item>

    <m-form-item mName="codeSystem"
        mLabel="entities.value-set-rule-set.rule.code-system"
        [required]="!viewMode && !rule.valueSet"
        *ngIf="!viewMode || rule.codeSystem">
      <twl-code-system-search name="codeSystem"
          *ngIf="!viewMode"
          [(ngModel)]="rule.codeSystem"
          [required]="!rule.valueSet"
          valuePrimitive></twl-code-system-search>
      <label *ngIf="viewMode">
        {{rule.codeSystem}}
      </label>
    </m-form-item>

    <m-form-item mName="codeSystemVersion"
        mLabel="entities.value-set-rule-set.rule.code-system-version"
        [required]="!viewMode && !!rule.codeSystem && !lockedDate"
        *ngIf="!viewMode || rule.codeSystem">
      <twl-code-system-version-select name="codeSystemVersion"
          *ngIf="!viewMode"
          [(ngModel)]="rule.codeSystemVersionId"
          [codeSystemId]="rule.codeSystem"
          [required]="!lockedDate && !!rule.codeSystem"
          valuePrimitive></twl-code-system-version-select>
      <label *ngIf="viewMode">
        {{rule?.codeSystemVersionId | codeSystemVersionCode | async}}
      </label>
    </m-form-item>
  </form>


  <ng-container *ngIf="rule.codeSystem && rule.codeSystemVersionId">
    <twa-value-set-rule-concept-list *ngIf="!viewMode || rule.concepts?.length > 0"
        [codeSystem]="rule?.codeSystem"
        [codeSystemVersionId]="rule?.valueSetVersionId"
        [lockedDate]="lockedDate"
        [concepts]="rule.concepts"
        [inactiveConcepts]="inactiveConcepts"
        [viewMode]="viewMode"
        (conceptsChange)="rule.concepts = $event"></twa-value-set-rule-concept-list>

    <twa-value-set-rule-filter-list *ngIf="!viewMode || rule.filters?.length > 0"
        [codeSystem]="rule.codeSystem"
        [filters]="rule.filters"
        [viewMode]="viewMode"
        (filtersChange)="rule.filters = $event"></twa-value-set-rule-filter-list>
  </ng-container>

  <m-form-item mName="valueSet"
      mLabel="entities.value-set-rule-set.rule.value-set"
      [required]="!viewMode && !rule.codeSystem"
      *ngIf="!viewMode || rule.valueSet">
    <twl-value-set-search *ngIf="!viewMode" name="valueSet" [(ngModel)]="rule.valueSet" valuePrimitive [required]="!rule.codeSystem"></twl-value-set-search>
    <label *ngIf="viewMode">{{rule.valueSet}}</label>
  </m-form-item>

  <m-form-item mName="valueSetVersion"
      mLabel="entities.value-set-rule-set.rule.value-set-version"
      [required]="!viewMode && !!rule.valueSet && !lockedDate"
      *ngIf="!viewMode || rule.valueSet">
    <twl-value-set-version-select *ngIf="!viewMode"
        name="valueSetVersion"
        [(ngModel)]="rule.valueSetVersionId"
        [valueSetId]="rule.valueSet"
        [required]="!!rule.valueSet && !lockedDate"
        valuePrimitive></twl-value-set-version-select>
    <label *ngIf="viewMode">{{rule.valueSetVersionId | valueSetVersionCode | async}}</label>
  </m-form-item>
</ng-container>
