<div class="m-items-middle" style="flex-direction: column">
  <m-card>
    <div *m-card-header class="m-justify-between">
      <m-title>{{'web.snomed.branch.list.codesystem.header' | translate}}</m-title>
      <div class="m-items-middle">
        <tw-add-button *twPrivileged="'snomed-ct.CodeSystem.edit'" (click)="editionModalData.visible = true">
          {{'web.snomed.branch.list.codesystem.add-edition' | translate}}
        </tw-add-button>
      </div>
    </div>
    <m-table #csTable [mData]="codeSystems" [mLoading]="loader.isLoading">
      <tr *mTableHead>
        <th>{{'entities.snomed-codesystem.name' | translate}}</th>
        <th>{{'entities.snomed-codesystem.branch-path' | translate}}</th>
        <th>{{'entities.snomed-codesystem.languages' | translate}}</th>
        <th>{{'entities.snomed-codesystem.latest-version' | translate}}</th>
      </tr>
      <ng-container *ngFor="let cs of codeSystems">
        <tr>
          <td>
            <div class="m-items-middle">
              <m-icon-button *ngIf="cs.versions?.length"
                  [mIcon]="cs['expanded'] ? 'folder-open' : 'folder'"
                  (mClick)="cs['expanded'] = !cs['expanded']"></m-icon-button>
              <div>
                <div>
                  <a class="m-bold" [routerLink]="['/integration', 'snomed', 'codesystems', cs.shortName, 'edit']">{{cs.shortName}}</a> {{cs.name ? '(' + cs.name + ')' : ''}}
                </div>
                <ng-container *ngFor="let module of cs.modules">
                  <div *ngIf="module.conceptId === module.moduleId">{{module?.pt?.term}}</div>
                </ng-container>
              </div>
            </div>
          </td>
          <td>{{cs.branchPath}}</td>
          <td>
            <div *ngFor="let lang of cs.languages | values">{{lang}}</div>
          </td>
          <td>
            <a *ngIf="!cs.latestVersion?.importDate" [routerLink]="['/integration', 'snomed', 'codesystems', cs.shortName, 'edit']" [queryParams]="{import: ''}">
              {{'web.snomed.codesystem.form.import-from-rf2' | translate}}
            </a>
            <div *ngIf="!!cs.latestVersion?.importDate">{{'web.snomed.branch.list.codesystem.imported' | translate}}: {{cs.latestVersion?.importDate | localDateTime}}</div>
            <div>{{cs.latestVersion?.branchPath}}</div>
          </td>
        </tr>
        <ng-container *ngIf="cs['expanded']">
          <tr *ngFor="let version of cs.versions">
            <td style="padding-left: 5rem">{{version.version}}</td>
            <td>{{version.branchPath}}</td>
            <td></td>
            <td>{{version.importDate | localDateTime}}</td>
          </tr>
        </ng-container>
      </ng-container>
      <tr *mTableNoData>
        <td colspan="100%">
          <m-no-data></m-no-data>
        </td>
      </tr>
    </m-table>
  </m-card>

  <ng-container *ngTemplateOutlet="branchList, context: {branches: dailyBuildBranches, type: 'daily-build'}"/>
  <ng-container *ngTemplateOutlet="branchList, context: {branches: workingBranches, type: 'working'}"/>

  <ng-template #branchList let-branches="branches" let-type="type">
    <m-card>
      <div *m-card-header class="m-justify-between">
        <m-title>{{'web.snomed.branch.list.' + type | translate}}</m-title>
        <div class="m-items-middle" *ngIf="type === 'working' && ('snomed-ct.CodeSystem.edit' | twPrivileged)">
          <tw-add-button [routerLink]="['/integration', 'snomed', 'branches', 'add']">
            {{'web.snomed.branch.list.add-branch' | translate}}
          </tw-add-button>
        </div>
      </div>
      <m-table [mData]="branches" [mLoading]="loader.isLoading" mEnablePagination>
        <tr *mTableHead>
          <th>{{'entities.snomed-branch.path' | translate}}</th>
          <th>{{'entities.snomed-branch.creation' | translate}}</th>
          <th>{{'entities.snomed-branch.base' | translate}}</th>
          <th>{{'entities.snomed-branch.deleted' | translate}}</th>
        </tr>
        <tr *mTableRow="let branch">
          <td><a [routerLink]="['/integration', 'snomed', 'branches', branch.path | apply:encodeUriComponent, 'management']" [queryParams]="{type:type}">
            {{branch.path}}
          </a></td>
          <td>{{branch.creation | localDate}}</td>
          <td>{{branch.base | localDate}}</td>
          <td>
            <m-checkbox [ngModel]="branch.deleted" readOnly></m-checkbox>
          </td>
        </tr>
        <tr *mTableNoData>
          <td colspan="100%">
            <m-no-data></m-no-data>
          </td>
        </tr>
      </m-table>
    </m-card>
  </ng-template>
</div>


<m-modal [(mVisible)]="editionModalData.visible" (mClose)="editionModalData = {visible: false}">
  <m-title *mModalHeader>
    {{'web.snomed.branch.list.edition-modal.header' | translate}}
  </m-title>

  <ng-container *mModalContent>
    <form #form="ngForm">
      <m-form-item mName="countryCode" mLabel="web.snomed.branch.list.edition-modal.country-code" required>
        <m-input name="countryCode" [(ngModel)]="editionModalData.countryCode" required/>
      </m-form-item>
      <m-form-item mName="name" mLabel="web.snomed.branch.list.edition-modal.name">
        <m-input name="name" [(ngModel)]="editionModalData.name"/>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="editionModalData.visible = false">
      {{'core.btn.cancel' | translate}}
    </m-button>
    <m-button mDisplay="primary" (click)="createCodeSystem()" [mLoading]="loader.isLoading" [disabled]="loader.state['save']">
      {{'core.btn.confirm' | translate}}
    </m-button>
  </div>
</m-modal>
