<m-card *ngIf="!relatedValueSets || relatedValueSets.length === 0" class="m-card-inside" mTitle="web.dev-code-system-relation.value-set.value-set" [mShowSkeleton]="loading['value-sets']">
  <form #form="ngForm">
    <m-form-item mName="generate">
      <m-checkbox [(ngModel)]="generateValueSet" name="generate" (ngModelChange)="generate($event)">{{'web.dev-code-system-relation.value-set.generate' | translate}}</m-checkbox>
    </m-form-item>

    <m-form-item mName="code" mLabel="web.dev-code-system-relation.value-set.code" [required]="generateValueSet">
      <m-input [(ngModel)]="valueSet.id" name="code" [required]="generateValueSet"></m-input>
    </m-form-item>

    <m-form-item mName="publisher" mLabel="web.dev-code-system-relation.value-set.publisher" [required]="generateValueSet">
      <twl-value-set-concept-select [(ngModel)]="valueSet.versions[0].source" name="publisher" (ngModelChange)="publisherChanged($event)" valueSet="publisher" [required]="generateValueSet"></twl-value-set-concept-select>
    </m-form-item>

    <m-form-item mName="uri" mLabel="web.dev-code-system-relation.value-set.uri" [required]="generateValueSet">
      <m-input [(ngModel)]="valueSet.uri" name="uri" [required]="generateValueSet"></m-input>
    </m-form-item>
  </form>
</m-card>

<m-card *ngIf="relatedValueSets.length > 0" class="m-card-inside" mTitle="web.dev-code-system-relation.value-set.header" [mShowSkeleton]="loading['value-sets']">
  <m-table [mData]="relatedValueSets" mHideOnSinglePage>
    <tr *mTableHead>
      <th>{{'web.dev-code-system-relation.value-set.code' | translate}}</th>
      <th>{{'web.dev-code-system-relation.value-set.name' | translate}}</th>
    </tr>
    <tr *mTableRow="let vs">
      <td><a [routerLink]="['/resources/value-sets', vs.id, 'view']">{{vs.id}}</a></td>
      <td>{{vs.names | localName}}</td>
    </tr>
  </m-table>
</m-card>
<m-card *ngIf="relatedMapSets.length > 0" class="m-card-inside" mTitle="web.dev-code-system-relation.map-set.header" [mShowSkeleton]="loading['map-sets']">
  <m-table [mData]="relatedMapSets" mHideOnSinglePage>
    <tr *mTableHead>
      <th>{{'web.dev-code-system-relation.map-set.code' | translate}}</th>
      <th>{{'web.dev-code-system-relation.map-set.name' | translate}}</th>
    </tr>
    <tr *mTableRow="let ms">
      <td><a [routerLink]="['/resources/map-sets', ms.id, 'view']">{{ms.id}}</a></td>
      <td>{{ms.names | localName}}</td>
    </tr>
    <tr *mTableNoData>
      <td colspan="4">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-table>
</m-card>
