<m-modal [(mVisible)]="modalVisible" (mClose)="closed.emit()" [mMaskClosable]="false">
  <ng-container *m-modal-header>
    {{(pageId ? 'web.thesaurus-page.form.edit-header' : 'web.thesaurus-page.form.add-header') | translate}}
  </ng-container>

  <ng-container *m-modal-content>
    <form #form="ngForm" *ngIf="page">

      <m-form-item mName="name" mLabel="entities.page-content.name" required>
        <m-input name="name" [(ngModel)]="content.name" autofocus required></m-input>
      </m-form-item>

      <m-form-item mName="template" mLabel="entities.page.template">
        <m-select name="template" [(ngModel)]="page.templateId">
          <m-option *ngFor="let template of templates" mLabel="{{template.code}} - {{template.names | localName}}" [mValue]="template.id"></m-option>
        </m-select>
      </m-form-item>

      <m-form-item mName="tag" mLabel="entities.page.tags">
        <m-select name="tag" [(ngModel)]="pageTags" tags>
          <m-option *ngFor="let tag of tags" [mLabel]="tag.text" [mValue]="tag.text"></m-option>
        </m-select>
      </m-form-item>

      <m-form-item mName="status" mLabel="entities.page.status" required>
        <m-select name="status" [(ngModel)]="page.status" required>
          <m-option mLabel="draft" [mValue]="'draft'"></m-option>
          <m-option mLabel="active" [mValue]="'active'"></m-option>
        </m-select>
      </m-form-item>

      <m-form-item mName="lang" mLabel="entities.page-content.lang" required>
        <m-select name="lang" [(ngModel)]="content.lang" required>
          <m-option *ngFor="let lang of muiConfig.config.supportedLangs | keys" [mLabel]="lang" [mValue]="lang"></m-option>
        </m-select>
      </m-form-item>

      <m-form-item mName="type" [mLabel]="contentTypeLabel" required>
        <ng-template #contentTypeLabel>
          <label>{{'entities.page-content.content-type' | translate}}</label>
          <m-icon mCode="exclamation-circle" style="margin-left: 0.5rem" m-tooltip mTitle="web.thesaurus-page.form.content-type-tooltip"></m-icon>
        </ng-template>
        <m-select name="type" [(ngModel)]="content.contentType" required>
          <m-option mLabel="WYSIWYG" [mValue]="'html'"></m-option>
          <m-option mLabel="Markdown" [mValue]="'markdown'"></m-option>
        </m-select>
      </m-form-item>

      <m-form-item mLabel="entities.page.links">
        <m-table [mData]="page.links" mSize="small">
          <tr *mTableHead>
            <th>{{'entities.page-link.source' | translate}}</th>
            <th>{{'entities.page-link.order-number' | translate}}</th>
            <th class="tw-table-actions"></th>
          </tr>
          <tr *mTableRow="let link; let index = index">
            <td>
              <tw-page-select name="source-{{index}}" [(ngModel)]="link.sourceId" [idNe]="page.id" required></tw-page-select>
            </td>
            <td>
              <m-number-input name="orderNumber-{{index}}" [(ngModel)]="link.orderNumber"></m-number-input>
            </td>
            <td class="tw-table-actions">
              <m-button mDisplay="link" (click)="deleteLink(index)">
                <m-icon mCode="delete"></m-icon>
              </m-button>
            </td>
          </tr>
          <tr>
            <td colspan="4" style="padding: 0">
              <m-button mDisplay="text" mSize="small" style="width: 100%" (click)="addLink()">
                <m-icon [mCode]="'plus'"></m-icon>
              </m-button>
            </td>
          </tr>
          <tr *mTableNoData>
            <td colspan="5">
              <m-no-data></m-no-data>
            </td>
          </tr>
        </m-table>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="closed.emit()">{{'core.btn.close' | translate}}</m-button>
    <m-button mDisplay="primary"
        [mLoading]="loader.state['save']"
        [disabled]="loader.state['init'] || isLoading"
        (click)="save()"
    >{{'core.btn.save' | translate}}</m-button>
  </div>
</m-modal>


