<div nz-row nzGutter="12" class="m-row">
  <div nz-col [nzMd]="6" [nzXs]="24">
    <tw-thesaurus-sidebar [path]="path"/>
  </div>

  <div nz-col [nzMd]="18" [nzXs]="24">
    <m-spinner [mLoading]="isLoading">
      <m-card *ngIf="pageId">
        <div *m-card-header style="display: flex">
          <label class="m-card__title">
            {{pageContent?.name}}
          </label>
          <div style="margin-left: auto;">
            <tw-github-export [title]="pageContent?.name" [prepareExport]="prepareExport"></tw-github-export>
            <m-dropdown style="margin-left: 0.5rem">
              <m-button *mDropdownContainer>
                {{pageContent?.lang | apply: flagIcon}}
              </m-button>
              <ng-container *ngFor="let content of (pageContents | apply: filterContents: pageContent?.lang)">
                <a *m-dropdown-item (click)="openContent(content)">{{content.lang | apply: flagIcon}} {{content.name}}</a>
              </ng-container>
              <ng-container *ngFor="let lang of ['en', 'et'] | apply: filterLanguages: pageContent?.lang: pageContents">
                <a *m-dropdown-item (click)="openContentModal(lang)">{{lang | apply: flagIcon}}</a>
              </ng-container>
            </m-dropdown>
            <m-button [routerLink]="'edit'" style="margin-left: 0.5rem">
              <m-icon mCode="edit"></m-icon>
            </m-button>
            <m-button (click)="newPageModalVisible = true" style="margin-left: 0.5rem">
              <m-icon mCode="file-add"></m-icon>
            </m-button>
          </div>
        </div>

        <ng-container *ngIf="pageContent">
          <tw-smart-text-editor [(ngModel)]="pageContent.content"
              [valueType]="pageContent.contentType"
              [lang]="pageContent.lang"
              viewMode
          />
        </ng-container>
      </m-card>

      <m-card *ngIf="(pageRelations | keys)?.length > 0 || usages?.length > 0" style="margin-top: 1rem">
        <m-card *ngIf="(pageRelations | keys)?.length > 0" mTitle="entities.page.relations" class="m-card-inside">
          <m-table [mData]="pageRelations | keys" [mLoading]="isLoading" mEnablePagination>
            <tr *mTableHead>
              <th>{{'entities.page-relation.type' | translate}}</th>
              <th>{{'entities.page-relation.target' | translate}}</th>
            </tr>
            <ng-container *mTableRow="let key;">
              <tr *ngFor="let relation of pageRelations[key]; let isFirst = first">
                <td *ngIf="isFirst" [rowSpan]="pageRelations[key].length">{{key}}</td>
                <td><a (click)="openTarget(relation)">{{relation.target}}</a></td>
              </tr>
            </ng-container>
            <tr *mTableNoData>
              <td colspan="6">
                <m-no-data></m-no-data>
              </td>
            </tr>
          </m-table>
        </m-card>

        <m-card *ngIf="usages?.length > 0" mTitle="web.thesaurus-page.form.usages" class="m-card-inside">
          <a *ngFor="let usage of usages" (click)="openPage(usage)">
            <m-icon mCode="link"></m-icon>
            {{usage.content.names | localName}}</a>
        </m-card>
      </m-card>
    </m-spinner>
  </div>
</div>

<m-modal [(mVisible)]="contentModalData.visible" (mClose)="contentModalData.visible = false" [mMaskClosable]="false">
  <ng-container *m-modal-header>
    {{'web.thesaurus-page.form.content-header' | translate}}
  </ng-container>

  <ng-container *m-modal-content>
    <form #contentForm="ngForm" *ngIf="contentModalData.content">
      <m-form-item mName="name" mLabel="entities.page-content.name" required>
        <m-input name="name" [(ngModel)]="contentModalData.content.name" autofocus required></m-input>
      </m-form-item>
      <m-form-item mName="type" mLabel="entities.page-content.content-type" required>
        <m-select name="type" [(ngModel)]="contentModalData.content.contentType" required>
          <m-option mLabel="WYSIWYG" [mValue]="'html'"></m-option>
          <m-option mLabel="Markdown" [mValue]="'markdown'"></m-option>
        </m-select>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="contentModalData.visible = false">{{'core.btn.close' | translate}}</m-button>
    <m-button mDisplay="primary"
        [mLoading]="loading['save']"
        [disabled]="loading['init'] || isLoading"
        (click)="saveContent()"
    >{{'core.btn.save' | translate}}</m-button>
  </div>
</m-modal>

<tw-thesaurus-page-modal [modalVisible]="newPageModalVisible"
    [parentPageId]="pageId"
    (closed)="newPageModalVisible = false"
    (saved)="openPageContent($event.pageContent)"
></tw-thesaurus-page-modal>
