<m-card>
  <div *m-card-header class="m-justify-between">
    <m-icon-button mIcon="sync" (mClick)="reload()"/>
    <m-input style="flex: 1" twDebounce [debounced]="search" [(ngModel)]="searchText" placeholder="marina.ui.inputs.search.placeholder"/>
    <tw-github-export [title]="'Thesaurus'"></tw-github-export>
    <tw-add-button (click)="modal.open()"/>
  </div>

  <m-no-data *ngIf="data.length === 0"/>

  <m-skeleton [mLoading]="loader.isLoading">
    <tw-drop-list
        [nodes]="nodes"
        [nodeRenderer]="nodeDisplay"
        [nodeActions]="nodeActions"
        [selectedKey]="selectedKey | apply: findLinkId: nodes | toString"
        [disableDrag]="!!searchText?.length"
        (twExpand)="onExpand($event)"
        (twSelect)="onSelect($event)"
        (twMove)="onMove($event)"
    >
      <ng-template #nodeDisplay let-node>
        <div class="m-justify-between">
          <div>{{(node.obj.page | apply: localizedContent).name}}</div>
          <m-icon *ngIf="node.obj.page.status === 'active'" mCode="check-circle"/>
        </div>
      </ng-template>

      <ng-template #nodeActions let-node>
        <m-button mSize="small" (mClick)="onChildAdd($event, node, modal)">
          <m-icon mCode="plus"/>
        </m-button>
      </ng-template>
    </tw-drop-list>
  </m-skeleton>
</m-card>


<tw-thesaurus-page-modal
  #modal
    (saved)="openPageAfterSave($event.page, modal)"
    (closed)="modal.close()"
/>

