<m-card class="m-card-inside">
  <div *m-card-header class="m-justify-between">
    <div class="m-card__title">{{'entities.measurement-unit.mappings' | translate}}</div>
    <twa-add-button *ngIf="!viewMode" (click)="addMapping()">
      {{'web.measurement-unit.mapping.list.add-mapping' | translate}}
    </twa-add-button>
  </div>

  <m-table [mData]="mappings">
    <tr *mTableHead>
      <th>{{'entities.measurement-unit-mapping.system' | translate}}</th>
      <th>{{'entities.measurement-unit-mapping.system-unit' | translate}}</th>
      <th>{{'entities.measurement-unit-mapping.system-value' | translate}}</th>
      <th *ngIf="!viewMode"></th>
    </tr>
    <tr *mTableRow="let mapping; let index = index">
      <td>
        <ng-container *ngIf="!viewMode; else view">
          <a (click)="toggleModal(mapping, index)">{{mapping.system}}</a>
        </ng-container>
        <ng-template #view>{{mapping.system}}</ng-template>
      </td>
      <td>{{mapping.systemUnit}}</td>
      <td>{{mapping.systemValue}}</td>
      <td *ngIf="!viewMode" class="tw-table-actions">
        <m-button (click)="removeMapping(index)">
          <m-icon [mCode]="'delete'"></m-icon>
        </m-button>
      </td>
    </tr>
    <tr *mTableNoData>
      <td colspan="100%">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-table>

  <m-modal #modal [(mVisible)]="modalData.visible" (mClose)="toggleModal()">
    <ng-container *m-modal-header>
      {{(modalData.mappingIndex > -1 ? 'web.measurement-unit.mapping.modal.edit-header' : 'web.measurement-unit.mapping.modal.add-header') | translate}}
    </ng-container>

    <ng-container *m-modal-content>
      <form #form="ngForm" *ngIf="modalData.mapping">
        <m-form-item mName="system" mLabel="entities.measurement-unit-mapping.system" required>
          <m-input name="system" [(ngModel)]="modalData.mapping.system" autofocus required></m-input>
        </m-form-item>
        <m-form-item mName="systemUnit" mLabel="entities.measurement-unit-mapping.system-unit" required>
          <m-input name="systemUnit" [(ngModel)]="modalData.mapping.systemUnit" required></m-input>
        </m-form-item>
        <m-form-item mName="systemValue" mLabel="entities.measurement-unit-mapping.system-value" required>
          <m-input name="systemValue" [(ngModel)]="modalData.mapping.systemValue" required></m-input>
        </m-form-item>
      </form>
    </ng-container>

    <div *m-modal-footer class="m-items-middle">
      <m-button mDisplay="text" (click)="modal.close()">{{'core.btn.cancel' | translate}}</m-button>
      <m-button mDisplay="primary" (click)="confirmModalMapping()">{{'core.btn.confirm' | translate}}</m-button>
    </div>
  </m-modal>
</m-card>
