<div nz-row nzJustify="center" class="m-row">
  <div nz-col [nzLg]="18" [nzMd]="18" [nzXs]="18">
    <div nz-row class="m-row" [nzGutter]="12">

      <div nz-col nzSpan="10">
        <h1>{{'web.code-system-compare.source' | translate}}</h1>
        <div nz-row class="m-row" [nzGutter]="6">
          <div nz-col nzSpan="12">
            <m-form-item mName="sourceCodeSystem" required>
              <tw-code-system-search name="sourceCodeSystem"
                  [(ngModel)]="sourceCodeSystem"
                  (ngModelChange)="onSourceChange($event)"
                  valuePrimitive
                  autofocus
                  [placeholder]="'web.code-system-compare.source-code-system' | translate"/>
            </m-form-item>
          </div>
          <div nz-col nzSpan="12">
            <m-form-item mName="sourceVersion" required>
              <tw-code-system-version-select name="sourceVersion" [(ngModel)]="sourceVersion" [codeSystemId]="sourceCodeSystem"/>
            </m-form-item>
          </div>
        </div>
      </div>

      <div nz-col nzSpan="10">
        <h1>{{'web.code-system-compare.target' | translate}}</h1>
        <div nz-row class="m-row" [nzGutter]="6">
          <div nz-col nzSpan="12">
            <m-form-item mName="sourceCodeSystem" required>
              <tw-code-system-search name="sourceCodeSystem"
                  [(ngModel)]="targetCodeSystem"
                  valuePrimitive
                  [placeholder]="'web.code-system-compare.target-code-system' | translate"/>
            </m-form-item>
          </div>
          <div nz-col nzSpan="12">
            <m-form-item mName="targetVersion" required>
              <tw-code-system-version-select name="targetVersion" [(ngModel)]="targetVersion" [codeSystemId]="targetCodeSystem"/>
            </m-form-item>
          </div>
        </div>
      </div>

      <div nz-col nzSpan="4">
        <h1 style="color: transparent">.</h1>
        <div class="m-items-middle">
          <m-button mDisplay="primary"
              (click)="compare()"
              [disabled]="!sourceVersion || ! targetVersion"
              [mLoading]="loading">{{'web.code-system-compare.compare' | translate}}</m-button>
          <m-button mDisplay="primary"
              (click)="openFhirCompare()"
              [disabled]="!sourceVersion || ! targetVersion"
              [mLoading]="loading">FHIR</m-button>
        </div>
      </div>

    </div>

    <ng-container *ngIf="!!result">
      <div nz-row style="margin-top: 10px" [nzGutter]="16">
        <div nz-col nzSpan="12">
          <m-card mTitle="web.code-system-compare.deleted">
            <div *ngFor="let i of result.deleted">
              {{i}}
            </div>
            <m-no-data *ngIf="!(result.deleted?.length > 0)"></m-no-data>
          </m-card>
        </div>
        <div nz-col nzSpan="12">
          <m-card mTitle="web.code-system-compare.added">
            <div *ngFor="let i of result.added">
              {{i}}
            </div>
            <m-no-data *ngIf="!(result.added?.length > 0)"></m-no-data>
          </m-card>
        </div>
      </div>
      <m-card style="margin-top: 10px" mTitle="web.code-system-compare.changed">
        <m-table [mData]="result.changed" *ngIf="(result.changed?.length > 0)">
          <tr *mTableRow="let i">
            <td>
              <span style="font-weight: 800">{{i.code}}</span>
              <div nz-row>
                <div nz-col nzSpan="12" [class]="i.diff.old.status !== i.diff.mew.status ? 'red' : ''" style="padding: 4px">
                  <tw-status-tag *ngIf="i.diff.old.status" [status]="i.diff.old.status"></tw-status-tag>
                </div>
                <div nz-col nzSpan="12" [class]="i.diff.old.status !== i.diff.mew.status ? 'green' : ''" style="padding: 4px">
                  <tw-status-tag *ngIf="i.diff.mew.status" [status]="i.diff.mew.status"></tw-status-tag>
                </div>
              </div>
              <div nz-row>
                <div nz-col nzSpan="12">
                  <div *ngFor="let p of i.diff.old.properties"
                      [class]="!(i.diff.mew.properties | includes:p) ? 'red' : ''"
                      [innerHTML]="p | apply:changeToHtml"
                      style="line-break: anywhere"></div>
                </div>
                <div nz-col nzSpan="12">
                  <div *ngFor="let p of i.diff.mew.properties"
                      [class]="!(i.diff.old.properties | includes:p) ? 'green' : ''"
                      [innerHTML]="p | apply:changeToHtml"
                      style="line-break: anywhere"></div>
                </div>
              </div>
              <div nz-row>
                <div nz-col nzSpan="12">
                  <div *ngFor="let p of i.diff.old.designations"
                      [class]="!(i.diff.mew.designations | includes:p) ? 'red' : ''"
                      [innerHTML]="p | apply:changeToHtml"
                      style="line-break: anywhere"></div>
                </div>
                <div nz-col nzSpan="12">
                  <div *ngFor="let p of i.diff.mew.designations"
                      [class]="!(i.diff.old.designations | includes:p) ? 'green' : ''"
                      [innerHTML]="p | apply:changeToHtml"
                      style="line-break: anywhere"></div>
                </div>
              </div>
            </td>
          </tr>
        </m-table>
        <m-no-data *ngIf="!(result.changed?.length > 0)"></m-no-data>
      </m-card>
    </ng-container>
  </div>
</div>
