<m-card>
  <div *m-card-header class="tw-card-header">
    <m-input [(ngModel)]="searchInput" (mChange)="searchUpdate.next($event)" placeholder="marina.ui.inputs.search.placeholder"></m-input>
    <m-button [routerLink]="'code-systems/add'">
      <m-icon mCode="plus"></m-icon>&nbsp; {{'web.code-system.form.add-header' | translate}}
    </m-button>
  </div>

  <m-backend-table [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="loadData()" [mLoading]="loading">
    <tr *mTableHead>
      <th></th>
      <th mColumnKey="id">{{'web.code-system.entity.id' | translate}}</th>
      <th mColumnKey="name">{{'web.code-system.entity.name' | translate}}</th>
      <th mColumnKey="uri">{{'web.code-system.entity.domain' | translate}}</th>
      <th class="tw-table-actions"></th>
    </tr>

    <tr *mTableRow="let cs">
      <td m-table-expand [mItem]="cs"></td>
      <td><a [routerLink]="['code-systems',cs.id,'edit']">{{cs.id}}</a></td>
      <td>{{cs.names | localName}}</td>
      <td>{{cs.uri | apply: parseDomain}}</td>
      <td class="tw-table-actions">
        <m-dropdown>
          <a *m-dropdown-item (click)="duplicateModal.toggleModal({sourceCodeSystem: cs.id})">
            <m-icon [mCode]="'copy'"></m-icon>&nbsp; {{'core.btn.duplicate' | translate}}
          </a>
        </m-dropdown>
      </td>
    </tr>

    <tr *mTableRowExpand="let cs" class="m-table-expanded-row">
      <td colspan="5">
        <m-form-row mFull>
          <div *mFormCol>
            <m-form-item *ngIf="cs.uri" mLabel="web.code-system.entity.uri">
              {{cs.uri}}
            </m-form-item>
            <m-form-item *ngIf="cs.content" mLabel="web.code-system.list.content">
              {{'web.content-options.' + cs.content | translate}}
            </m-form-item>
            <m-form-item *ngIf="cs.caseSensitive" mLabel="web.code-system.list.case-sensitivity">
              {{'web.case-sensitive-options.' + cs.caseSensitive | translate}}
            </m-form-item>

            <m-form-item *ngIf="cs.description" mLabel="web.code-system.entity.description">
              {{cs.description}}
            </m-form-item>

            <m-form-item *ngIf="cs.versions.length > 0" mLabel="web.code-system.list.versions">
              <div *ngFor="let version of cs.versions">{{
                version | apply: getVersionTranslateTokens: ({
                  releaseDate: (version.releaseDate | localDate),
                  expirationDate: (version.expirationDate | localDate),
                  version: version.version
                }) | join: ' '}}
              </div>
            </m-form-item>
          </div>
        </m-form-row>
      </td>
    </tr>

    <tr *mTableNoData>
      <td colspan="5">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-backend-table>
</m-card>

<twa-code-system-duplicate-modal #duplicateModal (duplicated)="loadData()"></twa-code-system-duplicate-modal>
