<m-card>
  <div *m-card-header class="m-items-between">
    <m-input [(ngModel)]="searchInput" (mChange)="searchUpdate.next($event)" placeholder="marina.ui.inputs.search.placeholder"></m-input>
    <div class="m-items-middle">
      <twa-add-button *mPrivileged="'*.code-system.edit'" [routerLink]="['code-systems/add']">
        {{'web.code-system.list.add-code-system' | translate}}
      </twa-add-button>
      <m-button [routerLink]="'finder/code-systems'">
        <m-icon mCode="layout"></m-icon>
      </m-button>
    </div>
  </div>

  <m-backend-table [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="loadData()" [mLoading]="loading">
    <tr *mTableHead>
      <th></th>
      <th mColumnKey="id">{{'entities.code-system.id' | translate}}</th>
      <th mColumnKey="name">{{'entities.code-system.name' | translate}}</th>
      <th mColumnKey="uri">{{'web.code-system.list.domain' | translate}}</th>
      <th *mPrivileged="'*.code-system.edit'" class="tw-table-actions"></th>
    </tr>

    <tr *mTableRow="let cs">
      <td m-table-expand [mItem]="cs"></td>
      <td>
        <a *ngIf="'*.code-system.edit' | hasPrivilege; else view" [routerLink]="['code-systems',cs.id,'edit']">{{cs.id}}</a>
        <ng-template #view>
          <a [routerLink]="['code-systems',cs.id,'view']">{{cs.id}}</a>
        </ng-template>
      </td>
      <td>{{cs.names | localName}}</td>
      <td>{{cs.uri | apply: parseDomain}}</td>
      <td *mPrivileged="'*.code-system.edit'" class="tw-table-actions">
        <m-dropdown>
          <a *m-dropdown-item (click)="duplicateModal.toggleModal({sourceCodeSystem: cs.id})">
            <m-icon [mCode]="'copy'"></m-icon>&nbsp; {{'core.btn.duplicate' | translate}}
          </a>
        </m-dropdown>
      </td>
    </tr>

    <tr *mTableRowExpand="let cs" class="m-table-expanded-row">
      <td colspan="5">
        <m-form-row mFull>
          <div *mFormCol>
            <m-form-item *ngIf="cs.uri" mLabel="entities.code-system.uri">
              {{cs.uri}}
            </m-form-item>

            <m-form-item *ngIf="cs.content" mLabel="entities.code-system.content">
              {{cs.content | localizedConceptName: {valueSet: 'codesystem-content-mode'} | async}}
            </m-form-item>

            <m-form-item *ngIf="cs.caseSensitive" mLabel="entities.code-system.case-sensitivity">
              {{'web.case-sensitive-options.' + cs.caseSensitive | translate}}
            </m-form-item>

            <m-form-item *ngIf="cs.description" mLabel="entities.code-system.description">
              {{cs.description}}
            </m-form-item>

            <m-form-item *ngIf="cs.versions.length > 0" mLabel="entities.code-system.versions">
              <div *ngFor="let version of cs.versions">{{
                version | apply: getVersionTranslateTokens: ({
                  releaseDate: (version.releaseDate | localDate),
                  expirationDate: (version.expirationDate | localDate),
                  version: version.version
                }) | join: ' '}}
              </div>
            </m-form-item>
          </div>
        </m-form-row>
      </td>
    </tr>

    <tr *mTableNoData>
      <td colspan="100%">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-backend-table>
</m-card>

<twa-code-system-duplicate-modal #duplicateModal (duplicated)="loadData()"></twa-code-system-duplicate-modal>
