<nz-tabset>
  <nz-tab [nzTitle]="'CSV / TSV' | translate">
    <m-card>
      <div *m-card-header class="m-justify-between">
        <nz-breadcrumb>
          <nz-breadcrumb-item>{{'web.integration.file-import.file-import' | translate}}</nz-breadcrumb-item>
          <nz-breadcrumb-item>{{'web.integration.file-import.code-system.import' | translate}}</nz-breadcrumb-item>
        </nz-breadcrumb>
      </div>
      <form #form="ngForm">
        <!-- Code system info -->
        <ng-container>
          <!-- View -->
          <ng-container *ngIf="!data.codeSystem?.['_new']">
            <m-form-item mName="targetCodeSystem" mLabel="web.integration.file-import.code-system.resource-id" required>
              <twl-code-system-search name="targetCodeSystem"
                  [(ngModel)]="data.codeSystem.id"
                  (ngModelChange)="loadCodeSystem($event)"
                  valuePrimitive
                  required></twl-code-system-search>
              <div style="margin-top: 0.5rem" (click)="initCodeSystem()">{{'web.integration.file-import.not-found' | translate}}
                <a>{{'web.integration.file-import.create-new' | translate}}</a></div>
            </m-form-item>

            <m-card mDisplay="bordered" *ngIf="data.codeSystem.id">
              <m-form-item mLabel="entities.code-system.uri-short">
                {{data.loadedCodeSystem?.uri || '-'}}
              </m-form-item>

              <m-form-item mLabel="entities.code-system.name">
                {{(data.loadedCodeSystem?.names | localName) || '-'}}
              </m-form-item>

              <m-form-item mLabel="entities.code-system.description">
                {{data.loadedCodeSystem?.description || '-'}}
              </m-form-item>
            </m-card>
          </ng-container>


          <!-- Edit -->
          <ng-container *ngIf="data.codeSystem?.['_new']">
            <m-form-item mName="id" mLabel="web.integration.file-import.code-system.resource-id" required>
              <m-input name="id" [(ngModel)]="data.codeSystem.id" required></m-input>
            </m-form-item>

            <m-card mDisplay="bordered">
              <m-form-item mName="uri" mLabel="entities.code-system.uri" required>
                <div class="m-items-middle">
                  <m-input name="uri" [(ngModel)]="data.codeSystem.uri" required></m-input>
                </div>
              </m-form-item>

              <m-form-item mName="name" mLabel="entities.code-system.name" required>
                <m-multi-language-input name="name" [(ngModel)]="data.codeSystem.names" required></m-multi-language-input>
              </m-form-item>

              <m-form-item mName="description" mLabel="entities.code-system.description">
                <m-textarea name="description" [(ngModel)]="data.codeSystem.description"></m-textarea>
              </m-form-item>
            </m-card>
          </ng-container>
        </ng-container>

        <div style="height: 1rem"></div>

        <!-- Do generate value set? -->
        <m-form-item mName="generateValueSet" [mLabel]="chkbx">
          <ng-template #chkbx>
            <m-checkbox name="generateValueSet"
                [(ngModel)]="data.generateValueSet">{{'web.integration.file-import.code-system.generate-valueset' | translate}}</m-checkbox>
          </ng-template>
        </m-form-item>


        <!-- New CS version info -->
        <m-form-item mName="csVersion" mLabel="entities.code-system-version.version" required>
          <m-input name="csVersion" [(ngModel)]="data.version.version" required></m-input>
        </m-form-item>


        <m-form-item mName="csStatus" mLabel="entities.code-system-version.status" required>
          <twl-value-set-concept-select name="csStatus" [(ngModel)]="data.version.status" valueSet="publication-status" required></twl-value-set-concept-select>
        </m-form-item>


        <m-form-item mName="csReleaseDate" mLabel="entities.code-system-version.release-date" required>
          <m-date-picker name="csReleaseDate" [(ngModel)]="data.version.releaseDate" required></m-date-picker>
        </m-form-item>
      </form>
    </m-card>


    <m-card mTitle="web.integration.file-import.code-system.source" style="margin-top: 1rem">
      <m-form-item mName="sourceImportType">
        <div class="m-items-middle">
          <m-radio-group name="sourceImportType" [(ngModel)]="data.source.type" (ngModelChange)="data.source.file = undefined" required>
            <ng-template m-radio-button [mValue]="'link'" mLabel="web.integration.file-import.code-system.link"></ng-template>
            <ng-template m-radio-button [mValue]="'file'" mLabel="web.integration.file-import.code-system.file"></ng-template>
          </m-radio-group>

          <ng-container [ngSwitch]="data.source.type">
            <m-input *ngSwitchCase="'link'" name="sourceImportFile" [(ngModel)]="data.source.file" style="flex: 1" required></m-input>
            <input *ngSwitchCase="'file'" #fileInput id="fileInput" name="sourceImportFile" type="file" [(ngModel)]="data.source.file" required>
          </ng-container>
        </div>
      </m-form-item>

      <m-form-item mName="sourceImportMode" [mLabel]="'File format'" required>
        <m-radio-group name="sourceImportMode" [(ngModel)]="data.source.mode" required>
          <ng-template m-radio mValue="csv" mLabel="web.integration.file-import.code-system.csv"></ng-template>
          <ng-template m-radio mValue="tsv" mLabel="web.integration.file-import.code-system.tsv"></ng-template>
        </m-radio-group>
      </m-form-item>

      <m-button *m-card-footer
          (click)="analyze()"
          [mLoading]="loading['analyze']"
          [disabled]="!data.source.file">{{'web.integration.file-import.code-system.analyze' | translate}}</m-button>
    </m-card>


    <m-card [mTitle]="'Properties'" style="margin-top: 1rem">
      <m-alert *ngIf="validationErrors.length" mType="error">
        <ul style="margin-bottom: 0; padding-left: 1.5rem">
          <li *ngFor="let msg of validationErrors">{{msg}}</li>
        </ul>
      </m-alert>

      <div style="margin-bottom: 1rem">
        <m-select [(ngModel)]="data.template" (ngModelChange)="applyTemplate()">
          <m-option [mValue]="'pub.e-tervis'" [mLabel]="'pub.e-tervis'"></m-option>
          <m-option [mValue]="'icf'" [mLabel]="'icf'"></m-option>
        </m-select>
      </div>

      <m-table [mData]="analyzeResponse.properties">
        <tr *mTableHead>
          <th>{{'web.integration.file-import.code-system.table.csv-column' | translate}}</th>
          <th>{{'web.integration.file-import.code-system.table.kts-property' | translate}}</th>
          <th *ngIf="hasAnyIdentifierRow">{{'web.integration.file-import.code-system.table.preferred' | translate}}</th>
          <th>{{'web.integration.file-import.code-system.table.type' | translate}}</th>
          <th>{{'web.integration.file-import.code-system.table.format' | translate}}</th>
          <th>{{'web.integration.file-import.code-system.table.lang' | translate}}</th>
          <th>{{'web.integration.file-import.code-system.table.import' | translate}}</th>
        </tr>

        <tr *mTableRow="let item">
          <td>
            {{item.columnName}}
          </td>

          <td>
            <!-- Mapped KTS property -->
            <m-select *ngIf="!item['_newProp']" [(ngModel)]="item.propertyName" (ngModelChange)="onPropertyNameChange(item)" style="flex: 1">
              <m-option *ngFor="let prop of data.loadedCodeSystem?.properties | apply: decorateWithDefaultProperties"
                  [mValue]="prop.name"
                  [mLabel]="prop.name"></m-option>
              <m-select-button mLabel="ADD NEW" (mClick)="item['_newProp'] = true"></m-select-button>
            </m-select>

            <m-input *ngIf="item['_newProp']" [(ngModel)]="item.propertyName" style="flex: 1"></m-input>

          </td>

          <td *ngIf="hasAnyIdentifierRow">
            <m-checkbox *ngIf="item.propertyName === 'concept-code'" [(ngModel)]="item.preferred" (ngModelChange)="onPreferredChange(item)"></m-checkbox>
          </td>

          <td>
            <!-- Property type -->
            <ng-container *ngIf="!item['_newProp'] && item.propertyName">
              {{item.propertyType}}
            </ng-container>

            <twl-value-set-concept-select *ngIf="item['_newProp'] || !item.propertyName"
                [(ngModel)]="item.propertyType"
                (ngModelChange)="onPropertyTypeChange(item)"
                valueSet="concept-property-type"></twl-value-set-concept-select>
          </td>

          <td>
            <!-- Property format -->
            <m-select [(ngModel)]="item.propertyTypeFormat" *ngIf="item.propertyType === 'dateTime'">
              <m-option [mValue]="'yyyy-MM-dd'" [mLabel]="'yyyy-MM-dd'"></m-option>
              <m-option [mValue]="'dd.MM.yy'" [mLabel]="'dd.MM.yy'"></m-option>
              <m-option [mValue]="'dd.MM.yyyy'" [mLabel]="'dd.MM.yyyy'"></m-option>
              <m-option [mValue]="'MM/dd/yyyy'" [mLabel]="'MM/dd/yyyy'"></m-option>
            </m-select>
          </td>

          <td>
            <twl-value-set-concept-select *ngIf="item.propertyType === 'string' && item.propertyName !== 'concept-code'"
                [(ngModel)]="item.lang"
                valueSet="languages"></twl-value-set-concept-select>
          </td>

          <td>
            <m-checkbox [(ngModel)]="item.import"></m-checkbox>
          </td>
        </tr>

        <tr *mTableNoData>
          <td colspan="100%">
            <m-no-data></m-no-data>
          </td>
        </tr>
      </m-table>

      <m-button *m-card-footer (click)="process()" [mLoading]="loading['process']" [disabled]="form.invalid || !analyzeResponse?.properties?.length">
        {{'web.integration.file-import.process' | translate}}
      </m-button>
      <div *ngIf="jobResponse">
        <m-alert *ngFor="let error of jobResponse.errors" mType="error" mShowIcon>
          {{error}}
        </m-alert>
        <m-alert *ngFor="let warning of jobResponse.warnings" mType="warning" mShowIcon>
          {{warning}}
        </m-alert>
        <m-alert *ngFor="let success of jobResponse.successes" mType="success" mShowIcon>
          {{success}}
        </m-alert>
      </div>
    </m-card>
  </nz-tab>

  <nz-tab [nzTitle]="'JSON' | translate">
    <m-card mTitle="web.integration.file-import.code-system.source">
      <input #jsonFileInput id="jsonFileInput" name="jsonFileInput" type="file" [(ngModel)]="data.source.file" required>

      <m-button *m-card-footer
          (click)="processRequest({type: 'json'})"
          [mLoading]="loading['process']"
          [disabled]="!data.source.file">{{'web.integration.file-import.code-system.import' | translate}}</m-button>

      <div *ngIf="jobResponse">
        <m-alert *ngFor="let error of jobResponse.errors" mType="error" mShowIcon>
          {{error}}
        </m-alert>
        <m-alert *ngFor="let warning of jobResponse.warnings" mType="warning" mShowIcon>
          {{warning}}
        </m-alert>
        <m-alert *ngFor="let success of jobResponse.successes" mType="success" mShowIcon>
          {{success}}
        </m-alert>
      </div>
    </m-card>
  </nz-tab>

</nz-tabset>

<ng-template #successNotificationContent>
  <a *ngIf="'*.CodeSystem.edit' | twaHasAnyPrivilege; else view" (click)="openCodeSystem(data.codeSystem.id, 'edit')">{{data.codeSystem.id}}</a>
  <ng-template #view>
    <a (click)="openCodeSystem(data.codeSystem.id, 'view')">{{data.codeSystem.id}}</a>
  </ng-template>
</ng-template>
