<form #form="ngForm" *ngIf="designationGroup">
  <div nz-row [nzGutter]="12" nzJustify="center" class="m-row">
    <div nz-col [nzLg]="6" [nzMd]="6" [nzXs]="24" style="height: min-content">
      <m-form-item mName="designationType" mLabel="entities.designation.type" required>
        <m-select *ngIf="!viewMode"
            name="designationType"
            [(ngModel)]="designationGroup.designationTypeId"
            placeholder="marina.ui.inputs.search.placeholder"
            icon="search"
            required>
          <m-option *ngFor="let prop of entityProperties" [mValue]="prop.id" [mLabel]="prop.name"></m-option>
        </m-select>
        <label *ngIf="viewMode">{{designationGroup.designationTypeId | apply:getPropertyName: entityProperties}}</label>
      </m-form-item>
    </div>
    <div nz-col [nzLg]="18" [nzMd]="18" [nzXs]="24">
      <m-form-item mName="designationKind" mLabel="entities.designation.designation-kind" required>
        <m-radio-group *ngIf="!viewMode" name="designationKind" [(ngModel)]="designationGroup.designationKind" required>
          <label m-radio mValue="text">Text</label>
          <label m-radio mValue="blob">Blob</label>
        </m-radio-group>
        <label *ngIf="viewMode">{{designationGroup.designationKind}}</label>
      </m-form-item>

      <m-form-item mName="term" mLabel="entities.designation.name">
        <div class="m-language-input-group-wrapper">
          <m-form-control *ngFor="let designation of designationGroup.designations; let index = index"
              mName="{{index}}-designation"
              style="display: flex">
            <nz-input-group *ngIf="!viewMode"
                class="m-language-input-group"
                [nzAddOnBefore]="designation.language | localizedConceptName: {valueSet: 'languages'} | async "
                [nzSuffix]="suffixTemplate">
              <m-input name="{{index}}-name"
                  [(ngModel)]="designation.name"
                  [placeholder]="'web.code-system-concept-version.designation.multi-language-input.placeholder'"></m-input>
            </nz-input-group>
            <label *ngIf="viewMode">{{designation.language + ' | ' + designation.name}}</label>

            <ng-template #suffixTemplate>
              <m-button *ngIf="!viewMode" mDisplay="text" mShape="circle" mSize="small" (click)="removeDesignation(index)">
                <m-icon mCode="close-circle"></m-icon>
              </m-button>
            </ng-template>

            <twl-value-set-concept-select *ngIf="!viewMode"
                name="{{index}}-status"
                [(ngModel)]="designation.status"
                valueSet="publication-status"
                required></twl-value-set-concept-select>
            <twa-status-tag *ngIf="viewMode" [status]="designation.status" style="margin-left: 1rem"></twa-status-tag>

            <m-button *ngIf="!viewMode" mDisplay="text" mShape="circle" (click)="designation.preferred = !designation.preferred">
              <m-icon [mOptions]="{nzTheme : designation.preferred ? 'fill' : 'outline'}" [mCode]="'star'"></m-icon>
            </m-button>
            <m-icon *ngIf="viewMode" [mOptions]="{nzTheme : designation.preferred ? 'fill' : 'outline'}" [mCode]="'star'" style="margin-left: 1rem"></m-icon>

          </m-form-control>
          <twl-value-set-concept-select *ngIf="!viewMode"
              valueSet="languages"
              name="language"
              [(ngModel)]="language"
              (ngModelChange)="addDesignation($event)"
              [placeholder]="'web.code-system-concept-version.designation.multi-language-input.add-translation' | translate"
              style="margin-top: 0.1rem"></twl-value-set-concept-select>
        </div>
      </m-form-item>

      <m-form-item mName="designationModalCaseSignificance" mLabel="entities.designation.case-significance" required>
        <m-radio-group *ngIf="!viewMode"
            name="designationModalCaseSignificance"
            [(ngModel)]="designationGroup.caseSignificance"
            [disabled]="!!viewMode"
            required>
          <label m-radio mValue="ci">{{'web.case-sensitive-options.ci' | translate}}</label>
          <label m-radio mValue="cs">{{'web.case-sensitive-options.cs' | translate}}</label>
          <label m-radio mValue="ics">{{'web.case-sensitive-options.ics' | translate}}</label>
        </m-radio-group>
        <label *ngIf="viewMode">{{'web.case-sensitive-options.' + designationGroup.caseSignificance | translate}}</label>
      </m-form-item>
    </div>
  </div>
</form>
