<div class="input-wrapper" *ngIf="!viewMode">
  <div #dropreference id="textarea">
    <div style="display: flex">
      <ng-container *ngIf="valueType === 'markdown'">
        <twa-thesaurus-textarea style="width: 100%"
            [(ngModel)]="value"
            (click)="hideDropdown()"
            (keydown)="onKeyDown($event)"
            (keyup)="onKeyUp($event)"
            (blur)="onTouched()"
            (ngModelChange)="fireOnChange($event)"></twa-thesaurus-textarea>
      </ng-container>

      <ng-container *ngIf="valueType === 'html'">
        <m-rich-text-editor style="display: grid; width: 100%"
            [(ngModel)]="value"
            (click)="hideDropdown()"
            (keydown)="onKeyDown($event)"
            (keyup)="onKeyUp($event)"
            (blur)="onTouched()"
            (ngModelChange)="fireOnChange($event)"></m-rich-text-editor>
      </ng-container>

      <m-card *ngIf="showPreview" style="width: 100%; margin-left: 1rem; background: #f7f7f7; box-shadow: none;">
        <twa-smart-text-editor-view [value]="value" [valueType]="valueType"></twa-smart-text-editor-view>
      </m-card>
    </div>
  </div>
  <twa-dropdown [reference]="dropreference">
    <div class="dropdown-options-container" id="options-container">
      <twa-dropdown-option [item]="item" *ngFor="let item of popupItems" (click)="selectOption(item)"></twa-dropdown-option>
    </div>
  </twa-dropdown>
</div>

<twa-link-modal #linkModal (linkComposed)="insertOption($event)"></twa-link-modal>
<twa-structure-definition-modal #structureDefinitionModal (structureDefinitionComposed)="insertOption($event)"></twa-structure-definition-modal>

<twa-smart-text-editor-view *ngIf="viewMode" [value]="value" [valueType]="valueType"></twa-smart-text-editor-view>
