<form #form="ngForm" *ngIf="components">
  <m-editable-table #rowsTable [mData]="components" [mRowInstance]="rowInstance">
    <m-editable-column [mTitle]="'entities.observation-definition.components.order-number'" mName="order">
      <ng-template #viewTemplate let-c>{{c.orderNumber}}</ng-template>
    </m-editable-column>
    <m-editable-column [mTitle]="'entities.observation-definition.components.code'" mName="code">
      <ng-template #viewTemplate let-c>{{c.code}}</ng-template>
    </m-editable-column>
    <m-editable-column [mTitle]="'entities.observation-definition.components.names'" mName="names">
      <ng-template #viewTemplate let-c>{{c.names | localName}}</ng-template>
    </m-editable-column>
    <m-editable-column [mTitle]="'entities.observation-definition.components.cardinality'" mName="cardinality">
      <ng-template #viewTemplate let-c>{{(c.cardinality?.min || '...') + ' - ' + (c.cardinality?.max || '...')}}</ng-template>
    </m-editable-column>
    <m-editable-column [mTitle]="'entities.observation-definition.components.type'" mName="type">
      <ng-template #viewTemplate let-c>{{c.type}}</ng-template>
    </m-editable-column>
    <m-editable-column [mTitle]="'entities.observation-definition.components.binding'" mName="binding">
      <ng-template #viewTemplate let-c>{{c.valueSet || (c.unit?.system && c.unit?.unit ? c.unit.system + ' | ' + c.unit.unit : '')}}</ng-template>
    </m-editable-column>

    <ng-template #expandEditTemplate let-c let-prefix="ngModelNamePrefix">
      <tr>
        <td colspan="8">
          <m-form-row>
            <div *mFormCol>
              <m-form-item mLabel="entities.observation-definition.components.code" [mName]="prefix + '-code'" required>
                <m-input [(ngModel)]="c.code" [name]="prefix + '-code'" required></m-input>
              </m-form-item>
            </div>
            <div *mFormCol>
              <m-form-item mLabel="entities.observation-definition.components.order-number" [mName]="prefix + '-order-number'">
                <m-number-input [min]="1" [(ngModel)]="c.orderNumber" [name]="prefix + '-order-number'"></m-number-input>
              </m-form-item>
            </div>
          </m-form-row>
          <m-form-row>
            <div *mFormCol>
              <m-form-item mLabel="entities.observation-definition.components.names" [mName]="prefix + '-names'">
                <m-multi-language-input [(ngModel)]="c.names" [name]="prefix + '-names'"></m-multi-language-input>
              </m-form-item>
            </div>
          </m-form-row>
          <m-form-row>
            <div *mFormCol>
              <m-form-item mLabel="entities.observation-definition.components.type" [mName]="prefix + '-type'" required>
                <tw-value-set-concept-select [(ngModel)]="c.type"
                    (ngModelChange)="clearBinding(c, $event)"
                    [name]="prefix + '-type'"
                    valueSet="permitted-data-type"
                    required></tw-value-set-concept-select>
              </m-form-item>
            </div>
            <div *mFormCol>
              <m-form-item mLabel="entities.observation-definition.components.cardinality" [mName]="prefix + '-cardinality'">
                <div class="m-items-middle">
                  <m-number-input [name]="prefix + '-min'"
                      [(ngModel)]="c.cardinality.min"
                      placeholder="web.observation-definition.cardinality.min"></m-number-input>
                  <m-number-input [name]="prefix + '-max'"
                      [(ngModel)]="c.cardinality.max"
                      placeholder="web.observation-definition.cardinality.max"></m-number-input>
                </div>
              </m-form-item>
            </div>
          </m-form-row>
          <m-form-row *ngIf="c.type === 'Quantity'">
            <m-form-item mLabel="entities.observation-definition.value.unit.singular">
              <div class="m-items-middle">
                <m-form-control [mName]="prefix + '-system'">
                  <tw-code-system-search [(ngModel)]="c.unit.system"
                      [name]="prefix + '-system'"
                      valuePrimitive
                      placeholder="entities.observation-definition.value.unit.system"></tw-code-system-search>
                </m-form-control>
                <m-form-control [mName]="prefix + '-unit'">
                  <tw-term-concept-search [codeSystem]="c.unit.system"
                      [(ngModel)]="c.unit.unit"
                      [name]="prefix + '-unit'"
                      valueType="code"></tw-term-concept-search>
                </m-form-control>
              </div>
            </m-form-item>
          </m-form-row>
          <m-form-row *ngIf="c.type === 'CodeableConcept'">
            <div *mFormCol>
              <m-form-item mLabel="entities.observation-definition.components.value-set" mName="valueSet">
                <tw-value-set-search [(ngModel)]="c.valueSet" name="valueSet" valuePrimitive></tw-value-set-search>
              </m-form-item>
            </div>
          </m-form-row>
        </td>
      </tr>
    </ng-template>
  </m-editable-table>
</form>

