<m-card class="m-card-inside">
  <div *m-card-header class="m-justify-between">
    <div class="m-card__title">{{'entities.value-set.versions' | translate}}</div>
    <twa-add-button *ngIf="!viewMode" [routerLink]="['../versions/add']">
      {{'web.value-set.form.versions.add-version' | translate}}
    </twa-add-button>
  </div>

  <m-table [mData]="versions" [mLoading]="loading" mEnablePagination>
    <tr *mTableHead>
      <th>{{'entities.value-set-version.version' | translate}}</th>
      <th>{{'entities.value-set-version.source' | translate}}</th>
      <th>{{'entities.value-set-version.release-date' | translate}}</th>
      <th>{{'entities.value-set-version.expiration-date' | translate}}</th>
      <th>{{'entities.value-set-version.status' | translate}}</th>
      <th class="tw-table-actions"></th>
    </tr>

    <tr *mTableRow="let version">
      <td><a [routerLink]="['../versions', version.version, (version.status === 'draft' && !viewMode)? 'edit' : 'view']">{{version.version}}</a></td>
      <td>{{version.source}}</td>
      <td>{{version.releaseDate | localDate}}</td>
      <td>{{version.expirationDate | localDate}}</td>
      <td class="tw-table-min-width"><twa-status-tag [status]="version.status"></twa-status-tag></td>
      <td class="tw-table-actions">
        <m-dropdown>
          <a *m-dropdown-item (click)="openFhir(valueSetId, version.version)">
            {{'web.value-set.form.versions.open-fhir' | translate}}
          </a>
          <a *m-dropdown-item (click)="exportFhirFormatVersion(valueSetId, version.version, 'json')">
            {{'web.value-set.form.versions.export-fhir-json' | translate}}
          </a>
          <a *m-dropdown-item (click)="exportFhirFormatVersion(valueSetId, version.version, 'xml')">
            {{'web.value-set.form.versions.export-fhir-xml' | translate}}
          </a>
          <a *m-dropdown-item (click)="exportFhirFormatVersionExpansion(valueSetUri, version.version)">
            {{'web.value-set.form.versions.export-fhir-expansion' | translate}}
          </a>
          <a *mDropdownItemIf="version.status !== 'retired' && !viewMode" (click)="retireVersion(version)">
            {{'web.publication-status.operations.retire' | translate}}
          </a>
          <a *mDropdownItemIf="version.status === 'draft' && !viewMode" (click)="activateVersion(version)">
            {{'web.publication-status.operations.activate' | translate}}
          </a>
          <a *mDropdownItemIf="version.status !== 'draft' && !viewMode" (click)="saveAsDraft(version)">
            {{'web.publication-status.operations.save-as-draft' | translate}}
          </a>
        </m-dropdown>
      </td>
    </tr>

    <tr *mTableNoData>
      <td colspan="6">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-table>
</m-card>
