<m-form-row>
  <div *mFormCol>
    <m-spinner [mLoading]="isLoading">
      <m-card [mTitle]="mode === 'edit' ? 'web.value-set.form.edit-header' : 'web.value-set.form.add-header'" [mShowSkeleton]="loading['init']">
        <form #form="ngForm" *ngIf="valueSet">
          <m-form-item mName="id" mLabel="entities.value-set.id" required>
            <m-input name="id" [(ngModel)]="valueSet.id" [disabled]="mode === 'edit'" required></m-input>
          </m-form-item>

          <m-form-item mLabel="entities.value-set.name">
            <m-multi-language-input name="names" [(ngModel)]="valueSet.names"></m-multi-language-input>
          </m-form-item>

          <m-form-item mName="uri" mLabel="entities.value-set.uri" required>
            <m-input name="uri" [(ngModel)]="valueSet.uri" required></m-input>
          </m-form-item>

          <m-form-item mName="description" mLabel="entities.value-set.description">
            <m-textarea name="description" [(ngModel)]="valueSet.description"></m-textarea>
          </m-form-item>

          <m-form-item mName="narrative" [mLabel]="narrativeHeader">
            <ng-template #narrativeHeader>
              <div class="m-items-between">
                <div>{{'entities.value-set.narrative' | translate}}</div>
                <m-button (click)="narrativeRaw = !narrativeRaw" mSize="small" mDisplay="link" mShape="circle">
                  <m-icon [mCode]="narrativeRaw ? 'check-square' : 'form'"></m-icon>
                </m-button>
              </div>
            </ng-template>

            <m-rich-text-editor *ngIf="!narrativeRaw" [(ngModel)]="valueSet.narrative" name="narrative"></m-rich-text-editor>
            <m-textarea *ngIf="narrativeRaw" [(ngModel)]="valueSet.narrative" name="narrative"></m-textarea>
          </m-form-item>

          <twa-value-set-versions-list *ngIf="mode === 'edit'" [valueSetId]="valueSetId" [valueSetUri]="valueSet?.uri"></twa-value-set-versions-list>
          <twa-contact-list *ngIf="valueSet" [(contacts)]="valueSet.contacts"></twa-contact-list>
        </form>

        <ng-container *m-card-footer>
          <m-button mDisplay="primary" [mLoading]="loading['save']" [disabled]="loading['init'] || isLoading" (click)="save()">
            {{'core.btn.save' | translate}}
          </m-button>
        </ng-container>
      </m-card>
    </m-spinner>
  </div>
</m-form-row>
