<m-form-row>
  <div *mFormCol>
    <m-card [mTitle]="mode === 'edit' ? 'web.value-set.form.edit-header' : 'web.value-set.form.add-header'">
      <m-spinner [mLoading]="loading">
        <form #form="ngForm" *ngIf="valueSet">
          <m-form-item mName="id" mLabel="web.value-set.entity.id" required>
            <m-input name="id" [(ngModel)]="valueSet.id" [disabled]="mode === 'edit'" required></m-input>
          </m-form-item>

          <m-form-item mLabel="web.value-set.entity.names">
            <m-multi-language-input name="names" [(ngModel)]="valueSet.names"></m-multi-language-input>
          </m-form-item>

          <m-form-item mName="uri" mLabel="web.value-set.entity.uri" required>
            <m-input name="uri" [(ngModel)]="valueSet.uri" required></m-input>
          </m-form-item>

          <m-form-item mName="description" mLabel="web.value-set.entity.description">
            <m-textarea name="description" [(ngModel)]="valueSet.description"></m-textarea>
          </m-form-item>

          <twa-value-set-versions-list *ngIf="mode === 'edit'" [valueSetId]="valueSetId"></twa-value-set-versions-list>

          <twa-contact-list *ngIf="valueSet" [(contacts)]="valueSet.contacts"></twa-contact-list>

          <ng-container *m-card-footer>
            <m-button mDisplay="primary" [mLoading]="loading" [disabled]="loading" (click)="save()">
              {{'core.btn.save' | translate}}
            </m-button>
          </ng-container>
        </form>
      </m-spinner>
    </m-card>
  </div>
</m-form-row>
