
@if (!propertyValues?.length || !properties?.length) {
  <m-no-data/>
}
@if (propertyValues?.length && properties?.length) {
  <!--        Edit mode        -->
  @if (!viewMode) {
    <form #form="ngForm">
      @if ({data: propertyValues | sort: 'entityPropertyId' | filter: filterPropertyValue}; as d) {
        <div class="prop-grid prop-grid--edit">
          @for (pv of d.data; track pv) {
            <div class="prop-cell">
              <span class="m-subtitle prop-name">{{ pv.entityProperty }}</span>
            </div>
            <div class="prop-cell prop-cell--value">
              @if (pv.entityPropertyId) {
                <m-form-item style="width: 100%" mName="{{pv._key}}-propertyValue">
                  <tw-property-value-input name="{{pv._key}}-propertyValue"
                    [(ngModel)]="pv.value"
                    [property]="pv.entityPropertyId | apply:getProperty:properties"
                    [codeSystem]="codeSystemId"
                    [required]="(pv._key | apply:isRequired:properties)"
                    [showCodingReference]="showCodingReference"
                    [compact]="compact"
                  [viewMode]="pv.supplement"></tw-property-value-input>
                </m-form-item>
              }
            </div>
            <div class="prop-cell prop-cell--action">
              @if (!(pv._key | apply:isRequired:properties) && !pv.supplement) {
                <m-icon [mCode]="'close'" class="m-clickable" m-popconfirm mPopconfirmTitle="core.delete-confirm" (mOnConfirm)="deleteProperty(pv)"/>
              }
            </div>
          }
        </div>
      }
    </form>
  }
  <!--        View mode        -->
  @if (viewMode) {
    @if ({data: propertyValues | sort: 'entityPropertyId' | filter: filterPropertyValue}; as d) {
      <div class="prop-grid prop-grid--view">
        @for (pv of d.data; track pv) {
          <div class="prop-cell">
            <span class="m-subtitle prop-name">{{ pv.entityProperty }}</span>
          </div>
          <div class="prop-cell prop-cell--value">
            <tw-property-value-input
              [ngModel]="pv.value"
              [property]="pv.entityPropertyId | apply: getProperty: properties"
              [codeSystem]="codeSystemId"
              [showCodingReference]="showCodingReference"
              [compact]="compact"
              viewMode/>
          </div>
        }
      </div>
    }
  }
}
