<m-no-data *ngIf="!propertyValues?.length"/>


<!--        Edit mode        -->
<form *ngIf="!viewMode" #form="ngForm">
  <div class="m-items-middle">
    <div class="col">
      <div class="row" *ngFor="let pv of propertyValues | sort: 'entityPropertyId' | filter: filterPropertyValue">
        <span style="white-space: nowrap" class="m-subtitle">{{pv.entityProperty}}</span>
      </div>
    </div>
    <div class="col" style="width: 100%">
      <div class="row" *ngFor="let pv of propertyValues | sort: 'entityPropertyId' | filter: filterPropertyValue; let i = index">
        <m-form-item style="width: 100%" *ngIf="pv.entityPropertyId" mName="{{i}}-propertyValue">
          <tw-property-value-input [(ngModel)]="pv.value"
              name="{{i}}-propertyValue"
              [property]="pv.entityPropertyId | apply:getProperty:properties"
              [codeSystem]="codeSystemId"
              [required]="(i | apply:isRequired:properties)"
              [viewMode]="pv.supplement"></tw-property-value-input>
        </m-form-item>
      </div>
    </div>
    <div class="col">
      <div class="row" *ngFor="let pv of propertyValues | sort: 'entityPropertyId' | filter: filterPropertyValue; let i = index">
        <span>{{pv.value?.code}}</span>
      </div>
    </div>
    <div class="col">
        <div class="row" *ngFor="let pv of propertyValues | sort: 'entityPropertyId' | filter: filterPropertyValue; let i = index">
          <m-icon *ngIf="!(i | apply:isRequired:properties) && !pv.supplement" [mCode]="'close'" class="m-clickable" (click)="deleteProperty(pv)"></m-icon>
        </div>
    </div>
  </div>
</form>


<!--        View mode        -->
<div *ngIf="viewMode" class="m-items-middle">
  <div class="col">
    <div class="row" *ngFor="let pv of propertyValues | sort: 'entityPropertyId' | filter: filterPropertyValue; let i = index">
      <span style="white-space: nowrap" class="m-subtitle">{{pv.entityProperty}}</span>
    </div>
  </div>
  <div class="col">
    <div class="row" *ngFor="let pv of propertyValues | sort: 'entityPropertyId' | filter: filterPropertyValue; let i = index">
      <tw-property-value-input [ngModel]="pv.value" [property]="pv.entityPropertyId | apply: getProperty: properties" [codeSystem]="codeSystemId" viewMode/>
    </div>
  </div>
  <div class="col">
    <div class="row" *ngFor="let pv of propertyValues | sort: 'entityPropertyId' | filter: filterPropertyValue; let i = index">
      <span>{{pv.value?.code}}</span>
    </div>
  </div>
</div>
