<m-card>
  <m-spinner [mLoading]="loading">
    <div *m-card-header class="m-justify-between">
      <nz-breadcrumb>
        <nz-breadcrumb-item>FHIR</nz-breadcrumb-item>
        <nz-breadcrumb-item>CodeSystem</nz-breadcrumb-item>
        <nz-breadcrumb-item>$lookup</nz-breadcrumb-item>
      </nz-breadcrumb>
      <m-button mDisplay="primary" [disabled]="!data.code || !data.system" (click)="lookUp()">{{'web.integration.send-request' | translate}}</m-button>
    </div>

    <m-form-item [mLabel]="code" required>
      <ng-template #code>
        <div>{{'web.integration.fhir.code-system.lookup.code' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover mContent="{{'web.integration.fhir.code-system.lookup.code-tooltip' | translate}}"></m-icon>
      </ng-template>
      <m-input [(ngModel)]="data.code"></m-input>
    </m-form-item>

    <m-form-item [mLabel]="system" required>
      <ng-template #system>
        <div>{{'web.integration.fhir.code-system.lookup.system' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover mContent="{{'web.integration.fhir.code-system.lookup.system-tooltip' | translate}}"></m-icon>
      </ng-template>
      <m-input [(ngModel)]="data.system"></m-input>
    </m-form-item>

    <m-form-item [mLabel]="version">
      <ng-template #version>
        <div>{{'web.integration.fhir.code-system.lookup.version' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover mContent="{{'web.integration.fhir.code-system.lookup.version-tooltip' | translate}}"></m-icon>
      </ng-template>
      <m-input [(ngModel)]="data.version"></m-input>
    </m-form-item>

    <m-form-item [mLabel]="date">
      <ng-template #date>
        <div>{{'web.integration.fhir.code-system.lookup.date' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover [mContent]="dateContent"></m-icon>
        <ng-template #dateContent>
          <span [innerHTML]="('web.integration.fhir.code-system.lookup.date-tooltip'| translate)"></span>
        </ng-template>
      </ng-template>
      <m-date-picker [(ngModel)]="data.date"></m-date-picker>
    </m-form-item>

    <m-form-item [mLabel]="properties">
      <ng-template #properties>
        <div>{{'web.integration.fhir.code-system.lookup.properties' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover [mContent]="propertiesContent"></m-icon>
        <ng-template #propertiesContent>
          <span [innerHTML]="('web.integration.fhir.code-system.lookup.properties-tooltip' | translate)"></span>
        </ng-template>
      </ng-template>
      <div class="m-items-middle">
        <m-input [(ngModel)]="data.propertyInput"></m-input>
        <m-button (click)="addProperty()">
          <m-icon [mCode]="'plus'"></m-icon>
        </m-button>
      </div>
    </m-form-item>
    <div style="display:flex" *ngFor="let property of data.properties; let index = index">
      <p>{{property}}</p>&nbsp;
      <m-button mSize="small" (click)="removeProperty(index)">
        <m-icon [mCode]="'delete'"></m-icon>
      </m-button>
    </div>

    <m-card *ngIf="response || error" class="m-card-inside">
      <div *m-card-header class="m-items-middle">
        <div class="m-card__title">{{'web.integration.response' | translate}}</div>
        <m-button (click)="copyResult()">
          <m-icon mCode="copy"></m-icon>
        </m-button>
      </div>
      <pre *ngIf="response">{{response | json}}</pre>
      <div *ngFor="let issue of error?.issue">
        <m-alert [mType]="issue.severity" mShowIcon>
          {{issue?.details?.text}}
        </m-alert>
      </div>
    </m-card>
  </m-spinner>
</m-card>
