<m-card>
  <m-spinner [mLoading]="loading">
    <div *m-card-header class="m-items-between">
      <nz-breadcrumb>
        <nz-breadcrumb-item>FHIR</nz-breadcrumb-item>
        <nz-breadcrumb-item>CodeSystem</nz-breadcrumb-item>
        <nz-breadcrumb-item>$find-matches</nz-breadcrumb-item>
      </nz-breadcrumb>
      <m-button mDisplay="primary" [disabled]="!data.system || !(data.properties?.length > 0)" (click)="findMatches()">{{'web.integration.send-request' | translate}}</m-button>
    </div>

    <m-form-item [mLabel]="system" required>
      <ng-template #system>
        <div>{{'web.integration.fhir.code-system.find-matches.system' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover mContent="The system in which composition is to be performed. This must be provided unless the operation is
        invoked on a code system instance"></m-icon>
      </ng-template>
      <m-input [(ngModel)]="data.system"></m-input>
    </m-form-item>

    <m-form-item [mLabel]="version">
      <ng-template #version>
        <div>{{'web.integration.fhir.code-system.find-matches.version' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover mContent="The version of the system for the inferencing to be performed"></m-icon>
      </ng-template>
      <m-input [(ngModel)]="data.version"></m-input>
    </m-form-item>

    <m-form-item [mLabel]="properties" required>
      <ng-template #properties>
        <div>{{'web.integration.fhir.code-system.find-matches.properties' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover mContent="One or more properties that contain information to be composed into the code"></m-icon>
      </ng-template>
      <div class="m-items-middle">
        <m-input [(ngModel)]="propertyInput.propertyName" placeholder="web.integration.fhir.code-system.find-matches.property-name"></m-input>
        <m-input [(ngModel)]="propertyInput.propertyValue" placeholder="web.integration.fhir.code-system.find-matches.property-value"></m-input>
        <m-button (click)="addProperty()">
          <m-icon [mCode]="'plus'"></m-icon>
        </m-button>
      </div>
    </m-form-item>
    <div style="display:flex" *ngFor="let property of data.properties; let index = index">
      <p>{{property.propertyName}} {{property.propertyValue}}</p>&nbsp;
      <m-button mSize="small" (click)="removeProperty(index)">
        <m-icon [mCode]="'delete'"></m-icon>
      </m-button>
    </div>

    <m-form-item [mLabel]="exact">
      <ng-template #exact>
        <div>{{'web.integration.fhir.code-system.find-matches.exact' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover mContent="Whether the operation is being used by a human ('false'), or a machine ('true'). If the operation is
        being used by a human, the terminology server can return a list of complete or partial matches. For a machine, the server returns complete matches.
        The default value is 'false'"></m-icon>
      </ng-template>
      <m-checkbox [(ngModel)]="data.exact"></m-checkbox>
    </m-form-item>

    <m-card *ngIf="response || error" class="m-card-inside">
      <div *m-card-header class="m-items-middle">
        <div class="m-card-title">{{'web.integration.response' | translate}}</div>
        <m-button (click)="copyResult()">
          <m-icon mCode="copy"></m-icon>
        </m-button>
      </div>
      <pre *ngIf="response">{{response | json}}</pre>
      <div *ngFor="let issue of error?.issue">
        <m-alert [mType]="issue.severity" mShowIcon>
          {{issue?.details?.text}}
        </m-alert>
      </div>
    </m-card>
  </m-spinner>
</m-card>
