<m-card>
  <m-spinner [mLoading]="loading">
    <div *m-card-header class="m-items-between">
      <nz-breadcrumb>
        <nz-breadcrumb-item>FHIR</nz-breadcrumb-item>
        <nz-breadcrumb-item>CodeSystem</nz-breadcrumb-item>
        <nz-breadcrumb-item>$validate-code</nz-breadcrumb-item>
      </nz-breadcrumb>
      <m-button (click)="validateCode()">{{'web.integration.send-request' | translate}}</m-button>
    </div>

    <m-form-item [mLabel]="code">
      <ng-template #code>
        <div>{{'web.integration.fhir.code-system.validate-code.code' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" nz-popover nzPopoverContent="The code that is to be validated"></m-icon>
      </ng-template>
      <m-input [(ngModel)]="data.code"></m-input>
    </m-form-item>
    <m-form-item [mLabel]="version">
      <ng-template #version>
        <div>{{'web.integration.fhir.code-system.validate-code.version' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" nz-popover nzPopoverContent="The version of the code system, if one was provided in the source data"></m-icon>
      </ng-template>
      <m-input [(ngModel)]="data.version"></m-input>
    </m-form-item>
    <m-form-item [mLabel]="system">
      <ng-template #system>
        <div>{{'web.integration.fhir.code-system.validate-code.system' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" nz-popover [nzPopoverContent]="systemContent"></m-icon>
        <ng-template #systemContent>
          CodeSystem URL. The server must know the code system (e.g. it is defined explicitly in the servers code systems, or it is known implicitly by the
          server)
        </ng-template>
      </ng-template>
      <m-input [(ngModel)]="data.system"></m-input>
    </m-form-item>
    <m-form-item [mLabel]="display">
      <ng-template #display>
        <div>{{'web.integration.fhir.code-system.validate-code.display' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" nz-popover [nzPopoverContent]="displayContent"></m-icon>
        <ng-template #displayContent>
          The display associated with the code, if provided. If a display is provided a code must be provided. <br>
          If no display is provided, the server cannot validate the display value, but may choose to return a recommended display name in an extension in the
          outcome. <br>
          Whether displays are case sensitive is code system dependent
        </ng-template>
      </ng-template>
      <m-input [(ngModel)]="data.display"></m-input>
    </m-form-item>

    <m-card *ngIf="response || error" class="m-card-inside">
      <div *m-card-header class="m-items-middle">
        <div class="m-card-title">{{'web.integration.response' | translate}}</div>
        <m-button (click)="copyResult()">
          <m-icon mCode="copy"></m-icon>
        </m-button>
      </div>
      <pre *ngIf="response">{{response | json}}</pre>
      <div *ngFor="let issue of error?.issue">
        <m-alert [mType]="issue.severity" mShowIcon>
          {{issue?.details?.text}}
        </m-alert>
      </div>
    </m-card>

  </m-spinner>
</m-card>
