@if (semver) {
  <m-spinner [mLoading]="!versions" mSize="small">
    @if (!customVersion) {
      <div class="m-justify-left">
        <m-radio-group name="version" [(ngModel)]="version" (ngModelChange)="fireOnChange()">
          @if (semver | apply: composeVersion: 'patch'; as v) {
            <label m-radio-button [mValue]="v">{{v}}</label>
          }
          @if (semver | apply: composeVersion: 'minor'; as v) {
            <label m-radio-button [mValue]="v">{{v}}</label>
          }
          @if (semver | apply: composeVersion: 'major'; as v) {
            <label m-radio-button [mValue]="v">{{v}}</label>
          }
        </m-radio-group>
        <m-button (mClick)="setCustom()">{{'core.version-select.custom' | translate}}</m-button>
      </div>
    }
  </m-spinner>
}

@if (customVersion) {
  <m-input name="version" [(ngModel)]="version" (ngModelChange)="fireOnChange()" autofocus></m-input>
}
