@termx-health:registry=https://npm.pkg.github.com/

# TODO: Remove legacy-peer-deps once ng-zorro-antd@21.x supports Angular 21.
# Currently needed because ng-zorro-antd@20.x peers on Angular ^20, but we use Angular 21.
legacy-peer-deps=true
