@if (!ig) {
  <m-no-data></m-no-data>
}

@if (ig) {
  <div>
    <div class="m-items-middle m-bold">
      <m-icon mCode="key"></m-icon>
      <tw-copy-container [text]="ig.id">
        {{ig.id}}
      </tw-copy-container>
    </div>
    <span>{{ig.description | localName}}</span>
    @if (ig.experimental) {
      <div>{{'entities.resource.experimental' | translate}}</div>
    }
    @if ((ig | apply:getTelecoms); as telecoms) {
      <div class="m-items-middle">
        <m-icon mCode="contacts"></m-icon>
        @for (t of telecoms; track t; let i = $index) {
          <span class="m-items-middle">
            {{t?.system}}: {{t?.value}}
            @if (i !== (telecoms.length - 1)) {
              <m-divider mVertical></m-divider>
            }
          </span>
        }
      </div>
    }
    @if (ig.publisher) {
      <div class="m-items-middle">
        <m-icon mCode="environment"></m-icon>
        <span>{{ig.publisher | localizedConceptName:{codeSystem: 'publisher'} | async}}</span>
      </div>
    }
  </div>
}
