<div nz-row nzJustify="center">
  <div nz-col [nzLg]="18" [nzXs]="24">
    <h1>{{meta.type}} {{meta.id}} {{meta.operation}}</h1>
    <m-divider style="margin-top: 0"></m-divider>

    @if (result) {
      <nz-tabs>
        @if ((meta | apply:narrativeType) && !error) {
          <nz-tab nzTitle="Narrative">
            <ng-template nz-tab>
              @switch (meta | apply:narrativeType) {
                @default {
                }
                @case ('CodeSystem') {
                  <tw-fhir-code-system [codeSystem]="result"></tw-fhir-code-system>
                }
                @case ('CodeSystem|lookup') {
                  <tw-fhir-code-system-lookup [result]="result" [params]="meta.params"></tw-fhir-code-system-lookup>
                }
                @case ('ValueSet') {
                  <tw-fhir-value-set [valueSet]="result"></tw-fhir-value-set>
                }
                @case ('ConceptMap') {
                  <tw-fhir-concept-map [conceptMap]="result"></tw-fhir-concept-map>
                }
              }
            </ng-template>
          </nz-tab>
        }
        <nz-tab nzTitle="JSON">
          <ng-template nz-tab>
            <ng-container *ngTemplateOutlet="resultCard, context: {result: result, format: 'json'}"/>
          </ng-template>
        </nz-tab>
        <nz-tab nzTitle="XML">
          <ng-template nz-tab>
            <ng-container *ngTemplateOutlet="resultCard, context: {result: result, format: 'xml'}"/>
          </ng-template>
        </nz-tab>
      </nz-tabs>
    }
  </div>
</div>

<ng-template #resultCard let-result="result" let-format="format">
  <tw-smart-text-editor-view [value]="curl | apply:addAcceptHeader:format" valueType="markdown"></tw-smart-text-editor-view>
  <m-divider></m-divider>
  <m-card>
    <div *m-card-header class="m-justify-between">
      <div></div>
      <div class="m-items-middle">
        <m-button (click)="downloadResult(result, format)">
          <m-icon mCode="download"/>
        </m-button>
        <m-button (click)="copyResult(result, format)">
          <m-icon mCode="copy"/>
        </m-button>
      </div>
    </div>
    @if (format === 'json') {
      <pre>{{result | json}}</pre>
    }
    @if (format === 'xml') {
      <pre>{{result | apply:toXML}}</pre>
    }
  </m-card>
</ng-template>
