<div nz-row nzJustify="center">
  <div nz-col [nzLg]="18" [nzXs]="24">
    <ng-container *ngIf="resource">
      <h1>{{resource.resourceType}} {{resource.url}}</h1>
      <m-divider style="margin-top: 0"></m-divider>
      <nz-tabset nzLinkRouter>
        <nz-tab>
          <a *nzTabLink nz-tab-link [routerLink]="['.']" [replaceUrl]="true">Narrative</a>
          <ng-template nz-tab>
            <ng-container [ngSwitch]="resource.resourceType">
              <ng-container *ngSwitchDefault></ng-container>
              <tw-fhir-code-system *ngSwitchCase="'CodeSystem'" [codeSystem]="resource"></tw-fhir-code-system>
              <tw-fhir-value-set *ngSwitchCase="'ValueSet'" [valueSet]="resource"></tw-fhir-value-set>
            </ng-container>
          </ng-template>
        </nz-tab>
        <nz-tab>
          <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'xml' }" [replaceUrl]="true">XML</a>
          <ng-template nz-tab>
            <m-card>
              <pre>{{resource | apply:toXML}}</pre>
            </m-card>
          </ng-template>
        </nz-tab>
        <nz-tab>
          <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'json' }" [replaceUrl]="true">JSON</a>
          <ng-template nz-tab>
            <m-card>
              <pre>{{resource | json}}</pre>
            </m-card>
          </ng-template>
        </nz-tab>
      </nz-tabset>
    </ng-container>

    <ng-container *ngIf="operationResult">
      <m-card>
        <pre>{{operationResult | json}}</pre>
      </m-card>
    </ng-container>
  </div>
</div>
