<m-form-row>
  <div *mFormCol>
    <m-card *ngIf="!igInitialized" style="margin-bottom: 25px">
      <m-alert mType="error">
        {{'web.space.ig-not-initialized' | translate}}
      </m-alert>
      <m-form-item mName="ig-base" mLabel="web.space.ig-base" class="tw-input-group">
        <span class="tw-input-group-addon ant-input-group-addon">https://github.com/</span>
        <m-input name="ig-base" [(ngModel)]="igBase"></m-input>
      </m-form-item>
      <ng-container *m-card-footer>
        <m-button mDisplay="primary" (click)="initializeIg()" [mLoading]="loader.state['ig']" [disabled]="loader.state['ig'] || !igBase" style="width: 100%">
          {{'web.space.ig-initialize' | translate}}
        </m-button>
      </ng-container>
    </m-card>

    <m-card [mShowSkeleton]="loading">
      <div *m-card-header>
        <span>{{space?.code}}</span>
        <span style="margin: 0 10px">
          <m-icon mCode="swap"></m-icon>
        </span>
        <span>
          <m-icon mCode="github" style="margin-right: 2px"></m-icon>
          {{space?.integration?.github?.repo}}
        </span>
      </div>
      <ng-container *ngIf="status">
        <div class="status-row" style="margin-bottom: 4px" *ngIf="status.changed.length">
          <div class="checkbox">
            <m-checkbox [mChecked]="selection | apply:allSelected" (mCheckedChange)="selectAll($event)"></m-checkbox>
          </div>
          <div style="font-style: italic">Select all</div>
        </div>
        <div style="color: var(--color-error)">
          <div class="status-row" *ngFor="let f of status.changed">
            <div class="checkbox">
              <m-checkbox [(mChecked)]="selection[f.f]" (mCheckedChange)="onSelectionChange()"></m-checkbox>
            </div>
            <div class="status">{{f.s}}</div>
            <div>{{f.f}}</div>
            <div *ngIf="f.s === 'M'" style="margin-left: 5px">
              <a (click)="showDiff(f.f)">
                <m-icon mCode="diff"></m-icon>
              </a>
            </div>
          </div>
        </div>

        <m-alert *ngIf="status.changed.length === 0 && status.unchanged.length !== 0" mType="success">
          <m-icon mCode="check-circle"></m-icon>
          {{'web.space.github-clean' | translate}}
        </m-alert>
        <m-alert *ngIf="status.changed.length === 0 && status.unchanged.length === 0" mType="info">
          {{'web.space.github-empty' | translate}}
        </m-alert>

        <div style="margin-top: 14px; color: var(--color-text-secondary)">
          <div class="status-row" *ngFor="let f of status.unchanged">
            <div class="status">
              <m-icon mCode="check"></m-icon>
            </div>
            <div>{{f}}</div>
          </div>
        </div>

        <ng-container *ngIf="status.changed.length > 0">
          <ng-container *m-card-footer>
            <div style="display: flex; gap: 8px">
              <m-button mDisplay="primary"
                  m-popconfirm
                  [mPopconfirmTitle]="pullConfirm"
                  (mOnConfirm)="pull()"
                  [mLoading]="loader.state['pull']"
                  [disabled]="loader.isLoading || (selection | apply:noneSelected)"
                  style="width: 100%"
              >
                <ng-template #pullConfirm>
                  <div>
                    <div>{{'web.space.github-pull-confirm' | translate}}</div>
                    <div style="color: var(--color-error)">{{'web.space.github-pull-confirm-achtung' | translate}}</div>
                  </div>
                </ng-template>
                <m-icon *ngIf="!loader.state['pull']" mCode="arrow-down"></m-icon>&nbsp; <span>{{'web.space.github-pull' | translate}}</span>
                <ng-container *ngTemplateOutlet="github"></ng-container>
              </m-button>
              <m-button mDisplay="primary"
                  (click)="pushModalVisible = true"
                  [mLoading]="loader.state['push']"
                  [disabled]="loader.isLoading || (selection | apply:noneSelected)"
                  style="width: 100%"
              >
                <m-icon *ngIf="!loader.state['push']" mCode="arrow-up"></m-icon>&nbsp; <span>{{'web.space.github-push' | translate}}</span>
                <ng-container *ngTemplateOutlet="github"></ng-container>
              </m-button>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </m-card>
  </div>
</m-form-row>

<ng-template #github>
  <span style="margin-left: 10px; background: #fff; color: black; border-radius: 4px; padding: 1px 7px;">
    <m-icon mCode="github" style="margin-right: 2px"></m-icon>
    {{space?.integration?.github?.repo}}
  </span>
</ng-template>

<m-modal #pushModal [(mVisible)]="pushModalVisible" (mClose)="pushModalVisible = false">
  <ng-container *m-modal-content>

    <div class="status-row" *ngFor="let f of status.changed | filter:selected">
      <div class="status">{{f.s}}</div>
      <div>{{f.f}}</div>
    </div>

    <m-form-item name="message" required mLabel="web.space.github-commit-message" style="padding-top: 5px">
      <m-input name="message" required [(ngModel)]="commit.message" [disabled]="loader.isLoading"></m-input>
    </m-form-item>

    <m-button mDisplay="primary" (click)="push(); pushModalVisible = false" [mLoading]="loader.isLoading" [disabled]="loader.isLoading" style="width: 100%">
      <m-icon mCode="arrow-up"></m-icon>&nbsp; <span>{{'web.space.github-push' | translate}}</span>
      <ng-container *ngTemplateOutlet="github"></ng-container>
    </m-button>
  </ng-container>
</m-modal>

<m-modal #diffModal [mVisible]="!!diff" (mClose)="diff = null" mClass="modal--wide">
  <ng-container *m-modal-content>
    <m-skeleton *ngIf="!diff.left && !diff.right; else difft" mLoading/>

    <ng-template #difft>
      <tw-diff-view [src]="diff.left" [tgt]="diff.right" display="side-by-side"/>
    </ng-template>
  </ng-container>
</m-modal>
