<m-page [mLoading]="loading">
  <div style="display: flex; flex-direction: column; gap: 1rem">
    <m-card>
      <div class="m-justify-between">
        <div style="display: flex; gap: 1rem">
          <m-form-item mName="type" mLabel="Resource type">
            <m-select name="type" [(ngModel)]="diffItem.resourceType" (ngModelChange)="diffItem.resource = undefined">
              <m-option *ngFor="let type of resources | keys" [mLabel]="type" [mValue]="type"></m-option>
            </m-select>
          </m-form-item>
          <m-form-item mName="resource" mLabel="Resource" *ngIf="diffItem.resourceType">
            <ng-container>
              <m-select name="resource" [(ngModel)]="diffItem.resource" (ngModelChange)="loadResources($event)" compareWith="id">
                <m-option *ngFor="let r of resources[diffItem.resourceType]" [mLabel]="r.resourceId" [mValue]="r"></m-option>
              </m-select>
            </ng-container>
          </m-form-item>
          <m-form-item mName="server" mLabel="Comparable server" *ngIf="diffItem.resource?.id">
            <div class="m-items-middle" *ngIf="!serverEditable">
              <label *ngIf="!diffItem?.resource?.terminologyServer">{{'entities.terminology-server.current-installation' | translate}}</label>
              <label>{{terminologyServers[diffItem?.resource?.terminologyServer]?.names | localName}}</label>
              <m-button mDisplay="text" mShape="circle" (mClick)="serverEditable = true">
                <span class="m-items-middle"><m-icon mCode="edit"></m-icon></span>
              </m-button>
            </div>
            <m-select *ngIf="serverEditable" [(ngModel)]="diffItem.resource.terminologyServer" (ngModelChange)="serverSelected($event)">
              <m-option *ngFor="let server of terminologyServers | keys" [mLabel]="terminologyServers[server]?.names | localName" [mValue]="server"></m-option>
            </m-select>
          </m-form-item>
        </div>
        <div class="m-items-middle">
          <m-button [routerLink]="['/spaces/context', ctx.params, 'diff-matrix']">
            <div class="m-items-middle"><label>{{'Diff matrix'}}</label><m-icon mCode="table"></m-icon></div>
          </m-button>
        </div>
      </div>
    </m-card>
    <div style="display: flex; gap: 1rem">
      <m-card style="max-width: 33%">
        <div *m-card-header class="m-justify-between">
          <label>{{'entities.terminology-server.current-installation' | translate}}</label>
          <m-button mDisplay="primary" (mClick)="sync('local')">
            <div class="m-items-middle"><label>{{'Sync'}}</label><m-icon mCode="sync"></m-icon></div>
          </m-button>
        </div>

        <m-no-data *ngIf="!current"/>
        <tw-diff-view *ngIf="current" [value]="current | apply: normalize"/>
      </m-card>

      <m-card style="max-width: 33%">
        <div *m-card-header class="m-justify-between">
          <label>{{terminologyServers?.[diffItem?.resource?.terminologyServer]?.names | localName: '...'}}</label>
          <m-button mDisplay="primary" (mClick)="sync('external')">
            <div class="m-items-middle"><label>{{'Sync'}}</label><m-icon mCode="sync"></m-icon></div>
          </m-button>
        </div>

        <m-no-data *ngIf="!comparable"/>
        <tw-diff-view *ngIf="comparable" [value]="comparable | apply: normalize"/>
      </m-card>

      <m-card style="max-width: 33%" *ngIf="{mode: 'line-by-line'} as d">
        <div *m-card-header class="m-justify-between">
          <label>{{'Diff'}}</label>
          <m-button (mClick)="d.mode = d.mode === 'line-by-line' ? 'side-by-side' : 'line-by-line'">
            <m-icon [mCode]="d.mode === 'line-by-line' ? 'read' : 'pic-center' "/>
          </m-button>
        </div>

        <tw-diff-view *ngIf="current && comparable" [src]="current | apply: normalize" [tgt]="comparable | apply: normalize" full [display]="d.mode"/>
      </m-card>
    </div>
  </div>
</m-page>
