<m-page [mLoading]="spaceContext.loading">
  <div style="display: flex; gap: 1rem">
    <div class="tw-flex-container" style="flex: 1">
      <m-list mSeparated>
        <m-list-item mClickable (click)="selectedResourceType = 'code-system'">
          <span class="m-bold">{{'entities.code-system.plural' | translate}}</span>
        </m-list-item>
        <m-list-item mClickable (click)="selectedResourceType = 'value-set'">
          <span class="m-bold">{{'entities.value-set.plural' | translate}}</span>
        </m-list-item>
        <m-list-item mClickable (click)="selectedResourceType = 'map-set'">
          <span class="m-bold">{{'entities.map-set.plural' | translate}}</span>
        </m-list-item>
<!--        <m-list-item mClickable (click)="selectedResourceType = 'page'">-->
<!--          <span class="m-bold">{{'entities.page.plural' | translate}}</span>-->
<!--        </m-list-item>-->
<!--        <m-list-item mClickable (click)="selectedResourceType = 'structure-definition'">-->
<!--          <span class="m-bold">{{'entities.structure-definition.plural' | translate}}</span>-->
<!--        </m-list-item>-->
      </m-list>
    </div>


    <div class="uw-flex-container" style="flex: 3">

      <ng-container [ngSwitch]="selectedResourceType">

        <!-- Code Systems -->
        <m-card *ngSwitchCase="'code-system'">
          <label *m-card-header>{{'entities.code-system.plural' | translate}}</label>
          <tw-code-system-widget [spaceId]="spaceContext?.space?.id"
              [packageId]="spaceContext?.pack?.id"
              [packageVersionId]="spaceContext?.version?.id"></tw-code-system-widget>
        </m-card>

        <!-- Value Sets -->
        <m-card *ngSwitchCase="'value-set'">
          <label *m-card-header>{{'entities.value-set.plural' | translate}}</label>
          <tw-value-set-widget [spaceId]="spaceContext?.space?.id"
              [packageId]="spaceContext?.pack?.id"
              [packageVersionId]="spaceContext?.version?.id"></tw-value-set-widget>
        </m-card>

        <!-- Map Sets -->
        <m-card *ngSwitchCase="'map-set'">
          <label *m-card-header>{{'entities.map-set.plural' | translate}}</label>
          <tw-map-set-widget [spaceId]="spaceContext?.space?.id"
              [packageId]="spaceContext?.pack?.id"
              [packageVersionId]="spaceContext?.version?.id"></tw-map-set-widget>
        </m-card>

        <!-- Pages -->
<!--        <m-card *ngSwitchCase="'page'">-->
<!--          <label *m-card-header>{{'entities.page.plural' | translate}}</label>-->

<!--        </m-card>-->

        <!-- Structure Definitions -->
<!--        <m-card *ngSwitchCase="'structure-definition'">-->
<!--          <label *m-card-header>{{'entities.structure-definition.plural' | translate}}</label>-->

<!--        </m-card>-->
      </ng-container>

    </div>
  </div>
</m-page>
