<m-form-row>
  <div *mFormCol>
    <m-card [mShowSkeleton]="loading">
      <div *m-card-header>
        <span>{{space?.code}}</span>
        <span style="margin: 0 10px">
          <m-icon mCode="swap"></m-icon>
        </span>
        <span>
          <m-icon mCode="github" style="margin-right: 2px"></m-icon>
          {{space?.integration?.github?.repo}}
        </span>
      </div>
      <ng-container *ngIf="status">
        <div style="color: #ff1700">
          <div class="status-row" *ngFor="let f of status.changed">
            <div class="status">{{f.s}}</div>
            <div>{{f.f}}</div>
            <div *ngIf="f.s === 'M'" style="margin-left: 5px"><a (click)="showDiff(f.f)">
              <m-icon mCode="diff"></m-icon>
            </a></div>
          </div>
        </div>

        <m-alert *ngIf="status.changed.length === 0" mType="success">
          <m-icon mCode="check-circle"></m-icon>
          {{'web.space.github-clean' | translate}}
        </m-alert>

        <div style="margin-top: 14px; color: #999">
          <div class="status-row" *ngFor="let f of status.unchanged">
            <div class="status">
              <m-icon mCode="check"></m-icon>
            </div>
            <div>{{f}}</div>
          </div>
        </div>

        <ng-container *ngIf="status.changed.length > 0">
          <ng-container *m-card-footer>
            <div style="display: flex; gap: 8px">
              <m-button mDisplay="primary"
                  m-popconfirm
                  mPopconfirmTitle="web.space.github-pull-confirm"
                  (mOnConfirm)="pull()"
                  [mLoading]="saving"
                  [disabled]="saving"
                  style="width: 100%">
                <m-icon mCode="arrow-down"></m-icon>&nbsp; <span>{{'web.space.github-pull' | translate}}</span>
                <ng-container *ngTemplateOutlet="github"></ng-container>
              </m-button>
              <m-button mDisplay="primary" (click)="pushModalVisible = true" [mLoading]="saving" [disabled]="saving" style="width: 100%">
                <m-icon mCode="arrow-up"></m-icon>&nbsp; <span>{{'web.space.github-push' | translate}}</span>
                <ng-container *ngTemplateOutlet="github"></ng-container>
              </m-button>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </m-card>
  </div>
</m-form-row>

<ng-template #github>
  <span style="margin-left: 10px; background: #fff; color: black; border-radius: 4px; padding: 1px 7px;">
    <m-icon mCode="github" style="margin-right: 2px"></m-icon>
    {{space?.integration?.github?.repo}}
  </span>
</ng-template>

<m-modal #pushModal [(mVisible)]="pushModalVisible" (mClose)="pushModalVisible = false">
  <ng-container *m-modal-content>
    <m-form-item name="message" required mLabel="web.space.github-commit-message" style="padding-top: 5px">
      <m-input name="message" required [(ngModel)]="commit.message" [disabled]="saving"></m-input>
    </m-form-item>

    <m-button mDisplay="primary" (click)="push(); pushModalVisible = false" [mLoading]="saving" [disabled]="saving" style="width: 100%">
      <m-icon mCode="arrow-up"></m-icon>&nbsp; <span>{{'web.space.github-push' | translate}}</span>
      <ng-container *ngTemplateOutlet="github"></ng-container>
    </m-button>
  </ng-container>
</m-modal>

<m-modal #diffModal [mVisible]="!!diff" (mClose)="diff = null" mClass="modal--wide">
  <ng-container *m-modal-content>
    <m-spinner [mLoading]="!diff.left && !diff.right">
      <div class="diff">
        <div>
          <pre>{{diff.left}}</pre>
        </div>
        <div>
          <pre>{{diff.right}}</pre>
        </div>
      </div>
    </m-spinner>
  </ng-container>
</m-modal>
