<m-form-row>
  <div *mFormCol>
    <m-spinner [mLoading]="loading">
      <m-card [mTitle]="'web.map-set-association.form.view-header'" [mShowSkeleton]="loading">
        <div *ngIf="association">
          <m-form-item mLabel="web.map-set-association.form.source-system">
            {{association.source.codeSystem}}
          </m-form-item>

          <m-form-item mLabel="web.map-set-association.form.source-concept">
            {{association.source.code}}
          </m-form-item>

          <m-form-item mLabel="web.map-set-association.form.target-system">
            {{association.target.codeSystem}}
          </m-form-item>

          <m-form-item mLabel="web.map-set-association.form.target-concept">
            {{association.target.code}}
          </m-form-item>

          <m-form-item mLabel="web.map-set-association.form.type">
            {{association.associationType}}
          </m-form-item>

          <m-form-item mLabel="web.map-set-association.form.status">
            {{association.status}}
          </m-form-item>
        </div>

        <m-card class="m-card-inside" *ngIf="association">
          <div *m-card-header class="m-items-between">
            <div class="m-card-title">{{'entities.map-set-entity.versions' | translate}}</div>
          </div>

          <m-table [mData]="association.versions" mEnablePagination mHideOnSinglePage>
            <tr *mTableHead>
              <th>{{'entities.map-set-entity-version.id' | translate}}</th>
              <th>{{'entities.map-set-entity-version.created-at' | translate}}</th>
              <th>{{'entities.map-set-entity-version.description' | translate}}</th>
              <th>{{'entities.map-set-entity-version.status' | translate}}</th>
            </tr>

            <ng-container *mTableRow="let entityVersion; let index = index">
              <tr>
                <td>{{entityVersion.id}}</td>
                <td>{{entityVersion.created | localDateTime}}</td>
                <td>
                  <m-abbreviate [mValue]="entityVersion.description" [mLength]="60"></m-abbreviate>
                </td>
                <td class="tw-table-min-width">
                  <twa-status-tag [status]="entityVersion.status"></twa-status-tag>
                </td>
              </tr>
            </ng-container>

            <tr *mTableNoData>
              <td colspan="4">
                <m-no-data></m-no-data>
              </td>
            </tr>
          </m-table>
        </m-card>
      </m-card>
    </m-spinner>
  </div>
</m-form-row>
