<m-card class="m-card-inside">
  <div *m-card-header class="m-items-middle">
    <m-title class="m-card__title" mTitle="entities.value-set-rule-set.rule.concepts"></m-title>
    <span>|</span>
    <a (mClick)="openModal()">{{'web.value-set-version.form.rule-set.rule.bulk-copy' | translate}}</a>
  </div>

  @if (rule?.concepts || viewMode) {
    <form #form="ngForm">
      <m-editable-table #rowsTable [mData]="rule.concepts" [mRowInstance]="rowInstance" [mEditAllowed]="!viewMode" [mDeleteAllowed]="!viewMode">
        <m-editable-column mWidth="10%" [mTitle]="'entities.value-set-version-concept.order-number'" mName="order-number">
          <ng-template #viewTemplate let-c>{{c.orderNumber}}</ng-template>
          <ng-template #editTemplate let-c let-ngModelName="ngModelName">
            <m-number-input [name]="ngModelName" [(ngModel)]="c.orderNumber"></m-number-input>
          </ng-template>
        </m-editable-column>

        <m-editable-column mWidth="20%" [mTitle]="'entities.value-set-version-concept.concept'" mName="concept" required>
          <ng-template #viewTemplate let-c>
            {{ c.concept.code | localizedConceptName: {codeSystem: rule?.codeSystem} | async | apply:getCodeLabel:c.concept.code }}
          </ng-template>
          <ng-template #editTemplate let-c let-ngModelName="ngModelName">
            @if (csContentPresent) {
              <tw-term-concept-search
                  [name]="ngModelName"
                  [(ngModel)]="c.concept.code"
                  [displayType]="'codeName'"
                  [codeSystem]="rule.codeSystem"
                  [codeSystemVersionId]="rule.codeSystemVersion?.id"
                  [codeSystemVersionReleaseDateLe]="lockedDate"
                  [codeSystemVersionExpirationDateGe]="lockedDate"
                  [codeSystemEntityVersionStatus]="inactiveConcepts ? 'active' : inactiveConcepts === false ? 'retired': null"
                  [codeSystemVersionUri]="rule.codeSystemVersion?.uri"
                  [showStatus]="true"
                  valueType="code"
                  autofocus
                  required></tw-term-concept-search>
            }
            @if (!csContentPresent) {
              <m-input [name]="ngModelName" [(ngModel)]="c.concept.code" required></m-input>
            }
          </ng-template>
        </m-editable-column>

        <m-editable-column mWidth="10%" [mTitle]="'entities.value-set-version.status'" mName="status">
          <ng-template #viewTemplate let-c>
            @if (c | apply:conceptReferenceStatus:c.concept.code | async; as status) {
              <tw-status-tag [status]="status" />
            }
          </ng-template>
        </m-editable-column>

        <m-editable-column mWidth="20%" [mTitle]="'entities.value-set-version-concept.display'" mName="display">
          <ng-template #viewTemplate let-c>{{c.display?.name}}</ng-template>
          <ng-template #editTemplate let-c let-ngModelName="ngModelName">
            <div class="m-items-middle">
              <tw-value-set-concept-select style="flex: 1" valueSet="languages" [name]="ngModelName + 'lang'" [(ngModel)]="c.display.language"></tw-value-set-concept-select>
              <m-textarea style="flex: 1" [name]="ngModelName + 'name'" [(ngModel)]="c.display.name" ></m-textarea>
            </div>
          </ng-template>
        </m-editable-column>

        <m-editable-column mWidth="50%" [mTitle]="'entities.value-set-version-concept.additional-designations'" mName="designations">
          <ng-template #viewTemplate let-c>
            <div style="display:grid">
              @for (d of c.additionalDesignations; track $index) {
                <label>{{d.language}} | {{d.name}}</label>
              }
            </div>
          </ng-template>
          <ng-template #editTemplate let-c let-ngModelName="ngModelName">
            @for (d of c.additionalDesignations; track $index; let i = $index) {
              <div class="m-items-middle" style="margin-bottom: 0.5rem">
                <tw-value-set-concept-select style="flex: 1" valueSet="languages" [(ngModel)]="d.language" name="{{i}}-lang"></tw-value-set-concept-select>
                <m-textarea style="flex: 1" [(ngModel)]="d.name" name="{{i}}-name"></m-textarea>
                <span style="flex: 1;">
                  <m-icon style="pointer-events: auto" class="m-clickable" mCode="delete" (click)="removeDesignation(c, i)"></m-icon>
                </span>
              </div>
            }
            <tw-add-button (click)="addDesignation(c)">{{'web.value-set-version.form.rule-set.rule.add-designation' | translate}}</tw-add-button>
          </ng-template>
        </m-editable-column>
      </m-editable-table>
    </form>
  }
</m-card>


<m-modal [(mVisible)]="modalData.visible" (mClose)="modalData = {visible: false}">
  <m-title *mModalHeader>
    {{'web.value-set-version.form.rule-set.rule.bulk-copy' | translate}}
  </m-title>

  <ng-container *mModalContent>
    <form #modalForm="ngForm">
      <m-form-item mName="content" mLabel="web.value-set-version.form.rule-set.rule.content" required>
        <m-textarea name="content" [(ngModel)]="modalData.content" [autosize]="{minRows: 5}" required></m-textarea>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="modalData.visible = false">
      {{'core.btn.cancel' | translate}}
    </m-button>
    <m-button mDisplay="primary" (click)="addConcepts()">
      {{'core.btn.confirm' | translate}}
    </m-button>
  </div>
</m-modal>
