<tw-table [(filterOpen)]="isFilterOpen">
  <div header>
    <div class="m-justify-between">
      <div class="m-items-middle" style="white-space: nowrap">
        <m-input
            [(ngModel)]="searchInput.input"
            twDebounce
            [debounced]="onDebounced"
            [placeholder]="'core.btn.search' | translate"
            autofocus
        />

        <m-radio-group [(ngModel)]="searchInput.type" (ngModelChange)="onDebounced().subscribe()">
          <label m-radio-button [mValue]="'contains'">{{'web.loinc.loinc.filter.contains' | translate}}</label>
          <label m-radio-button [mValue]="'eq'">{{'web.loinc.loinc.filter.eq' | translate}}</label>
        </m-radio-group>
      </div>
      <m-button *ngIf="!isFilterOpen" (mClick)="isFilterOpen = true">
        <m-icon mCode="filter"></m-icon>
      </m-button>
    </div>

    <div class="hide-context" style="margin-top: 0.75rem;" *ngIf="searchOptions?.length">
      <div class="m-items-middle" style="font-size: 0.9rem">
        <span>{{'web.loinc.loinc.filter.recent-searches' | translate}}</span>
        <m-icon class="m-clickable needle" mCode="delete" (click)="clearRecentSearches()"></m-icon>
      </div>

      <div class="m-items-middle" style="flex-wrap: wrap" *ngIf="{limit: 10} as d">
        <m-tag
            class="m-clickable"
            [class.m-text-secondary]="loader.state['search']"
            *ngFor="let opt of searchOptions | slice: d.limit"
            (click)="searchInput.input = opt"
        >
          <m-abbreviate [mValue]="opt" [mLength]="30" [mThreshold]="10"/>
        </m-tag>

        <m-tag class="m-clickable" *ngIf="searchOptions.length > d.limit"  (click)="d.limit = d.limit + 10">
          {{'core.load-more' | translate}}
        </m-tag>
      </div>
    </div>

  </div>

  <tw-table-filter (twSearch)="onFilterSearch()" (twReset)="onFilterReset()">
    <m-form-item [mLabel]="'web.loinc.loinc.filter.type'">
      <m-checkbox [(mChecked)]="_filter['clinicalType']">{{'web.loinc.loinc.filter.clinical' | translate}}</m-checkbox>
      <m-checkbox [(mChecked)]="_filter['labType']">{{'web.loinc.loinc.filter.lab' | translate}}</m-checkbox>
      <m-checkbox [(mChecked)]="_filter['surveyType']">{{'web.loinc.loinc.filter.survey' | translate}}</m-checkbox>
    </m-form-item>
    <m-form-item [mLabel]="'web.loinc.loinc.filter.class'">
      <tw-loinc-part-search [(ngModel)]="_filter['class']" type="CLASS" multiple></tw-loinc-part-search>
    </m-form-item>
    <m-form-item [mLabel]="'web.loinc.loinc.filter.ord-obs'">
      <m-radio-group [(ngModel)]="_filter['orderObs']">
        <label m-radio-button [mValue]="'Order'">{{'web.loinc.loinc.filter.order' | translate}}</label>
        <label m-radio-button [mValue]="'Observation'">{{'web.loinc.loinc.filter.observation' | translate}}</label>
        <label m-radio-button [mValue]="'Both'">{{'web.loinc.loinc.filter.both' | translate}}</label>
      </m-radio-group>
    </m-form-item>
    <m-form-item [mLabel]="'web.loinc.loinc.filter.property'">
      <tw-loinc-part-search [(ngModel)]="_filter['property']" type="PROPERTY" mode="select" multiple></tw-loinc-part-search>
    </m-form-item>
    <m-form-item [mLabel]="'web.loinc.loinc.filter.timing'">
      <tw-loinc-part-search [(ngModel)]="_filter['time']" type="TIME" mode="select" multiple></tw-loinc-part-search>
    </m-form-item>
    <m-form-item [mLabel]="'web.loinc.loinc.filter.system'">
      <tw-loinc-part-search [(ngModel)]="_filter['system']" type="SYSTEM" multiple></tw-loinc-part-search>
    </m-form-item>
    <m-form-item [mLabel]="'web.loinc.loinc.filter.scale'">
      <tw-loinc-part-search [(ngModel)]="_filter['scale']" type="SCALE" mode="select" multiple></tw-loinc-part-search>
    </m-form-item>
    <m-form-item [mLabel]="'web.loinc.loinc.filter.method'">
      <tw-loinc-part-search [(ngModel)]="_filter['method']" type="METHOD" multiple></tw-loinc-part-search>
    </m-form-item>
  </tw-table-filter>

  <m-backend-table [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="loadData()" [mLoading]="loader.isLoading" mSize="small">
    <tr *mTableHead>
      <th mColumnKey="code">{{'web.loinc.loinc.code' | translate}}</th>
      <th mColumnKey="name">{{'web.loinc.loinc.name' | translate}}</th>
      <th>{{'web.loinc.loinc.component' | translate}}</th>
      <th>{{'web.loinc.loinc.property' | translate}}</th>
      <th>{{'web.loinc.loinc.timing' | translate}}</th>
      <th>{{'web.loinc.loinc.system' | translate}}</th>
      <th>{{'web.loinc.loinc.scale' | translate}}</th>
      <th>{{'web.loinc.loinc.method' | translate}}</th>
      <th>{{'web.loinc.loinc.class' | translate}}</th>
      <th>{{'web.loinc.loinc.type' | translate}}</th>
      <th>{{'web.loinc.loinc.values' | translate}}</th>
      <th>{{'web.loinc.loinc.ord-obs' | translate}}</th>
    </tr>

    <tr *mTableRow="let c;let i = index">
      <td><a (mClick)="openConcept(c.code)" style="white-space: nowrap;">{{c.code}}</a></td>
      <td>{{c | apply:getName}}</td>
      <td>
        <div *ngFor="let name of (c | apply:getPartName:'COMPONENT':parts)">{{name}}</div>
      <td>
        <div *ngFor="let name of (c | apply:getPartName:'PROPERTY':parts)">{{name}}</div>
      </td>
      <td>
        <div *ngFor="let name of (c | apply:getPartName:'TIME':parts)">{{name}}</div>
      </td>
      <td>
        <div *ngFor="let name of (c | apply:getPartName:'SYSTEM':parts)">{{name}}</div>
      </td>
      <td>
        <div *ngFor="let name of (c | apply:getPartName:'SCALE':parts)">{{name}}</div>
      </td>
      <td>
        <div *ngFor="let name of (c | apply:getPartName:'METHOD':parts)">{{name}}</div>
      </td>
      <td>
        <div *ngFor="let name of (c | apply:getPartName:'CLASS':parts)">{{name}}</div>
      </td>
      <td>
        <div *ngFor="let name of (c | apply:getPartName:'TYPE':parts)">
          <m-icon [mCode]="name | apply:getIconCode" m-popover [mContent]="name"></m-icon>
        </div>
      </td>
      <td>
        <m-tag class="m-clickable"
            mColor="blue"
            (click)="showAssociations(c, i)"
            *ngIf="(c | apply: getAssociations)">{{(c | apply: getAssociations)?.length}}</m-tag>
      </td>
      <td>
        <div *ngFor="let name of (c | apply:getPropName:'ORDER_OBS')">{{name}}</div>
      </td>
    </tr>
    <tr *mTableRowExpand="let c" class="m-table-expanded-row">
      <td>
        <div *ngFor="let a of (c | apply: getAssociations)"><a>{{a.targetCode}}</a></div>
      </td>
      <td>
        <div *ngFor="let a of (c | apply: getAssociations)">{{a.targetCode | localizedConceptName: {codeSystem: a.codeSystem} | async}}</div>
      </td>
      <td colspan="10"></td>
    </tr>
    <tr *mTableNoData>
      <td colspan="100%">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-backend-table>
</tw-table>
