<tw-table [(filterOpen)]="isFilterOpen">
  <div class="m-justify-between" style="margin-bottom: 1rem">
    <div class="m-items-middle">
      <m-input [(ngModel)]="searchInput.input" twDebounce [debounced]="onSearch" placeholder="marina.ui.inputs.search.placeholder" autofocus></m-input>
      <m-radio-group [(ngModel)]="searchInput.type" (ngModelChange)="onSearch().subscribe()">
        <label m-radio-button [mValue]="'contains'">{{'web.loinc.loinc.filter.contains' | translate}}</label>
        <label m-radio-button [mValue]="'eq'">{{'web.loinc.loinc.filter.eq' | translate}}</label>
      </m-radio-group>
    </div>
    <m-button *ngIf="!isFilterOpen" (mClick)="isFilterOpen = true">
      <m-icon mCode="filter"></m-icon>
    </m-button>
  </div>

  <tw-table-filter (twSearch)="loadData()" (twReset)="reset()">
    <m-form-item [mLabel]="'web.loinc.loinc.filter.type'">
      <m-checkbox [(mChecked)]="filter['clinicalType']">{{'web.loinc.loinc.filter.clinical' | translate}}</m-checkbox>
      <m-checkbox [(mChecked)]="filter['labType']">{{'web.loinc.loinc.filter.lab' | translate}}</m-checkbox>
      <m-checkbox [(mChecked)]="filter['surveyType']">{{'web.loinc.loinc.filter.survey' | translate}}</m-checkbox>
    </m-form-item>
    <m-form-item [mLabel]="'web.loinc.loinc.filter.class'">
      <tw-loinc-part-search [(ngModel)]="filter['class']" type="CLASS" multiple></tw-loinc-part-search>
    </m-form-item>
    <m-form-item [mLabel]="'web.loinc.loinc.filter.ord-obs'">
      <m-radio-group [(ngModel)]="filter['orderObs']">
        <label m-radio-button [mValue]="'Order'">{{'web.loinc.loinc.filter.order' | translate}}</label>
        <label m-radio-button [mValue]="'Observation'">{{'web.loinc.loinc.filter.observation' | translate}}</label>
        <label m-radio-button [mValue]="'Both'">{{'web.loinc.loinc.filter.both' | translate}}</label>
      </m-radio-group>
    </m-form-item>
    <m-form-item [mLabel]="'web.loinc.loinc.filter.property'">
      <tw-loinc-part-search [(ngModel)]="filter['property']" type="PROPERTY" mode="select" multiple></tw-loinc-part-search>
    </m-form-item>
    <m-form-item [mLabel]="'web.loinc.loinc.filter.timing'">
      <tw-loinc-part-search [(ngModel)]="filter['time']" type="TIME" mode="select" multiple></tw-loinc-part-search>
    </m-form-item>
    <m-form-item [mLabel]="'web.loinc.loinc.filter.system'">
      <tw-loinc-part-search [(ngModel)]="filter['system']" type="SYSTEM" multiple></tw-loinc-part-search>
    </m-form-item>
    <m-form-item [mLabel]="'web.loinc.loinc.filter.scale'">
      <tw-loinc-part-search [(ngModel)]="filter['scale']" type="SCALE" mode="select" multiple></tw-loinc-part-search>
    </m-form-item>
    <m-form-item [mLabel]="'web.loinc.loinc.filter.method'">
      <tw-loinc-part-search [(ngModel)]="filter['method']" type="METHOD" multiple></tw-loinc-part-search>
    </m-form-item>
  </tw-table-filter>

  <m-backend-table [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="loadData()" [mLoading]="loader.isLoading" mSize="small">
    <tr *mTableHead>
      <th mColumnKey="code">{{'web.loinc.loinc.code' | translate}}</th>
      <th mColumnKey="name">{{'web.loinc.loinc.name' | translate}}</th>
      <th>{{'web.loinc.loinc.component' | translate}}</th>
      <th>{{'web.loinc.loinc.property' | translate}}</th>
      <th>{{'web.loinc.loinc.timing' | translate}}</th>
      <th>{{'web.loinc.loinc.system' | translate}}</th>
      <th>{{'web.loinc.loinc.scale' | translate}}</th>
      <th>{{'web.loinc.loinc.method' | translate}}</th>
      <th>{{'web.loinc.loinc.class' | translate}}</th>
      <th>{{'web.loinc.loinc.type' | translate}}</th>
      <th>{{'web.loinc.loinc.values' | translate}}</th>
      <th>{{'web.loinc.loinc.ord-obs' | translate}}</th>
    </tr>

    <tr *mTableRow="let c;let i = index">
      <td style="white-space: nowrap;"><a (mClick)="openConcept(c.code)">{{c.code}}</a></td>
      <td>{{c | apply:getName}}</td>
      <td>
        <div style="display: grid">
          <label *ngFor="let name of (c | apply:getPartName:'COMPONENT':parts)">{{name}}</label>
        </div>
      <td>
        <div style="display: grid">
          <label *ngFor="let name of (c | apply:getPartName:'PROPERTY':parts)">{{name}}</label>
        </div>
      </td>
      <td>
        <div style="display: grid">
          <label *ngFor="let name of (c | apply:getPartName:'TIME':parts)">{{name}}</label>
        </div>
      </td>
      <td>
        <div style="display: grid">
          <label *ngFor="let name of (c | apply:getPartName:'SYSTEM':parts)">{{name}}</label>
        </div>
      </td>
      <td>
        <div style="display: grid">
          <label *ngFor="let name of (c | apply:getPartName:'SCALE':parts)">{{name}}</label>
        </div>
      </td>
      <td>
        <div style="display: grid">
          <label *ngFor="let name of (c | apply:getPartName:'METHOD':parts)">{{name}}</label>
        </div>
      </td>
      <td>
        <div style="display: grid">
          <label *ngFor="let name of (c | apply:getPartName:'CLASS':parts)">{{name}}</label>
        </div>
      </td>
      <td>
        <div style="display: grid">
          <m-icon *ngFor="let name of (c | apply:getPartName:'TYPE':parts)" [mCode]="name | apply:getIconCode" m-popover [mContent]="name"></m-icon>
        </div>
      </td>
      <td><m-tag class="m-clickable" mColor="blue" (click)="showAssociations(c, i)" *ngIf="(c | apply: getAssociations)">{{(c | apply: getAssociations)?.length}}</m-tag></td>
      <td>
        <div style="display: grid">
          <label *ngFor="let name of (c | apply:getPropName:'ORDER_OBS')">{{name}}</label>
        </div>
      </td>
    </tr>
    <tr *mTableRowExpand="let c" class="m-table-expanded-row">
      <td colspan="1">
        <div style="display: grid">
          <label *ngFor="let a of (c | apply: getAssociations)"><a>{{a.targetCode}}</a></label>
        </div>
      </td>
      <td colspan="11">
        <div style="display: grid">
          <label *ngFor="let a of (c | apply: getAssociations)">{{a.targetCode | localizedConceptName: {codeSystem: a.codeSystem} | async}}</label>
        </div>
      </td>
    </tr>
    <tr *mTableNoData>
      <td colspan="100%">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-backend-table>
</tw-table>
