<m-select *ngIf="mode === 'search'"
    icon="search"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    (mInputChange)="onSearch($event)"
    (mChange)="fireOnChange()"
    [loading]="loader.isLoading"
    [autoUnselect]="false"
    [multiple]="multiple | toBoolean">
  <m-option *ngFor="let key of data | keys" [mValue]="data[key]?.code" [mLabel]="data[key] | apply:getCodeName"></m-option>
  <m-option *ngIf="!(data | keys | first)" disabled mLabel="Start typing for value"></m-option>
</m-select>

<m-select *ngIf="mode === 'select'"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    (mChange)="fireOnChange()"
    [loading]="loader.isLoading"
    [autoUnselect]="false"
    [multiple]="multiple | toBoolean">
  <m-option *ngFor="let key of data | keys" [mValue]="data[key]?.code" [mLabel]="data[key] | apply:getCodeName"></m-option>
</m-select>
