<m-skeleton [mLoading]="loading">
  <m-list mSeparated [mEmpty]="searchResult.data.length === 0">
    <m-list-item *ngFor="let vs of searchResult.data" mClickable [routerLink]="['/resources','value-sets',vs.id,'edit']">
      <div class="m-justify-between m-items-top">
        <div>
          <div class="m-items-middle">
            <span class="m-bold">{{vs.names | localName}}</span>
            <m-divider mVertical></m-divider>
            <span>{{vs.uri}}</span>
          </div>
        </div>
        <m-button mDisplay="text" mShape="circle" [routerLink]="['diff']" [queryParams]="{resourceId: vs.id, resourceType: 'value-set'}">
          <span class="m-items-middle"><m-icon mCode="diff"></m-icon></span>
        </m-button>
      </div>
    </m-list-item>
  </m-list>
</m-skeleton>
