<m-no-data *ngIf="!associations?.length"/>


<!--        Edit mode        -->
<div *ngIf="!viewMode" class="m-items-middle">
  <div class="association-col">
    <div class="association-row" *ngFor="let a of associations; let i = index">
      <tw-association-type-search *ngIf="!a.supplement"
          [(ngModel)]="a.associationType"
          name="type-{{i}}"
          placeholder="entities.code-system-entity-version.association-type"
          valuePrimitive/>
      <span *ngIf="a.supplement" class="m-subtitle">{{a.associationType}}</span>
    </div>
  </div>
  <div class="association-col" style="width: 100%">
    <div class="association-row" *ngFor="let a of associations; let i = index">
      <tw-code-system-entity-version-search *ngIf="!a.supplement"
          style="width: 100%"
          [codeSystem]="codeSystemId"
          [codesNe]="code"
          [(ngModel)]="a.targetId"
          name="targetConcept-{{i}}"
          placeholder="entities.code-system-entity-version.association-target"
          valuePrimitive/>
      <span *ngIf="a.supplement">{{a.targetCode}}</span>
    </div>
  </div>
  <div class="association-col">
    <div class="association-row" *ngFor="let a of associations; let i = index">
      <tw-value-set-concept-select *ngIf="!a.supplement"
          [(ngModel)]="a.status"
          name="status-{{i}}"
          placeholder="entities.code-system-entity-version.association-status"
          valueSet="publication-status"/>
      <span *ngIf="a.supplement"
          class="tw-circled"
          [style.color]="a.status === 'draft' ? 'var(&#45;&#45;color-amber-7)' : 'initial'">{{a.status?.[0] | uppercase}}</span>
    </div>
  </div>
  <div class="association-col">
    <div class="association-row" *ngFor="let a of associations; let i = index">
      <m-number-input *ngIf="!a.supplement" name="order-{{i}}" [(ngModel)]="a.orderNumber" placeholder="entities.code-system-entity-version.association-order"/>
      <span *ngIf="a.supplement">{{a.orderNumber}}</span>
    </div>
  </div>
  <div class="association-col">
    <div class="association-row" *ngFor="let a of associations; let i = index">
      <m-icon *ngIf="!a.supplement" [mCode]="'close'" class="m-clickable" m-popconfirm mPopconfirmTitle="core.delete-confirm" (mOnConfirm)="deleteAssociation(a)"/>
    </div>
  </div>
</div>


<!--        View mode        -->
<div *ngIf="viewMode" class="m-items-middle">
  <div class="association-col">
    <div class="association-row" *ngFor="let a of associations">
      <span class="m-subtitle">{{a.associationType}}</span>
    </div>
  </div>
  <div class="association-col">
    <div class="association-row" *ngFor="let a of associations">
      <span>{{a.targetId | localizedConceptName: {codeSystem: codeSystemId} | async }}</span>
    </div>
  </div>
  <div class="association-col" style="width: 100%">
    <div class="association-row" *ngFor="let a of associations">
      <span>{{a.targetCode}}</span>
    </div>
  </div>
  <div class="association-col">
    <div class="association-row" *ngFor="let a of associations">
      <span class="tw-circled" [style.color]="a.status === 'draft' ? 'var(&#45;&#45;color-amber-7)' : 'initial'">{{a.status?.[0] | uppercase}}</span>
    </div>
  </div>
  <div class="association-col">
    <div class="association-row" *ngFor="let a of associations">
      <span>{{a.orderNumber}}</span>
    </div>
  </div>
</div>
