<m-no-data *ngIf="!associations?.length"/>

<div class="m-items-middle" *ngFor="let association of associations; let i = index">
  <ng-container *ngIf="viewMode">
    <span class="m-subtitle">{{association.associationType}}</span>
    <span>{{association.targetId | localizedConceptName: {codeSystem: codeSystemId} | async }}</span>
    <tw-status-tag [status]="association.status"></tw-status-tag>
    <span>{{association.orderNumber}}</span>
  </ng-container>
  <ng-container *ngIf="!viewMode">
    <m-form-item mName="type-{{i}}">
      <tw-association-type-search [(ngModel)]="association.associationType"
          name="type-{{i}}"
          placeholder="entities.code-system-entity-version.association-type"
          valuePrimitive></tw-association-type-search>
    </m-form-item>
    <m-form-item mName="targetConcept-{{i}}">
      <tw-code-system-entity-version-search [codeSystem]="codeSystemId"
          [(ngModel)]="association.targetId"
          name="targetConcept-{{i}}"
          placeholder="entities.code-system-entity-version.association-target"
          valuePrimitive></tw-code-system-entity-version-search>
    </m-form-item>
    <m-form-item mName="status-{{i}}">
      <tw-value-set-concept-select [(ngModel)]="association.status"
          name="status-{{i}}"
          placeholder="entities.code-system-entity-version.association-status"
          valueSet="publication-status"></tw-value-set-concept-select>
    </m-form-item>
    <m-form-item mName="order-{{i}}">
      <m-number-input name="order-{{i}}"
          [(ngModel)]="association.orderNumber"
          placeholder="entities.code-system-entity-version.association-order"></m-number-input>
    </m-form-item>
  </ng-container>
</div>

