<m-no-data *ngIf="!associations?.length"/>


<!--        Edit mode        -->
<div *ngIf="!viewMode" class="m-items-middle">
  <div class="col">
    <div class="row" *ngFor="let a of associations; let i = index">
      <tw-association-type-search [(ngModel)]="a.associationType"
          name="type-{{i}}"
          placeholder="entities.code-system-entity-version.association-type"
          valuePrimitive/>
    </div>
  </div>
  <div class="col" style="width: 100%">
    <div class="row" *ngFor="let a of associations; let i = index">
      <tw-code-system-entity-version-search style="width: 100%"
          [codeSystem]="codeSystemId"
          [codesNe]="code"
          [(ngModel)]="a.targetId"
          name="targetConcept-{{i}}"
          placeholder="entities.code-system-entity-version.association-target"
          valuePrimitive/>
    </div>
  </div>
  <div class="col">
    <div class="row" *ngFor="let a of associations; let i = index">
      <tw-value-set-concept-select [(ngModel)]="a.status"
          name="status-{{i}}"
          placeholder="entities.code-system-entity-version.association-status"
          valueSet="publication-status"/>
    </div>
  </div>
  <div class="col">
    <div class="row" *ngFor="let a of associations; let i = index">
      <m-number-input name="order-{{i}}" [(ngModel)]="a.orderNumber" placeholder="entities.code-system-entity-version.association-order"/>
    </div>
  </div>
  <div class="col">
    <div class="row" *ngFor="let a of associations; let i = index">
      <m-icon [mCode]="'close'" class="m-clickable" (click)="deleteAssociation(a)"></m-icon>
    </div>
  </div>
</div>


<!--        View mode        -->
<div *ngIf="viewMode" class="m-items-middle">
  <div class="col">
    <div class="row" *ngFor="let a of associations; let i = index">
      <span class="m-subtitle">{{a.associationType}}</span>
    </div>
  </div>
  <div class="col">
    <div class="row" *ngFor="let a of associations; let i = index">
      <span>{{a.targetId | localizedConceptName: {codeSystem: codeSystemId} | async }}</span>
    </div>
  </div>
  <div class="col" style="width: 100%">
    <div class="row" *ngFor="let a of associations; let i = index">
      <span>{{a.targetId}}</span>
    </div>
  </div>
  <div class="col">
    <div class="row" *ngFor="let a of associations; let i = index">
      <span class="tw-circled" [style.color]="a.status === 'draft' ? 'var(&#45;&#45;color-amber-7)' : 'initial'">{{a.status?.[0] | uppercase}}</span>
    </div>
  </div>
  <div class="col">
    <div class="row" *ngFor="let a of associations; let i = index">
      <span>{{a.orderNumber}}</span>
    </div>
  </div>
</div>
