<m-card>
  <m-spinner [mLoading]=loading>
    <div *m-card-header class="m-items-between">
      <nz-breadcrumb>
        <nz-breadcrumb-item>FHIR</nz-breadcrumb-item>
        <nz-breadcrumb-item>{{source}}</nz-breadcrumb-item>
        <nz-breadcrumb-item>$sync</nz-breadcrumb-item>
      </nz-breadcrumb>
      <m-button mDisplay="primary" [disabled]="urls.length === 0" (click)="importUrls()">{{'web.integration.send-request' | translate}}</m-button>
    </div>

    <m-form-item [mLabel]="label" required>
      <ng-template #label>
        URL:&nbsp;
        <m-icon mCode="info-circle" m-popover [mTitle]="source + ' resource JSON url'" [mContent]="info"></m-icon>
        <ng-template #info>
          <div *ngIf="source === 'CodeSystem'">
            Example: <a href="https://www.hl7.org/fhir/codesystem-days-of-week.json">codesystem-days-of-week</a>
          </div>
          <div *ngIf="source === 'ValueSet'" style="display: flex; flex-direction: column">
            <label>Example: <a href="https://www.hl7.org/fhir/valueset-marital-status.json">valueset-marital-status</a></label>
            <label>&nbsp;</label>
            <label>First you need import CodeSystem resources used for value set</label>
            <label><a href="https://www.hl7.org/fhir/v3/MaritalStatus/v3-MaritalStatus.cs.json">v3-MaritalStatus.cs</a></label>
            <label><a href="https://www.hl7.org/fhir/v3/NullFlavor/v3-NullFlavor.cs.json">v3-NullFlavor.cs</a></label>
          </div>
          <div *ngIf="source === 'ConceptMap'" style="display: flex; flex-direction: column">
            <label>Example: <a href="https://www.hl7.org/fhir/sc-valueset-publication-status.json">sc-valueset-publication-status</a></label>
            <label>&nbsp;</label>
            <label>First you need import CodeSystem resources used for value set</label>
            <label><a href="https://www.hl7.org/fhir/codesystem-publication-status.json">codesystem-publication-status</a></label>
            <label><a href="http://hl7.org/fhir/R4/codesystem-resource-status.json">codesystem-resource-status</a></label>
          </div>
        </ng-template>
      </ng-template>

      <div class="m-items-middle">
        <m-input [(ngModel)]="input"></m-input>
        <m-button (click)="addUrl()">
          <m-icon [mCode]="'plus'"></m-icon>
        </m-button>
      </div>
    </m-form-item>
    <div style="display:flex" *ngFor="let url of urls; let index = index">
      <p>{{url}}</p>&nbsp;
      <m-button mSize="small" (click)="removeUrl(index)">
        <m-icon [mCode]="'delete'"></m-icon>
      </m-button>
    </div>

    <div *ngIf="jobResponse">
      <m-alert *ngFor="let error of jobResponse.errors" mType="error" mShowIcon>
        {{error}}
      </m-alert>
      <m-alert *ngFor="let warning of jobResponse.warnings" mType="warning" mShowIcon>
        {{warning}}
      </m-alert>
      <m-alert *ngFor="let success of jobResponse.successes" mType="success" mShowIcon>
        {{success}}
      </m-alert>
    </div>

  </m-spinner>
</m-card>
