<m-card>
  <m-spinner [mLoading]=loading>
    <div *m-card-header class="m-items-between">
      <nz-breadcrumb>
        <nz-breadcrumb-item>FHIR</nz-breadcrumb-item>
        <nz-breadcrumb-item>{{source}}</nz-breadcrumb-item>
        <nz-breadcrumb-item>$sync</nz-breadcrumb-item>
      </nz-breadcrumb>
      <m-button (click)="importUrls()">{{'web.integration.fhir.sync.send-request' | translate}}</m-button>
    </div>

    <p>URL: </p>
    <div style="display:flex" *ngFor="let url of urls; let index = index">
      <p>{{url}}</p> &nbsp;
      <m-button mSize="small" (click)="removeUrl(index)">
        <m-icon [mCode]="'delete'"></m-icon>
      </m-button>
    </div>

    <div style="display: flex">
      <m-input [(ngModel)]="input"></m-input>
      <m-button (click)="addUrl()">
        <m-icon [mCode]="'plus'"></m-icon>
      </m-button>
    </div>
    <m-alert *ngIf="jobResponse" [mType]="jobResponse.type" mShowIcon>{{jobResponse.message}}</m-alert>
  </m-spinner>
</m-card>
