<m-card mTitle="Relations">
  <m-card class="m-card-inside" mTitle="web.code-system-concept.form.value-sets.header" [mShowSkeleton]="loading['value-sets']">
    <m-table [mData]="relatedValueSets">
      <tr *mTableHead>
        <th>{{'web.code-system-concept.form.value-sets.value-set' | translate}}</th>
        <th>{{'web.code-system-concept.form.value-sets.definition' | translate}}</th>
      </tr>
      <tr *mTableRow="let vs">
        <td><a [routerLink]="['/resources/value-sets', vs.id, 'view']">{{vs.id}}</a></td>
        <td>{{concept.code | localizedConceptName: {valueSet: vs.id}  | async}}</td>
      </tr>
      <tr *mTableNoData>
        <td colspan="4">
          <m-no-data></m-no-data>
        </td>
      </tr>
    </m-table>
  </m-card>
  <m-card class="m-card-inside" mTitle="web.code-system-concept.form.map-sets.header" [mShowSkeleton]="loading['map-sets']">
    <m-table [mData]="relatedMapSets">
      <tr *mTableHead>
        <th>{{'web.code-system-concept.form.map-sets.map-set' | translate}}</th>
        <th>{{'web.code-system-concept.form.map-sets.direction' | translate}}</th>
        <th>{{'web.code-system-concept.form.map-sets.concept-code' | translate}}</th>
        <th>{{'web.code-system-concept.form.map-sets.concept-display' | translate}}</th>
        <th>{{'web.code-system-concept.form.map-sets.equivalence' | translate}}</th>
      </tr>
      <tr *mTableRow="let ms">
        <td><a [routerLink]="['/resources/map-sets', ms.association.mapSet, 'view']">{{ms.association.mapSet}}</a></td>
        <td>{{ms.direction}}</td>
        <td>{{ms.association.target.code}}</td>
        <td>{{ms.association.target.code}}</td>
        <td>{{ms.association.associationType}}</td>
      </tr>
      <tr *mTableNoData>
        <td colspan="4">
          <m-no-data></m-no-data>
        </td>
      </tr>
    </m-table>
  </m-card>
  <m-card class="m-card-inside" mTitle="web.code-system-concept.form.thesaurus.header" [mShowSkeleton]="loading['pages']">
    <m-table [mData]="relatedPages">
      <tr *mTableHead>
        <th>{{'web.code-system-concept.form.thesaurus.slug' | translate}}</th>
        <th>{{'web.code-system-concept.form.thesaurus.name' | translate}}</th>
      </tr>
      <tr *mTableRow="let page">
        <td><a [routerLink]="['/thesaurus/pages/', page.content!.code]">{{page.content.code}}</a></td>
        <td>{{page.content.names | localName}}</td>
      </tr>
      <tr *mTableNoData>
        <td colspan="4">
          <m-no-data></m-no-data>
        </td>
      </tr>
    </m-table>
  </m-card>
</m-card>
