<m-spinner [mLoading]="loader.state['save']">
  <m-card [mShowSkeleton]="loader.isLoading" class="tw-card__sticky-footer">
    <div *m-card-header class="m-justify-between">
      <m-title>{{'web.snomed.branch.management.header' | translate: {path: snomedBranch?.path} }}</m-title>
      <m-dropdown>
        <a *m-dropdown-item [routerLink]="['/integration','snomed', 'branches', snomedBranch?.path, 'edit']">
          {{'core.btn.edit' | translate}}
        </a>
        <a *m-dropdown-item (mClick)="delete()">
          {{'core.btn.delete' | translate}}
        </a>
        <a *m-dropdown-item (mClick)="executeIntegrityCheck()">
          {{'web.snomed.branch.management.integrity-check' | translate}}
        </a>
        <ng-container *ngIf="snomedBranch && !snomedBranch.locked">
          <a *m-dropdown-item (mClick)="lockModalData.visible = true">
            {{'web.snomed.branch.management.lock' | translate}}
          </a>
        </ng-container>
        <ng-container *ngIf="snomedBranch && snomedBranch.locked">
          <a *m-dropdown-item (mClick)="unlock()">
            {{'web.snomed.branch.management.unlock' | translate}}
          </a>
        </ng-container>
        <a *m-dropdown-item>
          {{'web.snomed.branch.management.import-from-rf2' | translate}}
        </a>
        <a *m-dropdown-item (mClick)="exportModalData.visible = true">
          {{'web.snomed.branch.management.export-to-rf2' | translate}}
        </a>
      </m-dropdown>
    </div>
    <div *mCardContent="!loader.isLoading">
      <m-form-row>
        <m-form-item *mFormCol mLabel="entities.snomed-branch.creation">
          {{snomedBranch?.creation | localDate}}
        </m-form-item>
        <m-form-item *mFormCol mLabel="entities.snomed-branch.head">
          {{snomedBranch?.head | localDate}}
        </m-form-item>
      </m-form-row>
      <m-form-row>
        <m-form-item *mFormCol mLabel="entities.snomed-branch.base">
          {{snomedBranch?.base | localDate}}
        </m-form-item>
        <m-form-item *mFormCol mLabel="entities.snomed-branch.metadata">
          {{snomedBranch?.metadata | json}}
        </m-form-item>
      </m-form-row>
      <m-form-row>
        <m-form-item *mFormCol mName="state" mLabel="entities.snomed-branch.state">
          {{snomedBranch?.state}}
        </m-form-item>
        <m-form-item *mFormCol mName="locked" mLabel="entities.snomed-branch.locked">
          <m-checkbox name="locked" [ngModel]="snomedBranch?.locked" readOnly></m-checkbox>
        </m-form-item>
      </m-form-row>

      <div style="display: grid; grid-template-columns: 1fr auto 1fr; gap: 1rem">
        <div>
          <m-divider [mText]="'web.snomed.branch.management.total-descriptions' | translate : {total:descriptions.meta.total}"></m-divider>
          <m-backend-table [mResult]="descriptions" [(mQuery)]="descriptionParams" (mQueryChange)="loadDescriptions()" [mLoading]="loader.isLoading">
            <tr *mTableHead>
              <th></th>
              <th>{{'entities.snomed-description.concept-id' | translate}}</th>
              <th>{{'entities.snomed-description.description-id' | translate}}</th>
              <th>{{'entities.snomed-description.lang' | translate}}</th>
              <th>{{'entities.snomed-description.term' | translate}}</th>
            </tr>
            <tr *mTableRow="let description; let i = index">
              <td>
                <m-checkbox *ngIf="description.local" name="checked-{{i}}" [(ngModel)]="description['checked']"></m-checkbox>
              </td>
              <td><a [routerLink]="['/integration/snomed/dashboard', description.conceptId]">{{description.conceptId}}</a></td>
              <td>{{description.descriptionId}}</td>
              <td>{{description.lang}}</td>
              <td>{{description.term}}</td>
            </tr>
            <tr *mTableNoData>
              <td colspan="100%">
                <m-no-data></m-no-data>
              </td>
            </tr>
          </m-backend-table>
        </div>
        <div style="align-self: center; display: flex; flex-direction: column; gap: 1rem" *ngIf="snomedBranch.state === 'UP_TO_DATE' && !snomedBranch.locked">
          <m-button>
            <m-icon mCode="left"></m-icon>
          </m-button>
          <m-button>
            <m-icon mCode="right"></m-icon>
          </m-button>
        </div>
        <div *ngIf="!snomedBranch.locked">
          <m-divider [mText]="'web.snomed.branch.management.unlinked-translations' | translate : {count: translations.length || 0}"></m-divider>
          <m-table [mData]="translations" [mLoading]="loader.isLoading">
            <tr *mTableHead>
              <th></th>
              <th>{{'entities.snomed-translation.concept-id' | translate}}</th>
              <th>{{'entities.snomed-translation.description-id' | translate}}</th>
              <th>{{'entities.snomed-translation.language' | translate}}</th>
              <th>{{'entities.snomed-translation.term' | translate}}</th>
            </tr>
            <tr *mTableRow="let translation;let i = index">
              <td>
                <m-checkbox name="checked-{{i}}" [(ngModel)]="translations['checked']"></m-checkbox>
              </td>
              <td><a>{{translation.conceptId}}</a></td>
              <td>{{translation.descriptionId}}</td>
              <td>{{translation.language}}</td>
              <td>{{translation.term}}</td>
            </tr>
            <tr *mTableNoData>
              <td colspan="100%">
                <m-no-data></m-no-data>
              </td>
            </tr>
          </m-table>
        </div>
      </div>
    </div>

    <m-button *m-card-footer mDisplay="primary" [mLoading]="loader.state['save']" [disabled]="loader.isLoading" (mClick)="save()">
      {{'core.btn.save' | translate}}
    </m-button>
  </m-card>
</m-spinner>


<m-modal [(mVisible)]="lockModalData.visible" (mClose)="lockModalData = {visible: false}">
  <m-title *mModalHeader>
    {{'web.snomed.branch.management.lock-modal.header' | translate}}
  </m-title>

  <ng-container *mModalContent>
    <form #lockModalForm="ngForm">
      <m-form-item mName="message" mLabel="web.snomed.branch.management.lock-modal.message" required>
        <m-input name="message" [(ngModel)]="lockModalData.message" required></m-input>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="lockModalData.visible = false">
      {{'core.btn.cancel' | translate}}
    </m-button>
    <m-button mDisplay="primary" (click)="lock()">
      {{'core.btn.confirm' | translate}}
    </m-button>
  </div>
</m-modal>

<m-modal [(mVisible)]="exportModalData.visible" (mClose)="exportModalData = {visible: false}">
  <m-title *mModalHeader>
    {{'web.snomed.branch.management.export-modal.header' | translate}}
  </m-title>

  <ng-container *mModalContent>
    <form #exportModalForm="ngForm">
      <m-form-item mName="type" mLabel="web.snomed.branch.management.export-modal.type" required>
        <m-select name="type" [(ngModel)]="exportModalData.type" required>
          <m-option [mValue]="'delta'" [mLabel]=""></m-option>
        </m-select>
        <m-input name="type" [(ngModel)]="exportModalData.type" required></m-input>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="exportModalData.visible = false">
      {{'core.btn.cancel' | translate}}
    </m-button>
    <m-button mDisplay="primary" (click)="exportToRF2()">
      {{'core.btn.confirm' | translate}}
    </m-button>
  </div>
</m-modal>
