<tw-table [(filterOpen)]="filter.open">
  <!-- Header -->
  <div header class="m-justify-between">
    <span>{{'entities.task.plural' | translate}}</span>

    <div class="m-items-middle">
      <!-- Quick Search -->
      <m-input
          *ngIf="!filter.open"
          [(ngModel)]="filter.searchInput"
          twDebounce [debounced]="onDebounced"
          placeholder="marina.ui.inputs.search.placeholder"
          autofocus
      ></m-input>

      <!-- Add actions -->
      <tw-add-button *twPrivileged="'*.Task.edit'" [routerLink]="['./add']">
        {{'web.task.add-btn' | translate}}
      </tw-add-button>

      <!-- Finder -->
      <m-button *ngIf="!filter.open" [mDisplay]="(filter | apply: isFilterSelected) ? 'primary' : 'default'" (mClick)="onFilterOpen()">
        <m-icon mCode="filter"/>
      </m-button>
    </div>
  </div>

  <!-- Filter -->
  <tw-table-filter (twSearch)="onFilterSearch()" (twReset)="onFilterReset()">
    <m-form-item *ngIf="filter.open">
      <m-input
          [(ngModel)]="_filter.searchInput"
          placeholder="marina.ui.inputs.search.placeholder"
          autofocus
      ></m-input>
    </m-form-item>

    <m-form-item mLabel="web.task.filter.presets.header">
      <div style="display: flex; flex-direction: column">
        <a (click)="onFilterPresetSelect('mine')">{{'web.task.filter.presets.mine' | translate}}</a>
        <a (click)="onFilterPresetSelect('to-me')">{{'web.task.filter.presets.to-me' | translate}}</a>
      </div>
    </m-form-item>

    <m-form-item mLabel="web.task.filter.project">
      <m-select [(ngModel)]="_filter.project" multiple>
        <m-option *ngFor="let p of projects" [mLabel]="p.names | localName" [mValue]="p.code"/>
      </m-select>
    </m-form-item>

    <m-form-item mLabel="web.task.filter.status">
      <div class="m-items-middle">
        <m-select style="flex: 1" [(ngModel)]="_filter.statusOption" (ngModelChange)="_filter.status = undefined">
          <m-option mLabel="Open" mValue="open"/>
          <m-option mLabel="Is (Or)" mValue="is"/>
          <m-option mLabel="Close" mValue="close"/>
          <m-option mLabel="Is not" mValue="is-not"/>
        </m-select>
        <tw-value-set-concept-select style="flex: 1"
            *ngIf="['is', 'is-not'] | includes: _filter.statusOption"
            [(ngModel)]="_filter.status"
            valueSet="task-status"
            multiple
        ></tw-value-set-concept-select>
      </div>
    </m-form-item>

    <m-form-item mLabel="web.task.filter.assignee">
      <m-select [(ngModel)]="_filter.assignee">
        <m-option *ngFor="let user of users" [mLabel]="user.name" [mValue]="user.sub"/>
      </m-select>
    </m-form-item>

    <m-form-item mLabel="web.task.filter.priority">
      <tw-value-set-concept-select [(ngModel)]="_filter.priority" valueSet="request-priority" multiple/>
    </m-form-item>

    <m-form-item mLabel="web.task.filter.type">
      <m-select [(ngModel)]="_filter.type">
        <m-option mLabel="Task" mValue="task"/>
        <m-option mLabel="Phase" mValue="phase"/>
        <m-option mLabel="Epic" mValue="epic"/>
        <m-option mLabel="Feature" mValue="feature"/>
        <m-option mLabel="Milestone" mValue="milestone"/>
        <m-option mLabel="Bug" mValue="bug"/>
        <m-option mLabel="User story" mValue="user-story"/>
      </m-select>
    </m-form-item>

    <m-form-item mLabel="web.task.filter.author">
      <m-select [(ngModel)]="_filter.author">
        <m-option *ngFor="let user of users" [mLabel]="user.name" [mValue]="user.sub"/>
      </m-select>
    </m-form-item>

    <m-form-item mLabel="web.task.filter.created">
      <div class="m-items-middle">
        <m-date-picker style="flex: 1" [(ngModel)]="_filter.createdFrom"/>
        <m-date-picker style="flex: 1" [(ngModel)]="_filter.createdTo"/>
      </div>
    </m-form-item>

    <m-form-item mLabel="web.task.filter.finished">
      <div class="m-items-middle">
        <m-date-picker style="flex: 1" [(ngModel)]="_filter.finishedFrom"/>
        <m-date-picker style="flex: 1" [(ngModel)]="_filter.finishedTo"/>
      </div>
    </m-form-item>
  </tw-table-filter>


  <!-- Backend Table -->
  <m-backend-table [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="loadData()" [mLoading]="loader.isLoading">
    <tr *mTableHead>
      <th mColumnKey="number">{{'entities.task.number' | translate}}</th>
      <th mColumnKey="title">{{'entities.task.title' | translate}}</th>
      <th mColumnKey="type">{{'entities.task.type' | translate}}</th>
      <th mColumnKey="status">{{'entities.task.status' | translate}}</th>
      <th mColumnKey="assignee">{{'entities.task.assignee' | translate}}</th>
      <th mColumnKey="author">{{'entities.task.author' | translate}}</th>
      <th mColumnKey="created">{{'entities.task.created' | translate}}</th>
      <th mColumnKey="updated">{{'entities.task.modified' | translate}}</th>
    </tr>

    <tr *mTableRow="let task">
      <td>
        <a *ngIf="'*.Task.edit' | twHasAnyPrivilege; else view" [routerLink]="[task.number, 'edit']">{{task.number}}</a>
        <ng-template #view>{{task.number}}</ng-template>
      </td>
      <td>{{task.title}}</td>
      <td><tw-task-type [ngModel]="task.type" readonly/></td>
      <td><tw-task-status [status]="task.status"/></td>
      <td>
        <label *ngIf="task.assignee">{{task.assignee}}</label>
        <m-icon *ngIf="!task.assignee" mCode="question"/>
      <td>{{task.createdBy}}</td>
      <td>{{task.createdAt | localDate}}</td>
      <td>{{task.updatedAt | localDate}}</td>
    </tr>
    <tr *mTableNoData>
      <td colspan="5">
        <m-no-data/>
      </td>
    </tr>
  </m-backend-table>
</tw-table>

