<m-card>
  <div *m-card-header class="m-justify-between">
    <m-title>{{'web.map-set-version.summary.associations.unmapped-concepts' | translate}}</m-title>

    <m-input [(ngModel)]="searchInput" twDebounce [debounced]="onSearch" placeholder="marina.ui.inputs.search.placeholder"></m-input>
  </div>

  <m-backend-table [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="loadData()" [mLoading]="loading">
    <tr *mTableHead>
      <th>{{'web.map-set-version.summary.associations.code' | translate}}</th>
      <th>{{'web.map-set-version.summary.associations.display' | translate}}</th>
      <th class="tw-table-min-width"></th>
    </tr>

    <tr *mTableRow="let c">
      <td><a>{{c.code}}</a></td>
      <td>{{c.display?.name}}</td>
      <td>
        <m-dropdown>
          <a *m-dropdown-item (mClick)="drawerComponent.openDrawer(c)">{{'web.map-set-version.summary.associations.add-target' | translate}}</a>
          <a *m-dropdown-item (mClick)="createNoMap(c)">{{'web.map-set-version.summary.associations.set-as-no-map' | translate}}</a>
        </m-dropdown>
      </td>
    </tr>
    <tr *mTableNoData>
      <td colspan="100%">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-backend-table>
</m-card>

<tw-map-set-association-drawer [mapSet]="mapSet"
    [mapSetVersion]="mapSetVersion"
    [associationTypes]="associationTypes"
    [targetExternal]="targetExternal"
    (twSaved)="loadData()"></tw-map-set-association-drawer>
