<m-card>
  <div *m-card-header class="m-justify-between">
    <div class="m-items-middle">
      <m-title>{{'web.map-set-version.summary.associations.source-concepts' | translate}}</m-title>
      <m-button (mClick)="verifyChecked()">{{'web.map-set-version.summary.associations.verify' | translate}}</m-button>
    </div>
    <div class="m-items-middle">
      <m-checkbox [(ngModel)]="unverified" (ngModelChange)="loadData()">{{'web.map-set-version.summary.associations.unverified' | translate}}</m-checkbox>
      <m-input [(ngModel)]="searchInput" twDebounce [debounced]="onSearch" placeholder="marina.ui.inputs.search.placeholder"></m-input>
    </div>
  </div>

  <m-backend-table [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="loadData()" [mLoading]="loading">
    <tr *mTableHead>
      <th class="tw-table-min-width"></th>
      <th>{{'web.map-set-version.summary.associations.code' | translate}}</th>
      <th>{{'web.map-set-version.summary.associations.display' | translate}}</th>
      <th>{{'web.map-set-version.summary.associations.mappings' | translate}}</th>
      <th class="tw-table-min-width"></th>
    </tr>

    <tr *mTableRow="let c">
      <td>
        <m-checkbox [(ngModel)]="c['_checked']"></m-checkbox>
      </td>
      <td><a>{{c.code}}</a></td>
      <td>{{c.display?.name}}</td>
      <td>
        <ng-container *ngIf="c.associations | apply: collectAssociations as groups">
          <div *ngFor="let relationship of groups | keys" class="m-items-middle">
            <label class="m-bold">{{relationship | apply:getRelationName:associationTypes}}</label>
            <m-icon mCode="arrow-right"></m-icon>
            <label>{{groups[relationship] | map: 'target.code' | join: ','}}</label>
          </div>
        </ng-container>
        <label *ngIf="c.associations | apply: hasNoMap">{{'web.map-set-version.summary.statistics.no-map'}}</label>
        <a *ngIf="!(c.associations?.length > 0)" (mClick)="drawerComponent.openDrawer(c)">{{'web.map-set-version.summary.associations.add-target' | translate}}</a>
      </td>
      <td>
        <m-dropdown>
          <a *m-dropdown-item (mClick)="drawerComponent.openDrawer(c)">{{'web.map-set-version.summary.associations.add-target' | translate}}</a>
          <a *m-dropdown-item (mClick)="createNoMap(c)">{{'web.map-set-version.summary.associations.set-as-no-map' | translate}}</a>
          <a *m-dropdown-item (mClick)="unmap(c)">{{'web.map-set-version.summary.associations.unmap' | translate}}</a>
          <a *m-dropdown-item (mClick)="verify(c)">{{'web.map-set-version.summary.associations.mark-as-verified' | translate}}</a>
        </m-dropdown>
      </td>
    </tr>
    <tr *mTableNoData>
      <td colspan="100%">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-backend-table>
</m-card>

<tw-map-set-association-drawer [mapSet]="mapSet"
    [mapSetVersion]="mapSetVersion"
    [associationTypes]="associationTypes"
    [targetExternal]="targetExternal"
    (twSaved)="loadData()"></tw-map-set-association-drawer>
