<form *ngIf="resource">
  <m-form-item mName="source" mLabel="entities.transformation-definition.source" [required]="!disabled">
    <m-radio-group name="source" [(ngModel)]="resource.source" [disabled]="disabled">
      <label m-radio-button mValue="local" *ngIf="resource !== definition.mapping">
        {{ ('entities.transformation-definition.source-local' | translate) }}
      </label>
      <label m-radio-button mValue="url">{{ ('entities.transformation-definition.source-url' | translate) }}</label>
      <label m-radio-button
          mValue="static"
          *ngIf="resource.type !== 'mapping' || resource === definition.mapping"
      >{{ ('entities.transformation-definition.source-static' | translate) }}</label>
    </m-radio-group>
  </m-form-item>


  <!-- local -->
  <ng-container *ngIf="resource.source === 'local'">
    <ng-container *ngIf="resource.type === 'definition'">
      <m-form-item mName="structureDefinition" mLabel="web.transformation-definition.resource-form.definition" [required]="!disabled">
        <tw-structure-definition-select
            name="structureDefinition"
            [ngModel]="resource.reference.localId | toNumber"
            (twSelect)="onDefinitionSelect($event)"
            valueType="id"
            [disabled]="disabled"
        ></tw-structure-definition-select>
      </m-form-item>

      <ng-container *ngIf="resource.reference.localId">
        <tw-structure-definition-tree [defId]="resource.reference.localId | toNumber"/>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="resource.type === 'conceptmap'">
      <m-form-item mName="conceptmap" mLabel="web.transformation-definition.resource-form.map-set" [required]="!disabled">
        <tw-map-set-search
            name="conceptmap"
            [ngModel]="resource.reference.localId"
            (ngModelChange)="onMapSetSelect($event)"
            [valuePrimitive]="false"
            [disabled]="disabled"
        ></tw-map-set-search>
      </m-form-item>
    </ng-container>

    <ng-container *ngIf="resource.type === 'mapping'">
      <m-form-item mName="mapping" mLabel="web.transformation-definition.resource-form.mapping" [required]="!disabled">
        <tw-transformation-definition-select
            name="mapping"
            [ngModel]="resource.reference.localId | toNumber"
            (twSelect)="onStructureMapSelect($event)"
            valueType="id"
            [disabled]="disabled"
        ></tw-transformation-definition-select>
      </m-form-item>
    </ng-container>
  </ng-container>


  <!-- url -->
  <ng-container *ngIf="resource.source === 'url'">
    <m-form-item mName="fhirServer" mLabel="web.transformation-definition.resource-form.fhir-server">
      <m-select name="fhirServer" [(ngModel)]="resource.reference.resourceServerId" [disabled]="disabled">
        <m-option *ngFor="let server of servers$ | async" [mValue]="server.id" [mLabel]="server.names | localName"></m-option>
      </m-select>
    </m-form-item>

    <m-form-item mName="resourceUrl" mLabel="web.transformation-definition.resource-form.resource-url" class="tw-input-group" [required]="!disabled">
      <div style="display: inherit; width: 100%">
        <span class="tw-input-group-addon ant-input-group-addon" *ngIf="resource.reference.resourceServerId">
          {{resource.reference.resourceServerId | apply: getServerUrl | async}}{{urlSuffix[resource.type]}}
        </span>

        <m-input
            name="resourceUrl"
            [(ngModel)]="resource.reference['_url']"
            (ngModelChange)="onResourceUrlChange(resource); resource.name = $event; resource['_preview'] = undefined"
            [disabled]="disabled"
            [required]="!disabled"
        ></m-input>
      </div>
    </m-form-item>

    <ng-container *ngIf="resource.type === 'definition'">
      <m-button
          mSize="small"
          mDisplay="dashed"
          [mLoading]="loader.state['preview-' + resource.name]"
          (mClick)="resource['_preview'] ? resource['_preview'] = undefined : previewResourceUrl(resource)"
      >
        {{ ('web.transformation-definition.resource-form.' + (resource['_preview'] ? 'preview-hide' : 'preview-show')) | translate }}
      </m-button>

      <ng-container *ngIf="resource['_preview'] as data">
        <tw-structure-definition-tree *ngIf="data.value" [content]="data.value"/>
        <m-alert
            *ngIf="data.error"
            mTitle="web.transformation-definition.resource-form.invalid-resource-url"
            [mDescription]="data.error"
            mType="error"
            mShowIcon
            style="margin-block: .5rem 0"
        />
      </ng-container>
    </ng-container>
  </ng-container>


  <!-- static -->
  <ng-container *ngIf="resource.source === 'static'">
    <ng-container *ngIf="resource !== definition.mapping">
      <m-form-item mName="name" mLabel="entities.transformation-definition.name" [required]="!disabled">
        <m-input [(ngModel)]="resource.name" name="name" [required]="!disabled" [disabled]="disabled"/>
      </m-form-item>

      <m-form-item mLabel="web.transformation-definition.resource-form.url" *ngIf="resource.reference.content | apply: findUrl as url">
        {{ url }}
      </m-form-item>
    </ng-container>


    <m-form-item *ngIf="{showPreview: false} as d" mName="content" [mLabel]="lbl" [required]="!disabled">
      <ng-template #lbl>
        <span>{{ 'web.transformation-definition.resource-form.content' | translate }}</span>
        <ng-container *ngIf="resource === definition.mapping && !resource.reference.content && definition.name">
          &nbsp;|&nbsp; <a (click)="generateMap()">{{ 'web.transformation-definition.resource-form.generate' | translate }}</a>
        </ng-container>
      </ng-template>


      <!-- actions -->
      <div style="position: absolute; right: 0; top: -2rem" class="m-items-middle">
        <m-button *ngIf="resource.type === 'definition'" mSize="small" mDisplay="dashed" (mClick)="d.showPreview = !d.showPreview">
          <m-icon [mCode]="!d.showPreview ? 'read' : 'menu-unfold'"/>
          &nbsp;{{ ('web.transformation-definition.resource-form.' + (d.showPreview ? 'preview-hide' : 'preview-show')) | translate }}
        </m-button>

        <ng-container *ngIf="resource.type === 'mapping'">
          <m-button
              *ngIf="resource === definition.mapping"
              mSize="small"
              mDisplay="dashed"
              [disabled]="!definition.name"
              [mTooltip]="!definition.name"
              mTitle="web.transformation-definition.resource-form.visual-editor-disabled"
              mPosition="left"
              (mClick)="launchEditor()"
          >
            <m-icon [mCode]="loader.state['visual-editor'] ? 'loading' : 'experiment'"/>&nbsp;{{ 'web.transformation-definition.resource-form.visual-editor' | translate }}
          </m-button>

          <ng-container *ngIf="resource.reference.content | apply: fmlContent as fml">
            <m-button
                mSize="small"
                mDisplay="dashed"
                m-popconfirm
                mPopconfirmTitle="web.transformation-definition.resource-form.switch-to-text-editor.warning"
                mConfirmText="web.transformation-definition.resource-form.switch-to-text-editor.confirm"
                mCancelText="web.transformation-definition.resource-form.switch-to-text-editor.cancel"
                (mOnConfirm)="switchToTextEditor()"
            >
              {{ 'web.transformation-definition.resource-form.switch-to-text-editor.title' | translate }}
            </m-button>

            <m-dropdown>
              <m-button *m-dropdown-container mSize="small" mDisplay="dashed">
                <m-icon mCode="download"/> &nbsp;{{ 'web.transformation-definition.resource-form.save-as' | translate }}&nbsp;
                <m-icon mCode="caret-down"/>
              </m-button>
              <a *m-dropdown-item (mClick)="downloadContent(fml, 'plain')">
                {{ 'web.transformation-definition.resource-form.download-fml' | translate }}
              </a>
              <a *m-dropdown-item (mClick)="downloadContent(resource.reference.content, 'json')">
                {{ 'web.transformation-definition.resource-form.download-json' | translate }}
              </a>
            </m-dropdown>
          </ng-container>

          <m-dropdown *ngIf="resource.reference.content | apply: isFml">
            <m-button *m-dropdown-container mSize="small" mDisplay="dashed">
              <m-icon mCode="download"/> &nbsp;{{ 'web.transformation-definition.resource-form.save-as' | translate }}&nbsp;
              <m-icon mCode="caret-down"/>
            </m-button>
            <a *m-dropdown-item (mClick)="downloadMap('json')">
              {{ 'web.transformation-definition.resource-form.download-json' | translate }}
            </a>
            <a *m-dropdown-item (mClick)="downloadMap('xml')">
              {{ 'web.transformation-definition.resource-form.download-xml' | translate }}
            </a>
          </m-dropdown>
        </ng-container>
      </div>


      <!-- content -->
      <div class="m-items-top">
        <div *ngIf="resource.reference.content | apply: hasFml; else def">
          <ng-container *ngIf="resource.reference.content | apply: svgContent as svg; else fml">
            <img *ngIf="svg" [src]="svg">
          </ng-container>

          <ng-template #fml>
            <span class="m-whitespace-pre">{{ (resource.reference.content | apply: fmlContent) ?? resource.reference.content }}</span>
          </ng-template>
        </div>

        <ng-template #def>
          <m-textarea
              style="flex: 1"
              name="content"
              [(ngModel)]="resource.reference.content"
              (ngModelChange)="onContentChange()"
              [autosize]="{minRows: 5, maxRows: 30}"
              [disabled]="disabled | toBoolean"
              [required]="!disabled"
          ></m-textarea>
        </ng-template>

        <tw-structure-definition-tree
            style="flex: 1"
            *ngIf="d.showPreview && resource.type === 'definition'"
            [content]="resource.reference.content"
        ></tw-structure-definition-tree>
      </div>


      <div class="m-items-middle">
        <m-button style="padding-top: 5px" *ngIf="resource.type === 'mapping' && (resource.reference.content | apply:isFml)" (mClick)="compileMap()">
          {{ 'web.transformation-definition.resource-form.compile' | translate }}
        </m-button>
      </div>
    </m-form-item>
  </ng-container>
</form>
