<form #form="ngForm" *ngIf="resource">

  <m-form-item mName="source" mLabel="entities.transformation-definition.source" required>
    <m-radio-group name="source" [(ngModel)]="resource.source">
      <label m-radio-button mValue="definition" *ngIf="resource.type === 'definition'">
        {{('entities.transformation-definition.source-definition' | translate)}}
      </label>
      <label m-radio-button mValue="fhir">{{('entities.transformation-definition.source-fhir' | translate)}}</label>
      <label m-radio-button mValue="static">{{('entities.transformation-definition.source-static' | translate)}}</label>
    </m-radio-group>
  </m-form-item>
  <ng-container *ngIf="resource.source === 'definition'">
    <m-form-item mName="def" mLabel="web.transformation-definition.resource-form.definition" required>
      <tw-structure-definition-select name="def"
          [valuePrimitive]="false"
          [ngModel]="resource.reference.structureDefinitionId"
          (ngModelChange)="onDefinitionSelect($event)"></tw-structure-definition-select>
    </m-form-item>
    <ng-container *ngIf="resource.reference.structureDefinitionId">
      <m-divider></m-divider>
      <tw-structure-definition-tree [defId]="resource.reference.structureDefinitionId" mode="view"></tw-structure-definition-tree>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="resource.source === 'fhir'">
    <m-form-item mName="fhirServer" mLabel="web.transformation-definition.resource-form.fhir-server" required>
      <m-input [(ngModel)]="resource.reference.fhirServer" name="fhirServer" required></m-input>
    </m-form-item>
    <m-form-item mName="fhirResource" mLabel="web.transformation-definition.resource-form.fhir-resource" required>
      <m-input [(ngModel)]="resource.reference.fhirResource" name="fhirResource" required (ngModelChange)="resource.name = $event"></m-input>
    </m-form-item>
  </ng-container>
  <ng-container *ngIf="resource.source === 'static'">
    <m-form-item mName="name" mLabel="entities.transformation-definition.name" required>
      <m-input [(ngModel)]="resource.name" name="name" required></m-input>
    </m-form-item>
    <m-form-item mName="content" mLabel="web.transformation-definition.resource-form.content" required>
      <m-textarea [(ngModel)]="resource.reference.content" name="content" [autosize]="{minRows: 5, maxRows: 30}" required></m-textarea>
    </m-form-item>
  </ng-container>
</form>
