<form #form="ngForm" *ngIf="resource">

  <m-form-item mName="source" mLabel="entities.transformation-definition.source" required>
    <m-radio-group name="source" [(ngModel)]="resource.source">
      <label m-radio-button mValue="local" *ngIf="resource.type !== 'mapping'">
        {{('entities.transformation-definition.source-local' | translate)}}
      </label>
      <label m-radio-button mValue="fhir">{{('entities.transformation-definition.source-fhir' | translate)}}</label>
      <label m-radio-button mValue="static">{{('entities.transformation-definition.source-static' | translate)}}</label>
    </m-radio-group>
  </m-form-item>
  <ng-container *ngIf="resource.source === 'local' && resource.type === 'definition'">
    <m-form-item mName="def" mLabel="web.transformation-definition.resource-form.definition" required>
      <tw-structure-definition-select name="def"
          [valuePrimitive]="false"
          [ngModel]="resource.reference.localId | toNumber"
          (ngModelChange)="onDefinitionSelect($event)"
      ></tw-structure-definition-select>
    </m-form-item>
    <ng-container *ngIf="resource.type === 'definition' && resource.reference.localId">
      <m-divider></m-divider>
      <tw-structure-definition-tree [defId]="resource.reference.localId | toNumber" mode="view"></tw-structure-definition-tree>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="resource.source === 'local' && resource.type === 'conceptmap'">
    <m-form-item mName="conceptmap" mLabel="web.transformation-definition.resource-form.map-set" required>
      <tw-map-set-search name="conceptmap"
          [valuePrimitive]="false"
          [ngModel]="resource.reference.localId"
          (ngModelChange)="onMapSetSelect($event)"
      ></tw-map-set-search>
    </m-form-item>
  </ng-container>
  <ng-container *ngIf="resource.source === 'fhir'">
    <m-form-item mName="fhirServer" mLabel="web.transformation-definition.resource-form.fhir-server" required>
      <m-input [(ngModel)]="resource.reference.fhirServer" name="fhirServer" required></m-input>
    </m-form-item>
    <m-form-item mName="fhirResource" mLabel="web.transformation-definition.resource-form.fhir-resource" required>
      <m-input [(ngModel)]="resource.reference.fhirResource" name="fhirResource" required (ngModelChange)="resource.name = $event"></m-input>
    </m-form-item>
  </ng-container>
  <ng-container *ngIf="resource.source === 'static'">
    <m-form-item *ngIf="resource !== definition.mapping" mName="name" mLabel="entities.transformation-definition.name" required>
      <m-input [(ngModel)]="resource.name" name="name" required></m-input>
    </m-form-item>
    <m-form-item *ngIf="resource !== definition.mapping && resource.source === 'static' && !!resource.reference.content"
        mLabel="web.transformation-definition.resource-form.url"
    >
      {{resource.reference.content | apply:findUrl}}
    </m-form-item>
    <m-form-item mName="content" [mLabel]="lbl" required *ngIf="{showPreview: false} as d">
      <ng-template #lbl>
        <span>{{'web.transformation-definition.resource-form.content' | translate}}</span>
        <ng-container *ngIf="resource.type === 'mapping' && !resource.reference.content">
          &nbsp;|&nbsp; <a (click)="generateMapping()">{{'web.transformation-definition.resource-form.generate' | translate}}</a>
        </ng-container>
      </ng-template>

      <div style="position: absolute; right: 0; top: -2rem">
        <m-button mSize="small" mDisplay="dashed" *ngIf="resource.type === 'definition'" (mClick)="d.showPreview = !d.showPreview">
          <m-icon [mCode]="!d.showPreview ? 'read' : 'menu-unfold'"/>
          &nbsp;{{('web.transformation-definition.resource-form.' + (d.showPreview ? 'preview-hide' : 'preview-show')) | translate}}
        </m-button>
        <m-dropdown *ngIf="resource.type === 'mapping' && (resource.reference.content | apply:isFml)">
          <m-button *m-dropdown-container mSize="small" mDisplay="dashed">
            <m-icon mCode="download"/> &nbsp;{{'web.transformation-definition.resource-form.save-as' | translate}}&nbsp;
            <m-icon mCode="caret-down"/>
          </m-button>
          <a *m-dropdown-item (mClick)="downloadMap('json')">
            {{'web.transformation-definition.resource-form.download-json' | translate}}
          </a>
          <a *m-dropdown-item (mClick)="downloadMap('xml')">
            {{'web.transformation-definition.resource-form.download-xml' | translate}}
          </a>
        </m-dropdown>
      </div>

      <div class="m-items-top">
        <m-textarea
            style="flex: 1"
            [(ngModel)]="resource.reference.content"
            (ngModelChange)="onContentChange()"
            name="content"
            [autosize]="{minRows: 5, maxRows: 30}"
            required
        ></m-textarea>

        <tw-structure-definition-tree
            *ngIf="d.showPreview && resource.type === 'definition'"
            style="flex: 1"
            [content]="resource.reference.content"
        ></tw-structure-definition-tree>
      </div>

      <div class="m-items-middle">
        <m-button style="padding-top: 5px" *ngIf="resource.type === 'mapping' && (resource.reference.content | apply:isFml)" (mClick)="compile()">
          {{'web.transformation-definition.resource-form.compile' | translate}}
        </m-button>
        <m-button style="padding-top: 5px" *ngIf="resource.type === 'mapping' && resource.source === 'static'" (mClick)="visualEditor()">
          <m-icon mCode="experiment"/>&nbsp;{{'Visual editor' | translate}}
        </m-button>
      </div>
    </m-form-item>
  </ng-container>
</form>
