<m-card>
  <div style="display: flex">
    <m-collapse-panel class="tw-transformation-definition-collapse-panel" mResizable mKey="transform-definition" [mResizableMinWidth]="250">
      <div>
        <div *ngFor="let type of types">
          <div class="m-items-middle resource-dir">
            <m-icon mCode="folder"/>
            {{('web.transformation-definition.resources.type.' + type) | translate}}

            <m-icon-button
                *ngIf="type==='mapping'"
                [mIcon]="loader.state.import ? 'loading' : 'sync'"
                mSize="small"
                (mClick)="importResourcesFromImportMaps()"
            ></m-icon-button>
          </div>

          <div
              *ngFor="let res of definition.resources | filter:filterByType:type | sort: 'name'"
              class="m-items-middle resource"
              [class.resource--selected]="selectedResource === res"
              [class.resource--invalid]="res | apply:isResourceInvalid:selectedResource"
              [class.resource--imported]="res?.['_imported']"
              (click)="onResourceSelect(res)"
          >
            <m-icon [mCode]="res.source === 'local' ? 'file-done' : res.source === 'url' ? 'fire' : 'file'"/>
            <div>{{(res.name | apply: compactName: res.source) || ('web.transformation-definition.resources.new' | translate)}}</div>
          </div>

          <div class="resource-add">
            <m-button mSize="small" mDisplay="dashed" (mClick)="onResourceAdd(type)" style="padding: 3px">
              <div class="m-items-middle">
                <m-icon mCode="plus"/>
                {{'core.btn.add' | translate}}
              </div>
            </m-button>
          </div>
        </div>

        <div class="m-items-middle resource-dir">
          <m-icon mCode="folder"/>
          {{('web.transformation-definition.resources.type.mapping-main') | translate}}
        </div>

        <div class="m-items-middle resource"
            [class.resource--selected]="selectedResource === definition.mapping"
            [class.resource--invalid]="definition.mapping | apply:isResourceInvalid:selectedResource"
            (click)="onResourceSelect(definition.mapping)"
        >
          <m-icon [mCode]="definition.mapping.source === 'url' ? 'fire' : 'file'"/>
          <div>{{definition.mapping.name || ('web.transformation-definition.resources.new' | translate)}}</div>
        </div>
      </div>
    </m-collapse-panel>


    <div class="tw-transformation-definition-container">
      <m-button
          *ngIf="selectedResource !== definition.mapping"
          style="position: absolute; right: 0; z-index: 100"
          mSize="small"
          mDisplay="dashed"
          m-popconfirm
          mPopconfirmTitle="core.delete-confirm"
          (mOnConfirm)="onResourceDelete(selectedResource)"
      >
        <m-icon mCode="delete"/>
      </m-button>


      <m-alert
          *ngIf="selectedResource?.['_imported']"
          class="tw-alert--no-line m-rounded"
          mTitle="web.transformation-definition.import.import-map.title"
          mDescription="web.transformation-definition.import.import-map.description"
          mType="warning"
          mShowIcon
      ></m-alert>

      <tw-transformation-definition-resource-form
          style="position: sticky; top: calc(var(--page-header-height) + var(--page-content-padding));"
          [definition]="definition"
          [resource]="selectedResource"
          [disabled]="selectedResource?.['_imported']"
      ></tw-transformation-definition-resource-form>
    </div>
  </div>
</m-card>
