<m-card>
  <div *m-card-header class="tw-card-header">
    <m-input [(ngModel)]="searchInput" (mChange)="searchUpdate.next($event)" placeholder="marina.ui.inputs.search.placeholder"></m-input>
    <m-button [routerLink]="'code-systems/add'">
      <m-icon [code]="'plus'"></m-icon> &nbsp; {{'web.code-system.form.add-header' | translate}}
    </m-button>
  </div>

  <!-- todo: m-backend-table -->
  <m-table [data]="searchResult.data"
      [loading]="loading"
      outlined
      enablePagination
      manualPagination
      [total]="searchResult.meta.total"
      [pageSize]="query.limit"
      [(pageIndex)]="query['page']"
      (pageIndexChange)="loadData()"
      (sortOrderChange)="sortChange($event.key, $event.order)"
  >
    <tr *mTableHead>
      <th></th>
      <th mColumnKey="id">{{'web.code-system.entity.id' | translate}}</th>
      <th mColumnKey="name">{{'web.code-system.entity.name' | translate}}</th>
      <th mColumnKey="uri">{{'web.code-system.entity.domain' | translate}}</th>
      <th class="tw-table-actions">{{'web.code-system.list.operations' | translate}}</th>
    </tr>

    <tr *mTableRow="let cs">
      <td m-table-expand [item]="cs"></td>
      <td><a [routerLink]="['code-systems',cs.id,'edit']">{{cs.id}}</a></td>
      <td>{{cs.names | localName}}</td>
      <td>{{cs.uri | apply: parseDomain}}</td>
      <td class="tw-table-actions">
        <m-button>
          <m-icon [code]="'delete'"></m-icon>
        </m-button>
        <m-button (click)="duplicateModal.toggleModal(cs.id)">
          <m-icon [code]="'copy'"></m-icon>
        </m-button>
        <twa-code-system-duplicate-modal #duplicateModal (duplicated)="loadData()"></twa-code-system-duplicate-modal>
      </td>
    </tr>

    <tr *mTableRowExpand="let cs" class="m-table-expanded-row">
      <td colspan="5">
        <m-form-row full>
          <div *mFormCol>
            <m-form-item label="web.code-system.entity.uri">
              {{cs.uri}}
            </m-form-item>
            <m-form-item label="web.code-system.entity.description">
              {{cs.description}}
            </m-form-item>
            <m-form-item label="web.code-system.list.versions">
              <div *ngFor="let version of cs.versions">{{
                version | apply: getVersionTranslateTokens: ({
                  releaseDate: (version.releaseDate | localDate),
                  expirationDate: (version.expirationDate | localDate),
                  version: version.version
                }) | join: ' '}}
              </div>
            </m-form-item>
          </div>
        </m-form-row>
      </td>
    </tr>

    <tr *mTableNoData>
      <td colspan="5">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-table>
</m-card>

