<m-card class="m-card-inside">
  <div *m-card-header class="m-items-between">
    <div class="m-card-title">{{'web.map-set.list.versions' | translate}}</div>
    <twa-add-button [routerLink]="['../versions/add']">
      {{'web.map-set.list.add-version' | translate}}
    </twa-add-button>
  </div>

  <m-table [mData]="versions" [mLoading]="loading" mEnablePagination mHideOnSinglePage>
    <tr *mTableHead>
      <th>{{'entities.map-set-version.version' | translate}}</th>
      <th>{{'entities.map-set-version.source' | translate}}</th>
      <th>{{'entities.map-set-version.release-date' | translate}}</th>
      <th>{{'entities.map-set-version.expiration-date' | translate}}</th>
      <th>{{'entities.map-set-version.status' | translate}}</th>
      <th class="tw-table-actions"></th>
    </tr>

    <tr *mTableRow="let version">
      <td><a [routerLink]="['../versions', version.version, version.status === 'draft'? 'edit' : 'view']">{{version.version}}</a></td>
      <td>{{version.source}}</td>
      <td>{{version.releaseDate | localDate}}</td>
      <td>{{version.expirationDate | localDate}}</td>
      <td class="tw-table-min-width"><twa-status-tag [status]="version.status"></twa-status-tag></td>
      <td class="tw-table-actions">
        <m-dropdown>
          <a *mDropdownItemIf="version.status !== 'retired'" (click)="retireVersion(version)">
            {{'web.publication-status.operations.retire' | translate}}
          </a>
          <a *mDropdownItemIf="version.status === 'draft'" (click)="activateVersion(version)">
            {{'web.publication-status.operations.activate' | translate}}
          </a>
        </m-dropdown>
      </td>
    </tr>

    <tr *mTableNoData>
      <td colspan="5">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-table>
</m-card>
