<m-card class="tw-card-table">
  <div *m-card-header class="tw-card-header">
    <div class="m-card-title">{{'web.map-set.list.versions' | translate}}</div>
    <m-button [routerLink]="['../versions/add']" label="web.map-set.list.add-version"></m-button>
  </div>

  <m-table [data]="versions" [loading]="loading" enablePagination hideOnSinglePage>
    <tr *mTableHead>
      <th>{{'web.map-set-version.entity.version' | translate}}</th>
      <th>{{'web.map-set-version.entity.source' | translate}}</th>
      <th>{{'web.map-set-version.entity.release-date' | translate}}</th>
      <th>{{'web.map-set-version.entity.expiration-date' | translate}}</th>
      <th>{{'web.map-set-version.entity.status' | translate}}</th>
      <th class="tw-table-actions">{{'web.map-set.list.operations' | translate}}</th>
    </tr>

    <tr *mTableRow="let version">
      <td><a [routerLink]="['../versions', version.version, version.status === 'active'? 'view' : 'edit']">{{version.version}}</a></td>
      <td>{{version.source}}</td>
      <td>{{version.releaseDate | localDate}}</td>
      <td>{{version.expirationDate | localDate}}</td>
      <td>{{version.status}}</td>
      <td class="tw-table-actions">
        <a *ngIf="version.status === 'active'" (click)="retireVersion(version)">
          {{'web.publication-status.operations.retire' | translate}}
        </a>
        <a *ngIf="version.status !== 'active'" (click)="activateVersion(version)">
          {{'web.publication-status.operations.activate' | translate}}
        </a>
      </td>
    </tr>

    <tr *mTableNoData>
      <td colspan="5">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-table>
</m-card>
