<m-table [mData]="diffItems | apply:filterItems:filter" [mLoading]="loading">
  <tr *mTableHead>
    <th><m-checkbox [(ngModel)]="allChecked" name="checked" (ngModelChange)="checkAllItems($event)"/></th>
    <th mSort="resourceType">Resource type</th>
    <th mSort="resourceId">Resource id</th>
    <th>{{'entities.terminology-server.current-installation' | translate}}</th>
    <th *ngFor="let server of (diffItems | apply:extractServers)">
      <label>{{server}}</label>&nbsp;
      <m-button m-popover mTitle="web.space.change-source-server" (mClick)="changeSourceServer(server)"><m-icon mCode="aim"></m-icon></m-button>
    </th>
    <th>
      <div class="m-items-middle">
        <m-button [mDisplay]="filter.upToDate ? 'default' : 'text'" (mClick)="upToDateChanged(!filter.upToDate)"><m-icon style="color: green" mCode="check-circle"/></m-button>
        <m-button [mDisplay]="filter.notUpToDate ? 'default' : 'text'" (mClick)="notUpToDateChanged(!filter.notUpToDate)"><m-icon style="color: red" mCode="exclamation-circle"/></m-button>
        <m-divider mVertical/>
        <m-button m-popover mTitle="web.space.sync-resources" (mClick)="sync()"><m-icon mCode="sync"/></m-button>
        <m-button m-popconfirm mPopconfirmTitle="web.space.confirm" m-popover mTitle="web.space.clear-sync-resources" (mOnConfirm)="sync(true)">
          <m-icon mCode="sync"/>&nbsp;
          <m-icon mCode="warning"/>
        </m-button>
        <m-button m-popover mTitle="web.space.reload-diff-matrix" (mClick)="loadDiff(true)"><m-icon mCode="redo"/></m-button>
      </div>
    </th>
  </tr>

  <tr *mTableRow="let item; let i = index">
    <td><m-checkbox [(ngModel)]="item['_checked']" [name]="'checked' + i"/></td>
    <td>{{item.resourceType}}</td>
    <td>{{item.resourceId}}</td>
    <td>
      <ng-container *ngIf="!item.resourceServer">
        <label class="m-clickable" (click)="openDiff(item)"><m-icon style="color: green" mCode="check-circle"></m-icon></label>
      </ng-container>
    </td>
    <td *ngFor="let server of (diffItems | apply:extractServers)">
      <ng-container *ngIf="item.resourceServer === server">
        <label *ngIf="item.upToDate" class="m-clickable" (click)="openDiff(item)"><m-icon style="color: green" mCode="check-circle"/></label>
        <label *ngIf="!item.upToDate" class="m-clickable" (click)="openDiff(item)"><m-icon style="color: red" mCode="exclamation-circle"/></label>
      </ng-container>
    </td>
    <td></td>
  </tr>

  <tr *mTableNoData>
    <td colspan="6">
      <m-no-data></m-no-data>
    </td>
  </tr>
</m-table>
