<twa-finder-wrapper [loading]="isLoading" title="CODE SYSTEM VERSION">
  <div class="tw-finder-view-form">
    <m-form-item mLabel="entities.code-system-version.status">
      <twa-status-tag [status]="version?.status"></twa-status-tag>
    </m-form-item>

    <m-form-row mFull>
      <div *mFormCol>
        <m-form-item mLabel="entities.code-system-version.version">
          {{version?.version || '-'}}
        </m-form-item>
      </div>

      <div *mFormCol>
        <m-form-item mLabel="entities.code-system-version.source">
          {{version?.source || '-'}}
        </m-form-item>
      </div>
    </m-form-row>

    <m-form-row mFull>
      <div *mFormCol>
        <m-form-item mLabel="entities.code-system-version.preferred-language">
          {{version?.preferredLanguage || '-'}}
        </m-form-item>
      </div>

      <div *mFormCol>
        <m-form-item mLabel="entities.code-system-version.supported-languages">
          {{version?.supportedLanguages || '-'}}
        </m-form-item>
      </div>
    </m-form-row>

    <m-form-item mLabel="entities.code-system-version.description">
      {{version?.description || '-'}}
    </m-form-item>

    <m-form-row mFull>
      <div *mFormCol>
        <m-form-item mLabel="entities.code-system-version.release-date">
          {{(version?.releaseDate | localDate) || '-'}}
        </m-form-item>
      </div>

      <div *mFormCol>
        <m-form-item mLabel="entities.code-system-version.expiration-date">
          {{(version?.expirationDate | localDate) || '-'}}
        </m-form-item>
      </div>
    </m-form-row>
  </div>

  <!-- Entity versions -->
  <twa-finder-menu title="entities.code-system-version.entities" [length]="entityVersionResult.data.length">
    <twa-finder-menu-item *ngFor="let e of entityVersionResult.data">
      {{e.code}}
    </twa-finder-menu-item>

    <twa-finder-load-more-item
        *ngIf="entityVersionResult.data.length < entityVersionResult.meta.total"
        (twClick)="loadEntities(version.codeSystem, version.version,entityVersionResult.data.length + DEFAULT_ENTITY_VERSION_LIMIT)"
    ></twa-finder-load-more-item>
  </twa-finder-menu>
</twa-finder-wrapper>
