<m-select icon="select"
    placeholder="marina.ui.inputs.select.placeholder"
    [(ngModel)]="value"
    (mChange)="fireOnChange()"
    [loading]="isLoading"
    [autoSelect]="autoSelect | toBoolean"
    [autoUnselect]="true"
    [disabled]="!!disabled">
  <m-option *ngFor="let key of data | keys"
      [mValue]="valueType === 'id' ? data[key]?.id : data[key]?.version"
      [mLabel]="data[key]?.version + ((data[key]?.description | localName) ? (' (' + (data[key]?.description | localName)+ ')') : '' )"/>
</m-select>
