<m-table [mData]="concepts" mSize="small">
  <tr *mTableHead>
    @for (ep of entityProperties | apply: displayedProperties: _properties; track ep) {
      <th>
        @if (ep.name === 'code') {
          {{'entities.code-system-concept.code' | translate}} {{concepts?.length < conceptsTotal ? (concepts.length + '/' + conceptsTotal) : ''}}
        }
        @if (ep.name !== 'code') {
          {{ep.description | localName: ep.name}}
        }
      </th>
    }
  </tr>

  <tr *mTableRow="let c">
    @for (ep of entityProperties | apply: displayedProperties: _properties; track ep; let first = $first) {
      <td>
        @for (prop of c[ep.name]; track prop) {
          @if (!prop.lang || !_langs?.length  || (_langs | includes: prop.lang)) {
            <div
              [style.padding-left.px]="first ? (c['level'][0].value - 1) * 10 : undefined"
              >
              {{prop.value}}
            </div>
          }
        }
      </td>
    }
  </tr>

  <tr *mTableNoData>
    <td>
      <m-no-data></m-no-data>
    </td>
  </tr>
</m-table>
