<m-select *ngIf="!entityCode"
    icon="search"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    (mInputChange)="onSearch($event)"
    (mChange)="fireOnChange()"
    [loading]="isLoading"
    [filterOption]="filterOption"
    [autoUnselect]="false">
  <m-option *ngFor="let key of data | keys"
      [mValue]="data[key]?.id"
      [mLabel]="data[key]?.code + ' ' + (data[key]?.id | localizedConceptName: {codeSystem: codeSystem} | async) + ' ' + (data[key]?.created | localDate) + ' ' + (data[key]?.status | localizedConceptName: {valueSet: 'publication-status'} | async) "></m-option>
</m-select>


<m-select *ngIf="entityCode"
    icon="search"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    (mChange)="fireOnChange()"
    [loading]="isLoading"
    [filterOption]="filterOption"
    [autoUnselect]="true"
    [autoSelect]="false">
  <m-option *ngFor="let key of data | keys"
      [mValue]="data[key]?.id"
      [mLabel]="(data[key]?.created | localDate) + ' ' + (data[key]?.status | localizedConceptName: {valueSet: 'publication-status'} | async) "></m-option>
</m-select>
