<m-card class="m-card-inside">
  <div *m-card-header class="m-items-between">
    <div class="m-card-title">
      {{'web.map-set-entity-version.table.header' | translate}}
    </div>
    <twa-add-button *ngIf="!viewMode" (click)="openEntityVersionModal()">
      {{'web.map-set-entity-version.table.link-version' | translate}}
    </twa-add-button>
  </div>
  <m-input [(ngModel)]="searchInput" (mChange)="searchUpdate.next($event)" placeholder="marina.ui.inputs.search.placeholder"></m-input>

  <m-backend-table [mResult]="searchResult"
      [(mQuery)]="query"
      (mQueryChange)="loadEntityVersionData()"
      [mLoading]="loading"
      style="margin-top: 1rem; display: block"
  >
    <tr *mTableHead>
      <th>{{'entities.map-set-entity-version.id' | translate}}</th>
      <th>{{'entities.map-set-entity-version.description' | translate}}</th>
      <th *ngIf="!viewMode" class="tw-table-actions"></th>
    </tr>

    <tr *mTableRow="let entityVersion">
      <td>{{entityVersion.id}}</td>
      <td>
        <m-abbreviate [mValue]="entityVersion.description" [mLength]="60"></m-abbreviate>
      </td>
      <td *ngIf="!viewMode">
        <m-button mSize="small" (click)="unlinkEntityVersion(entityVersion.id)">
          <m-icon [mCode]="'delete'"></m-icon>
        </m-button>
      </td>
    </tr>

    <tr *mTableNoData>
      <td colspan="100%">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-backend-table>
</m-card>


<m-modal [(mVisible)]="entityVersionModalData.visible" (mClose)="closeEntityVersionModal()">
  <ng-container *m-modal-header>
    {{('web.map-set-entity-version.modal.link-header') | translate}}
  </ng-container>

  <ng-container *m-modal-content>
    <form #modalForm="ngForm">
      <m-form-item mName="entityVersion" mLabel="web.map-set-entity-version.modal.entity-version" required>
        <twl-map-set-entity-version-search [(ngModel)]="entityVersionModalData.entityVersion"
            [mapSetId]="mapSetId"
            name="entityVersion"
            autofocus
            required
        ></twl-map-set-entity-version-search>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="tw-button-group">
    <m-button mDisplay="text" (click)="closeEntityVersionModal()">{{'core.btn.close' | translate}}</m-button>
    <m-button mDisplay="primary" (click)="saveEntityVersionModal()">{{'core.btn.save' | translate}}</m-button>
  </div>
</m-modal>
