<m-form-row>
  <div *mFormCol>
    <m-card [mTitle]="mode === 'edit' ? 'web.map-set-version.form.edit-header' : 'web.map-set-version.form.add-header'">
      <m-spinner [mLoading]="loading">
        <form #form="ngForm" *ngIf="version">
          <m-form-item mName="version" mLabel="web.map-set-version.entity.version" required>
            <m-input name="version" [(ngModel)]="version.version" required></m-input>
          </m-form-item>

          <m-form-item mName="source" mLabel="web.map-set-version.entity.source">
            <m-input name="source" [(ngModel)]="version.source"></m-input>
          </m-form-item>

          <m-form-item mName="supportedLanguages" mLabel="web.map-set-version.entity.supported-languages">
            <m-select name="supportedLanguages" [(ngModel)]="version.supportedLanguages" multiple>
              <!-- FIXME: concept-select -->
              <m-option [label]="'et'" value="et"></m-option>
              <m-option [label]="'en'" value="en"></m-option>
              <m-option [label]="'la'" value="la"></m-option>
            </m-select>
          </m-form-item>

          <m-form-item mName="description" mLabel="web.map-set-version.entity.description">
            <m-textarea name="description" [(ngModel)]="version.description"></m-textarea>
          </m-form-item>

          <m-form-item mName="releaseDate" mLabel="web.map-set-version.entity.release-date" required>
            <nz-date-picker name="releaseDate" [(ngModel)]="version.releaseDate" required></nz-date-picker>
          </m-form-item>

          <m-form-item mName="expirationDate" mLabel="web.map-set-version.entity.expiration-date">
            <nz-date-picker name="expirationDate" [(ngModel)]="version.expirationDate"></nz-date-picker>
          </m-form-item>

          <ng-container *m-card-footer>
            <m-button mDisplay="primary" [mLoading]="loading" [disabled]="loading" (click)="save()">
              {{'core.btn.save' | translate}}
            </m-button>
          </ng-container>
        </form>
      </m-spinner>
    </m-card>
  </div>
</m-form-row>
