<m-form-row>
  <div *mFormCol>
    <m-spinner [mLoading]="loading">

      <m-card>
        <div *m-card-header class="m-items-middle">
          <div class="m-card-title">{{'web.map-set-version.form.view-header' | translate}}</div>
          <twa-status-tag *ngIf="version?.status" [status]="version.status"></twa-status-tag>
        </div>
        <div *ngIf="version">
          <m-form-item mLabel="web.map-set-version.entity.version">
            {{version.version}}
          </m-form-item>

          <m-form-item mName="source" mLabel="web.map-set-version.entity.source">
            {{version.source}}
          </m-form-item>

          <m-form-item mLabel="web.map-set-version.entity.supported-languages">
            <label *ngFor="let sLang of version.supportedLanguages; let isFirst = first;">{{isFirst ? "" : ", "}}{{sLang | localizedConceptName: {valueSet: 'languages'} | async}}</label>
          </m-form-item>

          <m-form-item mLabel="web.map-set-version.entity.description">
            {{version.description}}
          </m-form-item>

          <m-form-item mLabel="web.map-set-version.entity.release-date">
            {{version.releaseDate | localDate}}
          </m-form-item>

          <m-form-item mLabel="web.map-set-version.entity.expiration-date">
            {{version.expirationDate | localDate}}
          </m-form-item>
        </div>
        <ng-container *m-card-footer>
          <m-button mDisplay="primary" (click)="back()" [mLoading]="loading" [disabled]="loading">
            {{'core.back' | translate}}
          </m-button>
        </ng-container>
      </m-card>
    </m-spinner>
  </div>
</m-form-row>
