<m-form-row>
  <div *mFormCol>
    <m-spinner [mLoading]="isLoading">
      <m-card [mShowSkeleton]="loading['init']">
        <div *m-card-header class="m-items-middle">
          <div class="m-card__title">{{(mode === 'edit' ? 'web.map-set-version.form.edit-header' : 'web.map-set-version.form.add-header') | translate}}</div>
          <tw-status-tag *ngIf="version?.status" [status]="version.status"></tw-status-tag>
        </div>

        <form #form="ngForm" *ngIf="version">
          <m-form-item mName="version" mLabel="entities.map-set-version.version" required>
            <tw-semantic-version-select name="version" [(ngModel)]="version.version" [versions]="mapSetId | apply: versions | async" required></tw-semantic-version-select>
          </m-form-item>

          <m-form-item mName="source" mLabel="entities.map-set-version.source">
            <m-input name="source" [(ngModel)]="version.source"></m-input>
          </m-form-item>

          <m-form-item mName="supportedLanguages" mLabel="entities.map-set-version.supported-languages">
            <tw-value-set-concept-select name="supportedLanguages"
                [(ngModel)]="version.supportedLanguages"
                valueSet="languages"
                multiple></tw-value-set-concept-select>
          </m-form-item>

          <m-form-item mName="description" mLabel="entities.map-set-version.description">
            <m-textarea name="description" [(ngModel)]="version.description"></m-textarea>
          </m-form-item>

          <m-form-item mName="releaseDate" mLabel="entities.map-set-version.release-date" required>
            <m-date-picker name="releaseDate" [(ngModel)]="version.releaseDate" required></m-date-picker>
          </m-form-item>

          <m-form-item mName="expirationDate" mLabel="entities.map-set-version.expiration-date">
            <m-date-picker name="expirationDate" [(ngModel)]="version.expirationDate"></m-date-picker>
          </m-form-item>
        </form>

        <tw-map-set-version-entity-version-table [mapSetId]="mapSetId" [mapSetVersion]="mapSetVersion"></tw-map-set-version-entity-version-table>

        <ng-container *m-card-footer>
          <m-button mDisplay="primary" (click)="save()" [mLoading]="loading['save']" [disabled]="loading['init'] || isLoading">
            {{'core.btn.save' | translate}}
          </m-button>
        </ng-container>
      </m-card>
    </m-spinner>
  </div>
</m-form-row>
