<m-no-data *ngIf="!(versions?.length > 0)"></m-no-data>

<m-list *ngIf="versions?.length > 0" mSeparated>
  <m-list-item *ngFor="let version of versions">
    <div class="m-justify-between">
      <div class="m-items-middle">
        <a class="m-bold" (mClick)="openVersionSummary(version.version)">{{version.version}}</a>
        <m-divider mVertical></m-divider>
        <span>{{(version.releaseDate | localDate) || '...'}} - {{(version.expirationDate | localDate) || '...'}}</span>
        <m-divider mVertical></m-divider>
        <a (mClick)="openVersionConcepts(version.version)">{{version.conceptsTotal}} {{'web.code-system.summary.concepts' | translate}}</a>
      </div>
      <div class="m-items-middle">
        <tw-status-tag [status]="version.status"></tw-status-tag>
        <ng-container *ngIf="version.status === 'draft' && versions?.length > 1">
          <m-divider mVertical></m-divider>
          <m-icon class="m-clickable" mCode="delete" (click)="deleteVersion(version.version)"></m-icon>
        </ng-container>
      </div>
    </div>
    <div class="m-items-middle">
      <m-icon mCode="global"></m-icon>
      <ng-container *ngFor="let lang of version.supportedLanguages; let i = index">
        <span>{{lang}}</span>
        <m-divider mVertical *ngIf="i !== (version.supportedLanguages?.length - 1)"></m-divider>
      </ng-container>
    </div>
    <div>{{version.description | localName}}</div>
  </m-list-item>
</m-list>
