@if (!propertyValues?.length) {
  <m-no-data/>
}

@for (pv of propertyValues | sort: 'mapSetPropertyId'; track pv; let i = $index) {
  @if (viewMode) {
    <div class="m-items-middle">
      <span style="white-space: nowrap" class="m-subtitle">{{pv.mapSetPropertyName}}</span>
      <tw-map-set-property-value-input [ngModel]="pv.value" [property]="pv.mapSetPropertyId | apply: getProperty: properties" viewMode/>
    </div>
  }
  @if (!viewMode) {
    <form #form="ngForm">
      <div class="m-items-middle">
        <span style="white-space: nowrap" class="m-subtitle">{{pv.mapSetPropertyName}}</span>
        @if (pv.mapSetPropertyId) {
          <m-form-item style="width: 100%" mName="{{i}}-propertyValue">
            <tw-map-set-property-value-input [(ngModel)]="pv.value"
              name="{{i}}-propertyValue"
              [property]="pv.mapSetPropertyId | apply:getProperty:properties"
              [required]="(i | apply:isRequired:properties)"/>
            </m-form-item>
          }
        </div>
      </form>
    }
  }

