<form #form="ngForm">
  <m-form-control mName="value">
    @if (!viewMode) {
      @switch (property?.type) {
        @case ('boolean') {
          <m-checkbox name="value" [(ngModel)]="value" (ngModelChange)="fireOnChange()" [required]="required"></m-checkbox>
        }
        @case ('dateTime') {
          <m-date-picker name="value" [(ngModel)]="value" (ngModelChange)="fireOnChange()" [required]="required"></m-date-picker>
        }
        @case ('decimal') {
          <m-number-input name="value" [(ngModel)]="value" (ngModelChange)="fireOnChange()" [required]="required"></m-number-input>
        }
        @case ('integer') {
          <m-number-input name="value" [(ngModel)]="value" (ngModelChange)="fireOnChange()" [required]="required"></m-number-input>
        }
        @case ('Coding') {
          @if (value) {
            <div class="m-items-middle" >
              @switch (property | apply:codingType) {
                @case ('code-system') {
                  @if (!value.codeSystem || property.rule.codeSystems?.length > 1) {
                    <m-select
                        name="system"
                        autoSelect
                        placeholder="Code system"
                        [(ngModel)]="value.codeSystem"
                        (ngModelChange)="fireOnChange()"
                        [required]="required | toBoolean"
                        style="flex: 1">
                      @for (system of property.rule.codeSystems; track system) {
                        <m-option [mValue]="system" [mLabel]="system"></m-option>
                      }
                    </m-select>
                  }
                  <tw-term-concept-search style="flex: 1"
                      name="value"
                      valueType="code"
                      [(ngModel)]="value.code"
                      (ngModelChange)="fireOnChange()"
                      [codeSystem]="value.codeSystem"
                      [required]="required"></tw-term-concept-search>
                }
                @case ('value-set') {
                  <tw-value-set-concept-select style="flex: 1"
                      name="value"
                      valuePrimitive
                      [(ngModel)]="value.code"
                      (ngModelChange)="fireOnChange()"
                      (selected)="value.codeSystem = $event?.concept?.codeSystem; fireOnChange()"
                      [valueSet]="property.rule.valueSet"
                      [required]="required"></tw-value-set-concept-select>
                }
                @default {
                  <tw-code-system-search style="flex: 1"
                      name="system"
                      valuePrimitive
                      placeholder="Code system"
                      [(ngModel)]="value.codeSystem"
                      (ngModelChange)="fireOnChange()"
                      [required]="required"></tw-code-system-search>
                  <tw-term-concept-search style="flex: 1"
                      name="value"
                      valueType="code"
                      [(ngModel)]="value.code"
                      (ngModelChange)="fireOnChange()"
                      [codeSystem]="value.codeSystem"
                      [required]="required"></tw-term-concept-search>
                }
              }
            </div>
          }
        }
        @default {
          <m-input name="value" [(ngModel)]="value" (ngModelChange)="fireOnChange()" [required]="required"></m-input>
        }
      }
    }

    @if (viewMode) {
      @if (['string', 'decimal', 'integer', undefined] | includes:property?.type) {
        <label>{{value}}</label>
      }
      @if ('boolean' === property?.type) {
        <m-checkbox [ngModel]="value" name="value" readOnly></m-checkbox>
      }
      @if ('dateTime' === property?.type) {
        <label>{{value | localDate}}</label>
      }
      @if ('code' === property?.type) {
        <label>{{value}}</label>
      }
      @if ('Coding' === property?.type) {
        {{value?.code | localizedConceptName: {codeSystem: value?.codeSystem} | async}}
      }
    }
  </m-form-control>
</form>
