<m-form-row>
  <div *mFormCol>
    <m-spinner [mLoading]="isLoading">
      <m-card [mTitle]="supplement?.targetType | apply: getHeader:mode" [mShowSkeleton]="loading['init']">
        <div *ngIf="supplement" [ngSwitch]="supplement.targetType">
          <tw-code-system-property-form #form
              *ngSwitchCase="'EntityProperty'"
              [property]="supplement.target"
          ></tw-code-system-property-form>

          <m-form-item mName="supplementDescription" mLabel="web.supplement.form.description">
            <m-textarea name="supplementDescription" [(ngModel)]="supplement.description"></m-textarea>
          </m-form-item>
        </div>

        <ng-container *m-card-footer>
          <m-button mDisplay="primary"
              [mLoading]="loading['save']"
              [disabled]="loading['save'] || hasInvalidTarget || isLoading"
              (click)="save()"
          >
            {{'core.btn.save' | translate}}
          </m-button>
        </ng-container>
      </m-card>
    </m-spinner>
  </div>
</m-form-row>
