<form #form="ngForm">
  <m-editable-table #rowsTable
      [mData]="translations"
      [mRowInstance]="rowInstance"
      (mRowAdd)="addRow()"
      (mRowEdit)="translationsChanged.emit()"
      (mAfterSubmit)="translationsChanged.emit()"
      (mAfterDelete)="translationsChanged.emit()"
      [mRowEditAllowed]="editAllowed"
      [mEditAllowed]="'snomed-ct.CodeSystem.write' | twPrivileged"
      [mDeleteAllowed]="'snomed-ct.CodeSystem.write' | twPrivileged">
    <m-editable-column [mTitle]="'entities.snomed-translation.branch'" mName="branch">
      <ng-template #viewTemplate let-t>{{t.branch}}</ng-template>
      <ng-template #editTemplate let-t let-ngModelName="ngModelName">
        <m-select [name]="ngModelName" [(ngModel)]="t.branch" autoSelect required>
          @for (b of branches; track b.path) {
            <m-option [mValue]="b.path" [mLabel]="b.path"/>
          }
        </m-select>
      </ng-template>
    </m-editable-column>
    <m-editable-column [mTitle]="'entities.snomed-translation.module'" mName="module">
      <ng-template #viewTemplate let-t>{{t.module}}</ng-template>
      <ng-template #editTemplate let-t let-ngModelName="ngModelName">
        <m-select [name]="ngModelName" [(ngModel)]="t.module" autoSelect required>
          @for (m of modules; track m.code) {
            <m-option [mLabel]="m.code" [mValue]="m.code"></m-option>
          }
        </m-select>
      </ng-template>
    </m-editable-column>
    <m-editable-column [mTitle]="'entities.snomed-translation.language'" mName="language">
      <ng-template #viewTemplate let-t>{{t.language}}</ng-template>
      <ng-template #editTemplate let-t let-ngModelName="ngModelName">
        @if ((t.module | apply:langsDefined)) {
          <m-select [name]="ngModelName" [(ngModel)]="t.language" autoSelect>
            @for (lang of (t.module | apply:getLangs); track lang.code) {
              <m-option [mLabel]="lang.code" [mValue]="lang.code"></m-option>
            }
          </m-select>
        }
        @if (!(t.module | apply:langsDefined)) {
          <tw-value-set-concept-select
              [name]="ngModelName"
              [(ngModel)]="t.language"
              valueSet="languages"
              required></tw-value-set-concept-select>
        }
      </ng-template>
    </m-editable-column>
    <m-editable-column [mTitle]="'entities.snomed-translation.term'" mName="term">
      <ng-template #viewTemplate let-t>{{t.term}}</ng-template>
      <ng-template #editTemplate let-t let-ngModelName="ngModelName">
        <m-textarea [name]="ngModelName" [(ngModel)]="t.term" required></m-textarea>
      </ng-template>
    </m-editable-column>
    <m-editable-column [mTitle]="'entities.snomed-translation.type'" mName="type">
      <ng-template #viewTemplate let-t>{{t.type ? ('entities.snomed-translation.type-options.' + t.type | translate) : ''}}</ng-template>
      <ng-template #editTemplate let-t let-ngModelName="ngModelName">
        <m-select [name]="ngModelName" [(ngModel)]="t.type" required>
          <m-option [mValue]="'synonym'" [mLabel]="'entities.snomed-translation.type-options.synonym'"></m-option>
          <m-option [mValue]="'fully-specified-name'" [mLabel]="'entities.snomed-translation.type-options.fully-specified-name'"></m-option>
        </m-select>
      </ng-template>
    </m-editable-column>
    <m-editable-column [mTitle]="'entities.snomed-translation.acceptability'" mName="acceptability">
      <ng-template #viewTemplate
        let-t>{{t.acceptability ? ('entities.snomed-translation.acceptability-options.' + t.acceptability | translate) : ''}}</ng-template>
      <ng-template #editTemplate let-t let-ngModelName="ngModelName">
        <m-select [name]="ngModelName" [(ngModel)]="t.acceptability" required>
          <m-option [mValue]="'preferred'" [mLabel]="'entities.snomed-translation.acceptability-options.preferred'"></m-option>
          <m-option [mValue]="'acceptable'" [mLabel]="'entities.snomed-translation.acceptability-options.acceptable'"></m-option>
        </m-select>
      </ng-template>
    </m-editable-column>
    <m-editable-column *twPrivileged="'*.Task.read'" [mTitle]="'entities.snomed-translation.task'">
      <ng-template #viewTemplate let-t>
        @if ((tasks | apply:findTask:t.id); as task) {
          <a [routerLink]="['/tasks', task?.number,'edit']">{{task?.number}}</a>
        }
      </ng-template>
    </m-editable-column>
    <m-editable-column [mTitle]="'entities.snomed-translation.status'">
      <ng-template #viewTemplate let-t>{{t.status | localizedConceptName: {codeSystem: 'v3-ConceptStatus'} | async }}</ng-template>
    </m-editable-column>
  </m-editable-table>
</form>
