<m-card>
  <div *m-card-header class="m-justify-between">
    <m-title>{{'entities.snomed-concept.concept-id' | translate}} {{conceptId}}</m-title>
    <div class="m-items-middle">
      <m-button *ngIf="dataChanged" mDisplay="primary" (mClick)="saveTranslations()" [mLoading]="loader.state['save']">{{'core.btn.save' | translate}}</m-button>
      <m-dropdown>
        <a *m-dropdown-item (mClick)="exportToRF2()">{{'web.snomed.rf2-export' | translate}}</a>
      </m-dropdown>
    </div>
  </div>

  <m-card class="m-card-inside">
    <div *m-card-header class="m-justify-between">
      <div class="m-card__title">
        {{'entities.snomed-concept.descriptions' | translate}}
      </div>
    </div>
    <m-table [mData]="descriptions | keys" [mLoading]="loader.state['load']" mEnablePagination>
      <tr *mTableHead>
        <th>{{'entities.snomed-description.refset' | translate}}</th>
        <th>{{'entities.snomed-description.description-id' | translate}}</th>
        <th>{{'entities.snomed-description.lang' | translate}}</th>
        <th>{{'entities.snomed-description.term' | translate}}</th>
        <th>{{'entities.snomed-description.type' | translate}}</th>
        <th>{{'entities.snomed-description.acceptability' | translate}}</th>
      </tr>
      <tr *mTableRow="let dk">
        <td>{{dk | snomedConceptName | async}}</td>
        <td><div *ngFor="let description of descriptions[dk]" [style]="!description.active ? 'text-decoration:line-through' : ''">{{description.descriptionId}}</div></td>
        <td><div *ngFor="let description of descriptions[dk]" [style]="!description.active ? 'text-decoration:line-through' : ''">{{description.lang}}</div></td>
        <td><div *ngFor="let description of descriptions[dk]" [style]="!description.active ? 'text-decoration:line-through' : ''">{{description.term}}</div></td>
        <td><div *ngFor="let description of descriptions[dk]" [style]="!description.active ? 'text-decoration:line-through' : ''">{{description.typeId | snomedConceptName | async}}</div></td>
        <td><div *ngFor="let description of descriptions[dk]" [style]="!description.active ? 'text-decoration:line-through' : ''">{{description.acceptabilityMap[dk]}}</div></td>
      </tr>
      <tr *mTableNoData>
        <td colspan="100%">
          <m-no-data></m-no-data>
        </td>
      </tr>
    </m-table>
  </m-card>

  <m-card class="m-card-inside">
    <div *m-card-header class="m-justify-between">
      <div class="m-card__title">
        {{'entities.snomed-concept.translations' | translate}}
      </div>
    </div>
    <tw-snomed-translations [conceptId]="conceptId" (translationsChanged)="dataChanged = true"></tw-snomed-translations>
  </m-card>

  <m-card class="m-card-inside">
    <div *m-card-header class="m-justify-between">
      <div class="m-card__title">
        {{'entities.snomed-concept.relationships' | translate}}
      </div>
    </div>
    <m-table [mData]="relationships | sort: 'groupId'" [mLoading]="loader.state['load']" mEnablePagination>
      <tr *mTableHead>
        <th>{{'entities.snomed-relationship.group' | translate}}</th>
        <th>{{'entities.snomed-relationship.type' | translate}}</th>
        <th>{{'entities.snomed-relationship.target' | translate}}</th>
        <th>{{'entities.snomed-relationship.active' | translate}}</th>
      </tr>
      <tr *mTableRow="let relationship">
        <td>{{relationship.groupId}}</td>
        <td>{{relationship.type.fsn.term}}</td>
        <td><a (mClick)="conceptSelected.emit(relationship.target.conceptId)">{{relationship.target.fsn.term}}</a></td>
        <td><m-checkbox [ngModel]="relationship.active" readOnly></m-checkbox></td>
      </tr>
      <tr *mTableNoData>
        <td colspan="100%">
          <m-no-data></m-no-data>
        </td>
      </tr>
    </m-table>
  </m-card>

  <m-card class="m-card-inside">
    <div *m-card-header class="m-justify-between">
      <div class="m-card__title">
        {{'entities.snomed-concept.refsets' | translate}}
      </div>
    </div>
    <m-table [mData]="refsets" [mLoading]="loader.state['load']" mEnablePagination>
      <tr *mTableHead>
        <th>{{'entities.snomed-refset.type' | translate}}</th>
        <th>{{'entities.snomed-refset.target' | translate}}</th>
      </tr>
      <tr *mTableRow="let refset">
        <td>{{refset.pt.term}}</td>
        <td>{{refset.target}}</td>
      </tr>
      <tr *mTableNoData>
        <td colspan="100%">
          <m-no-data></m-no-data>
        </td>
      </tr>
    </m-table>
  </m-card>

  <m-card class="m-card-inside">
    <div *m-card-header class="m-justify-between">
      <div class="m-card__title">
        {{'entities.snomed-concept.snomed-references' | translate}}
      </div>
      <m-button (mClick)="loadSnomedReferences()">{{'core.btn.query' | translate}}</m-button>
    </div>
    <m-table [mData]="snomedReferences" [mLoading]="loader.state['snomed-references']" mEnablePagination>
      <tr *mTableHead>
        <th>{{'entities.snomed-reference.type' | translate}}</th>
        <th>{{'entities.snomed-reference.concept' | translate}}</th>
      </tr>
      <tr *mTableRow="let reference">
        <td>{{'Is a'}}</td>
        <td><a (mClick)="conceptSelected.emit(reference.conceptId)">{{reference.pt.term}}</a></td>
      </tr>
      <tr *mTableNoData>
        <td colspan="100%">
          <m-no-data></m-no-data>
        </td>
      </tr>
    </m-table>
  </m-card>

  <m-card class="m-card-inside">
    <div *m-card-header class="m-justify-between">
      <div class="m-card__title">
        {{'entities.snomed-concept.kts-references' | translate}}
      </div>
      <m-button (mClick)="loadKtsReferences()">{{'core.btn.query' | translate}}</m-button>
    </div>
    <m-table [mData]="ktsReferences" [mLoading]="loader.state['kts-references']" mEnablePagination>
      <tr *mTableHead>
        <th>{{'entities.snomed-reference.type' | translate}}</th>
        <th>{{'entities.snomed-reference.concept' | translate}}</th>
      </tr>
      <tr *mTableRow="let ref">
        <td>{{ref.type}}</td>
        <td><a (mClick)="openReference(ref.type, ref.id)">{{ref.name}}</a></td>
      </tr>
      <tr *mTableNoData>
        <td colspan="100%">
          <m-no-data></m-no-data>
        </td>
      </tr>
    </m-table>
  </m-card>

  <m-card class="m-card-inside">
    <div *m-card-header class="m-justify-between">
      <div class="m-card__title">
        {{'entities.snomed-concept.provenance' | translate}}
      </div>
      <m-button (mClick)="loadProvenances()">{{'core.btn.query' | translate}}</m-button>
    </div>
    <tw-provenance-list [provenances]="provenances"></tw-provenance-list>
  </m-card>

</m-card>
