<m-card>
  <m-spinner [mLoading]=loading>
    <div *m-card-header class="m-items-between">
      <nz-breadcrumb>
        <nz-breadcrumb-item *ngFor="let crumb of breadcrumbs">{{crumb | translate: ({edition: edition})}}</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="m-items-between">
        <m-button (click)="setDefaultData()" [disabled]="loading">{{'web.integration.set-default-data' | translate}}</m-button>
        <m-button mDisplay="primary"
            [disabled]="!data.sourceUrl || ! data.uri || !data.version || !data.validFrom || !data.codeSystem || !data.codeSystemName"
            (click)="import()">{{'web.integration.send-request' | translate}}</m-button>
      </div>
    </div>

    <m-form-item mLabel="web.integration.import.source-url" required>
      <m-input [(ngModel)]="data.sourceUrl"></m-input>
    </m-form-item>
    <m-form-item mLabel="web.integration.import.uri" required>
      <m-input [(ngModel)]="data.uri"></m-input>
    </m-form-item>
    <m-form-item mLabel="web.integration.import.source">
      <m-input [(ngModel)]="data.source"></m-input>
    </m-form-item>
    <m-form-item mLabel="web.integration.import.version" required>
      <m-input [(ngModel)]="data.version"></m-input>
    </m-form-item>
    <m-form-item mLabel="web.integration.import.valid-from" required>
      <m-date-picker [(ngModel)]="data.validFrom"></m-date-picker>
    </m-form-item>
    <m-form-item mLabel="web.integration.import.valid-to">
      <m-date-picker [(ngModel)]="data.validTo" name="validTo"></m-date-picker>
    </m-form-item>
    <m-form-item mLabel="web.integration.import.code-system" required>
      <m-input [(ngModel)]="data.codeSystem"></m-input>
    </m-form-item>
    <m-form-item mLabel="web.integration.import.base-code-system">
      <twl-code-system-search [(ngModel)]="data.baseCodeSystem" valuePrimitive></twl-code-system-search>
    </m-form-item>
    <m-form-item mLabel="web.integration.import.code-system-name" required>
      <m-multi-language-input [(ngModel)]="data.codeSystemName"></m-multi-language-input>
    </m-form-item>
    <m-form-item mLabel="web.integration.import.code-system-description">
      <m-textarea [(ngModel)]="data.codeSystemDescription" name="codeSystemDescription"></m-textarea>
    </m-form-item>
    <m-form-item mLabel="web.integration.import.code-system-version-description">
      <m-textarea [(ngModel)]="data.codeSystemVersionDescription" name="codeSystemVersionDescription"></m-textarea>
    </m-form-item>

  </m-spinner>
</m-card>
