<m-spinner [mLoading]="loader.state['save']">
  <m-card [mShowSkeleton]="loader.isLoading">
    <div *m-card-header class="m-justify-between">
      <m-title>{{'web.snomed.branch.management.header' | translate: {path: snomedBranch?.path} }}</m-title>
      <m-dropdown>
        <ng-container *twPrivileged="'snomed-ct.CodeSystem.edit'">
          <a *m-dropdown-item [routerLink]="['/integration','snomed', 'branches', snomedBranch?.path | apply: encodeUriComponent, 'edit']">
            {{'core.btn.edit' | translate}}
          </a>
        </ng-container>
        <ng-container *twPrivileged="'snomed-ct.CodeSystem.edit'">
          <a *m-dropdown-item m-popconfirm mPopconfirmTitle="core.delete-confirm" (mOnConfirm)="delete()" mPosition="leftTop">
            {{'core.btn.delete' | translate}}
          </a>
        </ng-container>
        <a *m-dropdown-item (mClick)="executeIntegrityCheck()">
          {{'web.snomed.branch.management.integrity-check' | translate}}
        </a>
        <ng-container *ngIf="snomedBranch && !snomedBranch.locked && ('snomed-ct.CodeSystem.edit' | twHasAnyPrivilege)">
          <a *m-dropdown-item (mClick)="lockModalData.visible = true">
            {{'web.snomed.branch.management.lock' | translate}}
          </a>
        </ng-container>
        <ng-container *ngIf="snomedBranch && snomedBranch.locked && ('snomed-ct.CodeSystem.edit' | twHasAnyPrivilege)">
          <a *m-dropdown-item (mClick)="unlock()">
            {{'web.snomed.branch.management.unlock' | translate}}
          </a>
        </ng-container>
        <ng-container *twPrivileged="'snomed-ct.CodeSystem.edit'">
          <a *m-dropdown-item (mClick)="importModalData.visible = true">
            {{'web.snomed.branch.management.import-from-rf2' | translate}}
          </a>
        </ng-container>
        <a *m-dropdown-item (mClick)="exportModalData.visible = true">
          {{'web.snomed.branch.management.export-to-rf2' | translate}}
        </a>
      </m-dropdown>
    </div>
    <div *mCardContent="!loader.isLoading">
      <m-form-row>
        <m-form-item *mFormCol mLabel="entities.snomed-branch.creation">
          {{snomedBranch?.creation | localDate}}
        </m-form-item>
        <m-form-item *mFormCol mLabel="entities.snomed-branch.head">
          {{snomedBranch?.head | localDate}}
        </m-form-item>
      </m-form-row>
      <m-form-row>
        <m-form-item *mFormCol mLabel="entities.snomed-branch.base">
          {{snomedBranch?.base | localDate}}
        </m-form-item>
        <m-form-item *mFormCol mLabel="entities.snomed-branch.metadata">
          {{snomedBranch?.metadata | json}}
        </m-form-item>
      </m-form-row>
      <m-form-row>
        <m-form-item *mFormCol mName="state" mLabel="entities.snomed-branch.state">
          {{snomedBranch?.state}}
        </m-form-item>
        <m-form-item *mFormCol mName="locked" mLabel="entities.snomed-branch.locked">
          <m-checkbox name="locked" [ngModel]="snomedBranch?.locked" readOnly></m-checkbox>
        </m-form-item>
      </m-form-row>

      <m-divider mText="web.snomed.branch.management.authoring-stats"></m-divider>
      <nz-tabset *ngIf="!loader.isLoading">
        <nz-tab *ngFor="let t of ['new-descriptions', 'changed-fsn', 'new-synonyms', 'inactivated-synonyms', 'reactivated-synonyms']">
          <ng-container *nzTabLink>
            <label>{{'web.snomed.branch.management.' + t | translate}}</label>&nbsp;
            <m-tag mColor="blue">{{(t | apply: getAuthoringStatsData)?.length || 0}}</m-tag>
          </ng-container>
          <m-table #authoringStatsTable *ngIf="!loader.isLoading" [mData]="t | apply: getAuthoringStatsData">
            <tr *mTableHead>
              <th>{{'id'}}</th>
              <th>{{'term'}}</th>
              <ng-container *ngIf="t === 'new-descriptions'">
                <th>{{'concept id'}}</th>
                <th></th>
              </ng-container>
            </tr>
            <ng-container *ngFor="let item of authoringStatsTable.mData">
              <tr>
                <td>{{item.id}}</td>
                <td>{{item.term}}</td>
                <ng-container *ngIf="t === 'new-descriptions'">
                  <td><a [routerLink]="['/integration/snomed/dashboard', item.conceptId]">{{item.conceptId}}</a></td>
                  <td>
                    <m-dropdown>
                      <ng-container *twPrivileged="'snomed-ct.CodeSystem.edit'">
                        <a *m-dropdown-item (mClick)="deleteDescription(item.id)">
                          {{'core.btn.delete' | translate}}
                        </a>
                      </ng-container>
                    </m-dropdown>
                  </td>
                </ng-container>
              </tr>
            </ng-container>
            <tr *mTableNoData>
              <td colspan="100%">
                <m-no-data></m-no-data>
              </td>
            </tr>
          </m-table>
        </nz-tab>
      </nz-tabset>

      <m-divider [mText]="'web.snomed.branch.management.unlinked-translations' | translate: {count: unlinkedTranslations?.length}"></m-divider>
      <m-table #unlinkedTranslationsTable *ngIf="!loader.isLoading" [mData]="unlinkedTranslations">
        <tr *mTableHead>
          <th>{{'id'}}</th>
          <th>{{'term'}}</th>
          <th>{{'concept id'}}</th>
          <th *twPrivileged="'snomed-ct.CodeSystem.edit'"></th>
        </tr>
        <ng-container *ngFor="let translation of unlinkedTranslationsTable.mData">
          <tr>
            <td>{{translation.descriptionId}}</td>
            <td>{{translation.term}}</td>
            <td><a [routerLink]="['/integration/snomed/dashboard', translation.conceptId]">{{translation.conceptId}}</a></td>
            <td *twPrivileged="'snomed-ct.CodeSystem.edit'">
              <m-dropdown>
                <a *m-dropdown-item (mClick)="addTranslationToBranch(translation.id)">
                  {{'web.snomed.branch.management.add-to-branch' | translate}}
                </a>
              </m-dropdown>
            </td>
          </tr>
        </ng-container>
        <tr *mTableNoData>
          <td colspan="100%">
            <m-no-data></m-no-data>
          </td>
        </tr>
      </m-table>
    </div>
  </m-card>
</m-spinner>


<m-modal [(mVisible)]="lockModalData.visible" (mClose)="lockModalData = {visible: false}">
  <m-title *mModalHeader>
    {{'web.snomed.branch.management.lock-modal.header' | translate}}
  </m-title>

  <ng-container *mModalContent>
    <form #lockModalForm="ngForm">
      <m-form-item mName="message" mLabel="web.snomed.branch.management.lock-modal.message" required>
        <m-input name="message" [(ngModel)]="lockModalData.message" required></m-input>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="lockModalData.visible = false">
      {{'core.btn.cancel' | translate}}
    </m-button>
    <m-button mDisplay="primary" (click)="lock()">
      {{'core.btn.confirm' | translate}}
    </m-button>
  </div>
</m-modal>

<m-modal [(mVisible)]="exportModalData.visible" (mClose)="exportModalData = {visible: false}">
  <m-title *mModalHeader>
    {{'web.snomed.branch.management.export-modal.header' | translate}}
  </m-title>

  <ng-container *mModalContent>
    <form #exportModalForm="ngForm">
      <m-form-item mName="type" mLabel="web.snomed.branch.management.export-modal.type" required>
        <m-select name="type" [(ngModel)]="exportModalData.type" required>
          <m-option [mValue]="'DELTA'" [mLabel]="'DELTA'"></m-option>
          <m-option [mValue]="'SNAPSHOT'" [mLabel]="'SNAPSHOT'"></m-option>
          <m-option [mValue]="'FULL'" [mLabel]="'FULL'"></m-option>
        </m-select>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="exportModalData.visible = false">
      {{'core.btn.cancel' | translate}}
    </m-button>
    <m-button mDisplay="primary" (click)="exportToRF2()" [mLoading]="loader.isLoading" [disabled]="loader.state['export']">
      {{'core.btn.confirm' | translate}}
    </m-button>
  </div>
</m-modal>

<m-modal [(mVisible)]="importModalData.visible" (mClose)="importModalData = {type: 'SNAPSHOT'}">
  <m-title *mModalHeader>
    {{'web.snomed.branch.management.import-modal.header' | translate}}
  </m-title>

  <ng-container *mModalContent>
    <form #importModalForm="ngForm">
      <m-form-item mName="type" mLabel="web.snomed.branch.management.import-modal.type" required>
        <m-select name="type" [(ngModel)]="importModalData.type" required>
          <m-option [mValue]="'DELTA'" [mLabel]="'DELTA'"></m-option>
          <m-option [mValue]="'SNAPSHOT'" [mLabel]="'SNAPSHOT'"></m-option>
          <m-option [mValue]="'FULL'" [mLabel]="'FULL'"></m-option>
        </m-select>
      </m-form-item>
      <m-form-item mName="file" mLabel="web.snomed.branch.management.import-modal.file" required>
        <input #fileInput type="file" name="file" [(ngModel)]="importModalData.file" required>
      </m-form-item>
    </form>
    <m-alert mType="warning">{{'web.snomed.branch.management.import-warning' | translate}}</m-alert>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="importModalData.visible = false">
      {{'core.btn.cancel' | translate}}
    </m-button>
    <m-button mDisplay="primary" (click)="importFromRF2()" [mLoading]="loader.isLoading" [disabled]="loader.state['import']">
      {{'core.btn.confirm' | translate}}
    </m-button>
  </div>
</m-modal>
