<m-spinner [mLoading]="loader.state['save']">
  <m-card [mShowSkeleton]="loader.isLoading">
    <div *m-card-header class="m-justify-between">
      <m-title>{{'web.snomed.branch.management.header' | translate: {path: snomedBranch?.path} }}</m-title>
      <m-dropdown>
        @if (type === 'working' && ('snomed-ct.CodeSystem.edit' | twPrivileged)) {
          <a *m-dropdown-item [routerLink]="['/integration','snomed', 'branches', snomedBranch?.path | apply: encodeUriComponent, 'edit']">
            {{'core.btn.edit' | translate}}
          </a>
          <a *m-dropdown-item m-popconfirm mPopconfirmTitle="core.delete-confirm" (mOnConfirm)="delete()" mPosition="leftTop">
            {{'core.btn.delete' | translate}}
          </a>
        }
        <!--        <a *m-dropdown-item (mClick)="executeIntegrityCheck()">-->
        <!--          {{'web.snomed.branch.management.integrity-check' | translate}}-->
      <!--        </a>-->
      @if (snomedBranch && !snomedBranch.locked && ('snomed-ct.CodeSystem.edit' | twHasAnyPrivilege)) {
        <a *m-dropdown-item (mClick)="lockModalData.visible = true">
          {{'web.snomed.branch.management.lock' | translate}}
        </a>
      }
      @if (snomedBranch && snomedBranch.locked && ('snomed-ct.CodeSystem.edit' | twHasAnyPrivilege)) {
        <a *m-dropdown-item (mClick)="unlock()">
          {{'web.snomed.branch.management.unlock' | translate}}
        </a>
      }
      <ng-container *twPrivileged="'snomed-ct.CodeSystem.edit'">
        <a *m-dropdown-item (mClick)="importModalData.visible = true">
          {{'web.snomed.branch.management.import-from-rf2' | translate}}
        </a>
      </ng-container>
      <a *m-dropdown-item (mClick)="exportModalData.visible = true">
        {{'web.snomed.branch.management.export-to-rf2' | translate}}
      </a>
    </m-dropdown>
  </div>
  <div *mCardContent="!loader.isLoading">
    <m-form-row>
      <m-form-item *mFormCol mLabel="entities.snomed-branch.creation">
        {{snomedBranch?.creation | localDate}}
      </m-form-item>
      <m-form-item *mFormCol mLabel="entities.snomed-branch.head">
        {{snomedBranch?.head | localDate}}
      </m-form-item>
    </m-form-row>
    <m-form-row>
      <m-form-item *mFormCol mLabel="entities.snomed-branch.base">
        {{snomedBranch?.base | localDate}}
      </m-form-item>
      <m-form-item *mFormCol mLabel="entities.snomed-branch.metadata">
        {{snomedBranch?.metadata | json}}
      </m-form-item>
    </m-form-row>
    <m-form-row>
      <m-form-item *mFormCol mName="state" mLabel="entities.snomed-branch.state">
        {{snomedBranch?.state}}
      </m-form-item>
      <m-form-item *mFormCol mName="locked" mLabel="entities.snomed-branch.locked">
        <m-checkbox name="locked" [ngModel]="snomedBranch?.locked" readOnly></m-checkbox>
      </m-form-item>
    </m-form-row>

    <m-divider>
      <div class="m-items-middle">
        <label>{{'web.snomed.branch.management.authoring-stats' | translate}}</label>
        @if (('snomed-ct.CodeSystem.edit' | twPrivileged) && type === 'daily-build') {
          <m-divider mVertical></m-divider>
          <m-icon mCode="upload"></m-icon>
          <a (mClick)="openCsVersionModal()">{{'web.snomed.branch.management.create-cs-version' | translate}}</a>
        }
      </div>
    </m-divider>
    @if (!loader.isLoading) {
      <nz-tabs>
        @for (t of ['new-descriptions', 'changed-fsn', 'new-synonyms', 'inactivated-synonyms', 'reactivated-synonyms']; track t) {
          <nz-tab>
            <ng-container *nzTabLink>
              <label>{{'web.snomed.branch.management.' + t | translate}}</label>&nbsp;
              <m-tag mColor="blue">{{(t | apply: getAuthoringStatsData)?.length || 0}}</m-tag>&nbsp;
              @if (('snomed-ct.CodeSystem.edit' | twPrivileged)) {
                @if (t === 'inactivated-synonyms') {
                  <m-dropdown>
                    <a *m-dropdown-item (mClick)="synonymDeactivationModalData.visible = true">{{'web.snomed.branch.management.inactivate-synonym' | translate}}</a>
                  </m-dropdown>
                }
                @if (t === 'reactivated-synonyms') {
                  <m-dropdown>
                    <a *m-dropdown-item (mClick)="synonymReactivationModalData.visible = true">{{'web.snomed.branch.management.reactivate-synonym' | translate}}</a>
                  </m-dropdown>
                }
              }
            </ng-container>
            @if (!loader.isLoading) {
              <m-table #authoringStatsTable [mData]="t | apply: getAuthoringStatsData">
                <tr *mTableHead>
                  @if (t === 'new-descriptions') {
                    <th>{{'id'}}</th>
                  }
                  <th>{{'term'}}</th>
                  <th>{{'concept id'}}</th>
                  @if (t === 'new-descriptions') {
                    <th></th>
                  }
                </tr>
                @for (item of authoringStatsTable.mData; track item) {
                  <tr>
                    @if (t === 'new-descriptions') {
                      <td>{{item.id}}</td>
                    }
                    <td>{{item.term}}</td>
                    <td><a [routerLink]="['/integration/snomed/dashboard', item.conceptId || item.id]">{{item.conceptId || item.id}}</a></td>
                    @if (t === 'new-descriptions') {
                      <td>
                        <m-dropdown>
                          <ng-container *twPrivileged="'snomed-ct.CodeSystem.edit'">
                            <a *m-dropdown-item (mClick)="deleteDescription(item.id)">
                              {{'core.btn.delete' | translate}}
                            </a>
                          </ng-container>
                        </m-dropdown>
                      </td>
                    }
                  </tr>
                }
                <tr *mTableNoData>
                  <td colspan="100%">
                    <m-no-data></m-no-data>
                  </td>
                </tr>
              </m-table>
            }
          </nz-tab>
        }
      </nz-tabs>
    }

    <m-divider [mText]="'web.snomed.branch.management.unlinked-translations' | translate: {count: unlinkedTranslations?.length}"></m-divider>
    @if (!loader.isLoading) {
      <m-table #unlinkedTranslationsTable [mData]="unlinkedTranslations">
        <tr *mTableHead>
          <th>{{'id'}}</th>
          <th>{{'term'}}</th>
          <th>{{'concept id'}}</th>
          <th *twPrivileged="'snomed-ct.CodeSystem.edit'"></th>
        </tr>
        @for (translation of unlinkedTranslationsTable.mData; track translation) {
          <tr>
            <td>{{translation.descriptionId}}</td>
            <td>{{translation.term}}</td>
            <td><a [routerLink]="['/integration/snomed/dashboard', translation.conceptId]">{{translation.conceptId}}</a></td>
            <td *twPrivileged="'snomed-ct.CodeSystem.edit'">
              <m-dropdown>
                <a *m-dropdown-item (mClick)="addTranslationToBranch(translation.id)">
                  {{'web.snomed.branch.management.add-to-branch' | translate}}
                </a>
              </m-dropdown>
            </td>
          </tr>
        }
        <tr *mTableNoData>
          <td colspan="100%">
            <m-no-data></m-no-data>
          </td>
        </tr>
      </m-table>
    }
  </div>
</m-card>
</m-spinner>


<m-modal [(mVisible)]="lockModalData.visible" (mClose)="lockModalData = {visible: false}">
  <m-title *mModalHeader>
    {{'web.snomed.branch.management.lock-modal.header' | translate}}
  </m-title>

  <ng-container *mModalContent>
    <form #lockModalForm="ngForm">
      <m-form-item mName="message" mLabel="web.snomed.branch.management.lock-modal.message" required>
        <m-textarea name="message" [(ngModel)]="lockModalData.message" required></m-textarea>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="lockModalData.visible = false">
      {{'core.btn.cancel' | translate}}
    </m-button>
    <m-button mDisplay="primary" (click)="lock()">
      {{'core.btn.confirm' | translate}}
    </m-button>
  </div>
</m-modal>

<m-modal [(mVisible)]="exportModalData.visible" (mClose)="exportModalData = {visible: false}">
  <m-title *mModalHeader>
    {{'web.snomed.branch.management.export-modal.header' | translate}}
  </m-title>

  <ng-container *mModalContent>
    <form #exportModalForm="ngForm">
      <m-form-item mName="type" mLabel="web.snomed.branch.management.export-modal.type" required>
        <m-select name="type" [(ngModel)]="exportModalData.type" required>
          <m-option [mValue]="'DELTA'" [mLabel]="'DELTA'"></m-option>
          <m-option [mValue]="'SNAPSHOT'" [mLabel]="'SNAPSHOT'"></m-option>
          <m-option [mValue]="'FULL'" [mLabel]="'FULL'"></m-option>
        </m-select>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="exportModalData.visible = false">
      {{'core.btn.cancel' | translate}}
    </m-button>
    <m-button mDisplay="primary" (click)="exportToRF2()" [mLoading]="loader.isLoading" [disabled]="loader.state['export']">
      {{'core.btn.confirm' | translate}}
    </m-button>
  </div>
</m-modal>

<m-modal [(mVisible)]="importModalData.visible" (mClose)="importModalData = {type: 'SNAPSHOT'}">
  <m-title *mModalHeader>
    {{'web.snomed.branch.management.import-modal.header' | translate}}
  </m-title>

  <ng-container *mModalContent>
    <form #importModalForm="ngForm">
      <m-form-item mName="type" mLabel="web.snomed.branch.management.import-modal.type" required>
        <m-select name="type" [(ngModel)]="importModalData.type" required>
          <m-option [mValue]="'DELTA'" [mLabel]="'DELTA'"></m-option>
          <m-option [mValue]="'SNAPSHOT'" [mLabel]="'SNAPSHOT'"></m-option>
          <m-option [mValue]="'FULL'" [mLabel]="'FULL'"></m-option>
        </m-select>
      </m-form-item>
      <m-form-item mName="file" mLabel="web.snomed.branch.management.import-modal.file" required>
        <input #fileInput type="file" name="file" [(ngModel)]="importModalData.file" required>
      </m-form-item>
      @if (importModalData.progress) {
        <m-form-item>
          <nz-progress [nzPercent]="importModalData.progress"></nz-progress>
        </m-form-item>
      }
    </form>
    <m-alert mType="warning" mShowIcon>{{'web.snomed.branch.management.import-warning' | translate}}</m-alert>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="importModalData.visible = false">
      {{'core.btn.cancel' | translate}}
    </m-button>
    <m-button mDisplay="primary" (click)="importFromRF2()" [mLoading]="loader.isLoading" [disabled]="loader.state['import']">
      {{'core.btn.confirm' | translate}}
    </m-button>
  </div>
</m-modal>

<m-modal [(mVisible)]="csVersionModalData.visible" (mClose)="csVersionModalData = {}">
  <m-title *mModalHeader>
    {{'web.snomed.branch.management.cs-version-modal.header' | translate}}
  </m-title>

  <ng-container *mModalContent>
    <form #csVersionModalForm="ngForm">
      <m-form-item mName="name" mLabel="entities.snomed-codesystem.short-name" required>
        <m-textarea name="name" [(ngModel)]="csVersionModalData.shortName"></m-textarea>
      </m-form-item>
      <m-form-item mName="effectiveDate" mLabel="entities.snomed-codesystem-version.effective-date" required>
        <m-number-input name="effectiveDate" [(ngModel)]="csVersionModalData.effectiveDate"></m-number-input>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="csVersionModalData.visible = false">
      {{'core.btn.cancel' | translate}}
    </m-button>
    <m-button mDisplay="primary" (click)="createCodeSystemVersion()" [mLoading]="loader.isLoading" [disabled]="loader.state['add-cs-version']">
      {{'core.btn.confirm' | translate}}
    </m-button>
  </div>
</m-modal>


<m-modal [(mVisible)]="synonymDeactivationModalData.visible" (mClose)="synonymDeactivationModalData = {}">
  <m-title *mModalHeader>
    {{'web.snomed.branch.management.synonym-deactivation-modal.header' | translate}}
  </m-title>

  <ng-container *mModalContent>
    <form #synonymDeactivationModalForm="ngForm">
      <m-form-item mName="description" mLabel="web.snomed.branch.management.synonym-deactivation-modal.description" required>
        <m-textarea name="description" [(ngModel)]="synonymDeactivationModalData.descriptionId" required></m-textarea>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="synonymDeactivationModalData.visible = false">
      {{'core.btn.cancel' | translate}}
    </m-button>
    <m-button mDisplay="primary" (click)="deactivateSynonym()" [mLoading]="loader.isLoading" [disabled]="loader.state['deactivate-description']">
      {{'core.btn.confirm' | translate}}
    </m-button>
  </div>
</m-modal>

<m-modal [(mVisible)]="synonymReactivationModalData.visible" (mClose)="synonymReactivationModalData = {}">
  <m-title *mModalHeader>
    {{'web.snomed.branch.management.synonym-reactivation-modal.header' | translate}}
  </m-title>

  <ng-container *mModalContent>
    <form #synonymReactivationModalForm="ngForm">
      <m-form-item mName="description" mLabel="web.snomed.branch.management.synonym-reactivation-modal.description" required>
        <m-textarea name="description" [(ngModel)]="synonymReactivationModalData.descriptionId" required></m-textarea>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="synonymReactivationModalData.visible = false">
      {{'core.btn.cancel' | translate}}
    </m-button>
    <m-button mDisplay="primary" (click)="reactivateSynonym()" [mLoading]="loader.isLoading" [disabled]="loader.state['reactivate-description']">
      {{'core.btn.confirm' | translate}}
    </m-button>
  </div>
</m-modal>
