<m-form-row>
  <m-spinner *m-form-col [mLoading]="loader.state['save']">
    @if (snomedBranch) {
      <form #form="ngForm">
        <m-card [mShowSkeleton]="loader.isLoading" class="tw-card__sticky-footer">
          <div *m-card-header class="m-justify-between">
            <m-title>{{'web.snomed.branch.form.' + mode + '-header' | translate: {path: snomedBranch.path} }}</m-title>
          </div>
          <div *mCardContent="!loader.isLoading">
            @if (mode === 'add') {
              <m-form-row>
                <m-form-item *mFormCol mName="parentBranch" mLabel="web.snomed.branch.form.parent-branch" required>
                  <m-select name="parentBranch" [(ngModel)]="formData.parentBranch" required>
                    @for (b of branches; track b) {
                      <m-option [mLabel]="b.path" [mValue]="b.path"></m-option>
                    }
                  </m-select>
                </m-form-item>
                <m-form-item *mFormCol mName="name" mLabel="web.snomed.branch.form.name" required>
                  <m-textarea [(ngModel)]="formData.name" name="name" required></m-textarea>
                </m-form-item>
              </m-form-row>
              <m-form-item  mName="metadata" mLabel="entities.snomed-branch.metadata">
                <m-textarea name="metadata" [(ngModel)]="formData.metadata"></m-textarea>
              </m-form-item>
            }
            @if (mode === 'edit') {
              <m-form-row>
                <m-form-item *mFormCol mName="parentBranch" mLabel="web.snomed.branch.form.parent-branch">
                  {{formData.parentBranch || '-'}}
                </m-form-item>
                <m-form-item *mFormCol mName="basedOn" mLabel="web.snomed.branch.form.based-on">
                  {{(branches | apply:findBase) || '-'}}
                </m-form-item>
              </m-form-row>
              <m-form-row>
                <m-form-item *mFormCol mName="state" mLabel="entities.snomed-branch.state">
                  {{snomedBranch.state}}
                </m-form-item>
                <m-form-item *mFormCol mName="locked" mLabel="entities.snomed-branch.locked">
                  <m-checkbox name="locked" [ngModel]="snomedBranch.locked" readOnly></m-checkbox>
                </m-form-item>
              </m-form-row>
              <m-form-item mName="metadata" mLabel="entities.snomed-branch.metadata">
                <m-textarea name="metadata" [(ngModel)]="formData.metadata"></m-textarea>
              </m-form-item>
            }
          </div>
          <m-button *m-card-footer mDisplay="primary" [mLoading]="loader.state['save']" [disabled]="loader.isLoading" (mClick)="save()">
            {{'core.btn.save' | translate}}
          </m-button>
        </m-card>
      </form>
    }
  </m-spinner>
</m-form-row>
