<m-card>
  <div *m-card-header class="m-justify-between">
    <nz-breadcrumb>
      <nz-breadcrumb-item>{{'web.integration.file-import.file-import' | translate}}</nz-breadcrumb-item>
      <nz-breadcrumb-item>{{'web.integration.file-import.concept-map.import' | translate}}</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>

  <form #form="ngForm">
    <!--Id -->
    <m-form-item mName="id" mLabel="web.integration.file-import.concept-map.map-id" required>
      <ng-container *ngIf="!isNewMapSet">
        <tw-map-set-search name="id" [(ngModel)]="data.map.id" (ngModelChange)="loadMapSet($event)" valuePrimitive required></tw-map-set-search>
        <div style="margin-top: 0.5rem" (click)="iniMapSet()">
          {{'web.integration.file-import.not-found' | translate}}
          <a>{{'web.integration.file-import.create-new' | translate}}</a>
        </div>
      </ng-container>

      <m-input *ngIf="isNewMapSet" name="id" [(ngModel)]="data.map.id" required></m-input>
    </m-form-item>

    <!-- Name -->
    <m-form-item mName="name" mLabel="web.integration.file-import.concept-map.map-name" *ngIf="data.map.id">
      <ng-container *ngIf="!isNewMapSet">{{data.loadedMapSet?.names | localName: '-'}}</ng-container>
      <m-multi-language-input *ngIf="isNewMapSet" name="names" [(ngModel)]="data.map.names"></m-multi-language-input>
    </m-form-item>

    <!-- Version -->
    <m-form-item mName="version" mLabel="web.integration.file-import.concept-map.map-version">
      <tw-semantic-version-select
          name="version"
          [(ngModel)]="data.version.version"
          [versions]="(isNewMapSet ? undefined : data.map.id) | apply: loadMapSetVersions | async"
      ></tw-semantic-version-select>
    </m-form-item>

    <!-- Release date -->
    <m-form-item mName="releaseDate" mLabel="entities.map-set-version.release-date" required>
      <m-date-picker name="releaseDate" [(ngModel)]="data.version.releaseDate" required></m-date-picker>
    </m-form-item>

    <!-- Source valueset  -->
    <m-form-item mName="sourceValueSet" mLabel="web.integration.file-import.concept-map.source-value-set" required>
      <tw-value-set-search name="sourceValueSet" [(ngModel)]="data.sourceValueSet" valuePrimitive required></tw-value-set-search>
    </m-form-item>

    <!-- Destination valueset  -->
    <m-form-item mName="targetValueSet" mLabel="web.integration.file-import.concept-map.target-value-set" required>
      <tw-value-set-search name="targetValueSet" [(ngModel)]="data.targetValueSet" valuePrimitive required></tw-value-set-search>
    </m-form-item>

    <!-- File-->
    <m-form-item mName="targetValueSet" mLabel="web.integration.file-import.concept-map.target-value-set" required>
      <input #fileInput id="fileInput" name="sourceImportFile" type="file" [(ngModel)]="data.file" required>
    </m-form-item>


    <m-button *m-card-footer (click)="process()" [mLoading]="loading['processing']" [disabled]="form.invalid">
      {{'web.integration.file-import.process' | translate}}
    </m-button>
    <div *ngIf="jobResponse">
      <m-alert *ngFor="let error of jobResponse.errors" mType="error" mShowIcon>
        {{error}}
      </m-alert>
      <m-alert *ngFor="let warning of jobResponse.warnings" mType="warning" mShowIcon>
        {{warning}}
      </m-alert>
      <m-alert *ngFor="let success of jobResponse.successes" mType="success" mShowIcon>
        {{success}}
      </m-alert>
    </div>
  </form>
</m-card>

<ng-template #successNotificationContent>
  <a *ngIf="'*.MapSet.edit' | twHasAnyPrivilege; else view" (click)="openMapSet(data.map.id, 'edit')">{{data.map.id}}</a>
  <ng-template #view>
    <a (click)="openMapSet(data.map.id, 'view')">{{data.map.id}}</a>
  </ng-template>
</ng-template>

