<m-page mFull [mTitle]="spaceSelector" class="thesaurus">
  <ng-template #spaceSelector>
    <m-dropdown [mHideIfEmpty]="false">
      <m-button *m-dropdown-container mDisplay="text">
        <div class="m-items-middle">
          {{loader.state['spaces'] ? '...' : (space?.names | localName) ?? 'web.thesaurus-page.spaces' | translate}}
          <m-icon mCode="down"></m-icon>
        </div>
      </m-button>

      <ng-container *ngFor="let s of spaces">
        <ng-container *ngIf="s.id !== space?.id">
          <a *m-dropdown-item (mClick)="preferences.setSpace(s.id)">
            {{s.names | localName: s.code}}
          </a>
        </ng-container>
      </ng-container>
    </m-dropdown>
  </ng-template>


  <div class="page__container">
    <div class="page__sidebar">
      <tw-collapse-panel resizable>
        <m-skeleton [mLoading]="loader.state['spaces']">
          <tw-thesaurus-sidebar *ngIf="space" [space]="space" [path]="path" (viewRoot)="viewRoot()" (viewPage)="viewPage($event)"/>
        </m-skeleton>
      </tw-collapse-panel>
    </div>


    <ng-template #noSpace>
      <div class="page__wrapper">
        <m-alert mType="error" mShowIcon class="tw-alert--no-line m-rounded" mTitle="web.thesaurus-page.no-space.title">
          {{'web.thesaurus-page.no-space.desc' | translate}}
        </m-alert>
      </div>
    </ng-template>


    <ng-container *ngIf="loader.state['spaces'] || space; else noSpace">
      <tw-thesaurus-space-overview
          *ngIf="isOverviewSelected" class="page__wrapper"
          [space]="space"
          (viewPage)="viewPage($event)"
      ></tw-thesaurus-space-overview>

      <tw-thesaurus-page-details
          *ngIf="!isOverviewSelected"
          [slug]="slug"
          [page]="page"
          (viewPage)="viewPage($event)"
          (editPage)="editPage($event)"
          (viewRelation)="viewTarget($event)"
      ></tw-thesaurus-page-details>
    </ng-container>
  </div>
</m-page>

