<tw-resource-context resourceType="CodeSystem" [resource]="codeSystem" [version]="codeSystemVersion" mode="summary"></tw-resource-context>
<m-page [mLoading]="loader.isLoading" [twPrivilegeContext]="[codeSystem?.id, 'CodeSystem']">
<m-page-container breakpoint="xl">
  <m-form-row class="with-row-gap" mGap="1rem">
    <div *mFormCol style="display: flex; gap: 1rem; flex-direction: column">

      <!-- ValueSetVersion info -->
      <m-card>
        <m-title *m-card-header mTitle="web.code-system-version.summary.code-system-version">
          <m-button *ngIf="codeSystemVersion?.status === 'draft' && ('edit' | twPrivileged)"
              mControls
              mDisplay="text"
              [routerLink]="['/resources/code-systems', codeSystem?.id, 'versions', codeSystemVersion?.version, 'edit']">
            {{'web.code-system-version.summary.edit-version' | translate}}&nbsp;
            <m-icon mCode="form"></m-icon>
          </m-button>
        </m-title>
        <tw-code-system-version-info-widget [codeSystem]="codeSystem"
            [version]="codeSystemVersion"
            (taskCreated)="tasksWidgetComponent.loadTasks()"
            (versionChanged)="loadData(codeSystem?.id, codeSystemVersion?.version)"></tw-code-system-version-info-widget>
      </m-card>


    </div>
    <div *mFormCol style="display: flex; gap: 1rem; flex-direction: column">
      <m-card *twPrivileged="'*.Task.view'">
        <div *m-card-header class="m-justify-between">
          <div class="m-items-middle">
            <a *ngIf="!showOnlyOpenedTasks" (mClick)="showOnlyOpenedTasks = !showOnlyOpenedTasks">
              <m-title mTitle="web.code-system-version.summary.opened-tasks"></m-title>
            </a>
            <m-title *ngIf="showOnlyOpenedTasks" mTitle="web.code-system-version.summary.opened-tasks"></m-title>
            <span>|</span>
            <a *ngIf="showOnlyOpenedTasks" (mClick)="showOnlyOpenedTasks = !showOnlyOpenedTasks">
              <m-title mTitle="web.code-system-version.summary.all-tasks"></m-title>
            </a>
            <m-title *ngIf="!showOnlyOpenedTasks" mTitle="web.code-system-version.summary.all-tasks"></m-title>
          </div>
          <m-button mDisplay="text"
              (mClick)="taskModal.toggleModal({type: 'review', workflowPrefix: 'version',
              context: {resourceId: codeSystem?.id, resourceVersionId: codeSystemVersion?.id, resourceVersionVersion: codeSystemVersion?.version}})"
              *twPrivileged="'*.Task.edit'">
            <m-icon mCode="plus"/>&nbsp; {{'web.code-system-version.summary.add-task' | translate}}
          </m-button>
        </div>
        <tw-resource-tasks-widget [resourceId]="codeSystemVersion?.id | toString"
            [taskFilters]="showOnlyOpenedTasks ? {statuses: ['requested']} : undefined "
            resourceType="CodeSystemVersion"/>
      </m-card>
    </div>
  </m-form-row>
</m-page-container>
</m-page>

<tw-resource-task-modal #taskModal (taskCreated)="tasksWidgetComponent.loadTasks()" resourceType="CodeSystem"/>
