<m-card class="m-card-inside">
  <div *m-card-header class="m-items-between">
    <div class="m-card-title">{{'entities.code-system-entity-version.property-values' | translate}}</div>
    <twa-add-button *ngIf="!viewMode" (click)="addPropertyValue()">{{'web.code-system-concept-version.property-value.add-property-value' | translate}}</twa-add-button>
  </div>
  <div>
    <form #form="ngForm">
      <m-card class="m-card-inside" *ngFor="let propertyValue of propertyValues; let index = index">
        <div nz-row [nzGutter]="12" nzJustify="center" class="m-row">
          <div nz-col [nzLg]="6" [nzMd]="6" [nzXs]="24" style="height: min-content">
            <m-form-item mName="property-{{index}}" required>
              <m-select *ngIf="!viewMode" name="property-{{index}}"
                  [(ngModel)]="propertyValue.entityPropertyId"
                  placeholder="entities.entity-property.type"
                  icon="search"
                  required>
                <m-option *ngFor="let prop of entityProperties" [value]="prop.id" [label]="prop.name"></m-option>
              </m-select>
              <label *ngIf="viewMode">{{propertyValue.entityPropertyId | apply:getPropertyName:entityProperties}}</label>
            </m-form-item>
          </div>
          <div nz-col [nzLg]="18" [nzMd]="18" [nzXs]="24">
            <div style="display: flex">
              <m-form-item style="width: 100%" *ngIf="propertyValue.entityPropertyId" mName="propertyValue-{{index}}" required>
                <ng-container *ngIf="checkPropertyType('string,code,Coding', propertyValue)">
                  <m-input *ngIf="!viewMode" name="propertyValue-{{index}}" [(ngModel)]="propertyValue.value" required></m-input>
                  <label *ngIf="viewMode">{{propertyValue.value}}</label>
                </ng-container>
                <ng-container *ngIf="checkPropertyType('dateTime', propertyValue)">
                  <m-date-picker *ngIf="!viewMode" name="propertyValue-{{index}}" [(ngModel)]="propertyValue.value" required></m-date-picker>
                  <label *ngIf="viewMode">{{propertyValue.value | localDate}}</label>
                </ng-container>
                <ng-container *ngIf="checkPropertyType('decimal,integer', propertyValue)">
                  <m-number-input *ngIf="!viewMode" name="propertyValue-{{index}}" [(ngModel)]="propertyValue.value" required></m-number-input>
                  <label *ngIf="viewMode">{{propertyValue.value}}</label>
                </ng-container>
                <m-checkbox *ngIf="checkPropertyType('boolean', propertyValue)" name="propertyValue-{{index}}" [(ngModel)]="propertyValue.value" [disabled]="!!viewMode" required></m-checkbox>
              </m-form-item>
              <m-button *ngIf="!viewMode" mDisplay="text" (click)="removePropertyValue(index)">
                <m-icon [mCode]="'delete'"></m-icon>
              </m-button>
            </div>
          </div>
        </div>
      </m-card>
    </form>
  </div>
</m-card>
