<div class="tw-flex-container">
  <div>
    <div class="m-justify-between">
      <div class="m-items-middle">
        <m-input [(ngModel)]="searchInput.input" (mChange)="searchUpdate.next()" placeholder="marina.ui.inputs.search.placeholder" [disabled]="group.open"></m-input>
        <m-radio-group [(ngModel)]="searchInput.type" (ngModelChange)="searchUpdate.next()">
          <label m-radio-button [mValue]="'contains'">{{'web.code-system.form.concepts.contains' | translate}}</label>
          <label m-radio-button [mValue]="'eq'">{{'web.code-system.form.concepts.eq' | translate}}</label>
        </m-radio-group>
        <m-button (click)="filter.open = !filter.open"
            [disabled]="group.open"
            [mDisplay]="filter.languages || filter.propertyName || filter.propertyValue || filter.version ? 'primary' : 'default'">
          <m-icon mCode="filter"></m-icon>
        </m-button>
        <m-button (click)="group.open = !group.open; filter.open = false" [mDisplay]="group.open ? 'primary' : 'default'">
          <m-icon mCode="folder-open"></m-icon>
        </m-button>
      </div>

      <tw-add-button *ngIf="!viewMode" (click)="openConcept()">
        {{'web.code-system.form.concepts.add-concept' | translate}}
      </tw-add-button>
    </div>

    <m-card *ngIf="filter.open" mDisplay="bordered" style="margin-top: 1rem">
      <m-form-row>
        <div *m-form-col>
          <m-form-item mLabel="web.code-system-concept.filter.version-filter">
            <m-select [(ngModel)]="filter.version"
                (ngModelChange)="initFilterLanguages(filter.version?.supportedLanguages)"
                (mChange)="searchUpdate.next()"
                [placeholder]="'web.code-system-concept.filter.select-version-placeholder' | translate">
              <m-option *ngFor="let version of codeSystemVersions" [mLabel]="version.version" [mValue]="version"></m-option>
            </m-select>
          </m-form-item>
        </div>

        <div *m-form-col>
          <m-form-item mLabel="web.code-system-concept.filter.language-filter">
            <m-select [autoUnselect]="false"
                [disabled]="!filter.version?.supportedLanguages.length"
                [(ngModel)]="filter['languages']"
                multiple
                [placeholder]="'web.code-system-concept.filter.select-language-placeholder' | translate">
              <m-option *ngFor="let language of filter.version?.supportedLanguages"
                  [mLabel]="language | localizedConceptName:{valueSet: 'languages'} | async"
                  [mValue]="language"></m-option>
            </m-select>
          </m-form-item>
        </div>

        <div *m-form-col>
          <m-form-item mLabel="web.code-system-concept.filter.property-filter">
            <m-select [(ngModel)]="filter.propertyName"
                (ngModelChange)="filter.propertyValue = undefined"
                [placeholder]="'web.code-system-concept.filter.select-property-placeholder' | translate"
                (mChange)="searchUpdate.next()">
              <m-option *ngFor="let property of properties" [mLabel]="property.name" [mValue]="property.name"></m-option>
            </m-select>
          </m-form-item>
        </div>

        <div *m-form-col>
          <m-form-item mLabel="web.code-system-concept.filter.property-name-filter">
            <m-input [disabled]="!filter.propertyName"
                [(ngModel)]="filter.propertyValue"
                [placeholder]="'web.code-system-concept.filter.search-property-value-placeholder' | translate"
                (mChange)="searchUpdate.next()"></m-input>
          </m-form-item>
        </div>
      </m-form-row>
    </m-card>

    <m-card *ngIf="group.open" mDisplay="bordered" style="margin-top: 1rem">
      <m-form-row>
        <div *m-form-col>
          <m-form-item mLabel="web.code-system-concept.group.type">
            <m-select [(ngModel)]="group.type" (ngModelChange)="group.association = null; group.property = null" name="type">
              <m-option [mLabel]="'Association'" [mValue]="'association'"></m-option>
              <m-option [mLabel]="'Property'" [mValue]="'property'"></m-option>
            </m-select>
          </m-form-item>
        </div>

        <div *m-form-col>
          <m-form-item *ngIf="group.type === 'association'" mLabel="web.code-system-concept.group.association">
            <tw-association-type-search [(ngModel)]="group.association"
                (ngModelChange)="groupConcepts($event)"
                name="association"
                valuePrimitive></tw-association-type-search>
          </m-form-item>
          <m-form-item *ngIf="group.type === 'property'" mLabel="web.code-system-concept.group.property">
            <m-select [(ngModel)]="group.property" (ngModelChange)="groupConcepts($event)" name="property">
              <m-option *ngFor="let property of properties" [mLabel]="property.name" [mValue]="property.id"></m-option>
            </m-select>
          </m-form-item>
        </div>
      </m-form-row>
    </m-card>
  </div>

  <m-backend-table *ngIf="!group.open" [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="loadData()" [mLoading]="loading" mSize="small">
    <tr *mTableHead>
      <th>{{'entities.code-system-concept.code' | translate}}</th>
      <th>{{'entities.code-system-entity-version.designations' | translate}}</th>
      <th>{{'entities.code-system-entity-version.property-values' | translate}}</th>
      <th>{{'entities.code-system-concept.description' | translate}}</th>
      <th>{{'web.code-system-concept.list.external' | translate}}</th>
      <th></th>
    </tr>
    <tr *mTableRow="let concept">
      <td><a (click)="openConcept(concept.code)">{{concept.code}}</a></td>
      <td style="width: 40%">
        <div *ngFor="let designation of (concept.versions | apply:findLastVersion)?.designations" style="display: flex">
          <label class="m-bold" style="flex: 1">{{designation.language}}</label>
          <label style="flex: 4">{{designation.name}}</label>
        </div>
      </td>
      <td style="width: 30%">
        <div *ngFor="let property of (concept.versions | apply:findLastVersion)?.propertyValues" style="display: flex">
          <label class="m-bold" style="flex: 1">{{property.entityProperty}}</label>
          <tw-property-value-input viewMode [ngModel]="property.value" [propertyId]="property.entityPropertyId" [codeSystem]="codeSystemId"></tw-property-value-input>
        </div>
      </td>
      <td>{{concept.description}}</td>
      <td>
        <m-icon mCode="check" *ngIf="concept.codeSystem !== codeSystemId"></m-icon>
      </td>
      <td>
        <m-dropdown>
          <a *m-dropdown-item (click)="openConcept(null, concept.code)">
            {{'web.code-system-concept.list.add-concept-child' | translate}}
          </a>
        </m-dropdown>
      </td>
    </tr>

    <tr *mTableNoData>
      <td colspan="100%">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-backend-table>

  <m-tree class="concept-tree" *ngIf="group.open && rootConcepts" [mData]="rootConcepts" mAsyncData (mExpand)="loadChildren($event)" [mOption]="option">
    <ng-template #option let-node>
      <div class="m-justify-between">
        <span (click)="openConcept(node.key)">{{ node.title }}</span>
        <m-dropdown>
          <m-icon *m-dropdown-container mCode="ellipsis"></m-icon>
          <a *m-dropdown-item (click)="openConcept(null, node.key)">
            {{'web.code-system-concept.list.add-concept-child' | translate}}
          </a>
        </m-dropdown>
      </div>
    </ng-template>
  </m-tree>
</div>
