<tw-resource-context resourceType="ValueSet" [resource]="valueSet | apply:toResource" [versions]="versions" mode="summary"></tw-resource-context>
<m-page [mLoading]="loader.isLoading">

    <m-form-row class="with-row-gap" mGap="1rem">
      <div *mFormCol style="display: flex; gap: 1rem; flex-direction: column">

        <!-- ValueSet info -->
        <m-card>
          <m-title *m-card-header mTitle="web.value-set.summary.value-set"></m-title>
          <tw-value-set-info-widget [valueSet]="valueSet"></tw-value-set-info-widget>
        </m-card>

        <!-- Tasks -->
        <m-card>
          <m-title *m-card-header mTitle="web.value-set.summary.opened-tasks"></m-title>
          <tw-resource-tasks-widget [resourceId]="valueSet?.id" resourceType="ValueSet"></tw-resource-tasks-widget>
        </m-card>

        <!-- Related artifacts-->
        <m-card>
          <m-title *m-card-header mTitle="web.value-set.summary.related-artifacts"></m-title>
          <tw-resource-related-artifact-widget [resourceId]="valueSet?.id" resourceType="ValueSet"></tw-resource-related-artifact-widget>
        </m-card>
      </div>
      <div *mFormCol style="display: flex; gap: 1rem; flex-direction: column">

        <!-- Versions -->
        <m-card>
          <m-title *m-card-header mTitle="web.value-set.summary.versions">
            <m-button mControls mDisplay="text" mShape="circle" [routerLink]="['/resources/value-sets', valueSet?.id, 'versions', 'add']">
              <m-icon mCode="plus"></m-icon>
            </m-button>
          </m-title>
          <tw-value-set-versions-widget [valueSet]="valueSet?.id" [versions]="versions"></tw-value-set-versions-widget>
        </m-card>
      </div>
    </m-form-row>
    <m-form-row>

      <!-- Expansions -->
      <m-card style="margin-top: 1rem">
        <m-title *m-card-header mTitle="web.value-set.summary.expansions"></m-title>
        <m-no-data *ngIf="!((versions | apply:mapVersionToSnapshot)?.length > 0)"></m-no-data>
        <m-list *ngIf="(versions | apply:mapVersionToSnapshot)?.length > 0" mSeparated>
          <m-list-item *ngFor="let snap of (versions | apply:mapVersionToSnapshot)" mClickable (mClick)="openVersionConcepts(snap.valueSetVersion.version)">
            <div class="m-items-middle">
              <a (mClick)="openVersionSummary(snap.valueSetVersion.version)">{{snap.valueSetVersion.version}}</a>
              <m-divider mVertical></m-divider>
              <span>{{'web.value-set.summary.total-concepts' | translate}}: {{snap.conceptsTotal}}</span>
              <m-divider mVertical></m-divider>
              <m-icon mCode="clock-circle"></m-icon>
              <span>{{snap.createdAt | localDate}}</span>
              <m-divider mVertical></m-divider>
              <m-icon mCode="user"></m-icon>
              <span>{{snap.createdBy || '-'}}</span>
            </div>
          </m-list-item>
        </m-list>
      </m-card>
    </m-form-row>

</m-page>
