<tw-resource-context resourceType="ValueSet" [resource]="valueSet" [versions]="versions" mode="summary"></tw-resource-context>
<m-page [mLoading]="loader.isLoading" [twPrivilegeContext]="[valueSet?.id, 'ValueSet']">
<m-page-container breakpoint="xl">
  <m-form-row class="with-row-gap" mGap="1rem">
    <div *mFormCol style="display: flex; gap: 1rem; flex-direction: column">

      <!-- ValueSet info -->
      <m-card>
        <m-title *m-card-header mTitle="web.value-set.summary.value-set"></m-title>
        <tw-value-set-info-widget [valueSet]="valueSet"/>
      </m-card>

      <!-- Versions -->
      <m-card>
        <m-title *m-card-header mTitle="web.value-set.summary.versions">
          <m-button mControls mDisplay="text" [routerLink]="['/resources/value-sets', valueSet?.id, 'versions', 'add']" *twPrivileged>
            {{'web.value-set.summary.add-version' | translate}}&nbsp;
            <m-icon mCode="plus"></m-icon>
          </m-button>
        </m-title>
        <tw-value-set-versions-widget [valueSet]="valueSet?.id" [valueSetTitle]="valueSet?.title" [versions]="versions" (versionsChanged)="loadData(valueSet.id)"/>
      </m-card>

    </div>
    <div *mFormCol style="display: flex; gap: 1rem; flex-direction: column">

      <!-- Tasks -->
      <m-card *twPrivileged="'*.Task.view'">
        <div *m-card-header class="m-justify-between">
          <div class="m-items-middle">
            <a *ngIf="!showOnlyOpenedTasks" (mClick)="showOnlyOpenedTasks = !showOnlyOpenedTasks">
              <m-title mTitle="web.value-set.summary.opened-tasks"/>
            </a>
            <m-title *ngIf="showOnlyOpenedTasks" mTitle="web.value-set.summary.opened-tasks"/>
            <span>|</span>
            <a *ngIf="showOnlyOpenedTasks" (mClick)="showOnlyOpenedTasks = !showOnlyOpenedTasks">
              <m-title mTitle="web.value-set.summary.all-tasks"></m-title>
            </a>
            <m-title *ngIf="!showOnlyOpenedTasks" mTitle="web.value-set.summary.all-tasks"/>
          </div>
          <m-button mDisplay="text"
              (mClick)="taskModal.toggleModal({type: 'review', workflowPrefix: 'version', context: {resourceId: valueSet?.id}})"
              *twPrivileged="'*.Task.edit'">
            <m-icon mCode="plus"/>&nbsp; {{'web.value-set.summary.add-task' | translate}}
          </m-button>
        </div>
        <tw-resource-tasks-widget [resourceId]="valueSet?.id"
            [taskFilters]="showOnlyOpenedTasks ? {statuses: ['requested']} : undefined "
            resourceType="ValueSet"/>
      </m-card>

      <!-- Related artifacts-->
      <m-card>
        <m-title *m-card-header mTitle="web.value-set.summary.related-artifacts"/>
        <tw-resource-related-artifact-widget [resourceId]="valueSet?.id" resourceType="ValueSet"/>
      </m-card>

    </div>
  </m-form-row>
  <m-form-row>

    <!-- Expansions -->
    <m-card style="margin-top: 1rem">
      <m-title *m-card-header mTitle="web.value-set.summary.expansions"></m-title>
      <m-no-data *ngIf="!((versions | apply:mapVersionToSnapshot)?.length > 0)"></m-no-data>
      <m-list *ngIf="(versions | apply:mapVersionToSnapshot)?.length > 0" mSeparated>
        <m-list-item *ngFor="let snap of (versions | apply:mapVersionToSnapshot)" mClickable (mClick)="openVersionConcepts(snap.valueSetVersion.version)">
          <div class="m-items-middle">
            <a (mClick)="openVersionSummary(snap.valueSetVersion.version)">{{snap.valueSetVersion.version}}</a>
            <m-divider mVertical></m-divider>
            <span>{{'web.value-set.summary.total-concepts' | translate}}: {{snap.conceptsTotal}}</span>
            <m-divider mVertical></m-divider>
            <m-icon mCode="clock-circle"></m-icon>
            <span>{{snap.createdAt | localDate}}</span>
            <m-divider mVertical></m-divider>
            <m-icon mCode="user"></m-icon>
            <span>{{snap.createdBy || '-'}}</span>
          </div>
        </m-list-item>
      </m-list>
    </m-card>
  </m-form-row>
</m-page-container>
</m-page>

<tw-resource-task-modal #taskModal (taskCreated)="tasksWidgetComponent.loadTasks()" resourceType="ValueSet"/>
