<nz-tabset nzLinkRouter>
  <nz-tab *twPrivileged="'*.CodeSystem.view'">
    <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'code-systems' }" class="m-items-middle">
      {{'web.resources.tabset.code-systems' | translate}}
      <m-tag class="tw-tab-total-tag">{{codeSystemTotal}}</m-tag>
    </a>
    <tw-code-system-list></tw-code-system-list>
  </nz-tab>
  <nz-tab *twPrivileged="'*.ValueSet.view'">
    <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'value-sets' }" class="m-items-middle">
      {{'web.resources.tabset.value-sets' | translate}}
      <m-tag class="tw-tab-total-tag">{{valueSetTotal}}</m-tag>
    </a>
    <tw-value-set-list></tw-value-set-list>
  </nz-tab>
  <nz-tab *twPrivileged="'*.MapSet.view'">
    <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'map-sets' }" class="m-items-middle">
      {{'web.resources.tabset.map-sets' | translate}}
      <m-tag class="tw-tab-total-tag">{{mapSetTotal}}</m-tag>
    </a>
    <tw-map-set-list></tw-map-set-list>
  </nz-tab>
  <nz-tab *twPrivileged="'*.NamingSystem.view'">
    <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'naming-systems' }" class="m-items-middle">
      {{'web.resources.tabset.naming-systems' | translate}}
      <m-tag class="tw-tab-total-tag">{{namingSystemTotal}}</m-tag>
    </a>
    <tw-naming-system-list></tw-naming-system-list>
  </nz-tab>
  <nz-tab *twPrivileged="'*.AssociationType.view'">
    <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'association-types' }" class="m-items-middle">
      {{'web.resources.tabset.association-types' | translate}}
      <m-tag class="tw-tab-total-tag">{{associationTypeTotal}}</m-tag>
    </a>
    <tw-association-type-list></tw-association-type-list>
  </nz-tab>
</nz-tabset>
