<m-spinner [mLoading]="isLoading">
  <m-card>
    <div *m-card-header style="display: flex">
      <label>{{pageContent?.name}}</label>
      <div style="margin-left: auto;">
        <m-button (click)="save()" mDisplay="primary">
          <m-icon mCode="check"></m-icon>
        </m-button>
        <m-button (click)="modalVisible = true" style="margin-left: 0.5rem">
          <m-icon mCode="setting"></m-icon>
        </m-button>
        <m-button (click)="closeEditMode()" style="margin-left: 0.5rem">
          <m-icon mCode="close"></m-icon>
        </m-button>
      </div>
    </div>

    <twa-smart-text-editor *ngIf="pageContent" [(ngModel)]="pageContent.content" [valueType]="pageContent.contentType" name="content"></twa-smart-text-editor>

  </m-card>
</m-spinner>

<twa-thesaurus-page-modal [modalVisible]="modalVisible"
    [pageId]="pageContent?.pageId"
    [contentId]="pageContent?.id"
    (closed)="modalVisible = false"
    (saved)="openPageContentEdit($event)"></twa-thesaurus-page-modal>
