<m-modal [(mVisible)]="modalVisible" (mClose)="closed.emit()">
  <ng-container *m-modal-header>
    {{(pageId ? 'web.thesaurus-page.form.edit-header' : 'web.thesaurus-page.form.add-header') | translate}}
  </ng-container>

  <ng-container *m-modal-content>
    <form #form="ngForm" *ngIf="page">
      <m-form-item mName="status" mLabel="entities.page.status" required>
        <m-select name="status" [(ngModel)]="page.status" required>
          <m-option label="draft" [value]="'draft'"></m-option>
          <m-option label="active" [value]="'active'"></m-option>
        </m-select>
      </m-form-item>

      <m-form-item mName="name" mLabel="entities.page-content.name" required>
        <m-input name="name" [(ngModel)]="content.name" autofocus required></m-input>
      </m-form-item>

      <m-form-item mName="lang" mLabel="entities.page-content.lang" required>
        <m-select name="lang" [(ngModel)]="content.lang" required>
          <m-option label="en" [value]="'en'"></m-option>
          <m-option label="et" [value]="'et'"></m-option>
        </m-select>
      </m-form-item>

      <m-form-item mLabel="entities.page.relations">
        <m-table [mData]="page.relations" mSize="small">
          <tr *mTableHead>
            <th>{{'entities.page-relation.source' | translate}}</th>
            <th>{{'entities.page-relation.order-number' | translate}}</th>
            <th class="tw-table-actions"></th>
          </tr>
          <tr *mTableRow="let relation; let index = index">
            <td>
              <twl-page-select name="source-{{index}}" [(ngModel)]="relation.sourceId" [idNe]="page.id" required></twl-page-select>
            </td>
            <td>
              <m-number-input name="orderNumber-{{index}}" [(ngModel)]="relation.orderNumber"></m-number-input>
            </td>
            <td class="tw-table-actions">
              <m-button mDisplay="link" (click)="deleteRelation(index)">
                <m-icon mCode="delete"></m-icon>
              </m-button>
            </td>
          </tr>
          <tr>
            <td colspan="4" style="padding: 0">
              <m-button mDisplay="text" mSize="small" style="width: 100%" (click)="addRelation()">
                <m-icon [mCode]="'plus'"></m-icon>
              </m-button>
            </td>
          </tr>
          <tr *mTableNoData>
            <td colspan="5">
              <m-no-data></m-no-data>
            </td>
          </tr>
        </m-table>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="tw-button-group">
    <m-button mDisplay="text" (click)="closed.emit()">{{'core.btn.close' | translate}}</m-button>
    <m-button mDisplay="primary"
        [mLoading]="loading['save']"
        [disabled]="loading['init'] || isLoading"
        (click)="save()">{{'core.btn.save' | translate}}</m-button>
  </div>
</m-modal>


