<m-card>
  <div *m-card-header class="m-justify-between">
    <m-input [(ngModel)]="searchInput" twDebounce [debounced]="onSearch" placeholder="marina.ui.inputs.search.placeholder"></m-input>
    <m-dropdown *twPrivileged="'*.MapSet.edit'">
      <tw-add-button *m-dropdown-container icon="down" placement="right">
        {{'web.map-set.list.add-map-set' | translate}}
      </tw-add-button>
      <a *m-dropdown-item [routerLink]="'add'">
        {{'web.map-set.list.manual' | translate}}
      </a>
      <a *m-dropdown-item (mClick)="importModal.toggleModal(true)">
        {{'web.map-set.list.import-fhir' | translate}}
      </a>
    </m-dropdown>
  </div>

  <m-backend-table [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="loadData()" [mLoading]="loading">
    <tr *mTableHead>
      <th></th>
      <th mColumnKey="id">{{'entities.map-set.id' | translate}}</th>
      <th>{{'web.map-set.list.last-version' | translate}}</th>
      <th>{{'entities.map-set.title' | translate}}</th>
      <th>{{'entities.map-set.publisher' | translate}}</th>
      <th>{{'web.map-set.list.status' | translate}}</th>
      <th *twPrivileged="'*.MapSet.edit'" class="tw-table-actions"></th>
    </tr>

    <tr *mTableRow="let ms">
      <td m-table-expand [mItem]="ms"></td>
      <td><a [routerLink]="[ms.id, 'summary']">{{ms.id}}</a></td>
      <td>
        <ng-container *ngIf="(ms.versions | apply:findLastVersion)?.version as version">
          <a [routerLink]="[ms.id, 'versions', version, 'summary']">{{version}}</a>
        </ng-container>
      </td>
      <td>{{ms.title | localName}}</td>
      <td>{{ms.publisher | localizedConceptName: {codeSystem: 'publisher'} | async}}</td>
      <td><tw-status-tag [status]="(ms.versions | apply:findLastVersion)?.status"></tw-status-tag></td>
      <td class="tw-table-actions">
        <m-dropdown>
          <a *m-dropdown-item (click)="openFhir(ms.id)">
            <m-icon [mCode]="'link'"></m-icon>&nbsp; {{'web.map-set.list.open-fhir' | translate}}
          </a>
          <ng-container *twPrivileged="'*.MapSet.publish'">
            <a *m-dropdown-item (click)="deleteMapSet(ms.id)"> <m-icon [mCode]="'delete'"></m-icon>&nbsp; {{'core.btn.delete' | translate}}</a>
          </ng-container>
        </m-dropdown>
      </td>
    </tr>

    <tr *mTableRowExpand="let ms" class="m-table-expanded-row">
      <td colspan="100%">
        <div style="display: grid">
          <div><label><b>{{'entities.map-set.uri' | translate}}:</b> {{ms.uri}}</label></div>
          <div style="display: grid" *ngIf="ms.versions.length > 0">
            <label><b>{{'entities.map-set.versions' | translate}}</b></label>
            <label *ngFor="let version of ms.versions">
              <b style="margin-right: 1rem">{{version.version}}</b>
              <i>{{version.releaseDate ? (version.releaseDate | localDate) : '...'}} - {{version.expirationDate ? (version.expirationDate | localDate) : '...'}}</i>
            </label>
          </div>
        </div>
      </td>
    </tr>

    <tr *mTableNoData>
      <td colspan="100%">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-backend-table>
</m-card>

<tw-resource-fhir-import-modal #importModal (imported)="loadData()" resourceType="ConceptMap"></tw-resource-fhir-import-modal>
