<m-page-bar mPosition="top">
  <div class="space-context">
    <div class="space-context__container">
      <span class="space-context__item" style="width: 100%; grid-column: 3 span" *ngIf="loading">...</span>

      <ng-container *ngIf="!loading">
        <!-- Left -->
        <div class="space-context__item space-context__info">
          <tw-space-drawer-search #spaceDrawer [space]="space" [package]="pack" [version]="version"
              (twChange)="setContext({spaceId: $event?.space?.id, packageId: $event?.package?.id, versionId: $event.version?.id})">
          </tw-space-drawer-search>
          <div>
            <m-button *ngIf="space" mDisplay="text" mShape="circle" [routerLink]="['/spaces', space?.id, 'edit']">
              <span class="m-items-middle"><m-icon mCode="form"></m-icon></span>
            </m-button>
            <m-button *ngIf="version" mDisplay="text" mShape="circle" (mClick)="downloadYaml()">
              <span class="m-items-middle"><m-icon mCode="download"></m-icon></span>
            </m-button>
          </div>
        </div>

        <!-- Filler -->
        <div class="space-context__item"></div>

        <!-- Right -->
        <div class="space-context__item space-context__info">
          <a *ngIf="!pack && !version" (click)="spaceDrawer.openDrawer()">{{'web.space.all-packages' | translate}}</a>

          <!-- Package-->
          <div *ngIf="pack">
            <div class="m-subtitle">{{'entities.package.singular' | translate}}</div>
            <div class="m-items-middle">
              <div class="m-bold">{{pack.code}}</div>
            </div>
            <div class="m-subtitle">{{pack.git}}</div>
          </div>

          <!-- Package version-->
          <div *ngIf="version">
            <!-- Title -->
            <div class="m-subtitle">{{'entities.package.version.singular' | translate}}</div>
            <!-- Code -->
            <div class="m-bold">{{version.version}}</div>
          </div>
        </div>

        <div *ngIf="pack || version" class="space-context__item selectable" (click)="unselectPackage()">
          <m-icon mCode="close"></m-icon>
        </div>

      </ng-container>
    </div>
  </div>
</m-page-bar>

<div class="space-context__content">
  <router-outlet></router-outlet>
</div>

