<m-card>
  <div *m-card-header class="tw-items-between">
    <m-input [(ngModel)]="searchInput" (mChange)="searchUpdate.next($event)" placeholder="marina.ui.inputs.search.placeholder"></m-input>
    <m-button [routerLink]="'value-sets/add'">
      <m-icon [mCode]="'plus'"></m-icon> &nbsp; {{'web.value-set.form.add-header' | translate}}
    </m-button>
  </div>

  <m-backend-table [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="loadData()" [mLoading]="loading">
    <tr *mTableHead>
      <th></th>
      <th mColumnKey="id">{{'web.value-set.entity.id' | translate}}</th>
      <th mColumnKey="name">{{'web.value-set.entity.name' | translate}}</th>
      <th mColumnKey="uri">{{'web.value-set.list.domain' | translate}}</th>
      <th class="tw-table-actions"></th>
    </tr>

    <tr *mTableRow="let vs">
      <td m-table-expand [mItem]="vs"></td>
      <td><a [routerLink]="['value-sets',vs.id, 'edit']">{{vs.id}}</a></td>
      <td>{{vs.names | localName}}</td>
      <td>{{vs.uri | apply: parseDomain}}</td>
      <td class="tw-table-actions">
        <m-dropdown>
          <a *m-dropdown-item>{{'core.btn.delete' | translate}}</a>
        </m-dropdown>
      </td>
    </tr>

    <tr *mTableRowExpand="let vs" class="m-table-expanded-row">
      <td colspan="5">
        <m-form-row mFull>
          <div *mFormCol>
            <m-form-item mLabel="web.value-set.entity.uri">
              {{vs.uri}}
            </m-form-item>
            <m-form-item mLabel="web.value-set.entity.description">
              {{vs.description}}
            </m-form-item>
            <m-form-item mLabel="web.value-set.list.versions">
              <div *ngFor="let version of vs.versions">{{
                version | apply: getVersionTranslateTokens: ({
                  releaseDate: (version.releaseDate | localDate),
                  expirationDate: (version.expirationDate | localDate),
                  version: version.version
                }) | join: ' '}}
              </div>
            </m-form-item>
          </div>
        </m-form-row>
      </td>
    </tr>

    <tr *mTableNoData>
      <td colspan="5">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-backend-table>
</m-card>
