<m-select
        icon="search"
        [placeholder]="placeholder"
        name="value" [(ngModel)]="value"
        (mInputChange)="onSearch($event)"
        (mChange)="fireOnChange()"
        [loading]="isLoading"
        [autoUnselect]="autoUnselect | toBoolean"
        [multiple]="multiple | toBoolean"
        [disabled]="disabled | toBoolean"
        [filterOption]="filterOption"
>
    @for (key of data | keys; track key) {
      <m-option [mValue]="data[key]?.id | toString" [mLabel]="data[key]?.code"></m-option>
    }
</m-select>
