<m-form-row>
  <div *mFormCol>
    <m-spinner [mLoading]="loading">
      <m-card>
        <div *m-card-header class="m-items-middle">
          <div class="m-card-title">{{'web.code-system-version.form.view-header' | translate}}</div>
          <twa-status-tag *ngIf="version?.status" [status]="version.status"></twa-status-tag>
        </div>

        <form #form="ngForm" *ngIf="version">
          <m-form-item mLabel="entities.code-system-version.version">
            {{version.version}}
          </m-form-item>

          <m-form-item mLabel="entities.code-system-version.source">
            {{version.source}}
          </m-form-item>

          <m-form-item mLabel="entities.code-system-version.preferred-language">
            {{version.preferredLanguage | localizedConceptName: {valueSet: 'languages'} | async}}
          </m-form-item>

          <m-form-item mLabel="entities.code-system-version.supported-languages">
            <label *ngFor="let sLang of version.supportedLanguages; let isFirst = first;">{{isFirst ? "" : ", "}}{{sLang | localizedConceptName: {valueSet: 'languages'} | async}}</label>
          </m-form-item>

          <m-form-item mLabel="entities.code-system-version.description">
            {{version.description}}
          </m-form-item>

          <m-form-item mLabel="entities.code-system-version.release-date">
            {{version.releaseDate | localDate}}
          </m-form-item>

          <m-form-item mName="expirationDate" mLabel="entities.code-system-version.expiration-date">
            <m-date-picker *ngIf="version.status === 'active'" name="expirationDate" [(ngModel)]="version.expirationDate"></m-date-picker>
            <div *ngIf="version.status !== 'active'">
              {{version.expirationDate | localDate}}
            </div>
          </m-form-item>

          <twa-code-system-version-entity-version-list
              [codeSystemId]="codeSystemId"
              [version]="version.version"
              viewMode
          ></twa-code-system-version-entity-version-list>
        </form>

        <div *ngIf="version?.status === 'active'">
          <ng-container *m-card-footer>
            <m-button mDisplay="primary" (click)="save()" [mLoading]="loading" [disabled]="loading">
              {{'core.btn.save' | translate}}
            </m-button>
          </ng-container>
        </div>
      </m-card>
    </m-spinner>
  </div>
</m-form-row>
