<m-card class="m-card-inside">
  <div *m-card-header class="m-items-between">
    <div class="m-card-title">{{'entities.code-system-version.entities' | translate}}</div>
    <twa-add-button (click)="modalVisible = true">
      {{'web.code-system-version.form.entities.add-entity' | translate}}
    </twa-add-button>
  </div>
  <m-input [(ngModel)]="searchInput" (mChange)="searchUpdate.next($event)" placeholder="marina.ui.inputs.search.placeholder"></m-input>

  <m-backend-table [mResult]="searchResult"
      [(mQuery)]="query"
      (mQueryChange)="loadData()"
      [mLoading]="isLoading"
      mSize="small"
      style="margin-top: 1rem; display: block"
  >
    <tr *mTableHead>
      <th mColumnKey="code">{{'entities.code-system-entity-version.code' | translate}}</th>
      <th mColumnKey="description">{{'entities.code-system-entity-version.description' | translate}}</th>
      <th class="tw-table-actions"></th>
    </tr>
    <tr *mTableRow="let entityVersion">
      <td>{{entityVersion.code}}</td>
      <td>{{entityVersion.description}}</td>
      <td class="tw-table-actions">
        <m-dropdown>
          <a *m-dropdown-item (click)="delete(entityVersion)">
            {{'core.btn.delete' | translate}}
          </a>
        </m-dropdown>
      </td>
    </tr>

    <tr *mTableNoData>
      <td colspan="3">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-backend-table>
</m-card>

<m-modal [(mVisible)]="modalVisible" (mClose)="modalVisible = false; modalData = undefined">
  <ng-container *mModalHeader>
    {{'web.code-system-version.form.entities.modal.add-header' | translate}}
  </ng-container>
  <ng-container *mModalContent>
    <form #form="ngForm">
      <m-form-item mName="modalData" mLabel="entities.code-system-entity-version.code" required>
        <twl-code-system-entity-version-search name="modalData"
            [(ngModel)]="modalData"
            [codeSystemId]="codeSystemId"
            required
        ></twl-code-system-entity-version-search>
      </m-form-item>
    </form>
  </ng-container>
  <ng-container *mModalFooter>
    <m-button mStyle="margin-right: 0.5em" [disabled]="isLoading" (click)="modalVisible = false">{{'core.btn.close' | translate}}</m-button>
    <m-button mDisplay="primary" [disabled]="isLoading" [mLoading]="isLoading" (click)="save()">{{'core.btn.add' | translate}}</m-button>
  </ng-container>
</m-modal>
