<div class="tw-flex-container">
  <tw-cs-file-import-form #form [data]="data" [breadcrumbs]="breadcrumbs"></tw-cs-file-import-form>

  <m-card mTitle="web.integration.file-import.code-system.source.header">
    <m-form-item mName="sourceImportType">
      <div class="m-items-middle">
        <m-radio-group name="sourceImportType" [(ngModel)]="data.source.type" (ngModelChange)="data.source.file = undefined" required>
          <label m-radio-button [mValue]="'link'">{{'web.integration.file-import.code-system.source.link' | translate}}</label>
          <label m-radio-button [mValue]="'file'">{{'web.integration.file-import.code-system.source.file' | translate}}</label>
        </m-radio-group>

        @switch (data.source.type) {
          @case ('link') {
            <m-input name="sourceImportFile" [(ngModel)]="data.source.file" style="flex: 1" required/>
          }
          @case ('file') {
            <input #fileInput name="sourceImportFile" type="file" [(ngModel)]="data.source.file" required>
          }
        }
      </div>
    </m-form-item>

    <m-form-item mName="sourceImportMode" [mLabel]="'File format'" required>
      <m-radio-group name="sourceImportMode" [(ngModel)]="data.source.format" required>
        <label m-radio mValue="csv">{{'web.integration.file-import.code-system.source.types.csv' | translate}}</label>
        <label m-radio mValue="tsv">{{'web.integration.file-import.code-system.source.types.tsv' | translate}}</label>
        <label m-radio mValue="xlsx">{{'web.integration.file-import.code-system.source.types.xlsx' | translate}}</label>
      </m-radio-group>
    </m-form-item>

    <m-button *m-card-footer [mLoading]="loader.state['analyze']" [disabled]="!data.source.file" (click)="analyze()">
      {{'web.integration.file-import.code-system.source.analyze' | translate}}
    </m-button>
  </m-card>


  <m-card mTitle="web.integration.file-import.code-system.properties.header">
    <div *m-card-content class="tw-flex-container">
      <m-select [(ngModel)]="data.template" (ngModelChange)="applyTemplate()">
        <m-option [mValue]="'pub.e-tervis'" [mLabel]="'pub.e-tervis'"/>
        <m-option [mValue]="'icf'" [mLabel]="'icf'"/>
        <m-option [mValue]="'loinc-lt'" [mLabel]="'loinc-lt'"/>
      </m-select>

      <m-table [mData]="analyzeResponse.parsedProperties">
        <tr *mTableHead>
          <th>{{'web.integration.file-import.code-system.properties.type-column' | translate: ({type: ('web.integration.file-import.code-system.source.types.' + analyzeResponse.origin.type) | translate})}}</th>
          <th>{{'web.integration.file-import.code-system.properties.kts-property' | translate}}</th>
          @if (hasDuplicateIdentifiers) {
            <th>{{'web.integration.file-import.code-system.properties.preferred' | translate}}</th>
          }
          <th>{{'web.integration.file-import.code-system.properties.type' | translate}}</th>
          <th>{{'web.integration.file-import.code-system.properties.format' | translate}}</th>
          <th>{{'web.integration.file-import.code-system.properties.delimiter' | translate}}</th>
          <th>{{'web.integration.file-import.code-system.properties.lang' | translate}}</th>
          <th>{{'web.integration.file-import.code-system.properties.import' | translate}}</th>
        </tr>

        <tr *mTableRow="let item">
          <td>{{item.columnName}}</td>

          <td>
            <!-- Mapped KTS property -->
            @if (!item['_newProp']) {
              <m-select [(ngModel)]="item.propertyName" (ngModelChange)="onPropertyNameChange(item)" style="flex: 1">
                @for (prop of form?.sourceCodeSystem?.properties | apply: combineWithDefaults; track prop) {
                  <m-option
                    [mValue]="prop.name"
                    [mLabel]="prop.name  + (prop.description ? ' (' + (prop.description | localName) + ')' : '')"
                    [mLabelTemplate]="propLabel">
                    <ng-template #propLabel>
                      <label [class]="prop.id ? 'm-bold' : ''">{{prop.name  + (prop.description ? ' (' + (prop.description | localName) + ')' : '')}}</label>
                    </ng-template>
                  </m-option>
                }
                <m-select-button mLabel="ADD NEW" (mClick)="item['_newProp'] = true"/>
              </m-select>
            }

            @if (item['_newProp']) {
              <div class="m-items-middle">
                <m-textarea [(ngModel)]="item.propertyName"/>
                <m-icon-button mIcon="close" (click)="item['_newProp'] = false" />
              </div>
            }
          </td>

          @if (hasDuplicateIdentifiers) {
            <td>
              @if (['concept-code', 'hierarchical-concept'] | includes:item.propertyName) {
                <m-checkbox [(ngModel)]="item.preferred" (ngModelChange)="onPropertyPreferredChange(item)"/>
              }
            </td>
          }

          <td>
            @if (!item['_newProp'] && item.propertyName) {
              {{item.propertyType}}
            }

            <div class="m-items-middle">
              @if (item['_newProp'] || !item.propertyName) {
                <m-select style="width: 100%" [(ngModel)]="item.propertyType" (ngModelChange)="onPropertyTypeChange(item)">
                  @for (t of dataTypes; track t) {
                    <m-option [mLabel]="t" [mValue]="t"/>
                  }
                </m-select>
              }
              @if (item.propertyType === 'Coding') {
                <tw-code-system-search style="width: 100%" valuePrimitive [(ngModel)]="item.propertyCodeSystem"/>
              }
            </div>
          </td>

          <td>
            @if (item.propertyType === 'dateTime') {
              <m-select [(ngModel)]="item.propertyTypeFormat">
                <m-option [mValue]="'yyyy-MM-dd'" [mLabel]="'yyyy-MM-dd'"/>
                <m-option [mValue]="'dd.MM.yy'" [mLabel]="'dd.MM.yy'"/>
                <m-option [mValue]="'dd.MM.yyyy'" [mLabel]="'dd.MM.yyyy'"/>
                <m-option [mValue]="'dd/MM/yyyy'" [mLabel]="'dd/MM/yyyy'"/>
                <m-option [mValue]="'MM/dd/yyyy'" [mLabel]="'MM/dd/yyyy'"/>
              </m-select>
            }
          </td>

          <td>
            @if ((['designation', 'string', 'Coding'] | includes:item.propertyType) && !(['concept-code', 'hierarchical-concept'] | includes:item.propertyName)) {
              <m-input [(ngModel)]="item.propertyDelimiter"></m-input>
            }
          </td>

          <td>
            @if (item.propertyType === 'designation' && !(['concept-code', 'hierarchical-concept'] | includes:item.propertyName)) {
              <tw-value-set-concept-select
                [(ngModel)]="item.language"
                valueSet="languages"/>
            }
          </td>

          <td>
            <m-checkbox [(ngModel)]="item.import"/>
          </td>
        </tr>

        <tr *mTableNoData>
          <td colspan="100%">
            <m-no-data/>
          </td>
        </tr>
      </m-table>

      @if (validations?.length) {
        <m-alert class="tw-alert--vertical" mTitle="Validations" mType="error">
          <ul style="margin-block: 0; padding-left: 1.5rem">
            @for (msg of validations; track msg) {
              <li>{{msg}}</li>
            }
          </ul>
        </m-alert>
      }

      @if (jobLog) {
        @if (!jobLog.errors?.length) {
          <m-alert class="tw-alert--vertical" mType="success" mTitle="No errors found">
            @if (jobLog.warnings?.length) {
              <a (mClick)="downloadLog()">
                {{'web.integration.file-import.code-system.properties.download-diff' | translate}}
              </a>
            }
          </m-alert>
        }
        @if (jobLog.errors?.length) {
          <m-alert
            class="tw-alert--vertical"
            mType="error"
            mTitle="Found {{jobLog.errors?.length}} errors during the file processing">
            <a (mClick)="downloadLog()">
              {{'web.integration.file-import.code-system.properties.download-log' | translate}}
            </a>
          </m-alert>
        }
      }

    </div>

    <div *m-card-footer class="m-items-middle">
      <m-radio-group name="dryRun" [(ngModel)]="data.dryRun" required>
        <label m-radio-button [mValue]="false">{{'web.integration.file-import.code-system.properties.import-data' | translate}}</label>
        <label m-radio-button [mValue]="true">{{'web.integration.file-import.code-system.properties.validate-data' | translate}}</label>
      </m-radio-group>

      <m-button style="flex: 1"
        [mLoading]="loader.state['process']"
        [disabled]="!form.valid || !analyzeResponse?.parsedProperties?.length"
        (click)="process()">
        {{'web.integration.file-import.process' | translate}}
      </m-button>
    </div>
  </m-card>
</div>

<ng-template #successNotificationContent>
  <a (click)="openCodeSystem(data.codeSystem.id)">{{data.codeSystem.id}}</a>
</ng-template>
