<div class="tw-flex-container">
  <tw-cs-file-import-form #form [data]="data" [breadcrumbs]="breadcrumbs"></tw-cs-file-import-form>

  <m-card mTitle="web.integration.file-import.code-system.source.header">
    <m-form-item mName="sourceImportType">
      <div class="m-items-middle">
        <m-radio-group name="sourceImportType" [(ngModel)]="data.source.type" (ngModelChange)="data.source.file = undefined" required>
          <label m-radio-button [mValue]="'link'">{{'web.integration.file-import.code-system.source.link' | translate}}</label>
          <label m-radio-button [mValue]="'file'">{{'web.integration.file-import.code-system.source.file' | translate}}</label>
        </m-radio-group>

        <ng-container [ngSwitch]="data.source.type">
          <m-input *ngSwitchCase="'link'" name="sourceImportFile" [(ngModel)]="data.source.file" style="flex: 1" required/>
          <input *ngSwitchCase="'file'" #fileInput name="sourceImportFile" type="file" [(ngModel)]="data.source.file" required>
        </ng-container>
      </div>
    </m-form-item>

    <m-form-item mName="sourceImportMode" [mLabel]="'File format'" required>
      <m-radio-group name="sourceImportMode" [(ngModel)]="data.source.format" required>
        <label m-radio mValue="csv">{{'web.integration.file-import.code-system.source.types.csv' | translate}}</label>
        <label m-radio mValue="tsv">{{'web.integration.file-import.code-system.source.types.tsv' | translate}}</label>
      </m-radio-group>
    </m-form-item>

    <m-button *m-card-footer [mLoading]="loader.state['analyze']" [disabled]="!data.source.file" (click)="analyze()">
      {{'web.integration.file-import.code-system.source.analyze' | translate}}
    </m-button>
  </m-card>


  <m-card mTitle="web.integration.file-import.code-system.properties.header">
    <div *m-card-content class="tw-flex-container">
      <m-select [(ngModel)]="data.template" (ngModelChange)="applyTemplate()">
        <m-option [mValue]="'pub.e-tervis'" [mLabel]="'pub.e-tervis'"/>
        <m-option [mValue]="'icf'" [mLabel]="'icf'"/>
        <m-option [mValue]="'loinc-lt'" [mLabel]="'loinc-lt'"/>
      </m-select>

      <m-table [mData]="analyzeResponse.parsedProperties">
        <tr *mTableHead>
          <th>{{'web.integration.file-import.code-system.properties.type-column' | translate: ({type: ('web.integration.file-import.code-system.source.types.' + analyzeResponse.origin.type) | translate})}}</th>
          <th>{{'web.integration.file-import.code-system.properties.kts-property' | translate}}</th>
          <th *ngIf="hasDuplicateIdentifiers">{{'web.integration.file-import.code-system.properties.preferred' | translate}}</th>
          <th>{{'web.integration.file-import.code-system.properties.type' | translate}}</th>
          <th>{{'web.integration.file-import.code-system.properties.format' | translate}}</th>
          <th>{{'web.integration.file-import.code-system.properties.delimiter' | translate}}</th>
          <th>{{'web.integration.file-import.code-system.properties.lang' | translate}}</th>
          <th>{{'web.integration.file-import.code-system.properties.import' | translate}}</th>
        </tr>

        <tr *mTableRow="let item">
          <td>{{item.columnName}}</td>

          <td>
            <!-- Mapped KTS property -->
            <m-select *ngIf="!item['_newProp']" [(ngModel)]="item.propertyName" (ngModelChange)="onPropertyNameChange(item)" style="flex: 1">
              <m-option *ngFor="let prop of form?.sourceCodeSystem?.properties | apply: combineWithDefaults"
                  [mValue]="prop.name"
                  [mLabel]="prop.name  + (prop.description ? ' (' + (prop.description | localName) + ')' : '')"
                  [mLabelTemplate]="propLabel">
                <ng-template #propLabel>
                  <label [class]="prop.id ? 'm-bold' : ''">{{prop.name  + (prop.description ? ' (' + (prop.description | localName) + ')' : '')}}</label>
                 </ng-template>
              </m-option>
              <m-select-button mLabel="ADD NEW" (mClick)="item['_newProp'] = true"/>
            </m-select>

            <m-input *ngIf="item['_newProp']" [(ngModel)]="item.propertyName" style="flex: 1"/>
          </td>

          <td *ngIf="hasDuplicateIdentifiers">
            <m-checkbox *ngIf="['concept-code', 'hierarchical-concept'] | includes:item.propertyName" [(ngModel)]="item.preferred" (ngModelChange)="onPropertyPreferredChange(item)"/>
          </td>

          <td>
            <ng-container *ngIf="!item['_newProp'] && item.propertyName">
              {{item.propertyType}}
            </ng-container>

            <m-select *ngIf="item['_newProp'] || !item.propertyName" [(ngModel)]="item.propertyType" (ngModelChange)="onPropertyTypeChange(item)">
              <m-option *ngFor="let t of dataTypes" [mLabel]="t" [mValue]="t"></m-option>
            </m-select>
          </td>

          <td>
            <m-select [(ngModel)]="item.propertyTypeFormat" *ngIf="item.propertyType === 'dateTime'">
              <m-option [mValue]="'yyyy-MM-dd'" [mLabel]="'yyyy-MM-dd'"/>
              <m-option [mValue]="'dd.MM.yy'" [mLabel]="'dd.MM.yy'"/>
              <m-option [mValue]="'dd.MM.yyyy'" [mLabel]="'dd.MM.yyyy'"/>
              <m-option [mValue]="'dd/MM/yyyy'" [mLabel]="'dd/MM/yyyy'"/>
              <m-option [mValue]="'MM/dd/yyyy'" [mLabel]="'MM/dd/yyyy'"/>
            </m-select>
          </td>

          <td>
            <m-input [(ngModel)]="item.propertyDelimiter" *ngIf="(['string', 'Coding'] | includes:item.propertyType) && !(['concept-code', 'hierarchical-concept'] | includes:item.propertyName)"></m-input>
          </td>

          <td>
            <tw-value-set-concept-select *ngIf="item.propertyType === 'designation' && !(['concept-code', 'hierarchical-concept'] | includes:item.propertyName)"
                [(ngModel)]="item.language"
                valueSet="languages"/>
          </td>

          <td>
            <m-checkbox [(ngModel)]="item.import"/>
          </td>
        </tr>

        <tr *mTableNoData>
          <td colspan="100%">
            <m-no-data/>
          </td>
        </tr>
      </m-table>

      <m-alert *ngIf="validations?.length" class="tw-alert--vertical" mTitle="Validations" mType="error">
        <ul style="margin-block: 0; padding-left: 1.5rem">
          <li *ngFor="let msg of validations">{{msg}}</li>
        </ul>
      </m-alert>

      <ng-container *ngIf="jobLog">
        <m-alert *ngIf="!jobLog.errors?.length" class="tw-alert--vertical" mType="success" mTitle="No errors found">
          <a *ngIf="jobLog.warnings?.length" (mClick)="downloadLog()">
            {{'web.integration.file-import.code-system.properties.download-diff' | translate}}
          </a>
        </m-alert>

        <m-alert *ngIf="jobLog.errors?.length"
            class="tw-alert--vertical"
            mType="error"
            mTitle="Found {{jobLog.errors?.length}} errors during the file processing">
          <a (mClick)="downloadLog()">
            {{'web.integration.file-import.code-system.properties.download-log' | translate}}
          </a>
        </m-alert>
      </ng-container>

    </div>

    <div *m-card-footer class="m-items-middle">
      <m-radio-group name="dryRun" [(ngModel)]="data.dryRun" required>
        <label m-radio-button [mValue]="false">{{'web.integration.file-import.code-system.properties.import-data' | translate}}</label>
        <label m-radio-button [mValue]="true">{{'web.integration.file-import.code-system.properties.validate-data' | translate}}</label>
      </m-radio-group>

      <m-button style="flex: 1"
          [mLoading]="loader.state['process']"
          [disabled]="!form.valid || !analyzeResponse?.parsedProperties?.length"
          (click)="process()">
        {{'web.integration.file-import.process' | translate}}
      </m-button>
    </div>
  </m-card>
</div>

<ng-template #successNotificationContent>
  <a (click)="openCodeSystem(data.codeSystem.id)">{{data.codeSystem.id}}</a>
</ng-template>
