<m-no-data *ngIf="!version"></m-no-data>

<div *ngIf="version">
  <div class="m-justify-between">
    <div class="m-items-middle">
      <span class="m-bold">{{version.version}}</span>
      <m-divider mVertical></m-divider>
      <span>{{(version.releaseDate | localDate) || '...'}} - {{(version.expirationDate | localDate) || '...'}}</span>
    </div>

    <tw-status-tag [status]="version.status"></tw-status-tag>
  </div>
  <span>{{version.description | localName}}</span>
  <div class="m-items-middle" *ngIf="version.supportedLanguages">
    <m-icon mCode="global"></m-icon>
    <ng-container *ngFor="let lang of version.supportedLanguages; let i = index">
      <span>{{lang}}</span>
      <m-divider mVertical *ngIf="i !== (version.supportedLanguages?.length - 1)"></m-divider>
    </ng-container>
  </div>
  <div class="m-items-middle">
    <m-icon mCode="download"></m-icon>
    <span>{{'web.code-system-version.summary.info.definition' | translate}} (<span *ngFor="let format of ['json', 'xml', 'fsh']; let i = index"><a (mClick)="downloadDefinition(format)"> {{format | uppercase}} </a>{{i < 2 ? '|' : ''}}</span>)</span>
    <a (mClick)="openJson()"><m-icon mCode="link"></m-icon></a>
  </div>
  <div class="m-items-middle">
    <m-icon mCode="calendar"></m-icon>
    <span>{{'web.code-system-version.summary.info.last-modified' | translate}}:
      {{((provenances | apply:getLastProvenance: 'modified')?.date | localDate) || ('web.code-system-version.summary.info.none' | translate)}} </span>
    <a [routerLink]="['/resources/code-systems/compare', {'code-system': version?.codeSystem, 'version': version?.id}]" >{{'web.code-system-version.summary.info.show-changes' | translate}}</a>
  </div>
  <div class="m-items-middle" *ngIf="codeSystem?.settings?.reviewRequired">
    <m-icon mCode="calendar"></m-icon>
    <span>{{'web.code-system-version.summary.info.last-reviewed' | translate}}:
      {{((provenances | apply:getLastProvenance: 'reviewed')?.date | localDate) || ('web.code-system-version.summary.info.none' | translate)}} </span>
    <a (mClick)="taskModalData.type = 'review';taskModalData.visible = true">{{'web.code-system-version.summary.info.create-review' | translate}}</a>
  </div>
  <div class="m-items-middle" *ngIf="codeSystem?.settings?.approvalRequired">
    <m-icon mCode="calendar"></m-icon>
    <span>{{'web.code-system-version.summary.info.last-approved' | translate}}:
      {{((provenances | apply:getLastProvenance: 'approved')?.date | localDate) || ('web.code-system-version.summary.info.none' | translate)}} </span>
    <a (mClick)="taskModalData.type = 'approval';taskModalData.visible = true">{{'web.code-system-version.summary.info.create-approve' | translate}}</a>
  </div>
  <div class="m-items-middle" *twPrivileged="version.codeSystem + '.CodeSystem.publish'">
    <m-icon mCode="tool"></m-icon>
    <a *ngIf="version.status !== 'draft'" (mClick)="changeVersionStatus('draft')">{{'web.code-system-version.summary.info.make-draft' | translate}}</a>
    <a *ngIf="version.status !== 'active' && version.status !== 'retired'" (mClick)="changeVersionStatus('active')">{{'web.code-system-version.summary.info.activate' | translate}}</a>
    <ng-container *ngIf="version.status !== 'retired'">
      <m-divider mVertical></m-divider>
      <a (mClick)="changeVersionStatus('retired')">{{'web.code-system-version.summary.info.retire' | translate}}</a>
    </ng-container>
  </div>
  <div class="m-items-middle" *ngIf="githubSpaces?.length">
    <m-icon mCode="github"></m-icon>
    <m-dropdown>
      <a *m-dropdown-container>
        {{'web.code-system-version.summary.info.sync-with-github' | translate}}
      </a>
      <ng-container *ngFor="let s of githubSpaces">
        <a *m-dropdown-item [routerLink]="['/spaces', s.id, 'github', {files: [
        'codesystem-fhir-json|' + version.codeSystem + '@' + version.version,
        'codesystem-fhir-fsh|' + version.codeSystem + '@' + version.version,
        ]}]">
          {{s.names | localName}}
        </a>
      </ng-container>
    </m-dropdown>
  </div>
</div>


<m-modal [(mVisible)]="taskModalData.visible" (mClose)="taskModalData = {visible: false}">
  <m-title *mModalHeader>
    {{'web.code-system-version.summary.task-modal.header' | translate :{type: taskModalData.type} }}
  </m-title>

  <ng-container *mModalContent>
    <form #taskModalForm="ngForm">
      <m-form-item mName="assignee" mLabel="web.code-system-version.summary.task-modal.assignee" required>
        <tw-user-select name="assignee" [(ngModel)]="taskModalData.assignee" required></tw-user-select>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="taskModalData.visible = false">
      {{'core.btn.cancel' | translate}}
    </m-button>
    <m-button mDisplay="primary" (click)="createTask()" [mLoading]="loader.isLoading" [disabled]="loader.state['create-task']">
      {{'core.btn.confirm' | translate}}
    </m-button>
  </div>
</m-modal>
