<div style="display: flex; justify-content: end">
  <twa-add-button (click)="modalData.visible = true">{{'web.code-system-concept-version.designation.add-designation' | translate}}</twa-add-button>
</div>
<m-divider [mText]="'web.code-system-concept-version.designation.designation' | translate" mOrientation="middle"></m-divider>
<div *ngIf="!loading['languages']">
  <m-card class="m-card-inside" *ngFor="let mapKey of designationMap | keys">
    <twa-code-system-designation-form-v2
        [designationKey]="mapKey"
        [designationLanguages]="designationMap[mapKey]"
        [requiredLanguages]="requiredLanguages"
        [entityProperties]="entityProperties"
        [languages]="languages"
    ></twa-code-system-designation-form-v2>
    <m-divider></m-divider>
  </m-card>
</div>

<m-modal #modal [(mVisible)]="modalData.visible" (mClose)="newModal()">
  <ng-container *m-modal-header>
    {{'web.code-system-concept-version.designation.add-designation'| translate}}
  </ng-container>

  <ng-container *m-modal-content>
    <form #form="ngForm">
      <m-form-item mName="designationType" mLabel="entities.designation.type" required>
        <m-select [loading]="loading['properties']"
            name="designationType"
            [(ngModel)]="modalData.designation.designationTypeId"
            placeholder="marina.ui.inputs.search.placeholder"
            icon="search"
            autofocus
            required
        >
          <m-option *ngFor="let prop of entityProperties" [value]="prop.id" [label]="prop.name"></m-option>
        </m-select>
      </m-form-item>

      <m-form-item mName="designationModalKind" mLabel="entities.designation.designation-kind" required>
        <m-select name="designationModalKind" [(ngModel)]="modalData.designation.designationKind" required>
          <m-option [label]="'text'" value="text"></m-option>
          <m-option [label]="'blob'" value="blob"></m-option>
        </m-select>
      </m-form-item>

      <m-form-item mName="name" mLabel="web.code-system-concept-version.designation.term" *ngIf="!loading['languages']" required>
        <twl-designation-multi-language-input name="name"
            [languages]="languages"
            [(ngModel)]="modalData.languages"
            [requiredLanguages]="requiredLanguages"
        ></twl-designation-multi-language-input>
      </m-form-item>

      <m-form-item mName="designationModalCaseSignificance" mLabel="entities.designation.case-significance" required>
        <m-select name="designationModalCaseSignificance" [(ngModel)]="modalData.designation.caseSignificance" required>
          <m-option label="web.case-sensitive-options.ci" value="ci"></m-option>
          <m-option label="web.case-sensitive-options.cs" value="cs"></m-option>
          <m-option label="web.case-sensitive-options.ics" value="ics"></m-option>
        </m-select>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="tw-button-group">
    <m-button mDisplay="text" (click)="newModal()">{{'core.btn.cancel' | translate}}</m-button>
    <m-button mDisplay="primary" (click)="confirmModal()">{{'core.btn.confirm' | translate}}</m-button>
  </div>
</m-modal>
