<m-form-row>
  <div *mFormCol>
    <m-spinner [mLoading]="isLoading">
      <m-card
          [mTitle]="'web.code-system-concept-version.designation.' + (mode === 'edit' ? 'edit-designation' : 'add-designation')"
          [mShowSkeleton]="loading['init']"
      >
        <twa-code-system-designation-form #designationForm
            [designation]="designation"
            [codeSystemId]="codeSystemId"
        ></twa-code-system-designation-form>

        <ng-container *m-card-footer>
          <m-button mDisplay="primary" [mLoading]="loading['save']" [disabled]="loading['init'] || isLoading" (click)="save()">
            {{'core.btn.save' | translate}}
          </m-button>
        </ng-container>
      </m-card>
    </m-spinner>
  </div>
</m-form-row>
