<m-form-row>
  <div *mFormCol>
    <m-spinner [mLoading]="loading">
      <m-card [mTitle]="mode === 'edit'? 'web.code-system-concept-version.designation.edit-designation' : 'web.code-system-concept-version.designation.add-designation'">
        <twa-code-system-designation-form #designationForm [designation]="designation" [codeSystemId]="codeSystemId"></twa-code-system-designation-form>
        <ng-container *m-card-footer>
          <m-button mDisplay="primary" [mLoading]="loading" [disabled]="loading" (click)="save()">
            {{'core.btn.save' | translate}}
          </m-button>
        </ng-container>
      </m-card>
    </m-spinner>
  </div>
</m-form-row>
