<m-spinner [mLoading]="loading">
  <m-card class="m-card-inside">
    <div *m-card-header class="m-items-between">
      <div class="m-card-title">
        {{'entities.code-system-entity-version.associations' | translate}}
      </div>

      <twa-add-button *ngIf="!viewMode" [routerLink]="['../associations/add']">
        {{'web.code-system-concept-version.association.add-association' | translate}}
      </twa-add-button>
    </div>

    <m-table [mData]="associationMap | keys" mEnablePagination mHideOnSinglePage>
      <tr *mTableHead>
        <th class="tw-table-min-width">{{'entities.code-system-association.type' | translate}}</th>
        <th>{{'entities.code-system-association.target-code' | translate}}</th>
        <th>{{'entities.code-system-association.status' | translate}}</th>
        <th *ngIf="!viewMode" class="tw-table-actions"></th>
      </tr>

      <ng-container *mTableRow="let key;">
        <tr *ngFor="let association of associationMap[key]; let isFirst = first; let index = index">
          <td *ngIf="isFirst" class="tw-table-min-width" [rowSpan]="associationMap[key].length">{{association.associationType}}</td>
          <td>
            <a *ngIf="!viewMode" [routerLink]="['../associations/', association.id, 'edit']">
              <m-abbreviate [mValue]="association.targetId | localizedConceptName: {codeSystem: association.codeSystem} | async" [mLength]="35"></m-abbreviate>
            </a>
            <div *ngIf="viewMode">
              <m-abbreviate [mValue]="association.targetId | localizedConceptName: {codeSystem: association.codeSystem} | async" [mLength]="35"></m-abbreviate>
            </div>
          </td>
          <td class="tw-table-min-width">
            <twa-status-tag [status]="association.status"></twa-status-tag>
          </td>
          <td *ngIf="!viewMode" class="tw-table-actions">
            <m-dropdown>
              <a *m-dropdown-item (click)="deleteAssociation(key, index)">
                {{'web.code-system-concept-version.association.delete-association' | translate}}
              </a>
            </m-dropdown>
          </td>
        </tr>
      </ng-container>

      <tr *mTableNoData>
        <td colspan="100%">
          <m-no-data></m-no-data>
        </td>
      </tr>
    </m-table>
  </m-card>
</m-spinner>
