<m-card *ngIf="!hasRelatedValueSet" mDisplay="headless" mTitle="web.dev-code-system-relation.value-set.value-set" [mShowSkeleton]="loader.isLoading">
  <form #form="ngForm">
    <m-form-item mName="generate">
      <m-checkbox [(ngModel)]="generateValueSet"
          name="generate"
          (ngModelChange)="generate($event)">{{'web.dev-code-system-relation.value-set.generate' | translate}}</m-checkbox>
    </m-form-item>

    <m-form-row>
      <m-form-item *mFormCol mName="code" mLabel="entities.value-set.id" [required]="generateValueSet">
        <m-input [(ngModel)]="valueSet.id" name="code" [required]="generateValueSet"/>
      </m-form-item>
      <m-form-item *mFormCol mName="vresion" mLabel="entities.value-set-version.version" [required]="generateValueSet">
        <tw-semantic-version-select name="version" [(ngModel)]="valueSet.versions[0].version" [required]="generateValueSet" [versions]="[]"/>
      </m-form-item>
    </m-form-row>

    <m-form-row>
      <m-form-item *mFormCol mName="publisher" mLabel="entities.value-set.publisher" [required]="generateValueSet">
        <tw-value-set-concept-select [(ngModel)]="valueSet.publisher"
            name="publisher"
            (ngModelChange)="publisherChanged($event)"
            valueSet="publisher"
            [required]="generateValueSet"/>
      </m-form-item>
      <m-form-item *mFormCol mName="uri" mLabel="entities.value-set.uri" [required]="generateValueSet">
        <m-input [(ngModel)]="valueSet.uri" name="uri" [required]="generateValueSet"/>
      </m-form-item>
    </m-form-row>
  </form>
</m-card>
