<m-spinner [mLoading]="loader.isLoading">
  @if (!(tasks?.length > 0)) {
    <m-no-data></m-no-data>
  }
</m-spinner>
@if (tasks?.length > 0 && !loader.isLoading) {
  <m-list mSeparated>
    @for (task of tasks| filter:filterTask:taskFilters; track task) {
      <m-list-item [mClickable]="'*.Task.edit' | twPrivileged" (mClick)="openTask(task.number)">
        @switch (displayType) {
          @case ('full') {
            <div class="m-justify-between">
              <div class="m-items-middle">
                <span class="m-bold">{{task.number}}</span>
                <m-divider mVertical/>
                <span>{{task.workflow || '...'}}</span>
              </div>
              <tw-task-status [status]="task.status"></tw-task-status>
            </div>
            <div>{{task.title}}</div>
            <div class="m-items-middle">
              <m-icon mCode="user"></m-icon>
              <span>{{task.assignee}}</span>
            </div>
          }
          @case ('content') {
            <span class="m-bold">{{task.number}}</span>
            <tw-smart-text-editor-view [value]="task.content" valueType="markdown"/>
          }
        }
      </m-list-item>
    }
  </m-list>
}
