<m-page-bar mPosition="top">
  <div class="resource-context">
    <div class="resource-context__container">
      <span class="resource-context__item" style="width: 100%; grid-column: 3 span" *ngIf="!resource">...</span>

      <ng-container *ngIf="resource">
        <!-- Left -->
        <div class="resource-context__item resource-context__info" style="display: grid">
          <div class="m-title">
            {{resourceType}}: {{resource.title | localName}}
          </div>

          <div style="display: flex; gap: 1rem">
            <div (click)="navigate('summary')">
              <ng-container *ngTemplateOutlet="tabTpl; context: {mode: 'summary', title: 'web.resource-context.summary', icon: 'appstore'}"/>
            </div>

            <div *twPrivileged="resource.id + '.' + resourceType + '.edit'" [routerLink]="['/resources', typeMap[resourceType], resource.id, 'edit']">
              <a class="m-items-middle">{{'core.btn.edit' | translate}}
                <m-icon mCode="form"/>
              </a>
            </div>

            <div (click)="navigate('concepts')" *ngIf="['CodeSystem' , 'ValueSet'] | includes: resourceType">
              <ng-container *ngTemplateOutlet="tabTpl; context: {mode: 'concept-list', title: 'web.resource-context.concepts', icon: 'database'}"/>
            </div>

            <div *ngIf="resourceType === 'CodeSystem' && resource | apply:hasExternalReference" (click)="navigate('properties')">
              <ng-container *ngTemplateOutlet="tabTpl; context: {mode: 'properties', title: 'web.resource-context.properties', icon: 'unordered-list'}"/>
            </div>

            <div (click)="navigate('provenances')">
              <ng-container *ngTemplateOutlet="tabTpl; context: {mode: 'provenance', title: 'web.resource-context.provenance', icon: 'history'}"/>
            </div>


            <ng-template #tabTpl let-tmode="mode" let-title="title" let-icon="icon">
              <a *ngIf="mode !== tmode; else iconTpl">
                <ng-container *ngTemplateOutlet="iconTpl"/>
              </a>
              <ng-template #iconTpl>
                <span class="m-items-middle">{{title | translate}}<m-icon [mCode]="icon"/></span></ng-template>
            </ng-template>
          </div>
        </div>

        <!-- Filler -->
        <div class="resource-context__item"></div>

        <!-- Right -->
        <div class="resource-context__item resource-context__info">
          <ng-container *ngIf="!version">
            <m-dropdown>
              <a *m-dropdown-container>{{'web.resource-context.all-versions' | translate}}</a>
              <ng-container *ngFor="let ver of versions">
                <a *m-dropdown-item (mClick)="selectVersion(ver.version)">{{ver.version}}</a>
              </ng-container>
            </m-dropdown>
          </ng-container>

          <!-- Version-->
          <div *ngIf="version">
            <!-- Title -->
            <div class="m-subtitle">{{'entities.resource.version.single' | translate}}</div>
            <!-- Code -->
            <div class="m-items-middle">
              <label class="m-bold">{{version.version}}</label>
              <span class="tw-circled" [style.color]="version.status === 'draft' ? 'var(--color-amber-7)' : 'initial'">{{version.status[0] | uppercase}}</span>
            </div>
          </div>
        </div>

        <div class="resource-context__item resource-context__info selectable" (click)="unselectResourceOrVersion()">
          <m-icon mCode="close"/>
        </div>
      </ng-container>
    </div>
  </div>
</m-page-bar>
