<nz-collapse nzGhost>
  <nz-collapse-panel nzActive [nzHeader]="'entities.resource.copyright.single' | translate" *ngIf="copyright">
    <m-form-item mName="copyright-holder" mLabel="entities.resource.copyright.holder">
      <m-input name="copyright-holder" [(ngModel)]="copyright.holder"></m-input>
    </m-form-item>
    <m-form-item mName="jurisdiction" mLabel="entities.resource.copyright.jurisdiction">
      <m-input name="jurisdiction" [(ngModel)]="copyright.jurisdiction"></m-input>
    </m-form-item>
    <m-form-item mName="copyright-statement" mLabel="entities.resource.copyright.statement">
      <m-textarea name="copyright-statement" [(ngModel)]="copyright.statement"></m-textarea>
    </m-form-item>
  </nz-collapse-panel>
  <nz-collapse-panel nzActive [nzHeader]="'entities.resource.permissions.multiple' | translate" *ngIf="permissions">
    <m-form-item mName="admin" mLabel="entities.resource.permissions.admin">
      <m-input name="admin" [(ngModel)]="permissions.admin"></m-input>
    </m-form-item>
    <m-form-item mName="editor" mLabel="entities.resource.permissions.editor">
      <m-input name="editor" [(ngModel)]="permissions.editor"></m-input>
    </m-form-item>
    <m-form-item mName="viewer" mLabel="entities.resource.permissions.viewer">
      <m-input name="viewer" [(ngModel)]="permissions.viewer"></m-input>
    </m-form-item>
    <m-form-item mName="viewer" mLabel="entities.resource.permissions.endorser">
      <m-input name="viewer" [(ngModel)]="permissions.endorser"></m-input>
    </m-form-item>
  </nz-collapse-panel>
  <nz-collapse-panel nzActive [nzHeader]="'entities.resource.settings.multiple' | translate" *ngIf="settings">
    <m-form-item mName="reviewRequired" mLabel="entities.resource.settings.review-required">
      <m-checkbox name="reviewRequired" [(ngModel)]="settings.reviewRequired"></m-checkbox>
    </m-form-item>
    <m-form-item mName="approvalRequired" mLabel="entities.resource.settings.approval-required">
      <m-checkbox name="approvalRequired" [(ngModel)]="settings.approvalRequired"></m-checkbox>
    </m-form-item>
  </nz-collapse-panel>
</nz-collapse>
