@if (!(relatedArtifacts?.length > 0)) {
  <m-no-data></m-no-data>
}

@if (relatedArtifacts?.length > 0) {
  <m-list mSeparated>
    @for (artifact of relatedArtifacts; track artifact) {
      @if (artifact.resolved === false) {
        <m-list-item>
          <div class="m-items-middle">
            <m-icon mCode="warning" style="color: var(--color-orange-6);"></m-icon>
            <span class="m-text-secondary">{{artifact.url}}</span>
          </div>
        </m-list-item>
      } @else {
        <m-list-item mClickable (mClick)="openArtifact(artifact)">
          <div class="m-items-middle">
            <span class="m-bold">{{artifact.type}}</span>
            <m-divider mVertical></m-divider>
            <span>{{artifact.name || artifact.id}}</span>
            @if (artifact.url) {
              <m-icon mCode="info-circle" m-tooltip [mTitle]="artifact.url" style="color: var(--color-primary-6); cursor: help;"></m-icon>
            }
          </div>
        </m-list-item>
      }
    }
  </m-list>
}
