@import "../../../../styles/variables";

@space-context-bg: var(--color-action-bar-background);


::ng-deep {
  .resource-context {
    transition: 0.2s ease;

    &__container {
      display: grid;
      grid-template-columns: auto 1fr min-content min-content;

      background: @space-context-bg;
      overflow: auto;
    }
  }

  .resource-context__item {
    display: flex;
    align-items: center;
    gap: .3rem;

    height: 100%;
    padding: 1rem 2rem;
    border-bottom: @mui-border;

    white-space: nowrap;
    transition: 0.2s ease;


    &.selectable {
      &:not(:first-child) {
        border-left: 1px solid transparent;
      }

      &:not(:last-child) {
        border-right: 1px solid transparent;
      }

      &:hover {
        background: hsv(0, 0, 95%);
        cursor: pointer;
      }
    }
  }
}


.resource-context__info {
  padding-bottom: 0;
  gap: 1.5rem;

  .m-title + .submenu {
    margin-top: 0.2rem
  }

  .submenu {
    display: flex;
    gap: 1rem;

    .submenu__item {
      color: currentColor;

      &_wrapper {
        height: 2.2rem;
        transition: 100ms;

        &.active {
          border-bottom: 2px solid var(--color-primary);
          color: var(--color-primary-8);
        }
      }

      &:hover .submenu__item_wrapper:not(.active),
      &:focus .submenu__item_wrapper:not(.active) {
        border-bottom: 2px solid var(--color-borders);
      }
    }
  }
}
