<fieldset style="border: 0; margin: 0; padding: 0" [disabled]="viewMode">
<nz-collapse nzGhost>
  @if (copyright) {
    <nz-collapse-panel nzActive [nzHeader]="'entities.resource.copyright.single' | translate">
      <m-form-item mName="copyright-holder" mLabel="entities.resource.copyright.holder">
        @if (!viewMode) {
          <m-input name="copyright-holder" [(ngModel)]="copyright.holder"></m-input>
        }
        @if (viewMode) {
          <span>{{copyright.holder}}</span>
        }
      </m-form-item>
      <m-form-item mName="jurisdiction" mLabel="entities.resource.copyright.jurisdiction">
        @if (!viewMode) {
          <tw-value-set-concept-select name="jurisdiction" [(ngModel)]="copyright.jurisdiction" valueSet="jurisdiction"/>
        }
        @if (viewMode) {
          <tw-resource-readonly-concept [value]="copyright.jurisdiction" valueSet="jurisdiction"></tw-resource-readonly-concept>
        }
      </m-form-item>
      <m-form-item mName="copyright-statement" mLabel="entities.resource.copyright.statement">
        @if (!viewMode) {
          <m-textarea name="copyright-statement" [(ngModel)]="copyright.statement"></m-textarea>
        }
        @if (viewMode) {
          <span class="m-whitespace">{{copyright.statement}}</span>
        }
      </m-form-item>
    </nz-collapse-panel>
  }
  @if (permissions) {
    <nz-collapse-panel nzActive [nzHeader]="'entities.resource.permissions.multiple' | translate">
      <m-form-item mName="admin" mLabel="entities.resource.permissions.admin">
        @if (!viewMode) {
          <m-input name="admin" [(ngModel)]="permissions.admin"></m-input>
        }
        @if (viewMode) {
          <span>{{permissions.admin}}</span>
        }
      </m-form-item>
      <m-form-item mName="editor" mLabel="entities.resource.permissions.editor">
        @if (!viewMode) {
          <m-input name="editor" [(ngModel)]="permissions.editor"></m-input>
        }
        @if (viewMode) {
          <span>{{permissions.editor}}</span>
        }
      </m-form-item>
      <m-form-item mName="viewer" mLabel="entities.resource.permissions.viewer">
        @if (!viewMode) {
          <m-input name="viewer" [(ngModel)]="permissions.viewer"></m-input>
        }
        @if (viewMode) {
          <span>{{permissions.viewer}}</span>
        }
      </m-form-item>
      <m-form-item mName="endorser" mLabel="entities.resource.permissions.endorser">
        @if (!viewMode) {
          <m-input name="endorser" [(ngModel)]="permissions.endorser"></m-input>
        }
        @if (viewMode) {
          <span>{{permissions.endorser}}</span>
        }
      </m-form-item>
    </nz-collapse-panel>
  }
  @if (settings) {
    <nz-collapse-panel nzActive [nzHeader]="'entities.resource.settings.multiple' | translate">
      <m-form-item mName="reviewRequired" mLabel="entities.resource.settings.review-required">
        <m-checkbox name="reviewRequired" [(ngModel)]="settings.reviewRequired" [readOnly]="viewMode"></m-checkbox>
      </m-form-item>
      <m-form-item mName="approvalRequired" mLabel="entities.resource.settings.approval-required">
        <m-checkbox name="approvalRequired" [(ngModel)]="settings.approvalRequired" [readOnly]="viewMode"></m-checkbox>
      </m-form-item>
    </nz-collapse-panel>
  }
</nz-collapse>
</fieldset>
