<m-divider>{{'entities.resource.version.single' | translate}}
  <tw-status-tag [status]="version.status"></tw-status-tag>
</m-divider>
<form #form="ngForm" *ngIf="version">
  <m-form-row>
    <m-form-item *mFormCol mLabel="entities.resource.version.algorithm" mName="algorithm">
      <tw-value-set-concept-select name="algorithm" [(ngModel)]="version.algorithm" valueSet="version-algorithm"></tw-value-set-concept-select>
    </m-form-item>
    <m-form-item *mFormCol mLabel="entities.resource.version.version" mName="version" required>
      <tw-semantic-version-select name="version" [(ngModel)]="version.version" [versions]="[]" required></tw-semantic-version-select>
    </m-form-item>
  </m-form-row>
  <m-form-row>
    <m-form-item *mFormCol mLabel="entities.resource.version.from" mName="from" required>
      <m-date-picker name="from" [(ngModel)]="version.from" required></m-date-picker>
    </m-form-item>
    <m-form-item *mFormCol mLabel="entities.resource.version.to" mName="to">
      <m-date-picker name="to" [(ngModel)]="version.to"></m-date-picker>
    </m-form-item>
  </m-form-row>
  <m-form-row>
    <m-form-item *mFormCol mLabel="entities.resource.version.description" mName="description">
      <m-multi-language-input name="description" [(ngModel)]="version.description"></m-multi-language-input>
    </m-form-item>
    <m-form-item *mFormCol mLabel="entities.resource.version.preferred-language" mName="preferredLanguage">
      <tw-value-set-concept-select name="preferredLanguage" [(ngModel)]="version.preferredLanguage" valueSet="languages"></tw-value-set-concept-select>
    </m-form-item>
  </m-form-row>
</form>
