<m-skeleton [mLoading]="loading && !searchResult.data.length">
  <m-list mSeparated [mEmpty]="searchResult.data.length === 0">
    <m-list-item *ngFor="let ms of searchResult.data" mClickable [routerLink]="['/resources','map-sets',ms.id,'summary']">
      <div class="m-justify-between m-items-top">
        <div class="m-items-middle">
          <span class="m-bold">{{ms.title | localName: (ms.title | apply: firstName)}}</span>
          <m-divider mVertical></m-divider>
          <span>{{ms.uri}}</span>
        </div>

        <div *ngIf="actionsTpl" class="m-items-middle">
          <ng-container *ngTemplateOutlet="actionsTpl; context {$implicit: ms}"></ng-container>
        </div>
      </div>
    </m-list-item>

    <m-list-item *ngIf="searchResult.meta.total > searchResult.data.length" mClickable (mClick)="loadMore()">
      <div class="m-items-middle">
        <m-icon *ngIf="loading" mCode="loading"/>
        <span class="m-subtitle">{{'core.load-more' | translate}}</span>
      </div>
    </m-list-item>
  </m-list>
</m-skeleton>
