<tw-resource-context resourceType="CodeSystem" [resource]="codeSystem" [version]="version" [versions]="versions" mode="checklist"></tw-resource-context>
<m-page [mLoading]="loader.isLoading">
  <div style="display: flex; flex-direction: column; gap: 1rem">
    <div class="m-justify-between">
      <m-radio-group name="mode" [(ngModel)]="mode">
        <label m-radio-button [mValue]="'validation'" [disabled]="emptyConfiguration">{{'web.code-system-checklist.mode.validation' | translate}}</label>
        <label m-radio-button [mValue]="'configuration'">{{'web.code-system-checklist.mode.configuration' | translate}}</label>
      </m-radio-group>
      @if (mode === 'validation') {
        <div class="m-items-middle">
          @if (validationShowAll) {
            <label>{{'web.code-system-checklist.show-all' | translate}}</label>
          }
          @if (!validationShowAll) {
            <a (mClick)="validationShowAll = true">{{'web.code-system-checklist.show-all' | translate}}</a>
          }
          <m-divider mVertical/>
          @if (!validationShowAll) {
            <label>{{'web.code-system-checklist.show-unaccomplished' | translate}}</label>
          }
          @if (validationShowAll) {
            <a (mClick)="validationShowAll = false">{{'web.code-system-checklist.show-unaccomplished' | translate}}</a>
          }
        </div>
      }
      @if (mode === 'configuration') {
        <m-button (mClick)="saveConfiguration()">{{'core.btn.save' | translate}}</m-button>
      }
    </div>
    <div>
      @if (mode === 'validation') {
        <tw-cs-checklist-validation
          [codeSystemId]="codeSystem?.id"
          [codeSystemVersion]="version?.version"
          [showUnaccomplished]="!validationShowAll"
          (emptyConfiguration)="mode = 'configuration'; emptyConfiguration = true"/>
      }
      @if (mode === 'configuration') {
        <tw-cs-checklist-configuration resourceType="CodeSystem" [resourceId]="codeSystem?.id"/>
      }
    </div>
  </div>
</m-page>
