<m-form-row>
  <div *mFormCol>
    <m-spinner [mLoading]="isLoading">
      <m-card [mShowSkeleton]="loading['init']">
        <div *m-card-header class="m-items-middle">
          <div class="m-card__title">{{(mode === 'edit' ? 'web.value-set-version-concept.form.edit-header' : 'web.value-set-version-concept.form.add-header') | translate}}</div>
        </div>

        <form #form="ngForm" *ngIf="concept">
          <m-form-item *ngIf="concept.concept" mName="concept" mLabel="entities.value-set-version-concept.concept" required>
            <m-input name="concept" [(ngModel)]="concept.concept.code" required></m-input>
          </m-form-item>

          <m-form-item *ngIf="concept.display" mName="display" mLabel="entities.value-set-version-concept.display">
            <m-input name="display" [(ngModel)]="concept.display.name"></m-input>
          </m-form-item>

          <m-form-item *ngIf="concept.additionalDesignations" mName="additionalDesignations" mLabel="entities.value-set-version-concept.additional-designations">
            <m-table [mData]="concept.additionalDesignations" mSize="small">
              <tr *mTableHead>
                <th>{{'web.value-set-version-concept.form.designation-language' | translate}}</th>
                <th>{{'web.value-set-version-concept.form.designation-name' | translate}}</th>
                <th class="tw-table-actions"></th>
              </tr>

              <tr *mTableRow="let designation; let index = index">
                <td>
                  <twl-value-set-concept-select
                      name="lang-{{index}}"
                      [(ngModel)]="designation.language"
                      valueSet="languages"
                  ></twl-value-set-concept-select>
                </td>
                <td>
                  <m-input name="value-{{index}}" [(ngModel)]="designation.name"></m-input>
                </td>
                <td class="tw-table-actions">
                  <m-button (click)="removeDesignation(index)">
                    <m-icon [mCode]="'delete'"></m-icon>
                  </m-button>
                </td>
              </tr>

              <tr>
                <td colspan="4" style="padding: 0">
                  <m-button mDisplay="text" mSize="small" style="width: 100%" (click)="addDesignation()">
                    <m-icon [mCode]="'plus'"></m-icon>
                  </m-button>
                </td>
              </tr>
            </m-table>
          </m-form-item>
        </form>

        <ng-container *m-card-footer>
          <m-button mDisplay="primary" [mLoading]="loading['save']" [disabled]="loading['init'] || isLoading" (click)="save()">
            {{'core.btn.save' | translate}}
          </m-button>
        </ng-container>
      </m-card>
    </m-spinner>
  </div>
</m-form-row>
