<m-card>
  <div *m-card-header class="m-justify-between">
    <div class="m-card__title">{{'entities.value-set-version.rule-set' | translate}} &nbsp;
      <m-button (click)="expand()" mSize="small">
        <m-icon mCode="eye"></m-icon>
      </m-button>
    </div>
  </div>

  <form #form="ngForm" *ngIf="ruleSet">
    <m-form-item *ngIf="!viewMode || ruleSet.lockedDate" mName="lockedDate" mLabel="entities.value-set-rule-set.locked-date">
      <m-date-picker *ngIf="!viewMode" name="lockedDate" [(ngModel)]="ruleSet.lockedDate"></m-date-picker>
      <label *ngIf="viewMode">{{ruleSet.lockedDate | localDate}}</label>
    </m-form-item>

    <m-form-item mName="inactive" mLabel="entities.value-set-rule-set.inactive" [required]="!viewMode">
      <m-radio-group name="inactive" [(ngModel)]="ruleSet.inactive" [disabled]="!!viewMode">
        <label m-radio-button [mValue]="true">{{'web.value-set-version.form.rule-set.inactive' | translate}}</label>
        <label m-radio-button [mValue]="undefined">{{'web.value-set-version.form.rule-set.all' | translate}}</label>
        <label m-radio-button [mValue]="false">{{'web.value-set-version.form.rule-set.active' | translate}}</label>
      </m-radio-group>
    </m-form-item>

    <m-card class="m-card-inside">
      <div *m-card-header class="m-justify-between">
        <div class="m-card__title">
          {{'entities.value-set-rule-set.rules' | translate}}
        </div>
        <tw-add-button [routerLink]="['../rule-sets',ruleSet.id,'rules','add']" *ngIf="!viewMode && ruleSet.id">
          {{'web.value-set-version.form.rule-set.add-rule-set' | translate}}
        </tw-add-button>
      </div>
      <m-no-data *ngIf="!ruleSet.rules?.length"></m-no-data>
      <nz-collapse class="tw-cs-contact-collapse" *ngIf="ruleSet.rules?.length">
        <nz-collapse-panel *ngFor="let rule of ruleSet.rules; let i = index" [nzHeader]="header" [nzExtra]="edit">
          <ng-template #header>
            <m-icon *ngIf="!rule?.codeSystem && !rule?.valueSet" [mCode]="'file-text'"></m-icon>
            <label>
              <ng-container *ngIf="rule?.codeSystem">
                {{rule.codeSystem}}
              </ng-container>
              <ng-container *ngIf="rule?.codeSystem && rule?.valueSet">
                &nbsp;{{'+'}}&nbsp;
              </ng-container>
              <ng-container *ngIf="rule?.valueSet">
                {{rule.valueSet}}
              </ng-container>
            </label>
          </ng-template>

          <ng-template #edit>
            <div class="m-items-middle">
              <m-button (click)="$event.stopPropagation();expand(rule)" mSize="small">
                <m-icon [mCode]="'eye'"></m-icon>
              </m-button>
              <m-button *ngIf="!viewMode" [routerLink]="['../rule-sets',ruleSet.id,'rules',rule.id,'edit']" mSize="small">
                <m-icon [mCode]="'edit'"></m-icon>
              </m-button>
              <m-button *ngIf="!viewMode" (click)="$event.stopPropagation();deleteRule(rule.id)" mSize="small">
                <m-icon [mCode]="'delete'"></m-icon>
              </m-button>
            </div>
          </ng-template>

          <tw-value-set-rule-form [rule]="rule" viewMode></tw-value-set-rule-form>

        </nz-collapse-panel>
      </nz-collapse>
    </m-card>
  </form>
</m-card>

<tw-value-set-version-concept-modal #conceptModal></tw-value-set-version-concept-modal>
