<m-card class="m-card-inside">
  <div *m-card-header class="m-items-between">
    <div class="m-card-title">{{'web.contacts.list.header' | translate}}</div>
    <twa-add-button *ngIf="!viewMode" (click)="addContact()">
      {{'web.contacts.list.add-contact' | translate}}
    </twa-add-button>
  </div>

  <m-no-data *ngIf="!contacts?.length"></m-no-data>
  <nz-collapse class="tw-cs-contact-collapse" *ngIf="contacts?.length">
    <nz-collapse-panel *ngFor="let contact of contacts; let index = index" [nzHeader]="header" [nzExtra]="!viewMode? edit: ''">
      <ng-template #header>
        <m-icon *ngIf="!contact.name" [mCode]="'user'"></m-icon>
        <div *ngIf="contact.name">{{contact.name}}</div>
      </ng-template>

      <ng-template #edit>
        <m-button (click)="$event.stopPropagation(); toggleModal(contact, index)" mSize="small">
          <m-icon [mCode]="'edit'"></m-icon>
        </m-button>
        <m-button style="margin-left: 0.5em" (click)="$event.stopPropagation();removeContact(index)" mSize="small">
          <m-icon [mCode]="'delete'"></m-icon>
        </m-button>
      </ng-template>

      <m-table [mData]="contact.telecoms" [mOutlined]="false" mSize="small">
        <tr *mTableRow="let telecom">
          <td>{{telecom.system | localizedConceptName: {valueSet: 'contact-point-system'} | async}}</td>
          <td>{{telecom.value}}</td>
          <td>{{telecom.use | localizedConceptName: {valueSet: 'contact-point-use'} | async}}</td>
        </tr>
        <tr *mTableNoData>
          <td>
            <m-no-data></m-no-data>
          </td>
        </tr>
      </m-table>
    </nz-collapse-panel>
  </nz-collapse>


  <m-modal #modal [(mVisible)]="modalData.visible" (mClose)="toggleModal()">
    <ng-container *m-modal-header>
      {{'web.contacts.modal.edit-header' | translate}}
    </ng-container>

    <ng-container *m-modal-content>
      <form #form="ngForm" *ngIf="modalData.contact">
        <m-form-item mName="contactName" mLabel="entities.contact-detail.name">
          <m-input name="contactName" [(ngModel)]="modalData.contact.name"></m-input>
        </m-form-item>

        <m-table [mData]="modalData.contact.telecoms" mSize="small">
          <tr *mTableHead>
            <th>{{'entities.contact-detail.telecom.system' | translate}}</th>
            <th>{{'entities.contact-detail.telecom.value' | translate}}</th>
            <th>{{'entities.contact-detail.telecom.use' | translate}}</th>
            <th class="tw-table-actions"></th>
          </tr>

          <tr *mTableRow="let telecom; let index = index">
            <td>
              <twl-value-set-concept-select
                  name="system-{{index}}"
                  [(ngModel)]="telecom.system"
                  valueSet="contact-point-system"
              ></twl-value-set-concept-select>
            </td>
            <td>
              <m-input name="value-{{index}}" [(ngModel)]="telecom.value"></m-input>
            </td>
            <td>
              <twl-value-set-concept-select
                  name="use-{{index}}"
                  [(ngModel)]="telecom.use"
                  valueSet="contact-point-use"
              ></twl-value-set-concept-select>
            </td>
            <td class="tw-table-actions">
              <m-button (click)="removeModalTelecom(index)">
                <m-icon [mCode]="'delete'"></m-icon>
              </m-button>
            </td>
          </tr>

          <tr>
            <td colspan="4" style="padding: 0">
              <m-button mDisplay="text" mSize="small" style="width: 100%" (click)="addModalTelecom()">
                <m-icon [mCode]="'plus'"></m-icon>
              </m-button>
            </td>
          </tr>
        </m-table>
      </form>
    </ng-container>

    <div *m-modal-footer class="tw-button-group">
      <m-button mDisplay="text" (click)="modal.close()">{{'core.btn.cancel' | translate}}</m-button>
      <m-button mDisplay="primary" (click)="confirmModalContact()">{{'core.btn.confirm' | translate}}</m-button>
    </div>
  </m-modal>
</m-card>
