<div nz-row nzJustify="center">
  <div nz-col [nzLg]="18" [nzXs]="24">
    <m-spinner [mLoading]="loading['save']">
      <m-card [mTitle]="mode === 'edit' ? 'web.template.form.edit-header' : 'web.template.form.add-header'" [mShowSkeleton]="loading['init']" autofocus>
        <form #form="ngForm" *ngIf="template">
          <m-form-item mName="code" mLabel="entities.template.code" required>
            <m-input name="code" [(ngModel)]="template.code" required></m-input>
          </m-form-item>

          <m-form-item mName="names" mLabel="entities.template.names" required>
            <m-multi-language-input name="names" [(ngModel)]="template.names" required></m-multi-language-input>
          </m-form-item>

          <m-form-item mName="contentType" mLabel="entities.template.content-type" required>
            {{template.contentType}}
          </m-form-item>

          <m-form-item *ngFor="let content of template.contents; let index = index" mName="content-{{index}}" mLabel="{{'entities.template.content' | translate}} {{content.lang | apply:flagIcon}}">
            <m-textarea name="content-{{index}}" [(ngModel)]="content.content"></m-textarea>
          </m-form-item>
        </form>
        <ng-container *m-card-footer>
          <m-button mDisplay="primary" [mLoading]="loading['save']" [disabled]="loading['save'] || loading['init']" (click)="save()">
            {{'core.btn.save' | translate}}
          </m-button>
        </ng-container>
      </m-card>
    </m-spinner>
  </div>
</div>
