<m-table [mData]="concepts" mSize="small">
  <tr *mTableHead>
    @for (pk of ['code', 'display', 'designations'] | apply: displayedProperties: _properties; track pk) {
      <th>
        {{pk | apply: translateKey | translate}}
      </th>
    }
  </tr>

  @for (c of concepts | apply: slice: limit; track c) {
    <tr>
      @for (pk of ['code', 'display', 'designations'] | apply: displayedProperties: _properties; track pk) {
        <td>
          @for (prop of c[pk]; track prop) {
            @if (!prop.lang || !_langs?.length  || (_langs | includes: prop.lang)) {
              <div>
                {{prop.value}}
              </div>
            }
          }
        </td>
      }
    </tr>
  }

  <tr *mTableNoData>
    <td>
      <m-no-data></m-no-data>
    </td>
  </tr>
</m-table>
