<m-skeleton [mLoading]="loading && !searchResult.data.length">
  <m-list mSeparated [mEmpty]="searchResult.data.length === 0">
    @for (vs of searchResult.data; track vs) {
      <m-list-item mClickable [routerLink]="['/resources','value-sets',vs.id,'summary']">
        <div class="m-justify-between m-items-top">
          <div class="m-items-middle">
            <span class="m-bold">{{vs.title | localName: (vs.title | apply: firstName)}}</span>
            <m-divider mVertical></m-divider>
            <span>{{vs.uri}}</span>
          </div>
          @if (actionsTpl) {
            <div class="m-items-middle">
              <ng-container *ngTemplateOutlet="actionsTpl; context {$implicit: vs}"></ng-container>
            </div>
          }
        </div>
      </m-list-item>
    }

    @if (searchResult.meta.total > searchResult.data.length) {
      <m-list-item mClickable (mClick)="loadMore()">
        <div class="m-items-middle">
          @if (loading) {
            <m-icon mCode="loading"/>
          }
          <span class="m-subtitle">{{'core.load-more' | translate}}</span>
        </div>
      </m-list-item>
    }
  </m-list>
</m-skeleton>
