<m-table [mData]="concepts" mSize="small">
  <tr *mTableHead>
    <th *ngFor="let pk of ['code', 'display', 'designations'] | apply: displayedProperties: _properties">
      {{pk | apply: translateKey | translate}}
    </th>
  </tr>

  <tr *ngFor="let c of concepts | apply: slice: limit">
    <td *ngFor="let pk of ['code', 'display', 'designations'] | apply: displayedProperties: _properties">
      <ng-container *ngFor="let prop of c[pk]">
        <div *ngIf="!prop.lang || !_langs?.length  || (_langs | includes: prop.lang)">
          {{prop.value}}
        </div>
      </ng-container>
    </td>
  </tr>

  <tr *mTableNoData>
    <td>
      <m-no-data></m-no-data>
    </td>
  </tr>
</m-table>
