<m-select icon="search"
    placeholder="marina.ui.inputs.search.placeholder"
    [(ngModel)]="value"
    (mChange)="fireOnChange()"
    [autoUnselect]="false"
    [autoSelect]="true"
    [loading]="isLoading">
  <m-option *ngFor="let key of data | keys"
      [mValue]="valueType === 'id' ? data[key]?.id : data[key]?.version"
      [mLabel]="data[key]?.version"
      [mLabelTemplate]="label">
    <ng-template #label>
      <div class="m-items-middle">
        <span>{{data[key]?.version}}</span>
        <m-abbreviate [mLength]="40" [mThreshold]="10" *ngIf="(data[key]?.description | localName) as description" mValue="({{description}})"/>
      </div>
    </ng-template>
  </m-option>
</m-select>
