<tw-table [(filterOpen)]="filter.open">
  <!-- Header -->
  <div header class="m-justify-between">
    <span>{{'web.code-system.list.title' | translate}}</span>

    <div class="m-items-middle">
      <!-- Quick Search -->
      <m-input
          *ngIf="!filter.open"
          [(ngModel)]="filter.searchInput"
          twDebounce [debounced]="onDebounced"
          placeholder="marina.ui.inputs.search.placeholder"
          autofocus
      ></m-input>

      <!-- Add/Edit actions -->
      <m-dropdown *twPrivileged="'*.CodeSystem.edit'">
        <tw-add-button *m-dropdown-container icon="down" placement="right">
          {{'web.code-system.list.add-code-system' | translate}}
        </tw-add-button>
        <a *m-dropdown-item [routerLink]="'add'">
          {{'web.code-system.list.manual' | translate}}
        </a>
        <a *m-dropdown-item (mClick)="importModal.toggleModal(true)">
          {{'web.code-system.list.import-fhir' | translate}}
        </a>
      </m-dropdown>

      <!-- Finder -->
      <m-button [routerLink]="'/resources/finder/code-systems'">
        <m-icon mCode="layout"/>
      </m-button>

      <!-- Filter toggle -->
      <m-button *ngIf="!filter.open" [mDisplay]="(filter | apply: isFilterSelected) ? 'primary' : 'default'" (mClick)="onFilterOpen()">
        <m-icon mCode="filter"/>
      </m-button>
    </div>
  </div>


  <!-- Filter -->
  <tw-table-filter (twSearch)="onFilterSearch()" (twReset)="onFilterReset()">
    <m-form-item>
      <m-form-item *ngIf="filter.open">
        <m-input
            [(ngModel)]="_filter.searchInput"
            placeholder="marina.ui.inputs.search.placeholder"
            autofocus
        ></m-input>
      </m-form-item>
      <m-form-item mLabel="entities.code-system.publisher">
        <tw-value-set-concept-select [(ngModel)]="_filter.publisher" valueSet="publisher" valuePrimitive/>
      </m-form-item>
      <m-form-item mLabel="web.code-system.list.status">
        <tw-value-set-concept-select [(ngModel)]="_filter.status" valueSet="publication-status" valuePrimitive/>
      </m-form-item>
    </m-form-item>
  </tw-table-filter>


  <!-- Backend Table -->
  <m-backend-table [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="loadData()" [mLoading]="loading">
    <tr *mTableHead>
      <th></th>
      <th mColumnKey="id">{{'entities.code-system.id' | translate}}</th>
      <th>{{'web.code-system.list.last-version' | translate}}</th>
      <th>{{'entities.code-system.title' | translate}}</th>
      <th>{{'entities.code-system.publisher' | translate}}</th>
      <th>{{'web.code-system.list.status' | translate}}</th>
      <th>{{'web.code-system.list.count' | translate}}</th>
      <th *twPrivileged="'*.CodeSystem.edit'" class="tw-table-actions"></th>
    </tr>

    <tr *mTableRow="let cs">
      <td m-table-expand [mItem]="cs"></td>
      <td><a [routerLink]="[cs.id, 'summary']">{{cs.id}}</a></td>
      <td>
        <ng-container *ngIf="(cs.versions | apply:findLastVersion)?.version as version">
          <a [routerLink]="[cs.id, 'versions', version, 'summary']">{{version}}</a>
        </ng-container>
      </td>
      <td>{{cs.title | localName}}</td>
      <td>{{cs.publisher | localizedConceptName: {codeSystem: 'publisher'} | async}}</td>
      <td><tw-status-tag [status]="(cs.versions | apply:findLastVersion)?.status"/></td>
      <td>
        <ng-container *ngIf="(cs.versions | apply:findLastVersion) as v">
          <a [routerLink]="[cs.id, 'versions', v?.version, 'concepts']">{{v?.conceptsTotal}}</a>
        </ng-container>
      </td>
      <td class="tw-table-actions">
        <m-dropdown>
          <a *m-dropdown-item (click)="openFhir(cs.id)">
            <m-icon [mCode]="'link'"/>&nbsp; {{'web.code-system.list.open-fhir' | translate}}
          </a>
          <ng-container *twPrivileged="'*.CodeSystem.edit'">
            <a *m-dropdown-item (click)="duplicateModal.toggleModal({sourceCodeSystem: cs.id})">
              <m-icon [mCode]="'copy'"/>&nbsp; {{'core.btn.duplicate' | translate}}
            </a>
          </ng-container>
          <ng-container *twPrivileged="'*.CodeSystem.publish'">
            <a *m-dropdown-item (click)="deleteCodeSystem(cs.id)"> <m-icon [mCode]="'delete'"/>&nbsp; {{'core.btn.delete' | translate}}</a>
          </ng-container>
        </m-dropdown>
      </td>
    </tr>

    <tr *mTableRowExpand="let cs" class="m-table-expanded-row">
      <td></td>
      <td colspan="100%">
        <div style="display: grid">
          <div><b>{{'web.code-system.list.uri' | translate}}:</b> {{cs.uri}}</div>
          <div><b>{{'entities.code-system.content' | translate}}:</b> {{cs.content | localizedConceptName: {valueSet: 'codesystem-content-mode'} | async}}</div>
          <div *ngIf="cs.caseSensitive"><b>{{'entities.code-system.case-sensitivity' | translate}}:</b> {{'web.case-sensitive.options.' + cs.caseSensitive | translate}}</div>
          <div style="display: grid" *ngIf="cs.versions.length > 0">
            <b>{{'entities.code-system.versions' | translate}}:</b>
            <div style="display: grid;grid-template-columns: auto auto auto;width: max-content; column-gap: 1rem; row-gap: 0.2rem">
              <ng-container *ngFor="let version of cs.versions">
                <b>{{version.version}}</b>
                <i>{{version.releaseDate ? (version.releaseDate | localDate) : '...'}} - {{version.expirationDate ? (version.expirationDate | localDate) : '...'}}</i>
                <tw-status-tag [status]="version.status"/>
              </ng-container>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr *mTableNoData>
      <td colspan="100%">
        <m-no-data/>
      </td>
    </tr>
  </m-backend-table>
</tw-table>

<tw-code-system-duplicate-modal #duplicateModal (duplicated)="loadData()"/>
<tw-resource-fhir-import-modal #importModal (imported)="loadData()" resourceType="CodeSystem"/>
