<m-card>
  <div *m-card-header class="m-items-between">
    <m-input [(ngModel)]="searchInput" (mChange)="searchUpdate.next($event)" placeholder="marina.ui.inputs.search.placeholder" autofocus></m-input>
    <div class="m-items-middle">
      <twa-add-button *twaPrivileged="'*.Thesaurus.edit'" [routerLink]="['../structure-definitions/add']" [queryParams]="{tab: 'json'}">
        {{'web.structure-definition.list.add-structure-definition' | translate}}
      </twa-add-button>
    </div>
  </div>

  <m-backend-table [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="loadData()" [mLoading]="loading">
    <tr *mTableHead>
      <th mColumnKey="code">{{'entities.structure-definition.code' | translate}}</th>
      <th>{{'entities.structure-definition.url' | translate}}</th>
      <th>{{'entities.structure-definition.content-type' | translate}}</th>
      <th>{{'entities.structure-definition.content-format' | translate}}</th>
      <th *twaPrivileged="'*.Thesaurus.edit'" class="tw-table-actions"></th>
    </tr>

    <tr *mTableRow="let def">
      <td>
        <a *ngIf="'*.Thesaurus.edit' | twaHasAnyPrivilege; else view" [routerLink]="['../structure-definitions',def.id,'edit']" [queryParams]="{tab: def.contentFormat}">{{def.code}}</a>
        <ng-template #view>
          <a [routerLink]="['../structure-definitions',def.id,'view']" [queryParams]="{tab: def.contentFormat}">{{def.code}}</a>
        </ng-template>
      </td>
      <td>{{def.url}}</td>
      <td>{{def.contentType}}</td>
      <td>{{def.contentFormat}}</td>
      <td *twaPrivileged="'*.Thesaurus.edit'" class="tw-table-actions">
        <m-dropdown>
          <ng-container *twaPrivileged="'*.Thesaurus.edit'">
            <a *m-dropdown-item (click)="deleteStructureDefinition(def.id)"> <m-icon [mCode]="'delete'"></m-icon>&nbsp; {{'core.btn.delete' | translate}}</a>
          </ng-container>
        </m-dropdown>
      </td>
    </tr>
    <tr *mTableNoData>
      <td colspan="100%">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-backend-table>
</m-card>

