<div nz-row nzJustify="center">
  <div nz-col [nzLg]="18" [nzXs]="24">
    <nz-tabset [(nzSelectedIndex)]="selectedTabIndex" (nzSelectedIndexChange)="handleTabChange($event)">
      <nz-tab [nzTitle]="'web.structure-definition.form.fsh-header' | translate">
        <ng-template nz-tab>
          <ng-container [ngTemplateOutlet]="formTemplate"></ng-container>
        </ng-template>
      </nz-tab>

      <nz-tab [nzTitle]="'web.structure-definition.form.json-header' | translate">
        <ng-template nz-tab>
          <ng-container [ngTemplateOutlet]="formTemplate"></ng-container>
        </ng-template>
      </nz-tab>

      <nz-tab [nzTitle]="'web.structure-definition.form.element-header' | translate">
        <ng-template nz-tab>
          <div nz-row nzGutter="12" class="m-row">
            <div nz-col [nzMd]="8" [nzXs]="24">
              <m-card *ngIf="structureDefinition?.code">
                <div *m-card-header class="m-items-between">
                  <label></label>
                  <twa-add-button (click)="addElement()">{{'web.structure-definition.form.add-element' | translate}}</twa-add-button>
                </div>
                <twa-structure-definition-tree #sdTree mode="edit"
                    [defCode]="structureDefinition.code"
                    (elementSelected)="openElementForm($event)"></twa-structure-definition-tree>
              </m-card>
            </div>
            <div nz-col [nzMd]="16" [nzXs]="24">
              <m-card *ngIf="element">
                <form #elementForm="ngForm">
                  <m-form-item mName="path" mLabel="web.structure-definition.form.path" required>
                    <m-input name="path" [(ngModel)]="element.path" required></m-input>
                  </m-form-item>
                  <m-form-item mName="cardinality" mLabel="web.structure-definition.form.cardinality">
                    <nz-radio-group name="cardinality" [(ngModel)]="element.cardinality">
                      <label nz-radio-button nzValue="0..0">0..0</label>
                      <label nz-radio-button nzValue="0..1">0..1</label>
                      <label nz-radio-button nzValue="0..*">0..*</label>
                      <label nz-radio-button nzValue="1..1">1..1</label>
                      <label nz-radio-button nzValue="1..*">1..*</label>
                    </nz-radio-group>
                  </m-form-item>
                  <twa-sd-type-list [types]="element.types" (typesChange)="element.types = $event"></twa-sd-type-list>
                  <m-form-item mName="fixed" mLabel="web.structure-definition.form.fixed-uri">
                    <m-input name="fixed" [(ngModel)]="element.fixedUri"></m-input>
                  </m-form-item>
                  <m-form-item mName="fixedCoding" mLabel="web.structure-definition.form.fixed-coding">
                    <div style="display: flex">
                      <m-input style="width: 100%" name="fixedCodingCode" placeholder="web.structure-definition.form.code" [(ngModel)]="element.fixedCoding.code"></m-input>
                      <m-input style="width: 100%" name="fixedCodingSystem" placeholder="web.structure-definition.form.system" [(ngModel)]="element.fixedCoding.system"></m-input>
                      <m-input style="width: 100%" name="fixedCodingDisplay" placeholder="web.structure-definition.form.display" [(ngModel)]="element.fixedCoding.display"></m-input>
                    </div>
                  </m-form-item>
                  <m-form-item mName="short" mLabel="web.structure-definition.form.short-description">
                    <m-input name="short" [(ngModel)]="element.short"></m-input>
                  </m-form-item>
                  <m-form-item mName="definition" mLabel="web.structure-definition.form.definition">
                    <m-textarea name="definition" [(ngModel)]="element.definition"></m-textarea>
                  </m-form-item>
                  <twa-sd-constraint-list [constraints]="element.constraint" (constraintsChange)="element.constraint = $event"></twa-sd-constraint-list>
                </form>
                <ng-container *m-card-footer>
                  <m-button mDisplay="primary" [mLoading]="loading['save']" [disabled]="loading['save'] || loading['init']" (click)="saveElement()">
                    {{'core.btn.save' | translate}}
                  </m-button>
                </ng-container>
              </m-card>
            </div>
          </div>
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </div>
</div>


<ng-template #formTemplate>
  <m-spinner [mLoading]="loading['save']">
    <m-card [mTitle]="mode === 'edit' ? 'web.structure-definition.form.edit-header' : 'web.structure-definition.form.add-header'"
        [mShowSkeleton]="loading['init'] || loading['content']">
      <form #form="ngForm" *ngIf="structureDefinition">
        <m-form-item mName="code" mLabel="entities.structure-definition.code" required>
          <m-input name="code" [(ngModel)]="structureDefinition.code" required></m-input>
        </m-form-item>

        <m-form-item mName="url" mLabel="entities.structure-definition.url" required>
          <m-input name="url" [(ngModel)]="structureDefinition.url" required></m-input>
        </m-form-item>

        <m-form-item mName="contentType" mLabel="entities.structure-definition.content-type" required>
          {{structureDefinition.contentType}}
        </m-form-item>

        <m-form-item mName="content" mLabel="entities.structure-definition.content" required>
          <m-textarea name="content" [(ngModel)]="structureDefinition.content" [rows]="10" autosize required></m-textarea>
        </m-form-item>
      </form>
      <ng-container *m-card-footer>
        <m-button mDisplay="primary" [mLoading]="loading['save']" [disabled]="loading['save'] || loading['init']" (click)="save()">
          {{'core.btn.save' | translate}}
        </m-button>
      </ng-container>
    </m-card>
  </m-spinner>
</ng-template>


<m-modal [(mVisible)]="modalData.visible" (mClose)="modalData.visible = false">
  <ng-container *m-modal-content>
    {{'web.structure-definition.form.modal.content' | translate}}
  </ng-container>

  <div *m-modal-footer class="tw-button-group">
    <m-button (click)="proceed()">{{'web.structure-definition.form.modal.no-save-proceed' | translate}}</m-button>
    <m-button mDisplay="primary" (click)="proceed(true)">{{'web.structure-definition.form.modal.save-proceed' | translate}}</m-button>
  </div>
</m-modal>


<m-modal #errorModal [(mVisible)]="errorModalData.visible" (mClose)="errorModalData.visible = false">
  <ng-container *m-modal-header>{{errorModalData.title | translate}}</ng-container>
  <ng-container *m-modal-content>
    <div style="display: grid">
      <label *ngFor="let msg of errorModalData.messages" style="margin-bottom: 0.5rem">
        <m-icon mCode="exclamation-circle" style="color: red;margin-right: 0.25rem"></m-icon>
        {{msg}}
      </label>
    </div>
  </ng-container>
  <div *m-modal-footer class="tw-button-group">
    <m-button (click)="proceedAfterError(errorModalData.pendingIndex)">{{'web.structure-definition.form.error-modal.delete-content' | translate}}</m-button>
    <m-button (click)="errorModal.close()">{{'core.btn.close' | translate}}</m-button>
  </div>
</m-modal>
