<nz-tree-view [nzTreeControl]="treeControl" [nzDataSource]="dataSource">
  <nz-tree-node *nzTreeNodeDef="let node" nzTreeNodeIndentLine style="width: 100%">
    <nz-tree-node-option style="width: 100%" [ngStyle]="!!node.element && node.element === selectedElement ? {'background': '#eee'} : {}">
      <ng-container *ngTemplateOutlet="option; context: {node: node}"></ng-container>
    </nz-tree-node-option>
  </nz-tree-node>

  <nz-tree-node *nzTreeNodeDef="let node; when: hasChild" nzTreeNodeIndentLine style="width: 100%">
    <nz-tree-node-toggle>
          <span nz-icon [nzType]="treeControl.isExpanded(node) ? 'minus-square' : 'plus-square'" nzTheme="outline"></span>
    </nz-tree-node-toggle>
    <nz-tree-node-option style="width: 100%" [ngStyle]="!!node.element && node.element === selectedElement ? {'background': '#eee'} : {}">
      <ng-container *ngTemplateOutlet="option; context: {node: node}"></ng-container>
    </nz-tree-node-option>
  </nz-tree-node>
</nz-tree-view>


<ng-template #option let-node="node">
    <div style="display: flex" (click)="selectElement(node.element)">

      <label style="flex: 3; display: grid;">
        <label>{{ node.name }}</label>
        <label *ngIf="node.fixedUri && mode === 'view'" style="color: grey">
          {{'web.structure-definition.view.fixed' | translate}}:
          <a [href]="node.fixedUri">{{node.fixedUri | apply:lastWordFromUrl}}</a>
        </label>
        <label *ngIf="node.fixedCoding && mode === 'view'" style="color: grey">
          {{'web.structure-definition.view.fixed' | translate}}: {{node.fixedCoding.code}} | {{node.fixedCoding.system}}
        </label>
      </label>

      <label style="flex: 1" *ngIf="mode === 'view'">{{ node.cardinality }}</label>

      <label style="flex: 5" *ngIf="mode === 'view'">
        <label>{{ node.type }}</label>
        <label *ngIf="node.targetProfiles">
          (<a *ngFor="let profile of node.targetProfiles; let index = index" [href]="profile">{{index !== 0 ? ' | ' : ''}}{{profile | apply:lastWordFromUrl}}</a>)
        </label>
      </label>

      <label style="flex: 10; display: grid" *ngIf="mode === 'view'">
        <label>{{ node.short }}</label>
        <label *ngIf="node.definition" style="color: grey">{{ node.definition }}</label>
        <label *ngIf="node.binding" style="color: grey">
          {{'web.structure-definition.view.binding' | translate}}:
          <a [href]="node.binding">{{node.binding.valueSet | apply:lastWordFromUrl}}</a>
          ({{node.binding.strength}})
        </label>
      </label>

    </div>
</ng-template>
