<div nz-row nzJustify="center">
  <div nz-col [nzLg]="18" [nzXs]="24">
    <nz-tabset nzLinkRouter>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'fsh' }" (click)="handleFormat('fsh')" [replaceUrl]="true" class="m-items-middle">
          {{'web.structure-definition.form.fsh-header' | translate}}
        </a>
        <ng-container [ngTemplateOutlet]="formTemplate"></ng-container>
      </nz-tab>

      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'json' }" (click)="handleFormat('json')" [replaceUrl]="true" class="m-items-middle">
          {{'web.structure-definition.form.json-header' | translate}}
        </a>
        <ng-container [ngTemplateOutlet]="formTemplate"></ng-container>
      </nz-tab>

      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'elements' }" [replaceUrl]="true" class="m-items-middle">
          {{'web.structure-definition.form.element-header' | translate}}
        </a>

        In progress...
      </nz-tab>
    </nz-tabset>
  </div>
</div>


<ng-template #formTemplate>
  <m-spinner [mLoading]="loading['save']">
    <m-card [mTitle]="mode === 'edit' ? 'web.structure-definition.form.edit-header' : 'web.structure-definition.form.add-header'" [mShowSkeleton]="loading['init']">
      <form #form="ngForm" *ngIf="structureDefinition">
        <m-form-item mName="code" mLabel="entities.structure-definition.code" required>
          <m-input name="code" [(ngModel)]="structureDefinition.code" required></m-input>
        </m-form-item>

        <m-form-item mName="url" mLabel="entities.structure-definition.url" required>
          <m-input name="url" [(ngModel)]="structureDefinition.url" required></m-input>
        </m-form-item>

        <m-form-item mName="contentType" mLabel="entities.structure-definition.content-type" required>
          {{structureDefinition.contentType}}
        </m-form-item>

        <m-form-item mName="content" mLabel="entities.structure-definition.content" required>
          <m-textarea name="content" [(ngModel)]="structureDefinition.content" autosize [rows]="15" required></m-textarea>
        </m-form-item>
      </form>
      <ng-container *m-card-footer>
        <m-button mDisplay="primary" [mLoading]="loading['save']" [disabled]="loading['save'] || loading['init']" (click)="save()">
          {{'core.btn.save' | translate}}
        </m-button>
      </ng-container>
    </m-card>
  </m-spinner>
</ng-template>
