<tw-smart-text-editor-view *ngIf="viewMode; else edit" [value]="value" [valueType]="valueType"/>


<ng-template #edit>
  <tw-dropdown-menu
    #optionMenu
      [containerRef]="containerRef"
      [lang]="lang"
      (composed)="insertAtCursor($event.result, $event.cursorOffset)"
  />

  <div class="editor-wrapper">
    <div #containerRef class="editor__editor" [ngSwitch]="valueType">
      <tw-wiki-markdown-editor
        #editor
          *ngSwitchCase="'markdown'"
          [(ngModel)]="value"
          (ngModelChange)="fireOnChange($event)"
          (keydown)="optionMenu.proxyKeyDown($event)"
          (keyup)="optionMenu.proxyKeyUp($event)"
          (blur)="onTouched()"
          style="font-family: monospace"
      />

      <tw-wiki-quill-editor
        #editor
          *ngSwitchCase="'html'"
          [(ngModel)]="value"
          (ngModelChange)="fireOnChange($event)"
          (keydown)="optionMenu.proxyKeyDown($event)"
          (keyup)="optionMenu.proxyKeyUp($event)"
          (blur)="onTouched()"
      />
    </div>


    <div *ngIf="showPreview" class="editor__preview">
      <tw-smart-text-editor-view [value]="valueView$ | async" [valueType]="valueType" [prerender]="true"/>
    </div>
  </div>
</ng-template>
