<m-table [data]="filters" [loading]="loading" hideOnSinglePage>
  <tr *mTableHead>
    <th>{{'web.value-set-rule-filter.entity.property' | translate}}</th>
    <th>{{'web.value-set-rule-filter.entity.operator' | translate}}</th>
    <th>{{'web.value-set-rule-filter.entity.value' | translate}}</th>
    <th *ngIf="!viewMode" class="tw-table-actions"></th>
  </tr>

  <tr *mTableRow="let item; let i = index">
    <td>
      <m-select *ngIf="!viewMode" name="property" [(ngModel)]="item.property" [compareWith]="'id'">
        <m-option *ngFor="let property of properties" [label]="property.name" [value]="property"></m-option>
      </m-select>
      <div *ngIf="viewMode">{{item.property?.name}}</div>
    </td>
    <td>
      <div>=</div><!--TODO add operation types-->
    </td>
    <td>
      <m-input *ngIf="!viewMode" name="value" [(ngModel)]="item.value"></m-input>
      <div *ngIf="viewMode">{{item.value}}</div>
    </td>
    <td class="tw-table-actions" *ngIf="!viewMode">
      <m-button display="link" (click)="removeRow(i)">{{'core.btn.delete' | translate}}</m-button>
    </td>
  </tr>

  <tr *ngIf="!viewMode">
    <td colspan="3" style="padding: 0">
      <m-button display="text" size="small" style="width: 100%" (click)="addRow()">
        <m-icon [code]="'plus'"></m-icon>
      </m-button>
    </td>
  </tr>

  <tr *mTableNoData>
    <td colspan="3">
      <m-no-data></m-no-data>
    </td>
  </tr>
</m-table>
