<m-card class="tw-card-inner">
  <div *m-card-header class="tw-items-between">
    <div class="m-card-title">{{'web.value-set-version.form.rule-set' | translate}} &nbsp;
      <m-button (click)="expand()" mSize="small">
        <m-icon mCode="eye"></m-icon>
      </m-button>
    </div>
    <m-button (click)="addRule()">
      <m-icon mCode="plus"></m-icon>&nbsp; <span>{{'web.value-set-rule-set.form.add-rule-set' | translate}}</span>
    </m-button>
  </div>

  <form #form="ngForm" *ngIf="ruleSet">
    <m-form-item mName="lockedDate" mLabel="web.value-set-rule-set.entity.locked-date">
      <nz-date-picker *ngIf="!viewMode" name="lockedDate" [(ngModel)]="ruleSet.lockedDate"></nz-date-picker>
      <label *ngIf="viewMode">{{ruleSet.lockedDate | localDate}}</label>
    </m-form-item>

    <m-form-item mName="inactive" mLabel="web.value-set-rule-set.entity.inactive" [required]="!viewMode">
      <nz-radio-group name="inactive" [(ngModel)]="ruleSet.inactive" [disabled]="!!viewMode">
        <label nz-radio-button [nzValue]="true">{{'web.value-set-rule-set.form.inactive' | translate}}</label>
        <label nz-radio-button [nzValue]="undefined">{{'web.value-set-rule-set.form.all' | translate}}</label>
        <label nz-radio-button [nzValue]="false">{{'web.value-set-rule-set.form.active' | translate}}</label>
      </nz-radio-group>
    </m-form-item>

    <m-form-item mName="rules" mLabel="web.value-set-rule-set.entity.rules">
      <m-no-data *ngIf="!rules?.length"></m-no-data>
      <nz-collapse class="tw-cs-contact-collapse" *ngIf="rules?.length">
        <nz-collapse-panel *ngFor="let rule of rules; let i = index" [nzHeader]="header" [nzExtra]="!viewMode && edit">
          <ng-template #header>
            <m-icon *ngIf="!rule.include?.codeSystem && !rule.include?.valueSet" [mCode]="'file-text'"></m-icon>
            <label *ngIf="rule.include?.codeSystem">
              {{rule.include.codeSystem}}{{rule.include.codeSystemVersion ? ' / ' + rule.include.codeSystemVersion : ''}}
            </label>
            <label *ngIf="rule.include?.codeSystem && rule.include?.valueSet">
              &nbsp;{{'+'}}&nbsp;
            </label>
            <label *ngIf="rule.include?.valueSet">
              {{rule.include.valueSet}}{{rule.include.valueSetVersion ? ' / ' + rule.include.valueSetVersion : ''}}
            </label>
          </ng-template>

          <ng-template #edit>
            <div class="tw-button-group">
              <m-button (click)="$event.stopPropagation();expand(rule)" mSize="small">
                <m-icon [mCode]="'eye'"></m-icon>
              </m-button>
              <m-button (click)="$event.stopPropagation();toggleModal(rule, i)" mSize="small">
                <m-icon [mCode]="'edit'"></m-icon>
              </m-button>
              <m-button (click)="$event.stopPropagation();deleteRule(i)" mSize="small">
                <m-icon [mCode]="'delete'"></m-icon>
              </m-button>
            </div>
          </ng-template>

          <twa-value-set-code-system-rule [lockedDate]="ruleSet.lockedDate"
              [includeRule]="rule.include"
              [excludeRule]="rule.exclude"
              [inactiveConcepts]="ruleSet.inactive"
              viewMode></twa-value-set-code-system-rule>
        </nz-collapse-panel>
      </nz-collapse>
    </m-form-item>
  </form>


  <m-modal #modal [(mVisible)]="modalData.visible" (close)="toggleModal()" mStyle="width: 900px">
    <ng-container *m-modal-header>
      {{'web.value-set-rule-set.form.edit-header' | translate}}
    </ng-container>

    <ng-container *m-modal-content>
      <twa-value-set-code-system-rule #ruleComponent
          [lockedDate]="ruleSet.lockedDate"
          [includeRule]="modalData.rule.include"
          [excludeRule]="modalData.rule.exclude"
          [inactiveConcepts]="ruleSet.inactive"></twa-value-set-code-system-rule>
    </ng-container>


    <div *m-modal-footer class="tw-button-group">
      <m-button (click)="modal.close()">{{'core.btn.cancel' | translate}}</m-button>
      <m-button mDisplay="primary" (click)="confirmModalRuleSet()">{{'core.btn.confirm' | translate}}</m-button>
    </div>
  </m-modal>
</m-card>

<twa-value-set-version-concept-modal #conceptModal></twa-value-set-version-concept-modal>
