<form #form="ngForm">
  <m-form-item name="codeSystem" label="web.value-set-rule-set.entity.rule.code-system" required>
    <twl-code-system-search *ngIf="!viewMode"
        name="codeSystem"
        [(ngModel)]="codeSystem"
        (ngModelChange)="codeSystemChange($event)"
        valuePrimitive
        required></twl-code-system-search>
    <label *ngIf="viewMode">{{codeSystem}}</label>
  </m-form-item>
  <m-form-item name="codeSystemVersion" label="web.value-set-rule-set.entity.rule.code-system-version" [required]="!lockedDate">
    <twl-code-system-version-select *ngIf="!viewMode"
        name="codeSystemVersion"
        [(ngModel)]="codeSystemVersion"
        (ngModelChange)="codeSystemVersionChange($event)"
        [codeSystemId]="codeSystem"
        [required]="!lockedDate"></twl-code-system-version-select>
    <label *ngIf="viewMode">{{codeSystemVersion?.version}}</label>
  </m-form-item>
</form>

<ng-container *ngIf="codeSystem">
  <nz-divider [nzText]="'web.value-set-rule-set.form.include' | translate" nzOrientation="left"></nz-divider>
  <m-form-item label="web.value-set-rule-set.entity.rule.concepts">
    <twa-value-set-version-concept-list [codeSystem]="codeSystem"
        [codeSystemVersion]="codeSystemVersion?.version"
        [lockedDate]="lockedDate"
        [concepts]="includeRule.concepts"
        [inactiveConcepts]="inactiveConcepts"
        [viewMode]="viewMode"
        (conceptsChange)="includeRule.concepts = $event"></twa-value-set-version-concept-list>
  </m-form-item>
  <m-form-item label="web.value-set-rule-set.entity.rule.filters">
    <twa-value-set-rule-filter-list [codeSystem]="codeSystem"
        [filters]="includeRule.filters"
        [viewMode]="viewMode"
        (filtersChange)="includeRule.filters = $event"></twa-value-set-rule-filter-list>
  </m-form-item>


  <nz-divider [nzText]="exclude" nzOrientation="left">
    <ng-template #exclude>
      <label>{{'web.value-set-rule-set.form.exclude' | translate}}</label> &nbsp;
      <nz-switch [(ngModel)]="excludeRuleOn" (ngModelChange)="switchExcludeRule($event)" [disabled]="!!viewMode"></nz-switch>
    </ng-template>
  </nz-divider>
  <ng-container *ngIf="excludeRuleOn && excludeRule">
    <m-form-item label="web.value-set-rule-set.entity.rule.filters">
      <twa-value-set-rule-filter-list [codeSystem]="codeSystem"
          [filters]="excludeRule.filters"
          [viewMode]="viewMode"
          (filtersChange)="excludeRule.filters = $event"></twa-value-set-rule-filter-list>
    </m-form-item>
  </ng-container>
</ng-container>
