<m-card>
  <div *m-card-header class="m-justify-between">
    <span>{{'entities.server.plural' | translate}}</span>

    <div class="m-items-middle">
      <m-input name="searchInput" [(ngModel)]="searchInput" twDebounce [debounced]="onSearch" placeholder="marina.ui.inputs.search.placeholder" autofocus/>
      <tw-add-button *twPrivileged="'*.Server.edit'" [routerLink]="['./add']">
        {{'web.server.add-btn' | translate}}
      </tw-add-button>

      <m-dropdown *twPrivileged="'*.Server.view'">
        <m-button *m-dropdown-container mDisplay="text">
          <m-icon mCode="more"/>
        </m-button>
        <a *m-dropdown-item (mClick)="exportEcosystem()">
          {{'web.server.export-ecosystem' | translate}}
        </a>
        <ng-container *twPrivileged="'*.Server.edit'">
          <a *m-dropdown-item (mClick)="fileInput.click()">
            {{'web.server.import-ecosystem' | translate}}
          </a>
        </ng-container>
      </m-dropdown>
      <input #fileInput type="file" accept=".json" style="display: none" (change)="onImportFileSelected($event)"/>
    </div>
  </div>

  <m-backend-table [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="loadData()" [mLoading]="loading">
    <tr *mTableHead>
      <th mColumnKey="code">{{'entities.server.code' | translate}}</th>
      <th>{{'entities.server.name' | translate}}</th>
      <th>{{'entities.server.kind' | translate}}</th>
      <th>{{'entities.server.active' | translate}}</th>
      <th>{{'entities.server.current-installation' | translate}}</th>
    </tr>

    <tr *mTableRow="let ts">
      <td>
        <a [routerLink]="[ts.id, 'summary']">
          {{ts.code}}
        </a>
      </td>
      <td>{{ts.names | localName}}</td>
      <td>
        @for (k of ts.kind; track k) {
          <div>{{'web.server.kind.' + k | translate}}</div>
        }
      </td>
      <td><m-checkbox name="active" [(ngModel)]="ts.active" readOnly></m-checkbox></td>
      <td><m-checkbox name="currentInstallation" [(ngModel)]="ts.currentInstallation" readOnly></m-checkbox></td>
    </tr>
    <tr *mTableNoData>
      <td colspan="5">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-backend-table>
</m-card>
