<m-card class="m-card-inside">
  <div *m-card-header class="m-justify-between">
    <div class="m-card__title">{{'entities.code-system.designations' | translate}}</div>
    @if (!viewMode && definedEntityProperties) {
      <m-dropdown>
        <tw-add-button *m-dropdown-container icon="down" placement="right">
          {{'web.code-system.form.properties.often-used-designations' | translate}}
        </tw-add-button>
        @for (p of definedEntityProperties | filter:filterDefinedProperties:'designation'; track $index) {
          <a *m-dropdown-item (click)="addDefinedProperty(p)">{{p.name}}</a>
        }
      </m-dropdown>
    }
  </div>
  <form #designationForm="ngForm">
    <m-editable-table #rowsTable [mData]="designationProperties" [mLoading]="loader.isLoading" [mRowInstance]="designationRowInstance">
      <m-editable-column [mTitle]="'entities.entity-property.name'" mName="name">
        <ng-template #viewTemplate let-p>{{p.name}}</ng-template>
      </m-editable-column>
      <m-editable-column [mTitle]="'entities.entity-property.uri'" mName="uri">
        <ng-template #viewTemplate let-p>{{p.uri}}</ng-template>
      </m-editable-column>
      <m-editable-column [mTitle]="'entities.entity-property.required'" mName="required">
        <ng-template #viewTemplate let-p let-ngModelName="ngModelName">
          <m-checkbox [(ngModel)]="p.required" readOnly [name]="ngModelName"></m-checkbox>
        </ng-template>
      </m-editable-column>
      <m-editable-column [mTitle]="'entities.entity-property.preferred'" mName="preferred">
        <ng-template #viewTemplate let-p let-ngModelName="ngModelName">
          <m-checkbox [(ngModel)]="p.preferred" readOnly [name]="ngModelName"></m-checkbox>
        </ng-template>
      </m-editable-column>
      <m-editable-column [mTitle]="'entities.entity-property.show-in-list'" mName="showInList">
        <ng-template #viewTemplate let-p let-ngModelName="ngModelName">
          <m-checkbox [(ngModel)]="p.showInList" readOnly [name]="ngModelName"></m-checkbox>
        </ng-template>
      </m-editable-column>
      <m-editable-column [mTitle]="'entities.entity-property.description'" mName="description">
        <ng-template #viewTemplate let-p>{{p.description | localName}}</ng-template>
      </m-editable-column>
      <m-editable-column [mTitle]="'entities.entity-property.order-number'" mName="order-number">
        <ng-template #viewTemplate let-p>{{p.orderNumber}}</ng-template>
      </m-editable-column>
      <m-editable-column>
        <ng-template #viewTemplate let-p>
          <div class="m-justify-right">
            @if (p.id) {
              <m-dropdown>
                <a *m-dropdown-item (mClick)="deletePropertyUsages(p.id)">{{'web.code-system.form.delete-property-usages' | translate}}</a>
              </m-dropdown>
            }
          </div>
        </ng-template>
      </m-editable-column>
      <ng-template #expandEditTemplate let-p let-prefix="ngModelNamePrefix">
        <tr>
          <td colspan="9">
            <m-form-row>
              <m-form-item *mFormCol mLabel="entities.entity-property.name" mName="name-{{prefix}}" required>
                @if (!p.definedEntityPropertyId) {
                  <m-textarea [(ngModel)]="p.name" name="name-{{prefix}}" required></m-textarea>
                }
                @if (p.definedEntityPropertyId) {
                  <label>{{p.name}}</label>
                }
              </m-form-item>
              <m-form-item *mFormCol mLabel="entities.entity-property.uri" mName="uri-{{prefix}}">
                @if (!p.definedEntityPropertyId) {
                  <m-textarea [(ngModel)]="p.uri" name="uri-{{prefix}}"></m-textarea>
                }
                @if (p.definedEntityPropertyId) {
                  <label>{{p.uri}}</label>
                }
              </m-form-item>
            </m-form-row>
            <m-form-item mLabel="entities.entity-property.description" mName="description-{{prefix}}">
              @if (!p.definedEntityPropertyId) {
                <m-multi-language-input [(ngModel)]="p.description" name="description-{{prefix}}" mInputType="textarea"/>
              }
              @if (p.definedEntityPropertyId) {
                <label>{{p.description | localName}}</label>
              }
            </m-form-item>
            <m-form-row>
              <div class="m-items-middle">
                <m-form-item mLabel="entities.entity-property.order-number" mName="order-number-{{prefix}}">
                  <m-number-input [(ngModel)]="p.orderNumber" name="order-number-{{prefix}}"></m-number-input>
                </m-form-item>
                <m-form-item mLabel="entities.entity-property.required" mName="required-{{prefix}}">
                  <m-checkbox [(ngModel)]="p.required" name="required-{{prefix}}"></m-checkbox>
                </m-form-item>
                <m-form-item mLabel="entities.entity-property.preferred" mName="preferred-{{prefix}}">
                  <m-checkbox [(ngModel)]="p.preferred" name="preferred-{{prefix}}"></m-checkbox>
                </m-form-item>
                <m-form-item mLabel="entities.entity-property.show-in-list" mName="showInList-{{prefix}}">
                  <m-checkbox [(ngModel)]="p.showInList" name="showInList-{{prefix}}"></m-checkbox>
                </m-form-item>
              </div>
            </m-form-row>
          </td>
        </tr>
      </ng-template>
    </m-editable-table>
  </form>
</m-card>


<m-card class="m-card-inside">
  <div *m-card-header class="m-justify-between">
    <div class="m-card__title">{{'entities.code-system.properties' | translate}}</div>
    @if (!viewMode && definedEntityProperties) {
      <m-dropdown>
        <tw-add-button *m-dropdown-container icon="down" placement="right">
          {{'web.code-system.form.properties.often-used-properties' | translate}}
        </tw-add-button>
        @for (p of definedEntityProperties | filter:filterDefinedProperties:'property'; track $index) {
          <div *m-dropdown-item (click)="addDefinedProperty(p)">{{p.name}}</div>
        }
      </m-dropdown>
    }
  </div>
  <form #propertyForm="ngForm">
    @if (viewMode) {
      <m-table [mData]="basicProperties" [mLoading]="loader.isLoading" mSize="small">
        <tr *mTableHead>
          <th style="width: 4rem"></th>
          <th>{{'entities.entity-property.name' | translate}}</th>
          <th>{{'entities.entity-property.uri' | translate}}</th>
          <th>{{'entities.entity-property.type' | translate}}</th>
          <th>{{'entities.entity-property.required' | translate}}</th>
          <th>{{'entities.entity-property.show-in-list' | translate}}</th>
          <th>{{'entities.entity-property.description' | translate}}</th>
          <th>{{'entities.entity-property.order-number' | translate}}</th>
          <th></th>
        </tr>

        <ng-container *mTableRow="let p">
          <tr>
            <td>
              <a class="m-clickable" (click)="toggleBasicPropertyExpand(p, $event)">
                {{(p | apply:getBasicPropertyKey) === expandedBasicPropertyKey ? '-' : '+'}}
              </a>
            </td>
            <td>{{p.name}}</td>
            <td>{{p.uri}}</td>
            <td>{{p.type | localizedConceptName: {valueSet: 'concept-property-type'} | async}}</td>
            <td><m-checkbox [ngModel]="p.required" readOnly></m-checkbox></td>
            <td><m-checkbox [ngModel]="p.showInList" readOnly></m-checkbox></td>
            <td>{{p.description | localName}}</td>
            <td>{{p.orderNumber}}</td>
            <td></td>
          </tr>
          @if ((p | apply:getBasicPropertyKey) === expandedBasicPropertyKey) {
          <tr>
            <td colspan="9">
              <m-form-row>
                <m-form-item *mFormCol mLabel="entities.entity-property.name">
                  {{p.name}}
                </m-form-item>
                <m-form-item *mFormCol mLabel="entities.entity-property.uri">
                  {{p.uri}}
                </m-form-item>
              </m-form-row>
              <m-form-item mLabel="entities.entity-property.description">
                {{p.description | localName}}
              </m-form-item>
              <m-form-row>
                <m-form-item *mFormCol mLabel="entities.entity-property.type">
                  {{p.type | localizedConceptName: {valueSet: 'concept-property-type'} | async}}
                </m-form-item>
                <m-form-item *mFormCol mLabel="entities.entity-property.order-number">
                  {{p.orderNumber}}
                </m-form-item>
                <m-form-item *mFormCol mLabel="entities.entity-property.required">
                  <m-checkbox [ngModel]="p.required" readOnly></m-checkbox>
                </m-form-item>
                <m-form-item *mFormCol mLabel="entities.entity-property.preferred">
                  <m-checkbox [ngModel]="p.preferred" readOnly></m-checkbox>
                </m-form-item>
                <m-form-item *mFormCol mLabel="entities.entity-property.show-in-list">
                  <m-checkbox [ngModel]="p.showInList" readOnly></m-checkbox>
                </m-form-item>
              </m-form-row>

              @if (['code', 'Coding'] | includes: p.type) {
                <m-divider>{{'entities.entity-property.rule.singular' | translate}}</m-divider>
                @if ('Coding' === p.type) {
                  <m-form-item mLabel="entities.entity-property.rule.code-systems">
                    {{p.rule?.codeSystems?.join(', ')}}
                  </m-form-item>
                }
                @if ('Coding' === p.type) {
                  <m-form-item mLabel="entities.entity-property.rule.value-set">
                    {{p.rule?.valueSet}}
                  </m-form-item>
                }
                @if ('code' === p.type) {
                  <m-form-item mLabel="entities.entity-property.rule.filters">
                    <m-table [mData]="p.rule?.filters || []" mSize="small">
                      <tr *mTableHead>
                        <th>{{'entities.entity-property.rule.type' | translate}}</th>
                        <th>{{'entities.entity-property.rule.property' | translate}}</th>
                        <th>{{'entities.entity-property.rule.value' | translate}}</th>
                      </tr>
                      <tr *mTableRow="let f">
                        <td>{{f.type}}</td>
                        <td>{{f.association || f.property?.name}}</td>
                        <td>
                          @if (f.type === 'property') {
                            <tw-property-value-input
                                viewMode
                                [ngModel]="f.value"
                                [property]="f.property"
                                [codeSystem]="codeSystemId"
                            ></tw-property-value-input>
                          } @else {
                            {{f.value}}
                          }
                        </td>
                      </tr>
                    </m-table>
                  </m-form-item>
                }
              }
            </td>
          </tr>
          }
        </ng-container>
      </m-table>
    } @else {
    <m-editable-table #rowsTable [mData]="basicProperties" [mLoading]="loader.isLoading" [mRowInstance]="propertyRowInstance" [mAddAllowed]="!viewMode" [mEditAllowed]="!viewMode" [mDeleteAllowed]="!viewMode">
      <m-editable-column [mTitle]="'entities.entity-property.name'">
        <ng-template #viewTemplate let-p>{{p.name}}</ng-template>
      </m-editable-column>
      <m-editable-column [mTitle]="'entities.entity-property.uri'">
        <ng-template #viewTemplate let-p>{{p.uri}}</ng-template>
      </m-editable-column>
      <m-editable-column [mTitle]="'entities.entity-property.type'">
        <ng-template #viewTemplate let-p>{{p.type | localizedConceptName: {valueSet: 'concept-property-type'} | async}}</ng-template>
      </m-editable-column>
      <m-editable-column [mTitle]="'entities.entity-property.required'" mName="required">
        <ng-template #viewTemplate let-p let-ngModelName="ngModelName">
          <m-checkbox [(ngModel)]="p.required" readOnly [name]="ngModelName"></m-checkbox>
        </ng-template>
      </m-editable-column>
      <m-editable-column [mTitle]="'entities.entity-property.show-in-list'" mName="showInList">
        <ng-template #viewTemplate let-p let-ngModelName="ngModelName">
          <m-checkbox [(ngModel)]="p.showInList" readOnly [name]="ngModelName"></m-checkbox>
        </ng-template>
      </m-editable-column>
      <m-editable-column [mTitle]="'entities.entity-property.description'">
        <ng-template #viewTemplate let-p>{{p.description | localName}}</ng-template>
      </m-editable-column>
      <m-editable-column [mTitle]="'entities.entity-property.order-number'">
        <ng-template #viewTemplate let-p>{{p.orderNumber}}</ng-template>
      </m-editable-column>
      <m-editable-column>
        <ng-template #viewTemplate let-p>
          <div class="m-justify-right">
            @if (p.id) {
              <m-dropdown>
                <a *m-dropdown-item (mClick)="deletePropertyUsages(p.id)">{{'web.code-system.form.delete-property-usages' | translate}}</a>
              </m-dropdown>
            }
          </div>
        </ng-template>
      </m-editable-column>

      <ng-template #expandEditTemplate let-p let-prefix="ngModelNamePrefix">
        <tr>
          <td colspan="9">
            <m-form-row>
              <m-form-item *mFormCol mLabel="entities.entity-property.name" mName="name-{{prefix}}" required>
                @if (!p.definedEntityPropertyId) {
                  <m-textarea [(ngModel)]="p.name" name="name-{{prefix}}" required></m-textarea>
                }
                @if (p.definedEntityPropertyId) {
                  <label>{{p.name}}</label>
                }
              </m-form-item>
              <m-form-item *mFormCol mLabel="entities.entity-property.uri" mName="uri-{{prefix}}">
                @if (!p.definedEntityPropertyId) {
                  <m-textarea [(ngModel)]="p.uri" name="uri-{{prefix}}"></m-textarea>
                }
                @if (p.definedEntityPropertyId) {
                  <label>{{p.uri}}</label>
                }
              </m-form-item>
            </m-form-row>
            <m-form-item mLabel="entities.entity-property.description" mName="description-{{prefix}}">
              @if (!p.definedEntityPropertyId) {
                <m-multi-language-input [(ngModel)]="p.description" name="description-{{prefix}}" mInputType="textarea"/>
              }
              @if (p.definedEntityPropertyId) {
                <label>{{p.description | localName}}</label>
              }
            </m-form-item>
            <m-form-row>
              <m-form-item *mFormCol mLabel="entities.entity-property.type" mName="type-{{prefix}}" required>
                @if (!p.definedEntityPropertyId) {
                  <tw-value-set-concept-select
                      valueSet="concept-property-type"
                      [(ngModel)]="p.type"
                      name="type-{{prefix}}"
                      required
                  ></tw-value-set-concept-select>
                }
                @if (p.definedEntityPropertyId) {
                  <label>{{p.type | localName}}</label>
                }
              </m-form-item>
              <div *mFormCol class="m-items-middle">
                <m-form-item mLabel="entities.entity-property.order-number" mName="order-number-{{prefix}}">
                  <m-number-input [(ngModel)]="p.orderNumber" name="order-number-{{prefix}}"></m-number-input>
                </m-form-item>
                <m-form-item mLabel="entities.entity-property.required" mName="required-{{prefix}}">
                  <m-checkbox [(ngModel)]="p.required" name="required-{{prefix}}"></m-checkbox>
                </m-form-item>
                <m-form-item mLabel="entities.entity-property.preferred" mName="preferred-{{prefix}}">
                  <m-checkbox [(ngModel)]="p.preferred" name="preferred-{{prefix}}"></m-checkbox>
                </m-form-item>
                <m-form-item mLabel="entities.entity-property.show-in-list" mName="showInList-{{prefix}}">
                  <m-checkbox [(ngModel)]="p.showInList" name="showInList-{{prefix}}"></m-checkbox>
                </m-form-item>
              </div>
            </m-form-row>

            @if (['code', 'Coding'] | includes: p.type) {
              <m-divider>{{'entities.entity-property.rule.singular' | translate}}</m-divider>
              @if ('Coding' === p.type) {
                <m-form-item mLabel="entities.entity-property.rule.code-systems" mName="cs-{{prefix}}">
                  <tw-code-system-search [(ngModel)]="p.rule.codeSystems"
                      name="cs-{{prefix}}"
                      valuePrimitive
                      multiple
                      [disabled]="p.rule.valueSet"
                  ></tw-code-system-search>
                </m-form-item>
              }
              @if ('Coding' === p.type) {
                <m-form-item mLabel="entities.entity-property.rule.value-set" mName="vs-{{prefix}}">
                  <tw-value-set-search [(ngModel)]="p.rule.valueSet"
                      name="vs-{{prefix}}"
                      valuePrimitive
                      [disabled]="p.rule.codeSystems?.length > 0"
                  ></tw-value-set-search>
                </m-form-item>
              }
              @if ('code' === p.type) {
                <m-form-item mLabel="entities.entity-property.rule.filters">
                  <m-editable-table #rowsTable [mData]="p.rule.filters" [mRowInstance]="filterRowInstance">
                    <m-editable-column [mTitle]="'entities.entity-property.rule.type'" mName="type">
                      <ng-template #viewTemplate let-f>{{f.type}}</ng-template>
                      <ng-template #editTemplate let-f let-ngModelName="ngModelName">
                        <m-select [name]="ngModelName" [(ngModel)]="f.type" (ngModelChange)="filterTypeChanged($event, f)">
                          <m-option mLabel="property" [mValue]="'property'"></m-option>
                          <m-option mLabel="association" [mValue]="'association'"></m-option>
                        </m-select>
                      </ng-template>
                    </m-editable-column>
                    <m-editable-column [mTitle]="'entities.entity-property.rule.property'" mName="property">
                      <ng-template #viewTemplate let-f>{{f.association || f.property?.name}}</ng-template>
                      <ng-template #editTemplate let-f let-ngModelName="ngModelName">
                        @if (f.type === 'property') {
                          <m-select [name]="ngModelName" [(ngModel)]="f.property" [compareWith]="'id'" autofocus>
                            <m-option mLabel="code" [mValue]="{id: 0, name: 'code', type: 'string'}"></m-option>
                            @for (property of (properties | apply: filterProperties); track $index) {
                              <m-option [mLabel]="property.name" [mValue]="property"></m-option>
                            }
                          </m-select>
                        }
                        @if (f.type === 'association') {
                          <tw-association-type-search
                              [name]="ngModelName"
                              [(ngModel)]="f.association"
                              valuePrimitive
                              autofocus
                          ></tw-association-type-search>
                        }
                      </ng-template>
                    </m-editable-column>
                    <m-editable-column [mTitle]="'entities.entity-property.rule.value'" mName="value">
                      <ng-template #viewTemplate let-f>{{f.value}}</ng-template>
                      <ng-template #editTemplate let-f let-ngModelName="ngModelName">
                        @if (f.type === 'property') {
                          <tw-property-value-input [(ngModel)]="f.value"
                              [name]="ngModelName"
                              [codeSystem]="codeSystemId"
                              [property]="f.property"
                          ></tw-property-value-input>
                        }
                        @if (f.type === 'association') {
                          <tw-term-concept-search [name]="ngModelName"
                              valueType="code"
                              [(ngModel)]="f.value"
                              [codeSystem]="codeSystemId"
                          ></tw-term-concept-search>
                        }
                      </ng-template>
                    </m-editable-column>
                  </m-editable-table>
                </m-form-item>
              }
            }
          </td>
        </tr>
      </ng-template>

    </m-editable-table>
    }
  </form>

</m-card>
