<m-form-row>
  <m-card *m-form-col mTitle="web.tools.termx-service-api.header">
    <div class="tw-flex-container">
      <ng-container *ngIf="env.swaggerUrl || env.snowstormUrl || env.snowstormDailyBuildUrl; else noData">
        <div>
          {{'web.tools.termx-service-api.content' | translate}}
        </div>

        <m-form-row mGap="1rem">
          <ng-container *ngIf="env.swaggerUrl || env.snowstormUrl">
            <m-card *m-form-col mDisplay="bordered" mTitle="Swagger">
              <div class="m-items-middle">
                <m-button *ngIf="env.swaggerUrl" mDisplay="default" (mClick)="openTermXApi()">TermX</m-button>
                <m-button *ngIf="env.swaggerUrl" mDisplay="default" (mClick)="openTermXFhirApi()">TermX FHIR</m-button>
                <m-button *ngIf="env.snowstormUrl" mDisplay="dashed" (mClick)="openSnowstormApi()">Snowstorm</m-button>
              </div>
            </m-card>
          </ng-container>

          <ng-container *ngIf="env.snowstormUrl || env.snowstormDailyBuildUrl">
            <m-card *m-form-col mDisplay="bordered" mTitle="SNOMED CT Browser">
              <div class="m-items-middle">
                <m-button *ngIf="env.snowstormUrl" mDisplay="default" (mClick)="openSnowstormBrowser()">Public browser</m-button>
                <m-button *ngIf="env.snowstormDailyBuildUrl" mDisplay="dashed" (mClick)="openSnowstormDailyBuildBrowser()">Daily build browser</m-button>
              </div>
            </m-card>
          </ng-container>
        </m-form-row>
      </ng-container>


      <ng-template #noData>
        <m-alert
            style="margin: 0"
            class="tw-alert--no-line m-rounded"
            mType="info"
            mDescription="web.tools.termx-service-api.no-data"
            mShowIcon
        ></m-alert>
      </ng-template>
    </div>
  </m-card>
</m-form-row>
