<m-form-row>
  <m-card *m-form-col mTitle="web.tools.termx-service-api.header">
    <div class="tw-flex-container">
      @if (env.swaggerUrl || env.snowstormUrl || env.snowstormDailyBuildUrl) {
        <div>
          {{'web.tools.termx-service-api.content' | translate}}
        </div>
        <m-form-row mGap="1rem">
          @if (env.swaggerUrl || env.snowstormUrl) {
            <m-card *m-form-col mDisplay="bordered" mTitle="Swagger">
              <div class="m-items-middle">
                @if (env.swaggerUrl) {
                  <m-button mDisplay="default" (mClick)="openTermXApi()">TermX</m-button>
                }
                @if (env.swaggerUrl) {
                  <m-button mDisplay="default" (mClick)="openTermXFhirApi()">TermX FHIR</m-button>
                }
                @if (env.snowstormUrl) {
                  <m-button mDisplay="dashed" (mClick)="openSnowstormApi()">Snowstorm</m-button>
                }
              </div>
            </m-card>
          }
          @if (env.snowstormUrl || env.snowstormDailyBuildUrl) {
            <m-card *m-form-col mDisplay="bordered" mTitle="SNOMED CT Browser">
              <div class="m-items-middle">
                @if (env.snowstormUrl) {
                  <m-button mDisplay="default" (mClick)="openSnowstormBrowser()">Public browser</m-button>
                }
                @if (env.snowstormDailyBuildUrl) {
                  <m-button mDisplay="dashed" (mClick)="openSnowstormDailyBuildBrowser()">Daily build browser</m-button>
                }
              </div>
            </m-card>
          }
        </m-form-row>
      } @else {
        <m-alert
          style="margin: 0"
          class="tw-alert--no-line m-rounded"
          mType="info"
          mDescription="web.tools.termx-service-api.no-data"
          mShowIcon
        ></m-alert>
      }


    </div>
  </m-card>
</m-form-row>
