<m-card mDisplay="headless">
  <div *m-card-header class="m-justify-between">
    <div><b>{{'web.structure-definition-type.list.header' | translate}}</b></div>
    <tw-add-button *ngIf="!viewMode" (click)="addType()">
      {{'web.structure-definition-type.list.add-type' | translate}}
    </tw-add-button>
  </div>

  <m-no-data *ngIf="!types?.length"></m-no-data>
  <nz-collapse class="tw-sd-type-collapse" *ngIf="types?.length">
    <nz-collapse-panel *ngFor="let type of types; let index = index" [nzHeader]="header" [nzExtra]="!viewMode? edit: ''">
      <ng-template #header>
        <div *ngIf="type.code">{{type.code}}</div>
      </ng-template>

      <ng-template #edit>
        <m-button (click)="$event.stopPropagation(); toggleModal(type, index)" mSize="small">
          <m-icon [mCode]="'edit'"></m-icon>
        </m-button>
        <m-button style="margin-left: 0.5em" (click)="$event.stopPropagation();removeType(index)" mSize="small">
          <m-icon [mCode]="'delete'"></m-icon>
        </m-button>
      </ng-template>

      <m-table [mData]="type.targetProfile" [mOutlined]="false" mSize="small">
        <tr *mTableRow="let profile">
          <td>{{profile.value}}</td>
        </tr>
        <tr *mTableNoData>
          <td>
            <m-no-data></m-no-data>
          </td>
        </tr>
      </m-table>
    </nz-collapse-panel>
  </nz-collapse>


  <m-modal #modal [(mVisible)]="modalData.visible" (mClose)="toggleModal()">
    <ng-container *m-modal-header>
      {{(modalData.index > -1 ? 'web.structure-definition-type.modal.edit-header' : 'web.structure-definition-type.modal.add-header') | translate}}
    </ng-container>

    <ng-container *m-modal-content>
      <form #form="ngForm" *ngIf="modalData.type">
        <m-form-item mName="type">
          <m-radio-group name="type" [(ngModel)]="modalData.kind" (ngModelChange)="modalData.type = {}">
            <label m-radio-button [mValue]="'primitives'">Primitives</label>
            <label m-radio-button [mValue]="'data-types'">Data types</label>
            <label m-radio-button [mValue]="'resources'">Resources</label>
            <label m-radio-button [mValue]="'termx'">TermX</label>
            <label m-radio-button [mValue]="'custom'">Custom</label>
          </m-radio-group>
        </m-form-item>
        <ng-container *ngIf="modalData.type">
          <m-form-item mName="code" mLabel="web.structure-definition-type.modal.code" required>
            <ng-container [ngSwitch]="modalData.kind">
              <ng-template #treeSelect let-data="data">
                <m-tree-select name="code"
                    [(ngModel)]="modalData.type.code"
                    [mData]="data"
                    [mDropdownStyle]="{'max-height':'300px'}"
                    [mHideUnMatched]="true"
                    required/>
              </ng-template>
              <ng-container *ngSwitchCase="'primitives'">
                <ng-container *ngTemplateOutlet="treeSelect, context: {data: primitives}"/>
              </ng-container>
              <ng-container *ngSwitchCase="'data-types'">
                <ng-container *ngTemplateOutlet="treeSelect, context: {data: dataTypes}"/>
              </ng-container>
              <ng-container *ngSwitchCase="'resources'">
                <ng-container *ngTemplateOutlet="treeSelect, context: {data: resources}"/>
              </ng-container>
              <m-select *ngSwitchCase="'termx'" name="code" [(ngModel)]="modalData.type.code" required>
                <m-option *ngFor="let def of termXDefinitions" [mLabel]="def.code" [mValue]="def.code"/>
              </m-select>
              <m-input *ngSwitchDefault name="code" [(ngModel)]="modalData.type.code" autofocus required></m-input>
            </ng-container>
          </m-form-item>
          <ng-container *ngIf="referenceTypes | includes:modalData.type.code">
            <m-divider>{{'web.structure-definition-type.modal.target-profile' | translate}}</m-divider>
            <m-table [mData]="modalData.type.targetProfile" mSize="small">
              <tr *mTableRow="let profile; let index = index">
                <td>
                  <m-input name="value-{{index}}" [(ngModel)]="profile.value"></m-input>
                </td>
                <td class="tw-table-actions">
                  <m-button (click)="removeModalTarget(index)">
                    <m-icon [mCode]="'delete'"></m-icon>
                  </m-button>
                </td>
              </tr>

              <tr>
                <td colspan="4" style="padding: 0">
                  <m-button mDisplay="text" mSize="small" style="width: 100%" (click)="addModalTarget()">
                    <m-icon [mCode]="'plus'"></m-icon>
                  </m-button>
                </td>
              </tr>
            </m-table>
          </ng-container>
        </ng-container>
      </form>
    </ng-container>

    <div *m-modal-footer class="m-items-middle">
      <m-button mDisplay="text" (click)="modal.close()">{{'core.btn.cancel' | translate}}</m-button>
      <m-button mDisplay="primary" (click)="confirmModalType()">{{'core.btn.confirm' | translate}}</m-button>
    </div>
  </m-modal>
</m-card>
