<tw-resource-context resourceType="StructureDefinition" [resource]="$any(structureDefinition)" [versions]="$any(versions)" [version]="$any(version)" [mode]="contentMode"></tw-resource-context>
<m-page [mLoading]="loader.isLoading" [twPrivilegeContext]="[structureDefinition?.id, 'StructureDefinition']">

  @if (contentMode === 'fsh') {
    <m-spinner [mLoading]="loader.isLoading">
      <m-card>
        <div *m-card-header class="m-justify-between">
          <div></div>
          <div class="m-items-middle">
            <m-button mDisplay="text" m-tooltip mTitle="core.btn.download" (mClick)="downloadContent(contentFsh, 'fsh')">
              <m-icon mCode="download"></m-icon>
            </m-button>
            <m-button mDisplay="text" m-tooltip mTitle="core.btn.copy" (mClick)="copyContent(contentFsh)">
              <m-icon mCode="copy"></m-icon>
            </m-button>
          </div>
        </div>
        @if (structureDefinition) {
          <form #fshForm="ngForm">
            <m-form-item mName="content">
              @if (version?.contentFormat === 'fsh') {
                <m-textarea
                  name="content"
                  [(ngModel)]="contentFsh"
                  [rows]="10"
                  autosize
                  required></m-textarea>
              } @else {
                <pre>{{contentFsh}}</pre>
              }
            </m-form-item>
          </form>
        }
        @if (version?.contentFormat === 'fsh') {
          <ng-container *m-card-footer>
            <m-button *twPrivileged mDisplay="primary" [mLoading]="loader.state['save']" [disabled]="loader.isLoading" (click)="save('fsh')">
              {{'core.btn.save' | translate}}
            </m-button>
          </ng-container>
        }
      </m-card>
    </m-spinner>
  }

  @if (contentMode === 'json') {
    <m-spinner [mLoading]="loader.isLoading">
      <m-card>
        <div *m-card-header class="m-justify-between">
          <div></div>
          <div class="m-items-middle">
            <m-button mDisplay="text" m-tooltip mTitle="core.btn.download" (mClick)="downloadContent(contentFhir, 'json')">
              <m-icon mCode="download"></m-icon>
            </m-button>
            <m-button mDisplay="text" m-tooltip mTitle="core.btn.copy" (mClick)="copyContent(contentFhir)">
              <m-icon mCode="copy"></m-icon>
            </m-button>
          </div>
        </div>
        @if (structureDefinition) {
          <form #jsonForm="ngForm">
            <m-form-item mName="content">
              @if (version?.contentFormat === 'json') {
                <m-textarea
                  name="content"
                  [(ngModel)]="contentFhir"
                  [rows]="10"
                  autosize
                  required></m-textarea>
              } @else {
                <pre>{{contentFhir}}</pre>
              }
            </m-form-item>
          </form>
        }
        @if (version?.contentFormat === 'json') {
          <ng-container *m-card-footer>
            <m-button *twPrivileged mDisplay="primary" [mLoading]="loader.state['save']" [disabled]="loader.isLoading" (click)="save('json')">
              {{'core.btn.save' | translate}}
            </m-button>
          </ng-container>
        }
      </m-card>
    </m-spinner>
  }

  @if (contentMode === 'elements') {
    <div nz-row nzGutter="12" class="m-row">
      <div nz-col [nzMd]="8" [nzXs]="24">
        @if (structureDefinition?.code && contentFhir) {
          <m-card>
            <tw-structure-definition-editable-tree #sdTree
              [content]="contentFhir"
              (elementSelected)="openElementForm($event)"
              (elementDeleted)="closeElementForm($event)"/>
            <ng-container *m-card-footer>
              <m-button *twPrivileged mDisplay="primary" [mLoading]="loader.state['save']" [disabled]="loader.isLoading" (click)="saveTreeData()">
                {{'core.btn.save' | translate}}
              </m-button>
            </ng-container>
          </m-card>
        }
      </div>
      <div nz-col [nzMd]="16" [nzXs]="24">
        @if (formElement) {
          <m-card>
            <form #elementForm="ngForm">
              <m-form-item mName="path" mLabel="web.structure-definition.form.path" required>
                <nz-input-group [nzAddOnBefore]="formElement.path + '.'">
                  <input nz-input name="path" [(ngModel)]="formElement.id" required/>
                </nz-input-group>
              </m-form-item>
              <m-form-item mName="cardinality" mLabel="web.structure-definition.form.cardinality" required>
                <m-radio-group name="cardinality" [(ngModel)]="formElement.cardinality" required>
                  <label m-radio-button mValue="0..0">{{'0..0' | translate}}</label>
                  <label m-radio-button mValue="0..1">{{'0..1' | translate}}</label>
                  <label m-radio-button mValue="0..*">{{'0..*' | translate}}</label>
                  <label m-radio-button mValue="1..1">{{'1..1' | translate}}</label>
                  <label m-radio-button mValue="1..*">{{'1..*' | translate}}</label>
                </m-radio-group>
              </m-form-item>
              <tw-sd-type-list [types]="formElement.types" (typesChange)="formElement.types = $event"></tw-sd-type-list>
              <m-form-item mName="fixed" mLabel="web.structure-definition.form.fixed-uri">
                <m-input name="fixed" [(ngModel)]="formElement.fixedUri"></m-input>
              </m-form-item>
              <m-form-item mName="fixedCoding" mLabel="web.structure-definition.form.fixed-coding">
                <div class="m-items-middle">
                  <m-input style="width: 100%"
                    name="fixedCodingCode"
                    placeholder="web.structure-definition.form.code"
                    [(ngModel)]="formElement.fixedCoding.code"></m-input>
                  <m-input style="width: 100%"
                    name="fixedCodingSystem"
                    placeholder="web.structure-definition.form.system"
                    [(ngModel)]="formElement.fixedCoding.system"></m-input>
                  <m-input style="width: 100%"
                    name="fixedCodingDisplay"
                    placeholder="web.structure-definition.form.display"
                    [(ngModel)]="formElement.fixedCoding.display"></m-input>
                </div>
              </m-form-item>
              <m-form-item mName="short" mLabel="web.structure-definition.form.short-description">
                <m-input name="short" [(ngModel)]="formElement.short"></m-input>
              </m-form-item>
              <m-form-item mName="definition" mLabel="web.structure-definition.form.definition">
                <m-textarea name="definition" [(ngModel)]="formElement.definition"></m-textarea>
              </m-form-item>
              <m-form-item mName="binding" mLabel="web.structure-definition.form.binding">
                <div class="m-items-middle">
                  <m-input style="width: 80%"
                    name="valueSet"
                    placeholder="web.structure-definition.form.value-set"
                    [(ngModel)]="formElement.binding.valueSet"></m-input>
                  <m-select style="width: 20%"
                    name="strength"
                    placeholder="web.structure-definition.form.strength"
                    [(ngModel)]="formElement.binding.strength">
                    @for (s of ['required', 'extensible', 'preferred', 'example']; track s) {
                      <m-option [mLabel]="s" [mValue]="s"></m-option>
                    }
                  </m-select>
                  <m-button (mClick)="formElement.binding = {}"><m-icon mCode="delete"></m-icon></m-button>
                </div>
              </m-form-item>
              <tw-sd-constraint-list [constraints]="formElement.constraint" (constraintsChange)="formElement.constraint = $event"></tw-sd-constraint-list>
            </form>
          </m-card>
        }
      </div>
    </div>
  }

  <m-modal [(mVisible)]="errorModalData.visible" (mClose)="errorModalData.visible = false">
    <ng-container *m-modal-header>{{errorModalData.title}}</ng-container>
    <ng-container *m-modal-content>
      <div style="display: grid">
        @for (msg of errorModalData.messages; track msg) {
          <label style="margin-bottom: 0.5rem">
            <m-icon mCode="exclamation-circle" style="color: red;margin-right: 0.25rem"></m-icon>
            {{msg}}
          </label>
        }
      </div>
    </ng-container>
    <div *m-modal-footer class="m-items-middle">
      <m-button (click)="proceedAfterError()">{{'web.structure-definition.form.error-modal.delete-content' | translate}}</m-button>
      <m-button (click)="errorModalData.visible = false">{{'core.btn.close' | translate}}</m-button>
    </div>
  </m-modal>

</m-page>
