<m-card class="m-card-inside">
  <div *m-card-header class="m-justify-between">
    <div class="m-card__title">{{'entities.code-system.versions' | translate}}</div>

    <m-dropdown *ngIf="!viewMode">
      <tw-add-button *m-dropdown-container icon="down" placement="right">
        {{'web.code-system.form.versions.list.add-version' | translate}}
      </tw-add-button>

      <a *m-dropdown-item [routerLink]="['../versions/add']">
        {{'web.code-system.form.versions.list.add-new-version' | translate}}
      </a>
      <a *m-dropdown-item (click)="duplicateModal.toggleModal({targetCodeSystem: codeSystemId})">
        {{'web.code-system.form.versions.list.duplicate-version' | translate}}
      </a>
    </m-dropdown>
  </div>

  <m-table [mData]="versions" [mLoading]="loading" mEnablePagination>
    <tr *mTableHead>
      <th>{{'entities.code-system-version.version' | translate}}</th>
      <th>{{'entities.code-system-version.source' | translate}}</th>
      <th>{{'entities.code-system-version.release-date' | translate}}</th>
      <th>{{'entities.code-system-version.expiration-date' | translate}}</th>
      <th>{{'entities.code-system-version.status' | translate}}</th>
      <th class="tw-table-actions"></th>
    </tr>

    <tr *mTableRow="let version">
      <td><a [routerLink]="['../versions', version.version, (version.status === 'draft' && !viewMode)? 'edit' : 'view']">{{version.version}}</a></td>
      <td>{{version.source}}</td>
      <td>{{version.releaseDate | localDate}}</td>
      <td>{{version.expirationDate | localDate}}</td>
      <td class="tw-table-min-width">
        <tw-status-tag [status]="version.status"></tw-status-tag>
      </td>
      <td class="tw-table-actions">
        <m-dropdown>
          <a *mDropdownItemIf="!viewMode" (click)="duplicateModal.toggleModal({targetCodeSystem: codeSystemId, sourceCodeSystem: codeSystemId, sourceVersion: version})">
            {{'core.btn.duplicate' | translate}}
          </a>
          <m-divider></m-divider>
          <a *m-dropdown-item (click)="openFhir(codeSystemId, version.version)">
            {{'web.code-system.form.versions.list.open-fhir' | translate}}
          </a>
          <a *m-dropdown-item (click)="exportFhirFormatVersion(codeSystemId, version.version, 'json')">
            {{'web.code-system.form.versions.list.export-fhir-json' | translate}}
          </a>
          <a *m-dropdown-item (click)="exportFhirFormatVersion(codeSystemId, version.version, 'xml')">
            {{'web.code-system.form.versions.list.export-fhir-xml' | translate}}
          </a>
          <a *mDropdownItemIf="version.status !== 'retired' && !viewMode" (click)="retireVersion(version)">
            {{'web.publication-status.operations.retire' | translate}}
          </a>
          <a *mDropdownItemIf="version.status === 'draft' && !viewMode" (click)="activateVersion(version)">
            {{'web.publication-status.operations.activate' | translate}}
          </a>
          <a *mDropdownItemIf="version.status !== 'draft' && !viewMode" (click)="saveAsDraft(version)">
            {{'web.publication-status.operations.save-as-draft' | translate}}
          </a>
          <a *mDropdownItem [routerLink]="['/resources/code-systems/compare', {'code-system': codeSystemId, 'version': version.id}]">
            {{'web.code-system.form.versions.list.compare' | translate}}
          </a>
        </m-dropdown>
      </td>
    </tr>

    <tr *mTableNoData>
      <td colspan="5">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-table>
</m-card>

<tw-code-system-version-duplicate-modal #duplicateModal (duplicated)="loadVersions()"></tw-code-system-version-duplicate-modal>
