<m-card>
  <m-spinner [mLoading]="loading">
    <div *m-card-header class="m-justify-between">
      <nz-breadcrumb>
        <nz-breadcrumb-item>FHIR</nz-breadcrumb-item>
        <nz-breadcrumb-item>ValueSet</nz-breadcrumb-item>
        <nz-breadcrumb-item>$validate-code</nz-breadcrumb-item>
      </nz-breadcrumb>
      <m-button mDisplay="primary" [disabled]="!data.url || !data.valueSetVersion || !data.code" (click)="validateCode()">{{'web.integration.send-request' | translate}}</m-button>
    </div>

    <m-form-item [mLabel]="url" required>
      <ng-template #url>
        <div>{{'web.integration.fhir.value-set.validate-code.url' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover [mContent]="urlContent"></m-icon>
        <ng-template #urlContent>
          {{'web.integration.fhir.value-set.validate-code.url-tooltip' | translate}}
        </ng-template>
      </ng-template>
      <m-input [(ngModel)]="data.url"></m-input>
    </m-form-item>
    <m-form-item [mLabel]="conceptMapVersion" required>
      <ng-template #conceptMapVersion>
        <div>{{'web.integration.fhir.value-set.validate-code.value-set-version' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover [mContent]="conceptMapVersion"></m-icon>
        <ng-template #conceptMapVersion>
          {{'web.integration.fhir.value-set.validate-code.value-set-version-tooltip' | translate}}
        </ng-template>
      </ng-template>
      <m-input [(ngModel)]="data.valueSetVersion"></m-input>
    </m-form-item>

    <m-form-item [mLabel]="code" required>
      <ng-template #code>
        <div>{{'web.integration.fhir.value-set.validate-code.code' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover [mContent]="code"></m-icon>
        <ng-template #code>
          {{'web.integration.fhir.value-set.validate-code.code-tooltip' | translate}}
        </ng-template>
      </ng-template>
      <m-input [(ngModel)]="data.code"></m-input>
    </m-form-item>

    <m-form-item [mLabel]="system">
      <ng-template #system>
        <div>{{'web.integration.fhir.value-set.validate-code.system' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover mContent="{{'web.integration.fhir.value-set.validate-code.system-tooltip' | translate}}"></m-icon>
      </ng-template>
      <m-input [(ngModel)]="data.system"></m-input>
    </m-form-item>

    <m-form-item [mLabel]="systemVersion">
      <ng-template #systemVersion>
        <div>{{'web.integration.fhir.value-set.validate-code.system-version' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover mContent="{{'web.integration.fhir.value-set.validate-code.system-version-tooltip' | translate}}"></m-icon>
      </ng-template>
      <m-input [(ngModel)]="data.systemVersion"></m-input>
    </m-form-item>

    <m-form-item [mLabel]="display">
      <ng-template #display>
        <div>{{'web.integration.fhir.value-set.validate-code.display' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover [mContent]="display"></m-icon>
        <ng-template #display>{{'web.integration.fhir.value-set.validate-code.display-tooltip' | translate}}</ng-template>
      </ng-template>
      <m-input [(ngModel)]="data.display"></m-input>
    </m-form-item>

    <m-card *ngIf="response || error" class="m-card-inside">
      <div *m-card-header class="m-items-middle">
        <div class="m-card__title">{{'web.integration.response' | translate}}</div>
        <m-button (click)="copyResult()">
          <m-icon mCode="copy"></m-icon>
        </m-button>
      </div>
      <pre *ngIf="response">{{response | json}}</pre>
      <div *ngFor="let issue of error?.issue">
        <m-alert [mType]="issue.severity" mShowIcon>
          {{issue?.details?.text}}
        </m-alert>
      </div>
    </m-card>

  </m-spinner>
</m-card>
