<div nz-row nzJustify="center">
  <div nz-col [nzLg]="18" [nzXs]="24">
    <ng-container *ngIf="valueSet">

      <h1>Value Set {{valueSet.url}}</h1>
      <p><b>Summary</b></p>
      <table class="grid">
        <tbody><tr><td>Defining URL:</td><td>{{valueSet.url}}</td></tr>
        <tr><td>Version:</td><td>{{valueSet.version}}</td></tr>
        <tr><td>Name:</td><td>{{valueSet.name}}</td></tr>
        <tr><td>Title:</td><td>{{valueSet.title}}</td></tr>
        <tr><td>Definition:</td><td><p>{{valueSet.definition}}</p></td></tr>
        <tr><td>Source Resource</td><td><a (click)="exportXml()">XML</a> / <a (click)="openJson()">JSON</a></td></tr></tbody>
      </table>
      <br/>

      <h2>Content Logical Definition</h2>
      <p>This value set includes codes from the following code systems:</p>
      <ul>
        <li *ngFor="let i of valueSet.compose.include">Include all codes defined in <a (click)="openCodeSystem(i.system)">{{i.system}}</a></li>
      </ul>

      <h2>Expansion</h2>
      <p>This value set contains {{valueSet.expansion.total}} {{(valueSet.expansion.total % 10) === 1 ? 'concept' : 'concepts'}}</p>
      <table class="grid">
        <thead><tr><td><b>Code</b></td><td colspan="2"><b>Display</b></td><td colspan="2"><b>Definition</b></td></tr></thead>
        <tbody><tr *ngFor="let i of valueSet.expansion.contains">
          <td style="width: 10%">{{i.code}}</td>
          <td style="width: 5%"><div *ngFor="let d of (i.designation | apply: getDisplays)"><b>{{d.language}}</b></div></td>
          <td style="width: 35%"><div *ngFor="let d of (i.designation | apply: getDisplays)">{{d.value}}</div></td>
          <td style="width: 5%"><div *ngFor="let d of (i.designation | apply: getDefinitions)"><b>{{d.language}}</b></div></td>
          <td style="width: 45%"><div *ngFor="let d of (i.designation | apply: getDefinitions)">{{d.value}}</div></td>
        </tr></tbody>
      </table>
    </ng-container>
  </div>
</div>
