<m-form-row>
  <div *mFormCol>
    <m-spinner [mLoading]="loading">
      <m-card [mTitle]="'web.ucum.base-unit.view.title'" [mShowSkeleton]="loading">

        <form #form="ngForm" *ngIf="baseUnit">
          <m-form-item mLabel="entities.ucum.base-unit.code">
            <m-input [ngModel]="baseUnit.code" [ngModelOptions]="{standalone: true}" disabled></m-input>
          </m-form-item>

          <m-form-item mLabel="entities.ucum.base-unit.names">
            <m-input [ngModel]="baseUnit.names.join(', ')" [ngModelOptions]="{standalone: true}" disabled></m-input>
          </m-form-item>

          <m-form-item mLabel="entities.ucum.base-unit.printSymbol">
            <m-input [ngModel]="baseUnit.printSymbol" [ngModelOptions]="{standalone: true}" disabled></m-input>
          </m-form-item>

          <m-form-item mLabel="entities.ucum.base-unit.kind">
            <m-input [ngModel]="baseUnit.kind" [ngModelOptions]="{standalone: true}" disabled></m-input>
          </m-form-item>

          <m-form-item mLabel="entities.ucum.base-unit.description">
            <m-input [ngModel]="baseUnit.description" [ngModelOptions]="{standalone: true}" disabled></m-input>
          </m-form-item>
        </form>

        <ng-container *m-card-footer>
          <m-button (click)="goBack()">
            {{ 'web.ucum.actions.back' | translate }}
          </m-button>
        </ng-container>
      </m-card>
    </m-spinner>
  </div>
</m-form-row>