<m-form-row>
  <div *mFormCol>
    <m-spinner [mLoading]="loading">
      <m-card [mTitle]="'web.ucum.defined-unit.view.title'" [mShowSkeleton]="loading">

        <form #form="ngForm" *ngIf="unit">
          <m-form-item mLabel="entities.ucum.defined-unit.code">
            <m-input [ngModel]="unit.code" [ngModelOptions]="{standalone: true}" disabled></m-input>
          </m-form-item>

          <m-form-item mLabel="entities.ucum.defined-unit.codeUC">
            <m-input [ngModel]="unit.codeUC" [ngModelOptions]="{standalone: true}" disabled></m-input>
          </m-form-item>

          <m-form-item mLabel="entities.ucum.defined-unit.names">
            <m-input [ngModel]="unit.names.join(', ')" [ngModelOptions]="{standalone: true}" disabled></m-input>
          </m-form-item>

          <m-form-item mLabel="entities.ucum.defined-unit.printSymbol">
            <m-input [ngModel]="unit.printSymbol" [ngModelOptions]="{standalone: true}" disabled></m-input>
          </m-form-item>

          <m-form-item mLabel="entities.ucum.defined-unit.kind">
            <m-input [ngModel]="unit.kind" [ngModelOptions]="{standalone: true}" disabled></m-input>
          </m-form-item>

          <m-form-item mLabel="entities.ucum.defined-unit.property">
            <m-input [ngModel]="unit.property" [ngModelOptions]="{standalone: true}" disabled></m-input>
          </m-form-item>

          <m-form-item mLabel="entities.ucum.defined-unit.metric">
            <m-input [ngModel]="unit.metric | json" [ngModelOptions]="{standalone: true}" disabled></m-input>
          </m-form-item>

          <m-form-item mLabel="entities.ucum.defined-unit.class_">
            <m-input [ngModel]="unit.class_" [ngModelOptions]="{standalone: true}" disabled></m-input>
          </m-form-item>

          <m-form-item mLabel="entities.ucum.defined-unit.special">
            <m-input [ngModel]="unit.special | json" [ngModelOptions]="{standalone: true}" disabled></m-input>
          </m-form-item>

          <m-form-item mLabel="entities.ucum.defined-unit.description">
            <m-input [ngModel]="unit.description" [ngModelOptions]="{standalone: true}" disabled></m-input>
          </m-form-item>
        </form>

        <ng-container *m-card-footer>
          <m-button (click)="goBack()">
            {{ 'web.ucum.actions.back' | translate }}
          </m-button>
        </ng-container>
      </m-card>
    </m-spinner>
  </div>
</m-form-row>