<m-spinner [mLoading]="loader.state['save']">
  <form #form="ngForm" *ngIf="mapSet">
    <div style="display: grid; grid-template-columns: 3fr 1fr; gap: 1rem">
      <m-card [mTitle]="'web.map-set.form.' + mode + '-header'" [mShowSkeleton]="loader.isLoading" class="tw-card__sticky-footer">
        <div *mCardContent="!loader.isLoading">
          <tw-resource-form resourceType="CodeSystem" [resource]="mapSet" [mode]="mode"></tw-resource-form>

          <tw-resource-identifiers [identifiers]="mapSet.identifiers"></tw-resource-identifiers>
          <tw-resource-contacts [(contacts)]="mapSet.contacts"></tw-resource-contacts>
          <tw-resource-version-form *ngIf="mode === 'add'"></tw-resource-version-form>
          <tw-ms-scope-form *ngIf="mode === 'add'" [scope]="scope"></tw-ms-scope-form>
        </div>

        <m-button *m-card-footer mDisplay="primary" [mLoading]="loader.state['save']" [disabled]="loader.isLoading" (mClick)="save()">
          {{'core.btn.save' | translate}}
        </m-button>
      </m-card>

      <m-card [mShowSkeleton]="loader.isLoading">
        <tw-resource-side-info [copyright]="mapSet.copyright" [settings]="mapSet.settings"></tw-resource-side-info>
      </m-card>
    </div>
  </form>
</m-spinner>
