<m-spinner [mLoading]="loader.state['save']">
  <form nz-row [nzGutter]="12" #form="ngForm" *ngIf="mapSet">
    <div nz-col [nzMd]="18" [nzXs]="24" style="margin-bottom: 1rem">
      <m-card [mTitle]="viewMode ? 'web.map-set.form.details-header' : 'web.map-set.form.' + mode + '-header'" [mShowSkeleton]="loader.isLoading" class="tw-card__sticky-footer">
        <div *mCardContent="!loader.isLoading">
          <tw-resource-form resourceType="MapSet" [resource]="mapSet" [mode]="mode" [viewMode]="viewMode"></tw-resource-form>

          <tw-ms-properties [properties]="mapSet.properties" [viewMode]="viewMode"></tw-ms-properties>
          <tw-resource-identifiers [identifiers]="mapSet.identifiers" [viewMode]="viewMode"></tw-resource-identifiers>
          <tw-resource-configuration-attributes [attributes]="mapSet.configurationAttributes" [viewMode]="viewMode"></tw-resource-configuration-attributes>
          <tw-resource-contacts [(contacts)]="mapSet.contacts" [viewMode]="viewMode"></tw-resource-contacts>
          <tw-resource-version-form *ngIf="mode === 'add'"></tw-resource-version-form>
          <tw-ms-scope-form *ngIf="mode === 'add'" [scope]="scope"></tw-ms-scope-form>
        </div>

        <ng-container *ngIf="!viewMode">
          <m-button *m-card-footer mDisplay="primary" [mLoading]="loader.state['save']" [disabled]="loader.isLoading" (mClick)="save()">
            {{'core.btn.save' | translate}}
          </m-button>
        </ng-container>
      </m-card>
    </div>

    <div nz-col [nzMd]="6" [nzXs]="24">
      <m-card [mShowSkeleton]="loader.isLoading">
        <tw-resource-side-info [copyright]="mapSet.copyright" [settings]="mapSet.settings" [viewMode]="viewMode"></tw-resource-side-info>
      </m-card>
    </div>
  </form>
</m-spinner>
