<m-spinner [mLoading]="loader.state['save']">
  @if (mapSet) {
    <form nz-row [nzGutter]="12" #form="ngForm">
      <div nz-col [nzMd]="18" [nzXs]="24" style="margin-bottom: 1rem">
        <m-card [mShowSkeleton]="loader.isLoading" class="tw-card__sticky-footer">
          <div *m-card-header class="m-justify-between">
            <div class="m-card__title">{{'web.map-set.form.' + mode + '-header' | translate}}</div>
            @if (viewMode && canEdit) {
              <m-button mDisplay="text" (mClick)="viewMode = false">
                {{'core.btn.edit' | translate}}&nbsp;<m-icon mCode="form"></m-icon>
              </m-button>
            }
          </div>
          <div *mCardContent="!loader.isLoading">
            <fieldset [attr.disabled]="viewMode ? '' : null" [style.pointer-events]="viewMode ? 'none' : null" style="border:none;padding:0;margin:0">
            <tw-resource-form resourceType="MapSet" [resource]="mapSet" [mode]="mode"></tw-resource-form>
            <tw-ms-properties [properties]="mapSet.properties"></tw-ms-properties>
            <tw-resource-identifiers [(identifiers)]="mapSet.identifiers"></tw-resource-identifiers>
            <tw-resource-configuration-attributes [attributes]="mapSet.configurationAttributes"></tw-resource-configuration-attributes>
            <tw-resource-contacts [(contacts)]="mapSet.contacts"></tw-resource-contacts>
            @if (mode === 'add') {
              <tw-resource-version-form></tw-resource-version-form>
            }
            @if (mode === 'add') {
              <tw-ms-scope-form [scope]="scope"></tw-ms-scope-form>
            }
            </fieldset>
          </div>

          <ng-container *m-card-footer>
            @if (!viewMode) {
              <m-button mDisplay="primary" [mLoading]="loader.state['save']" [disabled]="loader.isLoading" (mClick)="save()">
                {{'core.btn.save' | translate}}
              </m-button>
            }
          </ng-container>
        </m-card>
      </div>

      <div nz-col [nzMd]="6" [nzXs]="24">
        <fieldset [attr.disabled]="viewMode ? '' : null" [style.pointer-events]="viewMode ? 'none' : null" style="border:none;padding:0;margin:0">
          <m-card [mShowSkeleton]="loader.isLoading">
            <tw-resource-side-info [copyright]="mapSet.copyright" [settings]="mapSet.settings"></tw-resource-side-info>
          </m-card>
        </fieldset>
      </div>
    </form>
  }
</m-spinner>
