<m-card class="m-card-inside">
  <div *m-card-header class="m-justify-between">
    <div class="m-card__title">
      {{'web.map-set-association.list.associations' | translate}}
    </div>
    <tw-add-button *ngIf="!viewMode" [routerLink]="['../associations/add']">
      {{'web.map-set-association.list.add-association' | translate}}
    </tw-add-button>
  </div>

  <m-table [mData]="data | keys" [mLoading]="loading" mEnablePagination>
    <ng-container *mTableHead>
      <tr>
        <th colSpan="2">{{'entities.map-set-association.source' | translate}}</th>
        <th colSpan="2">{{'entities.map-set-association.target' | translate}}</th>
        <th rowSpan="2">{{'entities.map-set-association.type' | translate}}</th>
        <th rowSpan="2">{{'entities.map-set-association.status' | translate}}</th>
      </tr>
      <tr>
        <th>{{'web.map-set-association.list.code-system' | translate}}</th>
        <th>{{'entities.map-set-association.concept' | translate}}</th>
        <th>{{'entities.map-set-association.concept' | translate}}</th>
        <th>{{'web.map-set-association.list.code-system' | translate}}</th>
      </tr>
    </ng-container>

    <ng-container *mTableRow="let key;">
      <tr *ngFor="let association of data[key]; let isFirst = first;">
        <td *ngIf="isFirst" [rowSpan]="data[key].length">{{association.source.codeSystem}}</td>
        <td><a [routerLink]="['../associations/', association.id, viewMode? 'view' : 'edit']">{{association.source.code}}</a></td>
        <td>{{association.target?.code}}</td>
        <td>{{association.target?.codeSystem}}</td>
        <td>{{association.associationType}}</td>
        <td class="tw-table-min-width">
          <tw-status-tag [status]="association.status"></tw-status-tag>
        </td>
      </tr>
    </ng-container>

    <tr *mTableNoData>
      <td colspan="6">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-table>
</m-card>
