<m-spinner [mLoading]="!definition"></m-spinner>
<div *ngIf="!!definition" class="tw-flex-container" style="gap: 12px" [twPrivilegeContext]="[definition?.id, 'TransformationDefinition']">
  <div class="m-justify-between m-items-middle">
    <div>
      <h2 class="m-bold" style="margin: 0">
        {{'entities.transformation-definition.singular' | translate}}
      </h2>
      <div style="font-size: 0.9rem;" class="m-text-secondary" *ngIf="definition.id && (definition.modifiedBy || definition.createdBy)">
        <m-icon mCode="clock-circle"/>
        {{(definition.modifiedAt ? 'web.transformation-definition.edit.updated' : 'web.transformation-definition.edit.created') | translate: ({date: (definition.modifiedBy ? definition.modifiedAt : definition.createdAt) | localDateTime})}}

        <m-icon mCode="user"/>
        {{definition.modifiedBy ?? definition.createdBy}}
      </div>
    </div>

    <div class="m-items-middle" *twPrivileged>
      <m-button (click)="save()" mDisplay="primary">
        <div class="m-items-middle">
          <m-icon [mCode]="loading ? 'loading' : 'save'"/>
          {{'core.btn.save' | translate}}
        </div>
      </m-button>

      <m-dropdown *ngIf="definition.id">
        <a *m-dropdown-item>
          <div class="m-items-middle" m-popconfirm mPopconfirmTitle="core.delete-confirm" (mOnConfirm)="delete()">
            <m-icon mCode="delete"/>
            {{'core.btn.delete' | translate}}
          </div>
        </a>
      </m-dropdown>
    </div>
  </div>


  <m-card>
    <m-form-item mName="name" mLabel="entities.transformation-definition.name" required>
      <m-input [(ngModel)]="definition.name" name="name" required></m-input>
    </m-form-item>
  </m-card>

  <tw-transformation-definition-resources [definition]="definition"/>

  <m-card>
    <tw-transformation-definition-execution [definition]="definition"/>
  </m-card>
</div>
