<m-card>
  <div *m-card-header class="m-justify-between">
    <div class="m-card__title">{{'entities.transformation-definition.plural' | translate}}</div>
  </div>
  <div class="m-justify-between" style="margin-bottom: 1em">
    <m-input [(ngModel)]="query.nameContains" twDebounce [debounced]="onSearch" placeholder="marina.ui.inputs.search.placeholder"></m-input>
    <tw-add-button *twPrivileged="'*.TransformationDefinition.edit'" [routerLink]="['./add']">
      {{'web.transformation-definition.list.add-btn' | translate}}
    </tw-add-button>
  </div>

  <m-backend-table [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="loadData()" [mLoading]="loader.isLoading" mSize="small">
    <tr *mTableHead>
      <th mColumnKey="name">{{'entities.transformation-definition.name' | translate}}</th>
      <th mColumnKey="modified" class="tw-table-min-width">{{'web.transformation-definition.list.last-modified' | translate}}</th>
      <th class="tw-table-min-width"></th>
    </tr>

    <tr *mTableRow="let td">
      <td>
        <a *ngIf="(td.id + '.TransformationDefinition.view') | twPrivileged; else view" [routerLink]="[td.id, 'edit']">
          {{td.name}}
        </a>
        <ng-template #view>
          {{td.name}}
        </ng-template>
      </td>

      <td>
        <div style="font-size: 0.9rem" [mPopover]="td.modifiedBy && td.modifiedAt !== td.createdAt" [mTitle]="pop" mPosition="left">
          <div>{{td.modifiedBy ?? td.createdBy }}</div>
          <div class="m-text-secondary">{{(td.modifiedBy ? td.modifiedAt : td.createdAt) | localDateTime}}</div>

          <ng-template #pop>
            <div style="font-size: 0.9rem">
              {{'web.transformation-definition.list.created-by' | translate: ({user: td.createdBy})}}
              <div class="m-text-secondary">{{td.createdAt | localDateTime}}</div>
            </div>
          </ng-template>
        </div>
      </td>
      <td>
        <m-dropdown *twPrivileged="(td.id + '.TransformationDefinition.edit')">
          <a *m-dropdown-item (mClick)="duplicateDefinition(td.id)">
            <m-icon [mCode]="'copy'"></m-icon>&nbsp; {{'core.btn.duplicate' | translate}}
          </a>
        </m-dropdown>
      </td>
    </tr>

    <tr *mTableNoData>
      <td colspan="5">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-backend-table>
</m-card>
