<m-page mFull class="transformation-definition" *ngIf="definition">
  <div class="header m-items-middle">
    <div>
      {{definition.name}}

      <div *ngIf="definition.id && (definition.modifiedBy || definition.createdBy)" class="m-text-secondary m-text-small">
        <m-icon mCode="clock-circle"/>
        {{(definition.modifiedAt ? 'web.transformation-definition.edit.updated' : 'web.transformation-definition.edit.created') | translate: ({date: (definition.modifiedBy ? definition.modifiedAt : definition.createdAt) | localDateTime})}}

        <m-icon mCode="user"/>
        {{definition.modifiedBy ?? definition.createdBy}}
      </div>
    </div>
  </div>

  <div class="container">
    <div
        class="tabs-wrapper"
        [class.tabs-wrapper--open]="selectedResourceType"
    >
      <div class="tabs-container">
        <ng-container *ngFor="let type of types">
          <div class="tab-item" [class.active]="selectedResourceType === type" (click)="onTypeSelect(type)">
            <div>
<!--              <nz-badge [nzCount]="(definition.resources | filter: filterByType: type).length" nzSize="small">-->
                <m-icon mCode="file"/>
<!--              </nz-badge>-->
            </div>
          </div>
        </ng-container>

        <span class="filler"></span>
      </div>

      <div class="tabs-content">
        <tw-transformation-definition-resource
            [definition]="definition"
            [type]="selectedResourceType"
            [(selectedResource)]="selectedResource"
        ></tw-transformation-definition-resource>
      </div>
    </div>


    <div style="padding: 1rem; background: var(--color-background-component)">
      <m-button *ngIf="selectedResourceType" (mClick)="selectedResource = definition.mapping" mSize="small">
        Back to mapping
      </m-button>

      <tw-transformation-definition-resource-form
          [definition]="definition"
          [resource]="selectedResource"
          [disabled]="selectedResource?.['_imported']"
      ></tw-transformation-definition-resource-form>
    </div>


    <div>
      input/output
    </div>
  </div>


  <!--  top bar-->

  <!-- categories-->
  <!--  left sidebar-->

  <!-- main content -->
  <!-- input/output-->

</m-page>
