<div
  #container
    class="container"
    [class.container--in-progress]="collapseData.inProgress"
    [class.container--collapsed]="collapseData.collapsed"
    [class.container--resizeable]="resizable"
    [hidden]="!viewInitialized"
>
  <div
      class="actions__container"
      [class.actions__container--left]="collapsePosition === 'left'"
      [class.actions__container--right]="collapsePosition === 'right'"
  >
    <button class="resize-bar" (mousedown)="resizeMouseDown($event)" (keyup.enter)="toggleCollapse()"></button>
    <button class="expand-button" (click)="toggleCollapse()">
      <m-icon [mCode]="collapsePosition ==='left' ? (collapseData.collapsed ? 'right' : 'left') : (collapseData.collapsed ? 'left' : 'right')"></m-icon>
    </button>
  </div>

  <div class="content__wrapper">
    <ng-content></ng-content>
  </div>
</div>
