html {
  font-size: 14px;
}


// MUI overrides

.m-card-footer {
  .m-button-wrapper {
    width: 100%;
  }
}

.m-modal-footer {
  display: flex;
  justify-content: flex-end;

  .m-button-wrapper {
    width: initial;
  }
}


// MUI tweaks

.tw-table-min-width {
  width: 0;
}

.tw-table-actions {
  text-align: right !important;
  width: 0;
  white-space: nowrap;
}

.tw-button-group {
  display: flex;
  align-self: center;
  gap: 0.5rem;
}


