html {
  font-size: 14px;
}


// MUI overrides

.m-card-footer {
  .m-button-wrapper {
    width: 100%;
  }
}

.m-modal-footer {
  display: flex;
  justify-content: flex-end;

  .m-button-wrapper {
    width: initial;
  }
}


// MUI tweaks

.tw-card-inner {
  box-shadow: none;

  .m-card-header, .m-card-footer {
    padding-left: 0;
    padding-right: 0;
  }

  .m-card-header {
    border-bottom: 0;

    &.m-card-title-container {
      padding-bottom: 1rem;
    }
  }

  .m-card-content {
    padding: 0;
  }
}

.tw-items-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tw-table-actions {
  text-align: right !important;
  width: 0;
  white-space: nowrap;
}

.tw-button-group {
  display: flex;
  align-self: center;
  gap: 0.5rem;
}



.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  height: calc(100vh - 4rem - 1px);

  &--sidebar {
    z-index: 1;
  }

  &--content {
    overflow: auto;
    padding: 4rem;
  }
}


@media only screen and (max-width: 576px) {
  .layout {
    display: flex;
    flex-direction: column;

    &--sidebar {
      .m-menu {
        display: flex;
        overflow: auto;
      }

      .m-menu-item-label {
        display: none;
      }
    }

    &--content {
      padding: 0.5rem;
    }
  }
}
