html {
  font-size: 14px;
}


// MUI tweaks
.tw-table-card {
  box-shadow: none;

  .m-card-header, .m-card-footer {
    padding-left: 0;
    padding-right: 0;
  }

  .m-card-header {
    border-bottom: 0;

    &.m-card-title-container {
      padding-bottom: 1rem;
    }
  }

  .m-card-content {
    padding: 0;
  }
}

.tw-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tw-table-actions {
  text-align: right !important;
  width: min-content;
}

// MUI overrides

.m-card-footer {
  .m-button-wrapper {
    width: 100%;
  }
}


.layout {
  display: grid;
  grid-template-columns: auto 4fr;
  height: calc(100vh - 4rem - 1px);

  &--content {
    overflow: auto;
    padding: 4rem;
  }
}
