<m-page mFull>
  <div class="wrapper animated">
    <!-- Resources -->
    <section class="fade-in-350ms" *ngIf="!loader.state['resource']">
      <div class="header title">{{'web.landing.resources.title' | translate}}</div>

      <div class="grid-auto-fit">
        <button class="card m-rounded m-raised m-clickable v-align" *twPrivileged="'*.CodeSystem.view'" [routerLink]="['/resources/code-systems']">
          <div class="m-subtitle">{{'web.landing.resources.types.code-system' | translate}}</div>
          <div class="title">{{data.codeSystemCount}}</div>
        </button>

        <button class="card m-rounded m-raised m-clickable v-align" *twPrivileged="'*.ValueSets.view'" [routerLink]="['/resources/value-sets']">
          <div class="m-subtitle">{{'web.landing.resources.types.value-set' | translate}}</div>
          <div class="title">{{data.valueSetCount}}</div>
        </button>

        <button class="card m-rounded m-raised m-clickable v-align" *twPrivileged="'*.MapSets.view'" [routerLink]="['/resources/map-sets']">
          <div class="m-subtitle">{{'web.landing.resources.types.map-set' | translate}}</div>
          <div class="title">{{data.mapSetsCount}}</div>
        </button>
      </div>
    </section>


    <ng-container *ngIf="!loader.isLoading">
      <!-- Summary -->
      <section class="fade-in-350ms-delay-200ms">
        <div class="header title">{{'web.landing.summary.title' | translate}}</div>

        <div class="grid-auto-fit">
          <button class="card m-rounded m-raised m-clickable v-align" [routerLink]="['/spaces']" *twPrivileged="'*.Space.view'">
            <div class="m-subtitle">{{'web.landing.summary.spaces' | translate}}</div>
            <div class="title">{{data.spacesCount}}</div>
          </button>

          <button class="card m-rounded m-raised m-clickable v-align" [routerLink]="['/thesaurus/pages']" *twPrivileged="'*.Thesaurus.view'">
            <div class="m-subtitle">{{'web.landing.summary.pages' | translate}}</div>
            <div class="title">{{data.pagesCount}}</div>
          </button>

          <button class="card m-rounded m-raised m-clickable v-align" [routerLink]="['/taskflow']" *twPrivileged="'*.Task.view'">
            <div class="m-subtitle">{{'web.landing.summary.open-tasks' | translate}}</div>
            <div class="title">{{data.tasksOpenCount}}</div>
          </button>
        </div>
      </section>


      <!-- Tasks -->
      <section class="fade-in-350ms-delay-400ms">
        <div class="header m-justify-between m-items-top">
          <div class="title">{{'web.landing.tasks.title' | translate}}</div>

          <m-dropdown>
            <a *mDropdownItemIf="'*.Task.edit' | twHasAnyPrivilege" [routerLink]="'/taskflow/add'">
              {{'web.landing.tasks.actions.create' | translate}}
            </a>
          </m-dropdown>
        </div>

        <div class="grid-auto-fit" style="--column: 20rem">
          <!-- Created by me tasks -->
          <m-card class="task-card">
            <div class="subtitle m-bold">
              {{'web.landing.tasks.created-by-me' | translate}}
            </div>

            <m-list class="borderless" [mEmpty]="!data.tasksCreated?.meta.total">
              <m-list-item *ngFor="let task of data.tasksCreated?.data" [routerLink]="task | apply: taskRoute" mClickable>
                <ng-container *ngTemplateOutlet="taskTemplate; context: {$implicit: task}"></ng-container>
              </m-list-item>
            </m-list>
          </m-card>

          <!-- Assigned to me tasks -->
          <m-card class="task-card">
            <div class="subtitle m-bold">
              {{'web.landing.tasks.assigned-to-me' | translate}}
            </div>

            <m-list class="borderless" [mEmpty]="!data.tasksAssigned?.meta.total">
              <m-list-item *ngFor="let task of data.tasksAssigned?.data" [routerLink]="task | apply: taskRoute" mClickable>
                <ng-container *ngTemplateOutlet="taskTemplate; context: {$implicit: task}"></ng-container>
              </m-list-item>
            </m-list>
          </m-card>
        </div>
      </section>
    </ng-container>
  </div>
</m-page>


<ng-template #taskTemplate let-task>
  <div class="m-items-top m-justify-between">

    <div>
      <div>{{task.title}}</div>
    </div>
    <tw-task-status [status]="task.status" readonly/>
  </div>
</ng-template>
