<m-page mFull>
  <div class="wrapper animated">
    <!-- Resources -->
    <ng-container *ngIf="(['*.CodeSystem.view', '*.ValueSet.view', '*.MapSet.view'] | twPrivileged) && (modules | includes: 'terminology')">
      <section class="fade-in-350ms" *ngIf="!loader.state.resources">
        <div class="header title">{{'web.landing.resources.title' | translate}}</div>

        <div class="grid-auto-fit">
          <a class="card" [routerLink]="['/resources/code-systems']" *twPrivileged="'*.CodeSystem.view'">
            <div class="m-subtitle">{{'web.landing.resources.types.code-system' | translate}}</div>
            <div class="title">{{data.codeSystemCount}}</div>
          </a>
          <a class="card" [routerLink]="['/resources/value-sets']" *twPrivileged="'*.ValueSet.view'">
            <div class="m-subtitle">{{'web.landing.resources.types.value-set' | translate}}</div>
            <div class="title">{{data.valueSetCount}}</div>
          </a>
          <a class="card" [routerLink]="['/resources/map-sets']" *twPrivileged="'*.MapSet.view'">
            <div class="m-subtitle">{{'web.landing.resources.types.map-set' | translate}}</div>
            <div class="title">{{data.mapSetsCount}}</div>
          </a>
        </div>
      </section>
    </ng-container>


    <ng-container *ngIf="!loader.isLoading">
      <!-- Summary -->
      <section
          class="fade-in-350ms-delay-200ms"
          *ngIf="(['*.Space.view', '*.Wiki.view', '*.Task.view'] | twPrivileged) && (modules | apply: intersects: ['core', 'wiki', 'task'])"
      >
        <div class="header title">{{'web.landing.summary.title' | translate}}</div>

        <div class="grid-auto-fit">
          <a class="card" [routerLink]="['/spaces']" *ngIf="('*.Space.view' | twPrivileged) && (modules | includes: 'core')">
            <div class="m-subtitle">{{'web.landing.summary.spaces' | translate}}</div>
            <div class="title">{{data.spacesCount}}</div>
          </a>

          <a class="card" [routerLink]="['/wiki/pages']" *ngIf="('*.Wiki.view' | twPrivileged) && (modules | includes: 'wiki')">
            <div class="m-subtitle">{{'web.landing.summary.pages' | translate}}</div>
            <div class="title">{{data.pagesCount}}</div>
          </a>

          <a class="card" [routerLink]="['/tasks']" *ngIf="('*.Task.view' | twPrivileged) && (modules | includes: 'task')">
            <div class="m-subtitle">{{'web.landing.summary.open-tasks' | translate}}</div>
            <div class="title">{{data.tasksOpenCount}}</div>
          </a>
        </div>
      </section>


      <!-- Tasks -->
      <section
          class="fade-in-350ms-delay-400ms"
          *ngIf="('*.Task.view' | twPrivileged) && (modules | includes: 'task')"
      >
        <div class="header m-justify-between m-items-top">
          <div class="title">{{'web.landing.tasks.title' | translate}}</div>

          <m-dropdown>
            <a *mDropdownItemIf="'*.Task.edit' | twHasAnyPrivilege" [routerLink]="'/tasks/add'">
              {{'web.landing.tasks.actions.create' | translate}}
            </a>
          </m-dropdown>
        </div>

        <div class="grid-auto-fit" style="--column: 20rem">
          <!-- Created by me tasks -->
          <m-card class="task-card">
            <div class="subtitle m-bold">
              {{'web.landing.tasks.created-by-me' | translate}}
            </div>

            <m-list class="borderless" [mEmpty]="!data.tasksCreated?.meta.total">
              <m-list-item *ngFor="let task of data.tasksCreated?.data" [routerLink]="task | apply: taskRoute" mClickable>
                <ng-container *ngTemplateOutlet="taskTemplate; context: {$implicit: task}"></ng-container>
              </m-list-item>
            </m-list>
          </m-card>

          <!-- Assigned to me tasks -->
          <m-card class="task-card">
            <div class="subtitle m-bold">
              {{'web.landing.tasks.assigned-to-me' | translate}}
            </div>

            <m-list class="borderless" [mEmpty]="!data.tasksAssigned?.meta.total">
              <m-list-item *ngFor="let task of data.tasksAssigned?.data" [routerLink]="task | apply: taskRoute" mClickable>
                <ng-container *ngTemplateOutlet="taskTemplate; context: {$implicit: task}"></ng-container>
              </m-list-item>
            </m-list>
          </m-card>
        </div>
      </section>
    </ng-container>
  </div>
</m-page>


<ng-template #taskTemplate let-task>
  <div class="m-items-top m-justify-between">
    <div>
      <div>{{task.title}}</div>
    </div>
    <tw-task-status [status]="task.status"/>
  </div>
</ng-template>
