<div style="display: flex; flex-direction: column; gap: 1rem">

  <div>
    <m-table mSize="small">
      <tr style="background-color: #e6ffe6">
        <td>Official URL: <m-tag>{{codeSystem.url}}</m-tag></td>
        <td>Version: {{codeSystem.version}}</td>
      </tr>
      <tr style="background-color: #e6ffe6">
        <td>active as of {{codeSystem.date | localDate}}</td>
        <td>Computable Name: {{codeSystem.name}}</td>
      </tr>
      <tr style="background-color: #e6ffe6">
        <td>Flags: {{codeSystem.caseSensitive ? 'CaseSensitive' : 'CaseInsensitive'}}, {{codeSystem.content}}</td>
        <td>
          <div *ngFor="let i of codeSystem.identifier">{{i.system}} {{i.value}}</div>
        </td>
      </tr>
    </m-table>
  </div>

  <div *ngIf="valueSets?.length > 0">
    <p>This Code system is used in the following value sets:</p>
    <ul>
      <li *ngFor="let u of valueSets">ValueSet: <a (click)="openValueSet(u.resource.id)">{{u.resource.id}}</a></li>
    </ul>
  </div>

  <div *ngIf="codeSystem.description">
    <h2>Definition</h2>
    <p>{{codeSystem.description}}</p>
  </div>

  <div>
    <h2>Content</h2>
    <p>This code system <m-tag>{{codeSystem.url}}</m-tag> defines the following codes:</p>

    <div style="display: flex; align-items: center; margin-bottom: 10px;">
      <m-input type="text" placeholder="marina.ui.inputs.search.placeholder" (input)="onSearchInput($event)" class="search-input" style="flex-grow: 1;" />

      <ng-container *ngIf="codeSystem.hierarchyMeaning">
        <m-button (click)="expandAll()" style="margin-left: 10px;">
          <m-icon mCode="caret-down" style="margin-right: 5px;"></m-icon>
          Expand all
        </m-button>
        <m-button (click)="collapseAll()" style="margin-left: 10px;">
          <m-icon mCode="caret-up" style="margin-right: 5px;"></m-icon>
          Collapse All
        </m-button>
      </ng-container>
    </div>

    <m-table [mData]=[{}]>
      <tr *mTableHead>
        <th>Code</th>
        <th>Display</th>
        <th>Definition</th>
      </tr>
      <!-- Use ng-container to recursively render the hierarchical data -->
      <ng-container *ngFor="let c of filteredConcepts">
        <ng-template [ngTemplateOutlet]="treeView" [ngTemplateOutletContext]="{ concepts: c, level: 1 }"></ng-template>
      </ng-container>
    </m-table>

    <ng-template #treeView let-concepts="concepts" let-level="level">
      <tr>
        <td [style.padding-left.px]="level * 25" [style.padding-right.px]="10" style="white-space: nowrap;">
          <ng-container *ngIf="concepts.concept && concepts.concept.length > 0">
          <span (click)="toggleCollapse(concepts.code)" style="cursor: pointer; display: inline-block; width: 16px;">
            {{collapseState[concepts.code] ? '►' : '▼'}}
          </span>
          </ng-container>
          <a [routerLink]="['/fhir/CodeSystem', codeSystem.id, 'lookup']"
             [queryParams]="{ _code: concepts.code }"
             style="white-space: nowrap;">{{concepts.code}}</a>
        </td>

        <td>{{concepts.display}}</td>
        <td>{{concepts.definition}}</td>
      </tr>
<!--      <tr *ngIf="!collapseState[concepts.code] && concepts.concept">
        <td colspan="3">
          <ng-container *ngFor="let child of concepts.concept">
            <ng-template [ngTemplateOutlet]="treeView" [ngTemplateOutletContext]="{ concepts: child, level: level + 1 }"></ng-template>
          </ng-container>
        </td>
      </tr>-->
      <ng-container *ngIf="!collapseState[concepts.code] && concepts.concept">
          <ng-container *ngFor="let child of concepts.concept">
            <ng-template [ngTemplateOutlet]="treeView" [ngTemplateOutletContext]="{ concepts: child, level: level + 1 }"></ng-template>
          </ng-container>
      </ng-container>
    </ng-template>

  </div>
</div>

