<div style="display: flex; flex-direction: column; gap: 1rem">

  <div>
    <m-table mSize="small">
      <tr style="background-color: #e6ffe6">
        <td>Official URL: <m-tag>{{codeSystem.url}}</m-tag></td>
        <td>Version: {{codeSystem.version}}</td>
      </tr>
      <tr style="background-color: #e6ffe6">
        <td>active as of {{codeSystem.date | localDate}}</td>
        <td>Computable Name: {{codeSystem.name}}</td>
      </tr>
      <tr style="background-color: #e6ffe6">
        <td>Flags: {{codeSystem.caseSensitive ? 'CaseSensitive' : 'CaseInsensitive'}}, {{codeSystem.content}}</td>
        <td>
          <div *ngFor="let i of codeSystem.identifier">{{i.system}} {{i.value}}</div>
        </td>
      </tr>
    </m-table>
  </div>

  <div *ngIf="valueSets?.length > 0">
    <p>This Code system is used in the following value sets:</p>
    <ul>
      <li *ngFor="let u of valueSets">ValueSet: <a (click)="openValueSet(u.resource.id)">{{u.resource.id}}</a></li>
    </ul>
  </div>

  <div *ngIf="codeSystem.description">
    <h2>Definition</h2>
    <p>{{codeSystem.description}}</p>
  </div>

  <div>
    <h2>Content</h2>
    <p>This code system <m-tag>{{codeSystem.url}}</m-tag> defines the following codes:</p>
    <m-table [mData]="codeSystem.concept">
      <tr *mTableHead>
        <th>Code</th>
        <th>Display</th>
        <th>Definition</th>
      </tr>
      <tr *mTableRow="let c">
        <td>{{c.code}}</td>
        <td>{{c.display}}</td>
        <td>{{c.definition}}</td>
      </tr>
    </m-table>
  </div>
</div>
