<m-form-row>
  <div *mFormCol>
    <m-spinner [mLoading]="isLoading">
      <m-card>
        <div *m-card-header class="m-items-middle">
          <div class="m-card-title">{{(mode === 'edit' ? 'web.code-system-concept-version.form.edit-header' : 'web.code-system-concept-version.form.add-header') | translate}}</div>
          <twa-status-tag *ngIf="conceptVersion?.status" [status]="conceptVersion.status"></twa-status-tag>
        </div>
        <form #conceptVersionForm="ngForm" *ngIf="conceptVersion">

          <m-form-item mName="description" mLabel="entities.code-system-entity-version.description">
            <m-textarea name="description" [(ngModel)]="conceptVersion.description"></m-textarea>
          </m-form-item>
        </form>


        <m-card class="m-card-inside">
          <div *m-card-header class="m-items-between">
            <div class="m-card-title">{{'entities.code-system-entity-version.designations' | translate}}</div>
            <twa-add-button (click)="openDesignationModal()">
              {{'web.code-system-concept-version.designation-modal.add-designation' | translate}}
            </twa-add-button>
          </div>

          <m-table [mData]="designations | keys" mEnablePagination mHideOnSinglePage>
            <tr *mTableHead>
              <th>{{'entities.designation.type' | translate}}</th>
              <th>{{'entities.designation.name' | translate}}</th>
              <th>{{'entities.designation.language' | translate}}</th>
              <th>{{'entities.designation.status' | translate}}</th>
              <th class="tw-table-actions"></th>
            </tr>

            <ng-container *mTableRow="let key;">
              <tr *ngFor="let designation of designations[key]; let isFirst = first; let index = index">
                <td *ngIf="isFirst" [rowSpan]="designations[key].length">{{entityProperties[designation.designationTypeId]?.name}}</td>
                <td>
                  <a (click)="openDesignationModal({key, index})">{{designation.name.slice(0, 40)}}</a>
                </td>
                <td>{{designation.language | localizedConceptName: {valueSet: 'languages'} | async}}</td>
                <td class="tw-table-min-width">
                  <twa-status-tag [status]="designation.status"></twa-status-tag>
                </td>
                <td class="tw-table-actions">
                  <m-button mDisplay="text" mShape="circle" (click)="designation.preferred = !designation.preferred">
                    <m-icon [mOptions]="{nzTheme : designation.preferred? 'fill' : 'outline'}" [mCode]="'star'"></m-icon>
                  </m-button>
                  <m-dropdown>
                    <a *m-dropdown-item (click)="deleteDesignation(key, index)">
                      {{'web.code-system-concept-version.designation-modal.delete-designation' | translate}}
                    </a>
                  </m-dropdown>
                </td>
              </tr>
            </ng-container>

            <tr *mTableNoData>
              <td colspan="5">
                <m-no-data></m-no-data>
              </td>
            </tr>
          </m-table>
        </m-card>


        <m-card class="m-card-inside">
          <div *m-card-header class="m-items-between">
            <div class="m-card-title">{{'entities.code-system-entity-version.property-values' | translate}}</div>
            <twa-add-button (click)="openPropertyValueModal()">
              {{'web.code-system-concept-version.property-modal.add-property' | translate}}
            </twa-add-button>
          </div>

          <m-table [mData]="propertyValues | keys" mEnablePagination mHideOnSinglePage>
            <tr *mTableHead>
              <th>{{'entities.entity-property.name' | translate}}</th>
              <th>{{'entities.entity-property.value' | translate}}</th>
              <th class="tw-table-actions"></th>
            </tr>

            <ng-container *mTableRow="let key">
              <tr *ngFor="let property of propertyValues[key | toNumber]; let isFirst = first; let index = index;">
                <td *ngIf="isFirst" [rowSpan]="propertyValues[key].length">{{entityProperties[property.entityPropertyId]?.name}}</td>
                <td>
                  <a (click)="openPropertyValueModal({key, index})">{{property.value}}</a>
                </td>
                <td class="tw-table-actions">
                  <m-button mSize="small" (click)="deletePropertyValue(key, index)">
                    <m-icon [mCode]="'close'"></m-icon>
                  </m-button>
                </td>
              </tr>
            </ng-container>

            <tr *mTableNoData>
              <td colspan="3">
                <m-no-data></m-no-data>
              </td>
            </tr>
          </m-table>
        </m-card>

        <ng-container *m-card-footer>
          <m-button mDisplay="primary" (click)="save()" [mLoading]="isLoading" [disabled]="isLoading">
            {{'core.btn.save' | translate}}
          </m-button>
        </ng-container>
      </m-card>
    </m-spinner>
  </div>
</m-form-row>


<m-modal [(mVisible)]="propertyValueModalData.visible" (mClose)="propertyValueModalData = {visible: false}">
  <ng-container *mModalHeader>
    {{(propertyValueModalData.editKey ? 'web.code-system-concept-version.property-modal.edit-property' : 'web.code-system-concept-version.property-modal.add-property') | translate}}
  </ng-container>

  <ng-container *mModalContent>
    <form #propertyForm="ngForm">
      <m-form-item mName="propertyModalProperty" mLabel="entities.entity-property.name" required>
        <m-select icon="search"
            placeholder="marina.ui.inputs.search.placeholder"
            name="propertyModalProperty"
            [(ngModel)]="propertyValueModalData.propertyValue.entityPropertyId"
            required>
          <m-option *ngFor="let prop of entityProperties | values" [value]="prop.id" [label]="prop.name"></m-option>
        </m-select>
      </m-form-item>
      <m-form-item mName="propertyModalValue" mLabel="entities.entity-property.value" required>
        <m-input name="propertyModalValue" [(ngModel)]="propertyValueModalData.propertyValue.value" required></m-input>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="tw-button-group">
    <m-button (click)="propertyValueModalData.visible = false">
      {{'core.btn.close' | translate}}
    </m-button>
    <m-button mDisplay="primary" [mLoading]="isLoading" (click)="savePropertyValue()">
      {{(propertyValueModalData.editKey ? 'core.btn.confirm' : 'core.btn.add') | translate}}
    </m-button>
  </div>
</m-modal>

<m-modal [(mVisible)]="designationModalData.visible" (mClose)="designationModalData = {visible: false}">
  <ng-container *mModalHeader>
    {{(designationModalData.editKey ? 'web.code-system-concept-version.designation-modal.edit-designation' : 'web.code-system-concept-version.designation-modal.add-designation') | translate}}
  </ng-container>

  <ng-container *mModalContent>
    <form #designationForm="ngForm">
      <m-form-item mName="designationModalType" mLabel="entities.designation.type" required>
        <m-select icon="search"
            placeholder="marina.ui.inputs.search.placeholder"
            name="designationModalType"
            [(ngModel)]="designationModalData.designation.designationTypeId"
            required>
          <m-option *ngFor="let prop of entityProperties | values" [value]="prop.id" [label]="prop.name"></m-option>
        </m-select>
      </m-form-item>

      <m-form-item mName="designationModalName" mLabel="entities.designation.name" required>
        <m-input name="designationModalName" [(ngModel)]="designationModalData.designation.name" required></m-input>
      </m-form-item>

      <m-form-item mLabel="entities.designation.language">
        <twl-value-set-concept-select name="designationModalLanguage"
            [(ngModel)]="designationModalData.designation.language"
            valueSet="languages"></twl-value-set-concept-select>
      </m-form-item>

      <m-form-item mLabel="entities.designation.designation-kind">
        <m-select name="designationModalKind" [(ngModel)]="designationModalData.designation.designationKind">
          <m-option [label]="'text'" value="text"></m-option>
          <m-option [label]="'blob'" value="blob"></m-option>
        </m-select>
      </m-form-item>

      <m-form-item mName="designationModalCaseSignificance" mLabel="entities.designation.case-significance" required>
        <m-select name="designationModalCaseSignificance" [(ngModel)]="designationModalData.designation.caseSignificance" required>
          <m-option label="web.case-sensitive-options.ci" value="ci"></m-option>
          <m-option label="web.case-sensitive-options.cs" value="cs"></m-option>
          <m-option label="web.case-sensitive-options.ics" value="ics"></m-option>
        </m-select>
      </m-form-item>

      <m-form-item mLabel="entities.designation.description">
        <m-textarea name="designationModalDescription" [(ngModel)]="designationModalData.designation.description"></m-textarea>
      </m-form-item>

      <m-form-item mName="designationModalStatus" mLabel="entities.designation.status" required>
        <twl-value-set-concept-select name="designationModalStatus"
            [(ngModel)]="designationModalData.designation.status"
            valueSet="publication-status"></twl-value-set-concept-select>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="tw-button-group">
    <m-button (click)="designationModalData.visible = false">
      {{'core.btn.close' | translate}}
    </m-button>
    <m-button mDisplay="primary" [mLoading]="isLoading" (click)="saveDesignation()">
      {{(designationModalData.editKey ? 'core.btn.confirm' : 'core.btn.add') | translate}}
    </m-button>
  </div>
</m-modal>
