<m-spinner [mLoading]="isLoading">
  <m-card class="m-card-inside">
    <div *m-card-header class="m-items-between">
      <div class="m-card-title">{{'entities.code-system-entity-version.property-values' | translate}}</div>
      <twa-add-button *ngIf="!viewMode" (click)="openPropertyValueModal()">
        {{'web.code-system-concept-version.property-modal.add-property' | translate}}
      </twa-add-button>
    </div>

    <m-table [mData]="propertyValuesMap | keys" mEnablePagination mHideOnSinglePage>
      <tr *mTableHead>
        <th>{{'entities.entity-property.name' | translate}}</th>
        <th>{{'entities.entity-property.value' | translate}}</th>
        <th class="tw-table-actions" *ngIf="!viewMode"></th>
      </tr>

      <ng-container *mTableRow="let key">
        <tr *ngFor="let property of propertyValuesMap[key | toNumber]; let isFirst = first; let index = index;">
          <td *ngIf="isFirst" [rowSpan]="propertyValuesMap[key].length">{{entityProperties?.[property.entityPropertyId]?.name}}</td>
          <td>
            <a *ngIf="!viewMode" (click)="openPropertyValueModal({key, index})">{{property.value | abbreviate:40}}</a>
            <div *ngIf="viewMode">{{property.value | abbreviate:40}}</div>
          </td>
          <td class="tw-table-actions" *ngIf="!viewMode">
            <m-button mSize="small" (click)="deletePropertyValue(key, index)">
              <m-icon [mCode]="'close'"></m-icon>
            </m-button>
          </td>
        </tr>
      </ng-container>

      <tr *mTableNoData>
        <td colspan="3">
          <m-no-data></m-no-data>
        </td>
      </tr>
    </m-table>
  </m-card>

  <m-modal [(mVisible)]="propertyValueModalData.visible" (mClose)="propertyValueModalData = {visible: false}">
    <ng-container *mModalHeader>
      {{(propertyValueModalData.editKey ? 'web.code-system-concept-version.property-modal.edit-property' : 'web.code-system-concept-version.property-modal.add-property') | translate}}
    </ng-container>

    <ng-container *mModalContent>
      <form #propertyForm="ngForm">
        <m-form-item mName="propertyModalProperty" mLabel="entities.entity-property.name" required>
          <m-select icon="search"
              placeholder="marina.ui.inputs.search.placeholder"
              name="propertyModalProperty"
              [(ngModel)]="propertyValueModalData.propertyValue.entityPropertyId"
              required>
            <m-option *ngFor="let prop of entityProperties | values" [value]="prop.id" [label]="prop.name"></m-option>
          </m-select>
        </m-form-item>
        <m-form-item mName="propertyModalValue" mLabel="entities.entity-property.value" required>
          <m-input name="propertyModalValue" [(ngModel)]="propertyValueModalData.propertyValue.value" required></m-input>
        </m-form-item>
      </form>
    </ng-container>

    <div *m-modal-footer class="tw-button-group">
      <m-button (click)="propertyValueModalData.visible = false">
        {{'core.back' | translate}}
      </m-button>
      <m-button mDisplay="primary" [mLoading]="isLoading" (click)="savePropertyValue()">
        {{(propertyValueModalData.editKey ? 'core.btn.confirm' : 'core.btn.add') | translate}}
      </m-button>
    </div>
  </m-modal>
</m-spinner>
