<m-form-row>
  <div *mFormCol>
    <m-spinner [mLoading]="isLoading">
      <m-card [mTitle]="mode === 'edit' ? 'web.code-system-concept.form.edit-header' : 'web.code-system-concept.form.add-header'" [mShowSkeleton]="loading['init']">
        <form #form="ngForm" *ngIf="concept">
          <m-form-item mName="code" mLabel="entities.code-system-concept.code" required>
            <m-input name="code" [(ngModel)]="concept.code" autofocus required></m-input>
          </m-form-item>

          <m-form-item mName="description" mLabel="entities.code-system-concept.description">
            <m-textarea name="description" [(ngModel)]="concept.description"></m-textarea>
          </m-form-item>
        </form>

        <m-card class="m-card-inside" *ngIf="concept && concept.versions">
          <div *m-card-header class="m-items-between">
            <div class="m-card-title">{{'entities.code-system-concept.versions' | translate}}</div>
            <twa-add-button [routerLink]="['../versions/add']">
              {{'web.code-system-concept.form.versions.add-version' | translate}}
            </twa-add-button>
          </div>

          <m-table [mData]="concept.versions" mEnablePagination mHideOnSinglePage>
            <tr *mTableHead>
              <th>{{'entities.code-system-entity-version.created' | translate}}</th>
              <th>{{'entities.code-system-entity-version.description' | translate}}</th>
              <th>{{'entities.code-system-entity-version.status' | translate}}</th>
              <th class="tw-table-actions"></th>
            </tr>

            <tr *mTableRow="let version">
              <td><a [routerLink]="['../versions', version.id, version.status === 'active'? 'view' : 'edit']">{{version.created | localDateTime}}</a></td>
              <td><m-abbreviate [mValue]="version.description" [mLength]="35"></m-abbreviate></td>
              <td class="tw-table-min-width">
                <twa-status-tag [status]="version.status"></twa-status-tag>
              </td>
              <td class="tw-table-actions">
                <m-dropdown>
                  <a *m-dropdown-item (click)="duplicateVersion(version)">
                    <m-icon [mCode]="'copy'"></m-icon>&nbsp; {{'core.btn.duplicate' | translate}}
                  </a>
                  <a *mDropdownItemIf="version.status !== 'retired'" (click)="retireVersion(version)">
                    {{'web.publication-status.operations.retire' | translate}}
                  </a>
                  <a *mDropdownItemIf="version.status === 'draft'" (click)="activateVersion(version)">
                    {{'web.publication-status.operations.activate' | translate}}
                  </a>
                </m-dropdown>
              </td>
            </tr>
            <tr *mTableNoData>
              <td colspan="5">
                <m-no-data></m-no-data>
              </td>
            </tr>
          </m-table>
        </m-card>

        <ng-container *m-card-footer>
          <m-button mDisplay="primary" [mLoading]="loading['save']" [disabled]="loading['init'] || isLoading" (click)="save()">
            {{'core.btn.save' | translate}}
          </m-button>
        </ng-container>
      </m-card>
    </m-spinner>
  </div>
</m-form-row>
