<div nz-row [nzGutter]="12" nzJustify="center" class="m-row">
  <div nz-col [nzSm]="18" [nzXs]="24" style="height: min-content" *ngIf="concept?.versions">
    <m-card [mShowSkeleton]="loading['init']">
      <div class="m-justify-between">
        <label class="m-card__title">
          {{concept?.code}} - {{concept?.code | localizedConceptName: {codeSystem: codeSystemId} | async}}
        </label>
      </div>
    </m-card>
  </div>
</div>

<div nz-row [nzGutter]="12" nzJustify="center" class="m-row" style="margin-top: 1rem">
  <div nz-col [nzMd]="4" [nzSm]="18" [nzXs]="24" class="version-sidebar" *ngIf="concept?.versions">
    <m-spinner [mLoading]="isLoading">
      <m-card [mShowSkeleton]="loading['init']" mTitle="web.code-system-concept.form.version.header">
        <nz-timeline>
          <nz-timeline-item *ngFor="let version of concept.versions; let index = index" [nzLabel]="versionTemplate" [nzColor]="statusColorMap[version.status]">
            <ng-template #versionTemplate>
              <div>
                <label *ngIf="version.id === conceptVersion.id" style="font-weight: bold">
                  {{version.created ? (version.created | localDateTime) : 'web.code-system-concept.form.version.new-version' | translate}}
                </label>
                <label *ngIf="version.id !== conceptVersion.id" (click)="selectVersion(version)">
                  {{version.created ? (version.created | localDateTime) : 'web.code-system-concept.form.version.new-version' | translate}}
                </label>
              </div>
            </ng-template>
          </nz-timeline-item>
        </nz-timeline>
      </m-card>
    </m-spinner>
  </div>


  <div nz-col [nzMd]="14" [nzSm]="18" [nzXs]="24">
    <m-spinner [mLoading]="isLoading">
      <m-card mTitle="web.code-system-concept.form.version.information" [mShowSkeleton]="loading['init']">
        <div *ngIf="concept && conceptVersion">
          <m-form-item mLabel="entities.code-system-entity-version.status">
            <tw-status-tag [status]="conceptVersion.status"></tw-status-tag>
          </m-form-item>

          <m-form-item mLabel="entities.code-system-entity-version.created">
            {{conceptVersion.created | localDateTime}}
          </m-form-item>

          <m-form-item mLabel="entities.code-system-entity-version.description">
            {{conceptVersion.description ?? '-'}}
          </m-form-item>
        </div>
      </m-card>
    </m-spinner>

    <tw-code-system-designation-edit
        class="padded"
        [codeSystemId]="codeSystemId"
        [designations]="conceptVersion?.designations"
        viewMode
    ></tw-code-system-designation-edit>

    <tw-code-system-property-value-edit
        class="padded"
        [codeSystemId]="codeSystemId"
        [propertyValues]="conceptVersion?.propertyValues"
        viewMode
    ></tw-code-system-property-value-edit>

    <tw-code-system-association-edit
        class="padded"
        [codeSystemId]="codeSystemId"
        [associations]="conceptVersion?.associations"
        viewMode
    ></tw-code-system-association-edit>


    <tw-code-system-concept-relations *ngIf="concept?.versions" class="padded" [concept]="concept"></tw-code-system-concept-relations>
  </div>
</div>
