<div nz-row [nzGutter]="12" nzJustify="center" class="m-row">
  <div nz-col [nzSm]="18" [nzXs]="24" *ngIf="concept?.versions">
    <m-card [mShowSkeleton]="loading['init']">
      <div class="m-justify-between">
        <label *ngIf="mode === 'edit'" class="m-card__title">
          {{concept?.code}} - {{concept?.code | localizedConceptName: {codeSystem: codeSystemId} | async}}
        </label>
        <label *ngIf="mode !== 'edit'" class="m-card-title">
          {{'web.code-system-concept.form.add-header' | translate}}
        </label>
        <div class="m-items-middle">
          <m-button *ngIf="conceptVersion?.id && conceptVersion?.status === 'draft'" (click)="activateVersion(conceptVersion)">
            {{'web.publication-status.operations.activate' | translate}}
          </m-button>
          <m-button *ngIf="conceptVersion?.id && conceptVersion?.status !== 'retired'" (click)="retireVersion(conceptVersion)">
            {{'web.publication-status.operations.retire' | translate}}
          </m-button>
          <m-button *ngIf="conceptVersion?.id && conceptVersion?.status !== 'draft'" (click)="saveAsDraft(conceptVersion)">
            {{'web.publication-status.operations.save-as-draft' | translate}}
          </m-button>
          <m-button *ngIf="conceptVersion?.status === 'draft'" mDisplay="primary" [mLoading]="loading['save']" [disabled]="isLoading" (click)="save()">
            {{'core.btn.save' | translate}}
          </m-button>
        </div>
      </div>
    </m-card>
  </div>
</div>

<div nz-row [nzGutter]="12" nzJustify="center" class="m-row" style="margin-top: 1rem">
  <div nz-col [nzMd]="4" [nzSm]="18" [nzXs]="24" class="version-sidebar" *ngIf="concept?.versions">
    <m-spinner [mLoading]="isLoading">
      <m-card [mShowSkeleton]="loading['init']" mTitle="web.code-system-concept.form.version.header">
        <nz-timeline>
          <nz-timeline-item *ngFor="let version of concept.versions; let index = index" [nzLabel]="versionTemplate" [nzColor]="statusColorMap[version.status]">
            <a (click)="duplicateVersion(version)" *ngIf="version.id" m-tooltip mTitle="core.btn.duplicate">
              <m-icon mCode="copy"></m-icon>
            </a>
            <a (click)="removeVersion(index)" *ngIf="!version.id && concept.versions.length > 1">
              <m-icon mCode="delete"></m-icon>
            </a>
            <ng-template #versionTemplate>
              <label *ngIf="version.id === conceptVersion?.id" class="m-bold">
                {{version.created ? (version.created | localDateTime) : 'web.code-system-concept.form.version.new-version' | translate}}
              </label>
              <label *ngIf="version.id !== conceptVersion?.id" (click)="selectVersion(version)">
                {{version.created ? (version.created | localDateTime) : 'web.code-system-concept.form.version.new-version' | translate}}
              </label>
            </ng-template>
          </nz-timeline-item>
          <nz-timeline-item *ngIf="!newVersionExists" [nzDot]="addVersionTemplate"></nz-timeline-item>
          <ng-template #addVersionTemplate>
            <a (click)="addVersion()">
              <m-icon mCode="plus-circle"></m-icon>
            </a>
          </ng-template>
        </nz-timeline>
      </m-card>
    </m-spinner>
  </div>

  <m-spinner nz-col [nzMd]="14" [nzSm]="18" [nzXs]="24" [mLoading]="isLoading">
    <ng-container *ngIf="concept && conceptVersion">
      <m-card class="tw-card-inside-wrapper" [mShowSkeleton]="loading['init']">
        <form #form="ngForm">
          <m-card *ngIf="conceptEdit" class="m-card-inside" mTitle="web.code-system-concept.form.concept">
            <m-form-item mName="code" mLabel="entities.code-system-concept.code" required>
              <div class="m-items-middle">
                <m-input style="width: 100%" name="code" [(ngModel)]="concept.code" autofocus required></m-input>
                <tw-sequence-value-generator *ngIf="codeSystem?.sequence" [code]="codeSystem.sequence" (valueGenerated)="concept.code = $event"/>
              </div>
            </m-form-item>

            <m-form-item mName="description" mLabel="entities.code-system-concept.description">
              <m-textarea name="description" [(ngModel)]="concept.description"></m-textarea>
            </m-form-item>
          </m-card>

          <m-card class="m-card-inside" mTitle="web.code-system-concept.form.version.information">
            <m-form-item mLabel="entities.code-system-entity-version.status">
              <tw-status-tag [status]="conceptVersion.status"></tw-status-tag>
            </m-form-item>

            <m-form-item mName="created" mLabel="entities.code-system-entity-version.created" *ngIf="conceptVersion.created">
              {{conceptVersion.created | localDateTime}}
            </m-form-item>

            <m-form-item mName="versionDescription" mLabel="entities.code-system-entity-version.description">
              <m-textarea *ngIf="conceptVersion.status === 'draft'" name="versionDescription" [(ngModel)]="conceptVersion.description"></m-textarea>
              <label *ngIf="conceptVersion.status !== 'draft'">{{conceptVersion.description}}</label>
            </m-form-item>
          </m-card>
        </form>
      </m-card>


      <tw-code-system-designation-edit #designationEdit class="padded"
          [codeSystemId]="codeSystem?.id"
          [designations]="conceptVersion?.designations"
          [supportedLangs]="codeSystem?.supportedLanguages"
          [viewMode]="conceptVersion?.status !== 'draft'"
      ></tw-code-system-designation-edit>

      <tw-code-system-property-value-edit #propertyValueEdit class="padded"
          [codeSystemId]="codeSystemId"
          [propertyValues]="conceptVersion?.propertyValues"
          [viewMode]="conceptVersion?.status !== 'draft'"
      ></tw-code-system-property-value-edit>

      <tw-code-system-association-edit #associationEdit class="padded"
          [codeSystemId]="codeSystemId"
          [associations]="conceptVersion?.associations"
          [viewMode]="conceptVersion?.status !== 'draft'"
      ></tw-code-system-association-edit>
    </ng-container>


    <tw-code-system-concept-relations *ngIf="concept?.id && concept?.versions" class="padded" [concept]="concept"></tw-code-system-concept-relations>
  </m-spinner>
</div>
