<nz-divider [nzText]="'web.value-set.list.versions' | translate"></nz-divider>
<m-button [routerLink]="['../versions/add']" label="web.value-set-version.form.add-header"></m-button>
<m-table [data]="versions" [loading]="loading" size="small" bordered enablePagination hideOnSinglePage>
  <tr *mTableHead>
    <th>{{'web.value-set-version.entity.version' | translate}}</th>
    <th>{{'web.value-set-version.entity.source' | translate}}</th>
    <th>{{'web.value-set-version.entity.release-date' | translate}}</th>
    <th>{{'web.value-set-version.entity.expiration-date' | translate}}</th>
    <th>{{'web.value-set-version.entity.status' | translate}}</th>
    <th>{{'web.value-set-version.list.operations'| translate}}</th>
  </tr>
  <tr *mTableRow="let version">
    <td><a [routerLink]="['../versions/', version.version, 'edit']">{{version.version}}</a></td>
    <td>{{version.source}}</td>
    <td>{{version.releaseDate | localDate}}</td>
    <td>{{version.expirationDate | localDate}}</td>
    <td>{{('web.publication-status.statuses.' + version.status) | translate}}</td>
    <td>
      <m-button *ngIf="version.status === 'active'" display="link" (click)="retireVersion(version)">
        {{'web.publication-status.operations.retire' | translate}}
      </m-button>
      <m-button *ngIf="version.status === 'draft'" display="link" (click)="activateVersion(version)">
        {{'web.publication-status.operations.activate' | translate}}
      </m-button>
      <m-button *ngIf="version.status === 'retired'" display="link" (click)="activateVersion(version)">
        {{'web.publication-status.operations.activate' | translate}}
      </m-button>
    </td>
  </tr>
  <tr *mTableNoData>
    <td colspan="6">
      <m-no-data></m-no-data>
    </td>
  </tr>
</m-table>
