<nz-divider [nzText]="'web.concept.list.concepts' | translate"></nz-divider>
<m-table [data]="concepts" [loading]="loading" size="small" bordered hideOnSinglePage>
  <tr *mTableHead>
    <th>{{'web.concept.list.concept' | translate}}</th>
    <th>{{'web.designation.list.designation' | translate}}</th>
    <th>{{'web.concept.list.operations' | translate}}</th>
  </tr>
  <tr *mTableRow="let concept">
    <td>
      <twl-concept-search-input [ngModel]="concept.id" style="width: 100%"></twl-concept-search-input>
      <!--m-option *ngFor="let concept of concepts" [label]="concept.code" [value]="concept.code"></m-option-->
    </td>
    <td>{{concept.versions | apply: getDesignationName }}</td>
    <td>filler</td>
  </tr>
  <tr>
    <td colspan="4" style="padding: 0">
      <m-button display="text" size="small" style="width: 100%" (click)="newConceptRow()">
        <m-icon [code]="'plus'"></m-icon>
      </m-button>
    </td>
  </tr>
</m-table>
