<m-form-row>
  <div *mFormCol>
    <m-card [title]="'web.code-system.list.header'">
      <nz-table #table [nzData]="searchResult.data" [nzLoading]="loading" nzHideOnSinglePage>
        <thead>
        <tr>
          <th>{{'web.code-system.entity.id' | translate}}</th>
          <th>{{'web.code-system.entity.name' | translate}}</th>
          <th>{{'web.code-system.entity.uri' | translate}}</th>
        </tr>
        </thead>
        <tr *ngFor="let cs of table.data | apply: sortTableData">
          <td><a [routerLink]="['edit', cs.id]">{{cs.id}}</a></td>
          <td>{{cs.names | localName}}</td>
          <td>{{cs.uri}}</td>
        </tr>
      </nz-table>
    </m-card>
  </div>
</m-form-row>
