<nz-divider [nzText]="'web.code-system.list.properties' | translate"></nz-divider>
<a [routerLink]="['../property/add']">Add Property</a>
<m-table [data]="properties" [loading]="loading" size="small" bordered enablePagination hideOnSinglePage>
  <tr *mTableHead>
    <th>{{'web.entity-property.entity.name' | translate}}</th><!--Add router to edit when editing becomes available-->
    <th>{{'web.entity-property.entity.type' | translate}}</th>
    <th>{{'web.entity-property.entity.status' | translate}}</th>
  </tr>
  <tr *mTableRow="let property">
    <td>{{property.name}}</td>
    <td>{{property.type}}</td>
    <td>{{property.status}}</td>
  </tr>
</m-table>
