<ng-container *ngIf="codesystems">
  <m-form-row>
    <div *mFormCol>
      <m-card title="Code System list">
        <nz-table #table [nzData]="codesystems.data">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>URI</th>
          </tr>
          </thead>
          <tr *ngFor="let cs of codesystems.data">
            <td><a [routerLink]="['edit', cs.id]">{{cs.id}}</a></td>
            <td>{{cs.names | localName}}</td>
            <td>{{cs.uri}}</td>
          </tr>
        </nz-table>
      </m-card>
    </div>
  </m-form-row>
</ng-container>
