<m-form-row>
  <div *mFormCol>
    <m-card [title]="mode==='edit' ? 'web.code-system.form.edit-header' : 'web.code-system.form.add-header'">
      <twa-code-system-form #codeSystemForm [mode]="mode" [codeSystemId]="codeSystemId"></twa-code-system-form>
      <twa-code-system-form-properties *ngIf="mode==='edit'" [codeSystemId]="codeSystemId"></twa-code-system-form-properties>
      <twa-code-system-form-versions *ngIf="mode==='edit'" [codeSystemId]="codeSystemId"></twa-code-system-form-versions>
      <m-button display="primary" [loading]="loading" [disabled]="loading" (click)="save()">{{'core.btn.save' | translate}}</m-button>
    </m-card>
  </div>
</m-form-row>
