<m-form-row>
  <div *mFormCol>
    <m-card [title]="mode==='edit' ? 'web.entity-property.form.edit-header' : 'web.entity-property.form.add-header'">
      <m-spinner [loading]="loading">
        <form #form="ngForm" *ngIf="property">
          <m-form-item name="name" label="web.entity-property.entity.name" required>
            <m-input [(ngModel)]="property.name" name="version" required></m-input>
          </m-form-item>
          <m-form-item name="type" label="web.entity-property.entity.type">
            <m-input [(ngModel)]="property.type" name="type"></m-input>
          </m-form-item>
          <m-form-item name="description" label="web.entity-property.entity.description">
            <m-textarea [(ngModel)]="property.description" name="description"></m-textarea>
          </m-form-item>
          <m-form-item name="status" label="web.entity-property.entity.status">
            <m-select [(ngModel)]="property.status" name="status">
              <m-option [label]="'active'" [value]="'active'"></m-option>
              <m-option [label]="'draft'" [value]="'draft'"></m-option>
              <m-option [label]="'retired'" [value]="'retired'"></m-option>
            </m-select>
          </m-form-item>
        </form>
        <m-button [loading]="loading" [disabled]="loading" (click)="save()">{{'core.btn.save' | translate}}</m-button>
      </m-spinner>
    </m-card>
  </div>
</m-form-row>