<m-card>
  <div *m-card-header>
    Concept Map import
  </div>

  <form #form="ngForm">
    <!--Id -->
    <m-form-item mName="id" [mLabel]="'Map ID'" required>
      <ng-container *ngIf="!isNewMapSet">
        <twl-map-set-search
            name="id"
            [(ngModel)]="data.map.id"
            (ngModelChange)="loadMapSet($event)"
            valuePrimitive
            required
        ></twl-map-set-search>
        <div style="margin-top: 0.5rem" (click)="iniMapSet()">
          Not found? <a>Create new</a>
        </div>
      </ng-container>

      <m-input *ngIf="isNewMapSet" name="id" [(ngModel)]="data.map.id" required></m-input>
    </m-form-item>

    <!-- Name -->
    <m-form-item mName="name" [mLabel]="'Map name'" *ngIf="data.map.id">
      <ng-container *ngIf="!isNewMapSet">{{(data.loadedMapSet?.names | localName) || '-'}}</ng-container>
      <m-input *ngIf="isNewMapSet" name="name" [(ngModel)]="data.map.name"></m-input>
    </m-form-item>

    <!-- Version -->
    <m-form-item mName="version" [mLabel]="'Map version'">
      <m-input name="version" [(ngModel)]="data.version.version"></m-input>
    </m-form-item>

    <!-- Release date -->
    <m-form-item mName="releaseDate" [mLabel]="'Release date'" required>
      <m-date-picker name="releaseDate" [(ngModel)]="data.version.releaseDate" required></m-date-picker>
    </m-form-item>

    <!-- Source valueset  -->
    <m-form-item mName="sourceValueSet" [mLabel]="'Source value set'" required>
      <twl-value-set-search name="sourceValueSet" [(ngModel)]="data.sourceValueSet" valuePrimitive required></twl-value-set-search>
    </m-form-item>

    <!-- Destination valueset  -->
    <m-form-item mName="targetValueSet" [mLabel]="'Target value set'" required>
      <twl-value-set-search name="targetValueSet" [(ngModel)]="data.targetValueSet" valuePrimitive required></twl-value-set-search>
    </m-form-item>

    <!-- File-->
    <m-form-item mName="targetValueSet" [mLabel]="'Target value set'" required>
      <input #fileInput id="fileInput" name="sourceImportFile" type="file" [(ngModel)]="data.file" required>
    </m-form-item>


    <m-button *m-card-footer (click)="process()" [mLoading]="loading['processing']" [disabled]="form.invalid">
      Process
    </m-button>
  </form>
</m-card>

