<tw-resource-context resourceType="CodeSystem" [resource]="codeSystem" [version]="version" [versions]="versions" mode="properties"></tw-resource-context>
<m-page>
  <div class="m-items-middle">
    @for (pv of selectedPropertyValues; track pv) {
      @if (pv.values?.length > 0) {
        <label>{{pv.propertyName}}: </label>
      }
      @for (v of pv.values; track v) {
        <m-tag mShowIcon>
          <label>{{v.code | localizedConceptName: {codeSystem: v.codeSystem} | async}}</label>
          <m-icon class="m-clickable" mCode="close" (click)="selectPropertyValue(v, pv.propertyName)"></m-icon>
        </m-tag>
      }
    }
  </div>

  <div class="m-items-top">
    <div>
      <h2>{{'web.code-system-concept.property-list.properties' | translate}}</h2>
      <m-list [mLoading]="loader.state['prop']">
        @for (p of (propertySummary?.items | apply:decorate:codeSystem?.properties) | sort: '_property.orderNumber'; track p) {
          <m-list-item style="cursor: pointer" (click)="selectProperty(p)" [mValue]="p">
            <div class="m-justify-between">
              <label style="cursor: pointer">{{p['_property'] | entityPropertyName}}</label>
              <m-tag mColor="blue">{{p.propCnt}}</m-tag>
            </div>
          </m-list-item>
        }
      </m-list>
    </div>

    @if (selectedProperty) {
      <div>
        <h2>{{selectedProperty.propertyName}}</h2>
        <m-list [mLoading]="loader.state['pv']">
          @for (p of selectedProperty.propList; track p) {
            <m-list-item style="cursor: pointer" (click)="selectPropertyValue(p)">
              <div class="m-justify-between">
                <label style="cursor: pointer">{{p.code | localizedConceptName: {codeSystem: p.codeSystem} | async}}</label>
                <div class="m-items-middle">
                  @if (p.code | apply:valueSelected:selectedPropertyValues) {
                    <m-icon mCode="pushpin"></m-icon>
                  }
                  <m-tag mColor="blue">{{p.code | apply:getConceptCnt:propertyConceptSummary}}</m-tag>
                </div>
              </div>
            </m-list-item>
          }
        </m-list>
      </div>
    }


    <div>
      <h2>{{'web.code-system-concept.property-list.concepts' | translate}}</h2>
      <m-backend-table [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="loadData()" [mLoading]="loader.state['search']" mSize="small">
        <tr *mTableHead>
          <th>{{'entities.code-system-concept.code' | translate}}</th>
          <th>{{'entities.code-system-entity-version.designations' | translate}}</th>
          <th>{{'entities.code-system-entity-version.property-values' | translate}}</th>
        </tr>
        <tr *mTableRow="let concept">
          <td>
            <div class="m-items-middle m-bold">
              @if (concept.code | apply: getConceptEditRoute; as route) {
                <a [routerLink]="route.path" [queryParams]="route.query">{{concept.code}}</a>
              }
            </div>
          </td>
          <td>
            <div style="display: grid; grid-template-columns: auto 1fr; column-gap: var(--gap-default)">
              @for (designation of (concept | apply: getDesignations) | sort: 'language'; track designation) {
                @if ((!tableView.langs?.length || (tableView.langs | includes: designation.language)) &&
                  (!tableView.properties?.length || (tableView.properties | includes: designation.designationType))) {
                  <span class="m-bold">{{designation.language}}</span>
                  {{designation.name}}
                }
              }
            </div>
          </td>
          <td>
            @for (property of (concept | apply:getPropertyValues); track property) {
              <div style="display: flex" >
                @if (!tableView.properties?.length || (tableView.properties | includes: property.entityProperty)) {
                  <div style="flex: 1" class="m-bold">{{(property.entityPropertyId | apply:getProperty:codeSystem.properties) | entityPropertyName}}</div>
                  <tw-property-value-input style="flex: 1; text-align: right"
                    viewMode
                    name="value" [ngModel]="property.value"
                    [property]="property.entityPropertyId | apply:getProperty:codeSystem.properties"
                  [codeSystem]="codeSystem.id"></tw-property-value-input>
                }
              </div>
            }
          </td>
        </tr>
        <tr *mTableNoData>
          <td colspan="100%">
            <m-no-data></m-no-data>
          </td>
        </tr>
      </m-backend-table>
    </div>
  </div>
</m-page>


