<m-form-row>
  <div *mFormCol>
    <m-spinner [mLoading]="loading">
      <m-card [mTitle]="mode === 'edit'? 'web.code-system-concept-version.association.edit-association' : 'web.code-system-concept-version.association.add-association'">
        <twa-code-system-association-form #associationForm [association]="association" [codeSystemId]="codeSystemId"></twa-code-system-association-form>
        <ng-container *m-card-footer>
          <m-button mDisplay="primary" [mLoading]="loading" [disabled]="loading" (click)="save()">
            {{'core.btn.save' | translate}}
          </m-button>
        </ng-container>
      </m-card>
    </m-spinner>
  </div>
</m-form-row>
