<m-page>
  <div *ngIf="jobResponse">
    <m-alert *ngFor="let error of jobResponse.errors" mType="error" mShowIcon>
      {{error}}
    </m-alert>
    <m-alert *ngFor="let warning of jobResponse.warnings" mType="warning" mShowIcon>
      {{warning}}
    </m-alert>
    <m-alert *ngFor="let success of jobResponse.successes" mType="success" mShowIcon>
      {{success}}
    </m-alert>
  </div>


  <tw-table [(filterOpen)]="filter.open">
    <div header class="m-justify-between">
      <!-- Quick Search -->
      <m-input
          [(ngModel)]="filter.searchInput"
          twDebounce [debounced]="onDebounced"
          placeholder="marina.ui.inputs.search.placeholder"
          autofocus
          [disabled]="filter.open"
      ></m-input>

      <div class="m-items-middle">
        <tw-add-button *twPrivileged="'*.ObservationDefinition.edit'" [routerLink]="['add']">
          {{'web.observation-definition.header-add' | translate}}
        </tw-add-button>
        <m-button *twPrivileged="'*.ObservationDefinition.edit'" (mClick)="importData.visible = true">
          {{'web.observation-definition.import-from-loinc' | translate}}
        </m-button>

        <!-- Filter toggle -->
        <m-button *ngIf="!filter.open" [mDisplay]="(filter | apply: isFilterSelected) ? 'primary' : 'default'" (mClick)="onFilterOpen()">
          <m-icon mCode="filter"/>
        </m-button>
      </div>
    </div>


    <!-- Filter -->
    <tw-table-filter (twSearch)="onFilterSearch()" (twReset)="onFilterReset()">
      <m-form-item *ngIf="filter.open">
        <m-input
            [(ngModel)]="_filter.searchInput"
            placeholder="marina.ui.inputs.search.placeholder"
            autofocus
        ></m-input>
      </m-form-item>
      <m-form-item mLabel="web.observation-definition.filter.category">
        <tw-obs-def-value-select [(ngModel)]="_filter.categories"/>
      </m-form-item>
      <m-form-item mLabel="web.observation-definition.filter.structure">
        <m-select name="structure" [(ngModel)]="_filter.structure" multiple>
          <m-option mLabel="web.observation-definition.structure.value" [mValue]="'value'"/>
          <m-option mLabel="web.observation-definition.structure.panel" [mValue]="'panel'"/>
          <m-option mLabel="web.observation-definition.structure.component" [mValue]="'component'"/>
        </m-select>
      </m-form-item>
      <m-form-item mLabel="web.observation-definition.filter.value-type">
        <tw-value-set-concept-select [(ngModel)]="_filter.valueType" valueSet="permitted-data-type" multiple/>
      </m-form-item>
    </tw-table-filter>


    <!-- Backend Table -->
    <m-backend-table [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="loadData()" [mLoading]="loader.isLoading">
      <tr *mTableHead>
        <th mColumnKey="code">{{'entities.observation-definition.code' | translate}}</th>
        <th>{{'entities.observation-definition.name' | translate}}</th>
        <th>{{'entities.observation-definition.category' | translate}}</th>
        <th>{{'entities.observation-definition.structure' | translate}}</th>
        <th>{{'entities.observation-definition.details' | translate}}</th>
        <th>{{'entities.observation-definition.protocol.single' | translate}}</th>
        <th>{{'entities.observation-definition.state' | translate}}</th>
        <th>{{'entities.observation-definition.mappings.multiple' | translate}}</th>
      </tr>

      <tr *mTableRow="let obs;let i = index">
        <td><a [routerLink]="[obs.id, ('*.ObservationDefinition.edit' | twHasAnyPrivilege)? 'edit': 'view']" style="white-space: nowrap">{{obs.code}}</a></td>
        <td>
          <div style="display:grid">
            <label>{{obs.names | localName}}</label>
            <label>{{obs.alias | localName}}</label>
            <label>{{obs.definition | localName}}</label>
            <label>{{obs.keywords | localName}}</label>
          </div>
        </td>
        <td>
          <div style="display: grid">
            <label *ngFor="let cat of obs.category" m-tooltip [mTitle]="cat.codeSystem">{{cat.code | localizedConceptName: {codeSystem: cat.codeSystem} | async}}</label>
          </div>
        </td>
        <td>
          <div *ngFor="let structure of obs.structure" style="display: grid">
            <label *ngIf="structure === 'value'">{{'web.observation-definition.structure.' + structure | translate}} ({{obs.value.type}})</label>
            <label  *ngIf="structure !== 'value'">{{'web.observation-definition.structure.' + structure | translate}}</label>
          </div>
        </td>
        <td><m-tag class="m-clickable" mColor="blue" (click)="showExpandRow(obs, i, 'details')" *ngIf="(obs | apply: getDetails) as details">{{details?.length}}</m-tag></td>
        <td>
          <div>
            <label *ngFor="let d of (obs | apply: getProtocol); let i = index" m-tooltip [mTitle]="d.tooltip | localName">
              {{d.label}}{{i === ((obs | apply: getProtocol).length - 1) ? '' : ', '}}
            </label>
          </div>
        </td>
        <td>
          <label *ngFor="let s of obs.state; let i = index" m-tooltip [mTitle]="s.names | localName">{{s.code}}{{i === (obs.state?.length - 1) ? '' : ', '}}</label>
        </td>
        <td><m-tag class="m-clickable" mColor="blue" (click)="showExpandRow(obs, i, 'mappings')" *ngIf="obs.mappings?.length > 0">{{obs.mappings.length}}</m-tag></td>
      </tr>

      <tr *mTableRowExpand="let obs" class="m-table-expanded-row">
        <td colspan="8">
          <ng-container *ngIf="obs['_expandType'] === 'details'">
            <div *ngFor="let d of (obs | apply: getDetails)" class="m-items-middle">
              <label class="m-subtitle">{{d.code}}</label>
              <label *ngIf="d.names">{{d.names | localName}}</label>
              <label *ngIf="d.cs">{{d.code | localizedConceptName: {codeSystem: d.cs} | async}}</label>
            </div>
          </ng-container>
          <ng-container *ngIf="obs['_expandType'] === 'mappings'">
            <div *ngFor="let m of obs.mappings" class="m-items-middle">
              <label class="m-subtitle">{{m.concept}}</label>
              <label>{{m.concept | localizedConceptName: {codeSystem: m.codeSystem} | async }}</label>
            </div>
          </ng-container>
        </td>
      </tr>
      <tr *mTableNoData>
        <td colspan="100%">
          <m-no-data></m-no-data>
        </td>
      </tr>
    </m-backend-table>
  </tw-table>
</m-page>


<m-modal #modal [(mVisible)]="importData.visible" (mClose)="importData.visible = false" [mMaskClosable]="false">
  <ng-container *m-modal-header>Import data</ng-container>
  <ng-container *m-modal-content>
    <form #form="ngForm">
      <m-form-item mLabel="Loinc code" mName="code" required>
        <tw-concept-search [(ngModel)]="importData.loincCodes" name="code" [codeSystem]="'loinc'" valueType="code" multiple required></tw-concept-search>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="modal.close()">{{'core.btn.close' | translate}}</m-button>
    <m-button mDisplay="primary"
        [mLoading]="loader.state['import']"
        [disabled]="loader.isLoading"
        (click)="startImport()">{{'web.observation-definition.import' | translate}}</m-button>
  </div>
</m-modal>
