<m-card>
  <div *m-card-header class="m-items-between">
    <div class="m-card-title">{{'web.privileges.privileges' | translate}}</div>
  </div>
  <div class="m-items-between" style="margin-bottom: 1em">
    <m-input [(ngModel)]="searchInput" (mChange)="searchUpdate.next($event)" placeholder="marina.ui.inputs.search.placeholder"></m-input>
    <twa-add-button [routerLink]="['./add']">
      {{'web.privileges.table.add-privilege' | translate}}
    </twa-add-button>
  </div>

  <m-backend-table [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="loadData()" [mLoading]="loading">
    <tr *mTableHead>
      <th mColumnKey="code">{{'entities.privilege.code' | translate}}</th>
      <th mColumnKey="name">{{'entities.privilege.name' | translate}}</th>
      <th colSpan="3" style="display: flex; text-align: left; padding: 0">
        <div style="flex: 1; padding: 0.8rem">{{'entities.privilege.kind' | translate}}</div>
        <div style="flex: 1; padding: 0.8rem">{{'entities.privilege.resources' | translate}}</div>
        <div style="flex: 1; padding: 0.8rem">{{'entities.privilege.actions' | translate}}</div>
      </th>
    </tr>

    <tr *mTableRow="let privilege">
      <td>
        <a [routerLink]="['./edit', privilege.id]">
          {{privilege.code}}
        </a>
      </td>
      <td>{{privilege.names | localName}}</td>
      <td style="padding: 0.8rem 0">
        <div *ngTemplateOutlet="nestedTable; context: {privilege: privilege}"></div>
      </td>
    </tr>
    <tr *mTableNoData>
      <td colspan="5">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-backend-table>
</m-card>

<ng-template #nestedTable let-privilege="privilege">
  <m-table mOutlined="false" [mData]="privilege.resources">
    <tr *mTableRow="let resource" style="display: flex; justify-content: space-between">
      <td style="flex: 1">
        {{resource.resourceType}}
      </td>
      <td style="flex: 1; word-wrap: anywhere">
        <m-abbreviate [mValue]="resource.resourceId" [mLength]="50"></m-abbreviate>
      </td>
      <td style="flex: 1">
        {{resource.actions | apply:toPlainString}}
      </td>
    </tr>
  </m-table>
</ng-template>
