<m-card>
  <div *m-card-header class="m-items-between">
    <div class="m-card-title">{{'web.privileges.privileges' | translate}}</div>
  </div>
  <div class="m-items-between" style="margin-bottom: 1em">
    <m-input [(ngModel)]="searchInput" (mChange)="searchUpdate.next($event)" placeholder="marina.ui.inputs.search.placeholder"></m-input>
    <twa-add-button [routerLink]="['./add']">
      {{'web.privileges.table.add-privilege' | translate}}
    </twa-add-button>
  </div>

  <m-backend-table [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="loadData()" [mLoading]="loading">
    <tr *mTableHead>
      <th mColumnKey="code">{{'entities.privilege.code' | translate}}</th>
      <th mColumnKey="name">{{'entities.privilege.name' | translate}}</th>
      <th mColumnKey="kind">{{'entities.privilege.kind' | translate}}</th>
      <th mColumnKey="resources">{{'entities.privilege.resources' | translate}}</th>
      <th mColumnKey="actions">{{'entities.privilege.actions' | translate}}</th>
    </tr>

    <tr *mTableRow="let privilege">
      <td>
        <a [routerLink]="['./edit', privilege.id]">
          {{privilege.code}}
        </a>
      </td>
      <td>{{privilege.names | localName}}</td>
      <td>
        <div *ngFor="let res of privilege.resources">
          {{res.resourceType}}
        </div>
      </td>
      <td>
        <div *ngFor="let res of privilege.resources">
          {{res.resourceId}}
        </div>
      </td>
      <td>
        <div *ngFor="let res of privilege.resources">
          {{res.actions | apply:toPlainString}}
        </div>
      </td>
    </tr>
    <tr *mTableNoData>
      <td colspan="5">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-backend-table>
</m-card>
