<m-form-row>
  <div *mFormCol>
    <m-spinner [mLoading]="loading">
      <m-card>
        <div *m-card-header class="m-items-between">
          <div class="m-card-title">
            {{(mode === 'edit' ? 'web.privileges.edit-header' : 'web.privileges.add-header') | translate}}
          </div>
          <m-button mDisplay="text"
              mShape="circle"
              m-popconfirm
              mPopconfirmTitle="core.delete-confirm"
              (mOnConfirm)="deletePrivilege(privilege.id)"
              mPosition="leftTop">
            <m-icon mCode="delete"></m-icon>
          </m-button>
        </div>
        <form #form="ngForm" *ngIf="privilege">
          <m-form-item mName="code" mLabel="entities.privilege.code" required>
            <m-input name="code" [(ngModel)]="privilege.code" required></m-input>
          </m-form-item>
          <m-form-item mName="name" mLabel="entities.privilege.name">
            <m-multi-language-input name="name" [(ngModel)]="privilege.names"></m-multi-language-input>
          </m-form-item>
        </form>
        <ng-container *m-card-footer>
          <m-button mDisplay="primary" (click)="save()" [mLoading]="loading" [disabled]="loading">
            {{'core.btn.save' | translate}}
          </m-button>
        </ng-container>

        <m-card class="m-card-inside">
          <div *m-card-header class="m-items-between">
            <div class="m-card-title">
              {{'web.privileges.resources.table.head' | translate}}
            </div>
            <twa-add-button (click)="openResourceModal()">
              {{'web.privileges.resources.table.add-resource' | translate}}
            </twa-add-button>
          </div>
          <m-table [mData]="resourceMap | keys">
            <tr *mTableHead>
              <th>{{'entities.privilege-resource.type' | translate}}</th>
              <th>{{'entities.privilege-resource.resource-id' | translate}}</th>
              <th>{{'entities.privilege-resource.view' | translate}}</th>
              <th>{{'entities.privilege-resource.edit' | translate}}</th>
              <th>{{'entities.privilege-resource.publish' | translate}}</th>
              <th class="tw-table-actions"></th>
            </tr>
            <ng-container *mTableRow="let key;">
              <tr *ngFor="let resource of resourceMap[key]; let index = index">
                <td class="tw-table-min-width">
                  <a (click)="openResourceModal({key, index})">
                    {{resource.resourceType}}
                  </a>
                </td>
                <td>
                  <m-abbreviate [mValue]="resource.resourceId" [mLength]="35"></m-abbreviate>
                </td>
                <td>
                  <m-checkbox disabled [ngModel]="resource.actions?.view"></m-checkbox>
                </td>
                <td>
                  <m-checkbox disabled [ngModel]="resource.actions?.edit"></m-checkbox>
                </td>
                <td>
                  <m-checkbox disabled [ngModel]="resource.actions?.publish"></m-checkbox>
                </td>
                <td class="tw-table-actions">
                  <m-dropdown>
                    <a *m-dropdown-item (click)="removeResource(key, index)">
                      {{'web.privileges.resources.table.delete-resource' | translate}}
                    </a>
                  </m-dropdown>
                </td>
              </tr>
            </ng-container>

            <tr *mTableNoData>
              <td colspan="3">
                <m-no-data></m-no-data>
              </td>
            </tr>
          </m-table>
        </m-card>
      </m-card>
    </m-spinner>
  </div>
</m-form-row>

<m-modal [(mVisible)]="modalData.visible" (mClose)="modalData = {visible: false}">
  <ng-container *mModalHeader>
    {{(modalData.editKey ? 'web.privileges.resources.modal.edit-header' : 'web.privileges.resources.modal.add-header') | translate}}
  </ng-container>

  <ng-container *mModalContent>
    <form #resourceForm="ngForm">
      <m-form-item mName="resourceType" mLabel="web.privileges.resources.modal.resource-type" required>
        <m-select name="resourceType" [(ngModel)]="modalData.resource.resourceType" required>
          <m-option label="web.privileges.resources.modal.type.any" value="Any"></m-option>
          <m-option label="web.privileges.resources.modal.type.admin" value="Admin"></m-option>
          <m-option label="web.privileges.resources.modal.type.code-system" value="CodeSystem"></m-option>
          <m-option label="web.privileges.resources.modal.type.value-set" value="ValueSet"></m-option>
          <m-option label="web.privileges.resources.modal.type.map-set" value="MapSet"></m-option>
          <m-option label="web.privileges.resources.modal.type.naming-system" value="NamingSystem"></m-option>
        </m-select>
      </m-form-item>
      <m-form-item *ngIf="modalData.resource.resourceType && modalData.resource.resourceType !== 'Any' && modalData.resource.resourceType !== 'Admin'"
          mName="resourceId"
          mLabel="web.privileges.resources.modal.resource-id">
        <twl-code-system-search name="resourceId"
            *ngIf="modalData.resource.resourceType === 'CodeSystem'"
            [(ngModel)]="modalData.resource.resourceId"
            [filter]="filter"
            valuePrimitive></twl-code-system-search>
        <twl-value-set-search name="resourceId"
            *ngIf="modalData.resource.resourceType === 'ValueSet'"
            [(ngModel)]="modalData.resource.resourceId"
            [filter]="filter"
            valuePrimitive></twl-value-set-search>
        <twl-map-set-search name="resourceId"
            *ngIf="modalData.resource.resourceType === 'MapSet'"
            [(ngModel)]="modalData.resource.resourceId"
            [filter]="filter"
            valuePrimitive></twl-map-set-search>
        <twl-naming-system-search name="resourceId"
            *ngIf="modalData.resource.resourceType === 'NamingSystem'"
            [(ngModel)]="modalData.resource.resourceId"
            [filter]="filter"
            valuePrimitive></twl-naming-system-search>
      </m-form-item>
      <ng-container *ngIf="modalData.resource.resourceType !== 'Admin'">
        <m-form-item [mLabel]="view"></m-form-item>
        <ng-template #view>
          <m-checkbox name="action-view"
              [(ngModel)]="modalData.resource.actions.view">{{'web.privileges.resources.modal.actions.view' | translate}}</m-checkbox>
        </ng-template>
        <m-form-item [mLabel]="edit"></m-form-item>
        <ng-template #edit>
          <m-checkbox name="action-edit"
              [(ngModel)]="modalData.resource.actions.edit">{{'web.privileges.resources.modal.actions.edit' | translate}}</m-checkbox>
        </ng-template>
        <m-form-item [mLabel]="publish"></m-form-item>
        <ng-template #publish>
          <m-checkbox name="action-publish"
              [(ngModel)]="modalData.resource.actions.publish">{{'web.privileges.resources.modal.actions.publish' | translate}}</m-checkbox>
        </ng-template>
      </ng-container>
    </form>
  </ng-container>

  <div *m-modal-footer class="tw-button-group">
    <m-button mDisplay="text" (click)="modalData.visible = false">
      {{'core.btn.cancel' | translate}}
    </m-button>
    <m-button mDisplay="primary" (click)="confirmResource()">
      {{(modalData.editKey ? 'core.btn.confirm' : 'core.btn.add') | translate}}
    </m-button>
  </div>
</m-modal>
