<m-form-row>
  <div *mFormCol>
    <m-spinner [mLoading]="loading">
      <m-card>
        <div *m-card-header class="m-justify-between">
          <div class="m-card__title">
            {{(mode === 'edit' ? 'web.privileges.edit-header' : 'web.privileges.add-header') | translate}}
          </div>
          <m-button *ngIf="mode === 'edit' && privilege?.code !== 'guest'"
              mDisplay="text"
              mShape="circle"
              m-popconfirm
              mPopconfirmTitle="core.delete-confirm"
              (mOnConfirm)="deletePrivilege(privilege.id)"
              mPosition="leftTop">
            <m-icon mCode="delete"></m-icon>
          </m-button>
        </div>
        <form #form="ngForm" *ngIf="privilege">
          <m-form-item mName="code" mLabel="entities.privilege.code" required>
            <m-input name="code" [(ngModel)]="privilege.code" required></m-input>
          </m-form-item>
          <m-form-item mName="name" mLabel="entities.privilege.name">
            <m-multi-language-input name="name" [(ngModel)]="privilege.names"></m-multi-language-input>
          </m-form-item>
        </form>
        <ng-container *m-card-footer>
          <m-button mDisplay="primary" (click)="save()" [mLoading]="loading" [disabled]="loading">
            {{'core.btn.save' | translate}}
          </m-button>
        </ng-container>

        <m-card class="m-card-inside">
          <div *m-card-header class="m-justify-between">
            <div class="m-card__title">
              {{'web.privileges.resources.table.head' | translate}}
            </div>
            <tw-add-button (click)="openResourceModal()">
              {{'web.privileges.resources.table.add-resource' | translate}}
            </tw-add-button>
          </div>
          <m-table [mData]="resourceMap | keys" mSize="small">
            <tr *mTableHead>
              <th>{{'entities.privilege-resource.type' | translate}}</th>
              <th>{{'entities.privilege-resource.resource-id' | translate}}</th>
              <th>{{'entities.privilege-resource.view' | translate}}</th>
              <th>{{'entities.privilege-resource.edit' | translate}}</th>
              <th>{{'entities.privilege-resource.publish' | translate}}</th>
              <th class="tw-table-actions"></th>
            </tr>
            <ng-container *mTableRow="let key;">
              <tr *ngFor="let resource of resourceMap[key]; let index = index">
                <td class="tw-table-min-width">
                  <a (click)="openResourceModal({key, index})">
                    {{resource.resourceType}}
                  </a>
                </td>
                <td>
                  <m-abbreviate [mValue]="resource.resourceName || resource.resourceId" [mLength]="35"></m-abbreviate>
                </td>
                <td>
                  <m-icon *ngIf="resource.actions?.view" mCode="check"></m-icon>
                </td>
                <td>
                  <m-icon *ngIf="resource.actions?.edit" mCode="check"></m-icon>
                </td>
                <td>
                  <m-icon *ngIf="resource.actions?.publish" mCode="check"></m-icon>
                </td>
                <td class="tw-table-actions">
                  <m-dropdown>
                    <a *m-dropdown-item (click)="removeResource(key, index)">
                      {{'web.privileges.resources.table.delete-resource' | translate}}
                    </a>
                  </m-dropdown>
                </td>
              </tr>
            </ng-container>

            <tr *mTableNoData>
              <td colspan="3">
                <m-no-data></m-no-data>
              </td>
            </tr>
          </m-table>
        </m-card>
      </m-card>
    </m-spinner>
  </div>
</m-form-row>

<m-modal [(mVisible)]="modalData.visible" (mClose)="modalData = {visible: false}">
  <ng-container *mModalHeader>
    {{(modalData.editKey ? 'web.privileges.resources.modal.edit-header' : 'web.privileges.resources.modal.add-header') | translate}}
  </ng-container>

  <ng-container *mModalContent>
    <form #resourceForm="ngForm">
      <m-form-item mName="resourceType" mLabel="web.privileges.resources.modal.resource-type" required>
        <m-select name="resourceType" [(ngModel)]="modalData.resource.resourceType" required>
          <m-option mLabel="web.privileges.resources.modal.type.any" mValue="Any"></m-option>
          <m-option mLabel="web.privileges.resources.modal.type.admin" mValue="Admin"></m-option>
          <m-option mLabel="web.privileges.resources.modal.type.code-system" mValue="CodeSystem"></m-option>
          <m-option mLabel="web.privileges.resources.modal.type.value-set" mValue="ValueSet"></m-option>
          <m-option mLabel="web.privileges.resources.modal.type.map-set" mValue="MapSet"></m-option>
          <m-option mLabel="web.privileges.resources.modal.type.naming-system" mValue="NamingSystem"></m-option>
          <m-option mLabel="web.privileges.resources.modal.type.association-type" mValue="AssociationType"></m-option>
          <m-option mLabel="web.privileges.resources.modal.type.defined-property" mValue="DefinedProperty"></m-option>
          <m-option mLabel="web.privileges.resources.modal.type.space" mValue="Space"></m-option>
          <m-option mLabel="web.privileges.resources.modal.type.wiki" mValue="Wiki"></m-option>
          <m-option mLabel="web.privileges.resources.modal.type.observation-definition" mValue="ObservationDefinition"></m-option>
          <m-option mLabel="web.privileges.resources.modal.type.structure-definition" mValue="StructureDefinition"></m-option>
          <m-option mLabel="web.privileges.resources.modal.type.transformation-definition" mValue="TransformationDefinition"></m-option>
          <m-option mLabel="web.privileges.resources.modal.type.task" mValue="Task"></m-option>
          <m-option mLabel="web.privileges.resources.modal.type.privilege" mValue="Privilege"></m-option>
          <m-option mLabel="web.privileges.resources.modal.type.terminology-server" mValue="TerminologyServer"></m-option>
          <m-option mLabel="web.privileges.resources.modal.type.release" mValue="Release"></m-option>
          <m-option mLabel="web.privileges.resources.modal.type.checklist" mValue="ChecklistRule"></m-option>
        </m-select>
      </m-form-item>
      <m-form-item *ngIf="modalData.resource.resourceType
                          && ['CodeSystem', 'ValueSet', 'MapSet', 'NamingSystem', 'AssociationType', 'Wiki', 'Space'].includes(modalData.resource.resourceType)"
          mName="resourceId"
          mLabel="web.privileges.resources.modal.resource-id">
        <tw-code-system-search name="resourceId"
            *ngIf="modalData.resource.resourceType === 'CodeSystem'"
            [(ngModel)]="modalData.resource.resourceId"
            [filter]="filter"
            valuePrimitive></tw-code-system-search>
        <tw-value-set-search name="resourceId"
            *ngIf="modalData.resource.resourceType === 'ValueSet'"
            [(ngModel)]="modalData.resource.resourceId"
            [filter]="filter"
            valuePrimitive></tw-value-set-search>
        <tw-map-set-search name="resourceId"
            *ngIf="modalData.resource.resourceType === 'MapSet'"
            [(ngModel)]="modalData.resource.resourceId"
            [filter]="filter"
            valuePrimitive></tw-map-set-search>
        <tw-naming-system-search name="resourceId"
            *ngIf="modalData.resource.resourceType === 'NamingSystem'"
            [(ngModel)]="modalData.resource.resourceId"
            [filter]="filter"
            valuePrimitive></tw-naming-system-search>
        <tw-association-type-search name="resourceId"
            *ngIf="modalData.resource.resourceType === 'AssociationType'"
            [(ngModel)]="modalData.resource.resourceId"
            [filter]="filterCode"
            valuePrimitive></tw-association-type-search>
        <tw-space-select name="resourceId"
            *ngIf="modalData.resource.resourceType === 'Wiki' || modalData.resource.resourceType === 'Space'"
            [ngModel]="modalData.resource.resourceId | apply:asNumber"
            (ngModelChange)="modalData.resource.resourceId = $event.toString()"
            [filter]="filterId"
            valuePrimitive></tw-space-select>
      </m-form-item>
      <ng-container *ngIf="modalData.resource.resourceType !== 'Admin'">
        <m-form-item [mLabel]="view"></m-form-item>
        <ng-template #view>
          <m-checkbox name="action-view" [(ngModel)]="modalData.resource.actions.view">
            {{'web.privileges.resources.modal.actions.view' | translate}}
          </m-checkbox>
        </ng-template>
        <m-form-item [mLabel]="edit"></m-form-item>
        <ng-template #edit>
          <m-checkbox name="action-edit" [(ngModel)]="modalData.resource.actions.edit">
            {{'web.privileges.resources.modal.actions.edit' | translate}}
          </m-checkbox>
        </ng-template>
        <m-form-item [mLabel]="publish"></m-form-item>
        <ng-template #publish>
          <m-checkbox name="action-publish" [(ngModel)]="modalData.resource.actions.publish">
            {{'web.privileges.resources.modal.actions.publish' | translate}}
          </m-checkbox>
        </ng-template>
      </ng-container>
    </form>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="modalData.visible = false">
      {{'core.btn.cancel' | translate}}
    </m-button>
    <m-button mDisplay="primary" (click)="confirmResource()">
      {{(modalData.editKey ? 'core.btn.confirm' : 'core.btn.add') | translate}}
    </m-button>
  </div>
</m-modal>
