<m-page>
  <m-form-row>
    <m-card *m-form-col>
      <m-title *m-card-header mTitle="title"></m-title>

      <m-backend-table [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="search()" [mLoading]="loader.isLoading">
        <tr *mTableHead>
          <th mColumnKey="code">{{'id' | translate}}</th>
          <th mColumnKey="name">{{'name' | translate}}</th>
        </tr>

        <tr *mTableRow="let obs">
          <td>
            <a [routerLink]="[]">{{obs.code}}</a>
          </td>
          <td>
            {{obs.names | localName}}
          </td>
        </tr>

        <tr *mTableNoData>
          <td colspan="100%">
            <m-no-data></m-no-data>
          </td>
        </tr>
      </m-backend-table>
    </m-card>
  </m-form-row>
</m-page>
