<m-page mFull class="wiki" [mLoading]="isLoading">
  <div class="editor__header m-justify-between">
    <div>{{pageContent?.name}}</div>


    <div class="m-items-middle">
      <m-button (click)="saveContent()" mDisplay="primary">
        <div class="m-items-middle">
          <m-icon mCode="save"/>
          {{'core.btn.save' | translate}}
        </div>
      </m-button>

      <m-button (click)="back()" mDisplay="text">
        {{'core.btn.cancel' | translate}}
      </m-button>

      <m-divider mVertical></m-divider>
      <m-icon-button mIcon="comment" (mClick)="toggleComments()" [disabled]="!pageComments?.length"/>
      <m-icon-button mIcon="setting" (mClick)="pageModal.open()"/>
    </div>
  </div>


  <div class="editor__main-wrapper">
    <div class="editor__sidebar" *ngIf="pageContent?.contentType === 'markdown'">
      <ul m-menu mCollapsed mSelectable="false">
        <li m-menu-item [mIcon]="showPreview ?  'pic-center' : 'read'" (click)="togglePreview()">
          {{(showPreview ? 'web.wiki-page.edit.menu.preview.hide' : 'web.wiki-page.edit.menu.preview.show') | translate}}
        </li>

        <li m-sub-menu mTitle="web.wiki-page.edit.menu.structure-definition.title" mIcon="partition" *ngIf="pageContent?.slug">
          <ul>
            <li m-menu-item mIcon="link" (click)="structureModal.open()">
              {{'web.wiki-page.edit.menu.structure-definition.add' | translate}}
            </li>
            <li m-menu-item
                mIcon="copy"
                (click)="copyStructureDefToClipboard()"
                m-tooltip
                mTitle="def:{{pageContent.slug}}-model"
                mPosition="bottom"
            >
              {{'web.wiki-page.edit.menu.structure-definition.copy' | translate: ({val: '{{def:' + pageContent.slug + '-model}' + '}'})}}
            </li>
          </ul>
        </li>

        <li m-menu-item mIcon="cluster" (click)="editor.launchEditor('drawio')">
          {{'web.wiki-page.edit.menu.diagrams' | translate}}
        </li>

        <li m-menu-item mIcon="file-image" (click)="fileModal.open()">
          {{'web.wiki-page.edit.menu.files' | translate}}
        </li>
      </ul>
    </div>


    <div
        class="editor__main"
        [class.editor__main--markdown]="pageContent?.contentType === 'markdown'"
    >
      <tw-smart-text-editor
          *ngIf="pageContent"
          [(ngModel)]="pageContent.content"
          [valueType]="pageContent.contentType"
          [lang]="pageContent.lang"
          [showPreview]="showPreview"
          name="content"
      ></tw-smart-text-editor>
    </div>

    <tw-collapse-panel class="editor__comments-wrapper" key="page-editor-comment" collapsePosition="right" resizable *ngIf="showComments">
      <div class="editor__comments">
        <tw-wiki-page-comments
            [pageContent]="pageContent"
            [(pageComments)]="pageComments"
        ></tw-wiki-page-comments>
      </div>
    </tw-collapse-panel>
  </div>
</m-page>


<m-modal #structureModal mStyle="width: 36rem; margin-top: calc(var(--page-header-height) + 1rem)" mPlacement="top">
  <div *m-modal-header class="m-modal__title">
    {{'web.wiki-page.edit.structure-definition-modal.header' | translate}}
  </div>

  <div *m-modal-content>
    {{'web.wiki-page.edit.structure-definition-modal.description' | translate}}
  </div>

  <div *m-modal-footer class="m-justify-between" style="width: 100%">
    <m-button (click)="openStructureDefinition()">
      {{'web.wiki-page.edit.structure-definition-modal.proceed-without-saving' | translate}}
    </m-button>

    <div class="m-items-middle">
      <m-button (click)="structureModal.close()" autofocus>
        {{'core.btn.close' | translate}}
      </m-button>

      <m-button mDisplay="primary" (click)="saveAndOpenStructureDefinition()">
        {{'web.wiki-page.edit.structure-definition-modal.save-and-proceed' | translate}}
      </m-button>
    </div>
  </div>
</m-modal>

<m-modal #fileModal mStyle="width: 36rem; margin-top: calc(var(--page-header-height) + 1rem)" mPlacement="top">
  <div *m-modal-header class="m-modal__title">
    {{'web.wiki-page.edit.image-modal.header' | translate}}
  </div>

  <div *m-modal-content>
    <m-list>
      <m-list-item
          *ngFor="let a of pageAttachments"
          [style.color]="a['_new'] ? 'var(--color-green-7)' : undefined"
          [mClickable]="a.contentType | apply: isImage"
          (mClick)="insertAttachment(a, fileModal)"
      >
        <div class="m-justify-between">
          <div class="m-items-middle">
            <m-icon [mCode]="(a.contentType | apply: isImage) ? 'file-image' : 'file'"/>
            <div>{{a.fileName}}</div>
          </div>

          <m-icon-button
              *twPrivileged="'*.Wiki.edit'"
              [mIcon]="a['_deleting'] ? 'loading' : 'delete'"
              (mClick)="$event.preventDefault(); $event.stopPropagation(); deleteAttachment(a)"
          ></m-icon-button>
        </div>
      </m-list-item>
    </m-list>


    <div *twPrivileged="'*.Wiki.edit'" style="margin-top: var(--gap-default)">
      <input #fui id="file" type="file" class="upload-input" accept="image/*" (change)="uploadAttachment($event, fui)" [disabled]="loader.state['fileUpload']"/>
      <label for="file">
        <m-icon *ngIf="loader.state['fileUpload']" mCode="loading"/>
        {{'web.wiki-page.edit.image-modal.choose-file' | translate}}
      </label>
    </div>

  </div>

  <div *m-modal-footer>
    <m-button (click)="fileModal.close()" autofocus>
      {{'core.btn.close' | translate}}
    </m-button>
  </div>
</m-modal>

<tw-wiki-page-setup #pageModal
    [pageId]="pageContent?.pageId"
    [contentId]="pageContent?.id"
    (closed)="pageModal.close()"
    (saved)="afterPageSave($event.pageContent); pageModal.close()"
></tw-wiki-page-setup>


