<m-page mFull [mTitle]="spaceSelector" class="wiki" [twPrivilegeContext]="[space?.id, 'Wiki']">

  <!-- Space selector -->
  <ng-template #spaceSelector>
    <m-dropdown [mHideIfEmpty]="false">
      <div *m-dropdown-container>
        <div class="m-items-middle" style="color: var(--color-text)">
          {{loader.state['spaces'] ? '...' : (space?.names | localName) ?? 'web.wiki-page.spaces' | translate}}
          <m-icon mCode="down"></m-icon>
        </div>
      </div>

      <ng-container *ngFor="let s of spaces">
        <ng-container *ngIf="s.id !== space?.id">
          <a *m-dropdown-item (mClick)="preferences.setSpace(s.id)">
            {{s.names | localName: s.code}}
          </a>
        </ng-container>
      </ng-container>
    </m-dropdown>
  </ng-template>


  <div class="page__container">
    <!-- Sidebar -->
    <div class="page__sidebar">
      <m-collapse-panel mResizable>
        <m-skeleton [mLoading]="loader.state['spaces']">
          <tw-wiki-page-tree-sidebar *ngIf="space" [space]="space" [path]="path" (viewRoot)="viewRoot()" (viewPage)="viewPage($event)"/>
        </m-skeleton>
      </m-collapse-panel>
    </div>


    <!-- Main container -->
    <ng-container *ngIf="loader.state['spaces'] || space; else noSpace">
      <!-- Space view -->
      <tw-wiki-space-overview
          *ngIf="isOverviewSelected" class="page__wrapper"
          [space]="space"
          [lang]="translateService.currentLang"
          (viewPage)="viewPage($event)"
      ></tw-wiki-space-overview>

      <!-- Page view -->
      <tw-wiki-page-details
          *ngIf="!isOverviewSelected"
          [space]="space"
          [slug]="slug"
          [page]="page"
          (viewPage)="viewPage($event)"
          (editPage)="editPage($event)"
          (viewResource)="viewResource({type: $event.type, id: $event.id, opts: $event.options})"
          (viewHistory)="viewHistory()"
          (pageDeleted)="viewRoot()"
      ></tw-wiki-page-details>
    </ng-container>


    <!-- "Space not selected" -->
    <ng-template #noSpace>
      <div class="page__wrapper">
        <m-alert mType="error" mShowIcon class="tw-alert--no-line m-rounded" mTitle="web.wiki-page.no-space.title">
          {{'web.wiki-page.no-space.desc' | translate}}
        </m-alert>
      </div>
    </ng-template>
  </div>
</m-page>

