<m-page mFull [mTitle]="spaceSelector" class="wiki" [twPrivilegeContext]="[space?.id, 'Wiki']">

  <!-- Space selector -->
  <ng-template #spaceSelector>
    <m-dropdown [mHideIfEmpty]="false">
      <div *m-dropdown-container>
        <div class="m-items-middle" style="color: var(--color-text)">
          {{loader.state['spaces'] ? '...' : (space?.names | localName) ?? 'web.wiki-page.spaces' | translate}}
          <m-icon mCode="down"></m-icon>
        </div>
      </div>

      <ng-container *ngFor="let s of spaces; let idx = index">
        <ng-container>
          <span *m-dropdown-item
              [class.m-bold]="s.id === space?.id"
              [style.border-top]="!s.active && spaces[idx - 1]?.active ? '1px solid var(--color-borders)' : ''"
              (click)="preferences.setSpace(s.id)"
          >
            {{s.names | localName: s.code}}
          </span>
        </ng-container>
      </ng-container>
    </m-dropdown>
  </ng-template>


  <div class="page__container">
    <!-- Sidebar -->
    <div class="page__sidebar">
      <m-collapse-panel mResizable [mCollapsed]="mobileQuery.matches">
        <m-skeleton [mLoading]="loader.state['spaces']">
          <tw-wiki-page-tree-sidebar *ngIf="space" [space]="space" [path]="path" [viewRootRoute]="viewRootRoute" [viewPageRoute]="viewPageRoute"/>
        </m-skeleton>
      </m-collapse-panel>
    </div>


    <!-- Main container -->
    <ng-container *ngIf="loader.state['spaces'] || space; else noSpace">
      <!-- Space view -->
      <tw-wiki-space-overview
          *ngIf="isOverviewSelected" class="page__wrapper"
          [space]="space"
          [lang]="translateService.currentLang"
          [viewPageRoute]="viewPageRoute"
      ></tw-wiki-space-overview>

      <!-- Page view -->
      <tw-wiki-page-details
          *ngIf="!isOverviewSelected"
          [space]="space"
          [slug]="slug"
          [page]="page"
          [viewPageRoute]="viewPageRoute"
          [viewResourceRoute]="viewResourceRoute"
          [viewHistoryRoute]="viewHistoryRoute"
          (editPage)="router.navigate(editPageRoute($event))"
          (pageDeleted)="router.navigate(viewRootRoute())"
      ></tw-wiki-page-details>
    </ng-container>


    <!-- "Space not selected" -->
    <ng-template #noSpace>
      <div class="page__wrapper">
        <m-alert mType="error" mShowIcon class="tw-alert--no-line m-rounded" mTitle="web.wiki-page.no-space.title">
          {{'web.wiki-page.no-space.desc' | translate}}
        </m-alert>
      </div>
    </ng-template>
  </div>
</m-page>

