@if (!version) {
  <m-no-data></m-no-data>
}

@if (version) {
  <div>
    <div class="m-justify-between">
      <div class="m-items-middle">
        <span class="m-bold">{{version.version}}</span>
        <m-divider mVertical></m-divider>
        <span>{{(version.releaseDate | localDate) || '...'}} - {{(version.expirationDate | localDate) || '...'}}</span>
      </div>
      <tw-status-tag [status]="version.status"></tw-status-tag>
    </div>
    <span>{{version.description | localName}}</span>
    @if (version.supportedLanguages) {
      <div class="m-items-middle">
        <m-icon mCode="global"></m-icon>
        @for (lang of version.supportedLanguages; track lang; let i = $index) {
          <span>{{lang}}</span>
          @if (i !== (version.supportedLanguages?.length - 1)) {
            <m-divider mVertical></m-divider>
          }
        }
      </div>
    }
    <div class="m-items-middle" *twPrivileged="'triage'">
      <m-icon mCode="download"></m-icon>
      <span>{{'web.value-set-version.summary.info.download' | translate}}
        (@for (format of ['json', 'xml', 'fsh', 'csv', 'xlsx']; track format; let i = $index) {
        <span><a (mClick)="downloadDefinition(format)"> {{format | uppercase}} </a>{{i < 4 ? '|' : ''}}</span>
      })</span>
      <m-divider mVertical></m-divider>
      <span>{{'web.value-set-version.summary.info.definition' | translate}}</span>
      <a (mClick)="openJson()">FHIR</a>
    </div>
    <div class="m-items-middle">
      <m-icon mCode="calendar"></m-icon>
      <span>{{'web.value-set-version.summary.info.last-modified' | translate}}:
      {{((provenances | apply:getLastProvenance)?.date | localDate) || ('web.value-set-version.summary.info.none' | translate)}} </span>
    </div>
    @if (valueSet?.settings?.reviewRequired) {
      <div class="m-items-middle">
        <m-icon mCode="calendar"></m-icon>
        <span>{{'web.value-set-version.summary.info.last-reviewed' | translate}}:
        {{((provenances | apply:getLastProvenance: 'reviewed')?.date | localDate) || ('web.value-set-version.summary.info.none' | translate)}} </span>
        <a (mClick)="taskModal.toggleModal({type: 'review', workflowPrefix: 'version', context: {resourceId: valueSet?.id, resourceVersionId: version?.id, resourceVersionVersion: version?.version}})"
        *twPrivileged="'*.Task.edit'">{{'web.value-set-version.summary.info.create-review' | translate}}</a>
      </div>
    }
    @if (valueSet?.settings?.approvalRequired) {
      <div class="m-items-middle">
        <m-icon mCode="calendar"></m-icon>
        <span>{{'web.value-set-version.summary.info.last-approved' | translate}}:
        {{((provenances | apply:getLastProvenance: 'approved')?.date | localDate) || ('web.value-set-version.summary.info.none' | translate)}} </span>
        <a (mClick)="taskModal.toggleModal({type: 'approval', workflowPrefix: 'version', context: {resourceId: valueSet?.id, resourceVersionId: version?.id, resourceVersionVersion: version?.version}})"
        *twPrivileged="'*.Task.edit'">{{'web.value-set-version.summary.info.create-approve' | translate}}</a>
      </div>
    }
    <div class="m-items-middle" *twPrivileged="version.valueSet + '.ValueSet.publish'">
      <m-icon mCode="tool"></m-icon>
      @if (version.status !== 'draft') {
        <a (mClick)="changeVersionStatus('draft')">{{'web.value-set-version.summary.info.make-draft' | translate}}</a>
      }
      @if (version.status !== 'active' && version.status !== 'retired') {
        <a
        (mClick)="changeVersionStatus('active')">{{'web.value-set-version.summary.info.activate' | translate}}</a>
      }
      @if (version.status !== 'retired') {
        <m-divider mVertical></m-divider>
        <a (mClick)="changeVersionStatus('retired')">{{'web.value-set-version.summary.info.retire' | translate}}</a>
      }
    </div>
    <div class="m-items-middle" *twPrivileged="'*.Release.view'">
      <m-icon mCode="rocket"/>
      @if (releases?.length > 0) {
        <div>
          @for (release of releases; track release) {
            <div>
              <a (mClick)="openRelease(release.id)">{{[release.code, (release.names | localName), ((release.releaseDate || release.planned) | localDate)] | join: ' | '}}</a>
            </div>
          }
        </div>
      }
      @if (!(releases?.length > 0) && ('*.Release.edit' | twPrivileged)) {
        <a (mClick)="releaseModal.toggleModal({resourceId: valueSet?.id, resourceVersion: version?.version, resourceTitle: valueSet?.title})"
        >{{'web.value-set-version.summary.info.add-to-release' | translate}}</a>
      }
      @if (!(releases?.length > 0) && !('*.Release.edit' | twPrivileged)) {
        <span>{{'web.value-set-version.summary.info.release-unspecified' | translate}}</span>
      }
    </div>
    @if (githubSpaces?.length) {
      <div class="m-items-middle">
        <m-icon mCode="github"></m-icon>
        <m-dropdown>
          <a *m-dropdown-container>
            {{'web.code-system-version.summary.info.sync-with-github' | translate}}
          </a>
          @for (s of githubSpaces; track s) {
        <a *m-dropdown-item [routerLink]="['/spaces', s.id, 'github', {files: [
        'valueset-fhir-json|' + version.valueSet + SEPARATOR + version.version,
        'valueset-fhir-fsh|' + version.valueSet + SEPARATOR + version.version,
        ]}]">
              {{s.names | localName}}
            </a>
          }
        </m-dropdown>
      </div>
    }
  </div>
}

<tw-resource-task-modal #taskModal (taskCreated)="taskCreated.emit()" resourceType="ValueSet"/>
<tw-resource-release-modal #releaseModal (connectedToRelease)="loadRelease()" resourceType="ValueSet"/>
