<m-no-data *ngIf="!(versions?.length > 0)"></m-no-data>

<m-list *ngIf="versions?.length > 0" mSeparated>
  <m-list-item *ngFor="let version of versions | sort: 'version': 'descend'" mClickable (mClick)="openVersionSummary(version.version)">
    <div class="m-justify-between">
      <div class="m-items-middle">
        <span class="m-bold">{{version.version}}</span>
        <m-divider mVertical></m-divider>
        <span>{{(version.releaseDate | localDate) || '...'}} -
          {{(version.expirationDate | localDate) || '...'}}</span>
      </div>
      <div class="m-items-middle">
        <tw-status-tag [status]="version.status"></tw-status-tag>
        <ng-container *twPrivileged>
          <m-divider mVertical></m-divider>
          <m-dropdown>
            <ng-container *ngIf="version.status === 'draft' && versions?.length > 1 && ('publish' | twPrivileged)">
              <a *m-dropdown-item (click)="deleteVersion(version.version)">
                <m-icon mCode="delete"></m-icon>&nbsp;{{'core.btn.delete' | translate}}
              </a>
            </ng-container>
          </m-dropdown>
        </ng-container>
      </div>
    </div>
    <div class="m-items-top">
      <m-icon mCode="arrow-right"></m-icon>
      <div *ngIf="version.scope.sourceCodeSystems?.length > 0">
        <div *ngFor="let cs of version.scope.sourceCodeSystems" class="m-items-middle">
          <label>{{cs.uri}}</label>
          <m-divider *ngIf="cs.version" mVertical></m-divider>
          <label *ngIf="cs.version">{{cs.version}}</label>
        </div>
      </div>
      <ng-container *ngIf="version.scope.sourceValueSet as vs">
        <label>{{vs.uri}}</label>
        <m-divider *ngIf="vs.version" mVertical></m-divider>
        <label *ngIf="vs.version">{{vs.version}}</label>
      </ng-container>
    </div>
    <div class="m-items-top">
      <m-icon mCode="arrow-left"></m-icon>
      <div *ngIf="version.scope.targetCodeSystems?.length > 0">
        <div *ngFor="let cs of version.scope.targetCodeSystems" class="m-items-middle">
          <label>{{cs.uri}}</label>
          <m-divider *ngIf="cs.version" mVertical></m-divider>
          <label *ngIf="cs.version">{{cs.version}}</label>
        </div>
      </div>
      <ng-container *ngIf="version.scope.targetValueSet as vs">
        <label>{{vs.uri}}</label>
        <m-divider *ngIf="vs.version" mVertical></m-divider>
        <label *ngIf="vs.version">{{vs.version}}</label>
      </ng-container>
    </div>
    <div class="m-items-middle" *twPrivileged="'*.Release.view'">
      <m-icon mCode="rocket"/>
      <ng-container *ngIf="releases?.[version.mapSet + version.version]?.length > 0">
        <div *ngFor="let release of releases?.[version.mapSet + version.version]">
          <a (mClick)="openRelease(release.id)">{{[release.code, (release.names | localName), ((release.releaseDate || release.planned) | localDate)] | join: ' | '}}</a>
        </div>
      </ng-container>
      <a (mClick)="releaseModal.toggleModal({resourceId: mapSet, resourceVersion: version?.version, resourceTitle: mapSetTitle})"
          *ngIf="!(releases?.[version.mapSet + version.version]?.length > 0) && ('*.Release.edit' | twPrivileged)">{{'web.map-set-version.summary.info.add-to-release' | translate}}</a>
      <span *ngIf="!(releases?.[version.mapSet + version.version]?.length > 0) && !('*.Release.edit' | twPrivileged)">{{'web.map-set-version.summary.info.release-unspecified' | translate}}</span>
    </div>
    <div>{{version.description | localName}}</div>
  </m-list-item>
</m-list>

<tw-resource-release-modal #releaseModal (connectedToRelease)="loadRelease()" resourceType="MapSet"/>
