<tw-resource-context resourceType="ValueSet"
    [resource]="valueSet | apply:toResource"
    [version]="valueSetVersion | apply:toResourceVersion"
    mode="summary"></tw-resource-context>
<m-page [mLoading]="loader.state['load']">

  <m-form-row class="with-row-gap" mGap="1rem">
    <div *mFormCol style="display: flex; gap: 1rem; flex-direction: column">

      <!-- ValueSetVersion info -->
      <m-card>
        <m-title *m-card-header mTitle="web.value-set-version.summary.value-set-version">
          <m-button *ngIf="valueSetVersion?.status === 'draft'"
              mControls
              mDisplay="text"
              mShape="circle"
              [routerLink]="['/resources/value-sets', valueSet?.id, 'versions', valueSetVersion?.version, 'edit']">
            {{'web.value-set-version.summary.edit-version' | translate}}&nbsp;
            <m-icon mCode="form"></m-icon>
          </m-button>
        </m-title>
        <tw-value-set-version-info-widget [version]="valueSetVersion"></tw-value-set-version-info-widget>
      </m-card>

      <!-- RuleSet -->
      <m-card>
        <m-title *m-card-header mTitle="web.value-set-version.summary.rule-set">
          <m-button *ngIf="valueSetVersion?.status === 'draft'" mControls mDisplay="text" mShape="circle" (mClick)="addRule()">
            <m-icon mCode="plus"></m-icon>
          </m-button>
        </m-title>
        <tw-value-set-version-rule-set-widget [ruleSet]="valueSetVersion?.ruleSet"
            (ruleSelected)="rule = $event"
            clickable></tw-value-set-version-rule-set-widget>
      </m-card>
    </div>
    <div *mFormCol style="display: flex; gap: 1rem; flex-direction: column">

      <!-- Expansion -->
      <m-card>
        <div *m-card-header class="m-justify-between">
          <m-title mTitle="web.value-set-version.summary.expansion">
            <m-button mControls mDisplay="text" mShape="circle" [disabled]="loader.state['expand']" (mClick)="reloadExpansion()">
              <m-icon *ngIf="!loader.state['expand']" mCode="reload"></m-icon>
              <m-icon *ngIf="loader.state['expand']" mCode="loading"></m-icon>
            </m-button>
          </m-title>
        </div>
        <m-no-data *ngIf="!valueSetVersion?.snapshot"></m-no-data>

        <div *ngIf="valueSetVersion?.snapshot">
          <a [routerLink]="['/resources/value-sets', valueSet.id, 'versions', valueSetVersion.version, 'concepts']">Total
            concepts: {{valueSetVersion.snapshot.conceptsTotal}}</a>
          <div class="m-items-middle">
            <m-icon mCode="clock-circle"></m-icon>
            <span>{{valueSetVersion.snapshot.createdAt | localDate}}</span>
            <m-divider mVertical></m-divider>
            <m-icon mCode="user"></m-icon>
            <span>{{valueSetVersion.snapshot.createdBy || '-'}}</span>
          </div>
        </div>

      </m-card>

      <!-- Rule -->
      <m-card *ngIf="rule">
        <m-title *m-card-header mTitle="web.value-set-version.summary.rule">
          <div mControls>
            <m-button *ngIf="valueSetVersion?.status === 'draft' && (valueSet.id + '.ValueSet.edit' | twHasAnyPrivilege)"
                mDisplay="text"
                mShape="circle"
                (mClick)="saveRule()">
              <m-icon mCode="check"></m-icon>
            </m-button>
            <m-button *ngIf="valueSetVersion?.status === 'draft' && (valueSet.id + '.ValueSet.edit' | twHasAnyPrivilege)"
                mDisplay="text"
                mShape="circle"
                (mClick)="deleteRule()">
              <m-icon mCode="delete"></m-icon>
            </m-button>
          </div>
        </m-title>
        <tw-value-set-rule-form [rule]="rule.rule"
            [valueSet]="valueSet?.id"
            [valueSetVersion]="valueSetVersion?.version"
            [viewMode]="valueSetVersion?.status !== 'draft' || !(valueSet.id + '.ValueSet.edit' | twHasAnyPrivilege)"></tw-value-set-rule-form>
      </m-card>
    </div>
  </m-form-row>
</m-page>
