<tw-resource-context resourceType="CodeSystem" [resource]="codeSystem" [conceptCode]="concept?.code" [version]="codeSystemVersion" [versions]="codeSystemVersions" mode="concept-edit"></tw-resource-context>
<m-page [mLoading]="loader.isLoading">

  <div style="display: flex; gap: 1rem">
    <div style="display: flex; gap: 1rem; flex-direction: column; flex: 1">

      <!-- Concept info -->
      <m-card *ngIf="concept">
        <m-title *m-card-header [mTitle]="concept.code" class="m-bold"></m-title>
        <span>{{concept.description}}</span>
      </m-card>

      <!-- Concept Versions -->
      <m-card *ngIf="concept?.versions">
        <m-title *m-card-header mTitle="entities.code-system-concept.versions"></m-title>
        <m-list mSeparated [ngModel]="conceptVersion">
          <m-list-item *ngFor="let version of concept.versions" [mValue]="version" mClickable (mClick)="selectVersion(version)">
            <div class="m-items-middle">
              <span class="m-bold">{{version.created ? (version.created | localDate) : ('web.code-system-concept.form.version.new' | translate)}}</span>
              <m-divider mVertical></m-divider>
              <tw-status-tag [status]="version.status"></tw-status-tag>
            </div>
            <div>{{version.description | localName}}</div>
          </m-list-item>
        </m-list>
      </m-card>

      <!-- Related artifacts -->
      <m-card *ngIf="concept?.id">
        <m-title *m-card-header mTitle="web.code-system-concept.form.related-artifacts"></m-title>
        <tw-resource-related-artifact-widget resourceType="Concept" [resourceId]="concept.id | toString"></tw-resource-related-artifact-widget>
      </m-card>

    </div>
    <div style="display: flex; gap: 1rem; flex-direction: column; flex: 2">

      <!-- Version info -->
      <m-card *ngIf="conceptVersion">
        <div *m-card-header class="m-items-middle">
          <m-title [mTitle]="conceptVersion.created ? ('web.code-system-concept.form.version.header' | translate: {created: conceptVersion.created | localDateTime}) : 'web.code-system-concept.form.version.new'"></m-title>
          <m-divider mVertical></m-divider>
          <tw-status-tag [status]="conceptVersion.status"></tw-status-tag>
        </div>
        <span>{{conceptVersion.description}}</span>

        <!-- Designations -->
        <m-divider></m-divider>
        <m-card class="m-card-inside">
          <m-title *m-card-header mTitle="entities.code-system-entity-version.designations"></m-title>
          <tw-code-system-designation-edit class="padded"
              [properties]="codeSystem?.properties"
              [designations]="conceptVersion?.designations"
              [supportedLangs]="codeSystemVersion?.supportedLanguages || []"
              viewMode></tw-code-system-designation-edit>
        </m-card>

        <!-- Property values -->
        <m-divider></m-divider>
        <m-card class="m-card-inside">
          <m-title *m-card-header mTitle="entities.code-system-entity-version.property-values"></m-title>
          <tw-code-system-property-value-edit class="padded"
              [codeSystemId]="codeSystem?.id"
              [properties]="codeSystem?.properties"
              [propertyValues]="conceptVersion?.propertyValues"
              viewMode></tw-code-system-property-value-edit>
        </m-card>

        <!-- Associations -->
        <m-divider></m-divider>
        <m-card class="m-card-inside">
          <m-title *m-card-header mTitle="entities.code-system-entity-version.associations"></m-title>
          <tw-code-system-association-edit class="padded"
              [codeSystemId]="codeSystemId"
              [associations]="conceptVersion?.associations"
              viewMode></tw-code-system-association-edit>
        </m-card>
      </m-card>
    </div>
  </div>
</m-page>
