<m-form-row>
  <div *mFormCol>
    <m-spinner [mLoading]="isLoading">
      <m-card [mTitle]="mode === 'edit'? 'web.map-set-association.form.edit-header' : 'web.map-set-association.form.add-header'" [mShowSkeleton]="loading['init']">
        <form #form="ngForm" *ngIf="association">
          <m-form-item mName="sourceCodeSystem" mLabel="web.map-set-association.form.source-system" required>
            <tw-code-system-search
                [(ngModel)]="sourceCodeSystem"
                name="sourceCodeSystem"
                valuePrimitive
                required
            ></tw-code-system-search>
          </m-form-item>
          <m-form-item *ngIf="sourceCodeSystem" mName="sourceConcept" mLabel="web.map-set-association.form.source-concept" required>
            <tw-code-system-entity-version-search
                [codeSystem]="sourceCodeSystem"
                [(ngModel)]="association.source"
                name="sourceConcept"
            ></tw-code-system-entity-version-search>
          </m-form-item>
          <m-form-item mName="targetCodeSystem" mLabel="web.map-set-association.form.target-system" required>
            <tw-code-system-search
                [(ngModel)]="targetCodeSystem"
                name="targetCodeSystem"
                valuePrimitive
                required
            ></tw-code-system-search>
          </m-form-item>
          <m-form-item *ngIf="targetCodeSystem" mName="targetConcept" mLabel="web.map-set-association.form.target-concept" required>
            <tw-code-system-entity-version-search
                [codeSystem]="targetCodeSystem"
                [(ngModel)]="association.target"
                name="targetConcept"
            ></tw-code-system-entity-version-search>
          </m-form-item>
          <m-form-item mName="associationType" mLabel="web.map-set-association.form.type" required>
            <tw-association-type-search
                [(ngModel)]="association.associationType"
                name="associationType"
                valuePrimitive
                required
            ></tw-association-type-search>
          </m-form-item>

          <m-form-item mName="associationStatus" mLabel="web.map-set-association.form.status" required>
            <tw-value-set-concept-select name="associationStatus"
                [(ngModel)]="association.status"
                valueSet="publication-status"
                required></tw-value-set-concept-select>
          </m-form-item>
        </form>

        <m-card class="m-card-inside" *ngIf="association">
          <div *m-card-header class="m-justify-between">
            <div class="m-card__title">{{'entities.map-set-entity.versions' | translate}}</div>
            <tw-add-button (click)="openModal()">
              {{'web.map-set-entity-version.table.add-version' | translate}}
            </tw-add-button>
          </div>

          <m-table [mData]="association.versions" mEnablePagination>
            <tr *mTableHead>
              <th>{{'entities.map-set-entity-version.id' | translate}}</th>
              <th>{{'entities.map-set-entity-version.created-at' | translate}}</th>
              <th>{{'entities.map-set-entity-version.description' | translate}}</th>
              <th>{{'entities.map-set-entity-version.status' | translate}}</th>
              <th class="tw-table-actions"></th>
            </tr>

            <ng-container *mTableRow="let entityVersion; let index = index">
              <tr>
                <td><a (click)="openModal(index)">{{entityVersion.id || 'edit'}}</a></td>
                <td>{{entityVersion.created | localDateTime}}</td>
                <td>
                  <m-abbreviate [mValue]="entityVersion.description" [mLength]="60"></m-abbreviate>
                </td>
                <td class="tw-table-min-width">
                  <tw-status-tag [status]="entityVersion.status"></tw-status-tag>
                </td>
                <td class="tw-table-actions">
                  <m-dropdown>
                    <a *m-dropdown-item (click)="entityVersion.status = 'active'">
                      {{'web.map-set-entity-version.table.activate' | translate}}
                    </a>
                    <a *m-dropdown-item (click)="entityVersion.status = 'retired'">
                      {{'web.map-set-entity-version.table.retire' | translate}}
                    </a>
                  </m-dropdown>
                </td>
              </tr>
            </ng-container>

            <tr *mTableNoData>
              <td colspan="5">
                <m-no-data></m-no-data>
              </td>
            </tr>
          </m-table>
        </m-card>

        <ng-container *m-card-footer>
          <m-button mDisplay="primary" (click)="save()" [mLoading]="loading['save']" [disabled]="loading['init'] || isLoading">
            {{'core.btn.save' | translate}}
          </m-button>
        </ng-container>
      </m-card>
    </m-spinner>
  </div>
</m-form-row>


<m-modal [(mVisible)]="entityVersionModalData.visible" (mClose)="closeModal()">
  <ng-container *m-modal-header>
    {{(entityVersionModalData.editIndex >= 0 ? 'web.map-set-entity-version.modal.edit-header' : 'web.map-set-entity-version.modal.add-header') | translate}}
  </ng-container>

  <ng-container *m-modal-content>
    <form #modalForm="ngForm" *ngIf="entityVersionModalData.entityVersion">
      <m-form-item mName="entityVersionDescription" mLabel="entities.map-set-entity-version.description" required>
        <m-textarea name="entityVersionDescription" [(ngModel)]="entityVersionModalData.entityVersion.description" autofocus required></m-textarea>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="closeModal()">{{'core.btn.close' | translate}}</m-button>
    <m-button mDisplay="primary" (click)="confirmModal()">{{'core.btn.save' | translate}}</m-button>
  </div>
</m-modal>
