<m-page mFull [mTitle]="spaceSelector" class="thesaurus">
  <ng-template #spaceSelector>
    <m-dropdown [mHideIfEmpty]="false">
      <m-button *m-dropdown-container mDisplay="text">
        <div class="m-items-middle">
          Spaces
          <m-icon mCode="down"></m-icon>
        </div>
      </m-button>

      <ng-container *ngFor="let space of spaces">
        <a *m-dropdown-item
            [class.m-bold]="space.id === preferences.spaceId"
            (mClick)="preferences.setSpace(space.id)"
        >
          {{space.names | localName: space.code}}
        </a>
      </ng-container>
    </m-dropdown>
  </ng-template>


  <div class="page__container">
    <div class="page__sidebar">
      <tw-collapse-panel resizable>
        <m-skeleton [mLoading]="!space">
          <tw-thesaurus-sidebar *ngIf="space" [path]="path" [space]="space " (viewRoot)="viewRoot()" (viewPage)="viewPage($event)"/>
        </m-skeleton>
      </tw-collapse-panel>
    </div>


    <div *ngIf="isOverviewSelected" class="page__wrapper">
      <tw-thesaurus-space-overview
          *ngIf="preferences.spaceId; else noSpace"
          [space]="space"
          (viewPage)="viewPage($event)"
      ></tw-thesaurus-space-overview>

      <ng-template #noSpace>
        <m-alert mType="error" mShowIcon class="tw-alert--no-line m-rounded" mTitle="Space not selected">
          Please select working space in the application header
        </m-alert>
      </ng-template>

    </div>

    <tw-thesaurus-page-details
        *ngIf="!isOverviewSelected"
        [slug]="slug"
        [page]="page"
        (viewPage)="viewPage($event)"
        (editPage)="editPage($event)"
        (viewRelation)="viewTarget($event)"
    ></tw-thesaurus-page-details>
  </div>
</m-page>

