<m-card>
  <div *m-card-header class="m-justify-between">
    <div class="m-card__title">{{'entities.code-system-entity-version.designations' | translate}}</div>
    <tw-add-button *ngIf="!viewMode" (click)="modalData.visible = true">
      {{'web.code-system-concept-version.designation.add-designation' | translate}}
    </tw-add-button>
  </div>

  <div *ngIf="!loading['languages']" class="tw-flex-container">
    <m-no-data *ngIf="!designationGroups?.length"/>

    <tw-code-system-designation-group-edit
        *ngFor="let group of designationGroups"
        [viewMode]="viewMode"
        [designationGroup]="group"
        [supportedLangs]="supportedLangs"
        [entityProperties]="entityProperties"
    ></tw-code-system-designation-group-edit>
  </div>
</m-card>


<m-modal [(mVisible)]="modalData.visible" (mClose)="newModal()">
  <ng-container *m-modal-header>
    {{'web.code-system-concept-version.designation.add-designation'| translate}}
  </ng-container>

  <ng-container *m-modal-content>
    <form #modalForm="ngForm">
      <m-form-item mName="designationType" mLabel="entities.designation.type" required>
        <m-select
            icon="search"
            name="designationType"
            [(ngModel)]="modalData.designation.designationTypeId"
            placeholder="marina.ui.inputs.search.placeholder"
            [loading]="loading['properties']"
            required
        >
          <m-option *ngFor="let prop of entityProperties" [mValue]="prop.id" [mLabel]="prop.name"></m-option>
        </m-select>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="newModal()">{{'core.btn.cancel' | translate}}</m-button>
    <m-button mDisplay="primary" (click)="confirmModal()">{{'core.btn.confirm' | translate}}</m-button>
  </div>
</m-modal>
