<m-form-row>
  <div *mFormCol>
    <m-spinner [mLoading]="isLoading">
      <m-card
          [mTitle]="'web.code-system-concept-version.property-value.' + (mode === 'edit' ? 'edit-property-value' : 'add-property-value')"
          [mShowSkeleton]="loading['init']"
      >
        <twa-code-system-property-value-form #propertyValueForm
            [propertyValue]="propertyValue"
            [codeSystemId]="codeSystemId"
        ></twa-code-system-property-value-form>

        <ng-container *m-card-footer>
          <m-button mDisplay="primary" [mLoading]="loading['save']" [disabled]="loading['init'] || isLoading" (click)="save()">
            {{'core.btn.save' | translate}}
          </m-button>
        </ng-container>
      </m-card>
    </m-spinner>
  </div>
</m-form-row>
