<form #form="ngForm" *ngIf="propertyValue">
  <m-form-item mName="propertyProperty" mLabel="entities.entity-property.name" required>
    <m-select
        name="propertyProperty"
        [(ngModel)]="propertyValue.entityPropertyId"
        (mChange)="codingSystemId = null;propertyValue.value = null;"
        placeholder="marina.ui.inputs.search.placeholder"
        icon="search"
        [loading]="loading"
        required
    >
      <m-option *ngFor="let prop of entityProperties.data" [value]="prop.id" [label]="prop.name"></m-option>
    </m-select>
  </m-form-item>

  <m-form-item *ngIf="checkPropertyType('Coding')"  mName="propertyValueCodeSystem" mLabel="web.code-system-concept-version.property-value.coding-value-system" required>
    <twl-code-system-search name="propertyValueCodeSystem" [(ngModel)]="codingSystemId" valuePrimitive required></twl-code-system-search>
  </m-form-item>

  <m-form-item *ngIf="propertyValue.entityPropertyId" mName="propertyValue" mLabel="entities.entity-property.value" required>
    <m-input *ngIf="checkPropertyType('string')" name="propertyValue" [(ngModel)]="propertyValue.value" required></m-input>
    <m-checkbox *ngIf="checkPropertyType('boolean')" name="propertyValue" [(ngModel)]="propertyValue.value" required></m-checkbox>
    <m-date-picker *ngIf="checkPropertyType('dateTime')" name="propertyValue" [(ngModel)]="propertyValue.value" required></m-date-picker>
    <m-number-input *ngIf="checkPropertyType('decimal,integer')" name="propertyValue" [(ngModel)]="propertyValue.value" required></m-number-input>
    <twl-concept-search *ngIf="checkPropertyType('code,Coding')" name="propertyValue" [(ngModel)]="propertyValue.value" [codeSystem]="codingSystemId || codeSystemId" required></twl-concept-search>
  </m-form-item>
</form>
