<nz-tabset nzLinkRouter>
  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['.']" [replaceUrl]="true" class="m-items-middle">
      {{'web.code-system.tabs.code-system' | translate}}
    </a>
    <m-card [mTitle]="'web.code-system.form.view-header'" [mShowSkeleton]="loading">
      <div *ngIf="codeSystem">
        <m-form-item mLabel="entities.code-system.id">
          {{codeSystem.id}}
        </m-form-item>

        <m-form-item mLabel="entities.code-system.name">
          <div *ngFor="let language of codeSystem.names | keys">
            {{language}} - {{codeSystem.names[language]}}
          </div>
        </m-form-item>

        <m-form-item mLabel="entities.code-system.uri" class="m-items-middle">
          {{codeSystem.uri}}
          <a *ngIf="codeSystem.uri | validateUrl" [href]="codeSystem.uri" target="_blank">
            <m-button mSize="small">
              <m-icon mCode="eye"></m-icon>
            </m-button>
          </a>
        </m-form-item>

        <m-form-item mLabel="entities.code-system.content">
          {{codeSystem.content}}
        </m-form-item>

        <m-form-item mLabel="entities.code-system.case-sensitivity">
          {{codeSystem.caseSensitive}}
        </m-form-item>

        <m-form-item mLabel="entities.code-system.description">
          {{codeSystem.description}}
        </m-form-item>

        <tw-code-system-versions-list [codeSystemId]="codeSystem.id" [versions]="codeSystem.versions" viewMode></tw-code-system-versions-list>
        <tw-cs-properties [codeSystemId]="codeSystem.id" viewMode></tw-cs-properties>
        <tw-resource-contacts [(contacts)]="codeSystem.contacts" viewMode></tw-resource-contacts>
      </div>
    </m-card>
  </nz-tab>

  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['.']" [replaceUrl]="true" [queryParams]="{ tab: 'narrative' }">
      {{'web.code-system.tabs.narrative' | translate}}
    </a>
    <ng-template nz-tab>
      <m-card>
        <m-form-item mName="narrative" [mLabel]="narrativeHeader">
          <ng-template #narrativeHeader>
            <div class="m-justify-between">
              <div class="m-card__title">{{'entities.code-system.narrative' | translate}}</div>
              <m-button (click)="narrativeRaw = !narrativeRaw" mSize="small" mDisplay="link" mShape="circle">
                <m-icon [mCode]="narrativeRaw ? 'check-square' : 'form'"></m-icon>
              </m-button>
            </div>
          </ng-template>
          <m-quill *ngIf="!narrativeRaw" [(ngModel)]="codeSystem.narrative" name="narrative" mViewMode></m-quill>
          <div *ngIf="narrativeRaw">{{codeSystem.narrative}}</div>
        </m-form-item>
      </m-card>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['.']" [replaceUrl]="true" [queryParams]="{ tab: 'concepts' }">
      {{'entities.code-system.concepts' | translate}}
    </a>
    <m-card *ngIf="codeSystem">
      <tw-code-system-concepts-list
          [codeSystemId]="codeSystemId"
          [codeSystemVersions]="codeSystem.versions"
          [properties]="codeSystem.properties"
          viewMode
      ></tw-code-system-concepts-list>
    </m-card>
  </nz-tab>
</nz-tabset>

