<m-spinner [mLoading]="loader.state['save']">
  <form nz-row [nzGutter]="12" #form="ngForm" *ngIf="codeSystem">
    <div nz-col [nzMd]="18" [nzXs]="24" style="margin-bottom: 1rem">
      <m-card [mTitle]="viewMode ? 'web.code-system.form.details-header' : 'web.code-system.form.' + mode + '-header'" [mShowSkeleton]="loader.isLoading" class="tw-card__sticky-footer">
        <div *mCardContent="!loader.isLoading">
          <fieldset style="border: 0; margin: 0; padding: 0" [disabled]="viewMode">
            <tw-resource-form resourceType="CodeSystem" [resource]="codeSystem" [mode]="mode" [viewMode]="viewMode"></tw-resource-form>

            <m-form-row>
              <m-form-item *mFormCol mName="content" mLabel="entities.code-system.content" [required]="!viewMode">
                <tw-value-set-concept-select *ngIf="!viewMode" name="content" [(ngModel)]="codeSystem.content" valueSet="codesystem-content-mode" [required]="!viewMode"/>
                <tw-resource-readonly-concept *ngIf="viewMode" [value]="codeSystem.content" valueSet="codesystem-content-mode"></tw-resource-readonly-concept>
              </m-form-item>
              <div *mFormCol>
                <m-form-item *ngIf="codeSystem.content === 'supplement'" mName="baseCodeSystem" mLabel="entities.code-system.base-code-system">
                  <tw-code-system-search [disabled]="viewMode" name="baseCodeSystem" [(ngModel)]="codeSystem.baseCodeSystem" valuePrimitive/>
                </m-form-item>
              </div>
            </m-form-row>

            <m-form-row>
              <m-form-item *mFormCol mName="caseSensitive" mLabel="entities.code-system.case-sensitivity" [required]="!viewMode">
                <m-radio-group *ngIf="!viewMode" name="caseSensitive" [(ngModel)]="codeSystem.caseSensitive" [required]="!viewMode">
                  <label m-radio-button [mValue]="'ci'">{{'web.case-sensitive.options.ci' | translate}}</label>
                  <label m-radio-button [mValue]="'cs'">{{'web.case-sensitive.options.cs' | translate}}</label>
                </m-radio-group>
                <span *ngIf="viewMode">{{('web.case-sensitive.options.' + codeSystem.caseSensitive) | translate}}</span>
              </m-form-item>
              <div *mFormCol></div>
            </m-form-row>

            <m-form-row>
              <m-form-item *mFormCol mName="hierarchyMeaning" mLabel="entities.code-system.hierarchy-meaning">
                <tw-association-type-search *ngIf="!viewMode" name="hierarchyMeaning"
                    [(ngModel)]="codeSystem.hierarchyMeaning"
                    associationKind="codesystem-hierarchy-meaning"
                    valuePrimitive/>
                <span *ngIf="viewMode">{{codeSystem.hierarchyMeaning}}</span>
              </m-form-item>
              <m-form-item *mFormCol mName="sequence" mLabel="entities.code-system.sequence">
                <tw-sequence-select *ngIf="!viewMode" name="sequence" [(ngModel)]="codeSystem.sequence"/>
                <span *ngIf="viewMode">{{codeSystem.sequence}}</span>
              </m-form-item>
            </m-form-row>
            <m-form-row *ngIf="codeSystem.hierarchyMeaning">
              <m-form-item *mFormCol mName="hierarchyGrouping" mLabel="entities.code-system.disable-hierarchy-grouping">
                <m-checkbox name="hierarchyGrouping" [(ngModel)]="codeSystem.settings.disableHierarchyGrouping" [readOnly]="viewMode"/>
              </m-form-item>
              <div *mFormCol></div>
            </m-form-row>


            <tw-resource-identifiers [identifiers]="codeSystem.identifiers" [viewMode]="viewMode"></tw-resource-identifiers>
            <tw-resource-configuration-attributes [attributes]="codeSystem.configurationAttributes" [viewMode]="viewMode"></tw-resource-configuration-attributes>
            <tw-cs-properties [properties]="codeSystem.properties" [codeSystemId]="codeSystem.id" [viewMode]="viewMode"></tw-cs-properties>
            <tw-resource-contacts [(contacts)]="codeSystem.contacts" [viewMode]="viewMode"></tw-resource-contacts>
            <tw-resource-version-form *ngIf="mode === 'add'"></tw-resource-version-form>
            <tw-cs-value-set [codeSystem]="codeSystem" [hasRelatedValueSet]="!!codeSystem.valueSet" [viewMode]="viewMode"></tw-cs-value-set>
          </fieldset>
        </div>

        <ng-container *ngIf="!viewMode">
          <m-button *m-card-footer mDisplay="primary" [mLoading]="loader.state['save']" [disabled]="loader.isLoading" (mClick)="save()">
            {{'core.btn.save' | translate}}
          </m-button>
        </ng-container>
      </m-card>
    </div>

    <div nz-col [nzMd]="6" [nzXs]="24">
      <m-card [mShowSkeleton]="loader.isLoading">
        <tw-resource-side-info [copyright]="codeSystem.copyright" [permissions]="codeSystem.permissions" [settings]="codeSystem.settings" [viewMode]="viewMode"/>
      </m-card>
    </div>
  </form>
</m-spinner>
