<m-modal [(mVisible)]="modalVisible" (mClose)="closed.emit()" [mMaskClosable]="false">
  <ng-container *m-modal-header>
    {{(pageId ? 'web.wiki-page.form.edit-header' : 'web.wiki-page.form.add-header') | translate}}
  </ng-container>

  <ng-container *m-modal-content>
    <form *ngIf="page">
      <m-form-item mName="name" mLabel="entities.page-content.name" required>
        <m-input name="name" [(ngModel)]="pageContent.name" autofocus required></m-input>
      </m-form-item>

      <m-form-item mName="template" mLabel="entities.page.template">
        <m-select name="template" [(ngModel)]="page.settings.templateId">
          <m-option *ngFor="let template of templates" mLabel="{{template.code}} - {{template.names | localName}}" [mValue]="template.id"></m-option>
        </m-select>
      </m-form-item>

      <m-form-item mName="lang" mLabel="entities.page-content.lang" required>
        <m-select name="lang" [(ngModel)]="pageContent.lang" required>
          <m-option *ngFor="let lang of muiConfig.config.supportedLangs | keys" [mLabel]="lang" [mValue]="lang"></m-option>
        </m-select>
      </m-form-item>

      <m-form-item mName="type" [mLabel]="contentTypeLabel" required>
        <ng-template #contentTypeLabel>
          <label>{{'entities.page-content.content-type' | translate}}</label>
          <m-icon mCode="exclamation-circle" style="margin-left: 0.5rem" m-tooltip mTitle="web.wiki-page.form.content-type-tooltip"></m-icon>
        </ng-template>

        <m-select name="type" [(ngModel)]="pageContent.contentType" required>
          <m-option mLabel="WYSIWYG" [mValue]="'html'"></m-option>
          <m-option mLabel="Markdown" [mValue]="'markdown'"></m-option>
        </m-select>
      </m-form-item>

      <m-form-item mName="status" mLabel="entities.page.status" required>
        <m-select name="status" [(ngModel)]="page.status" required>
          <m-option mLabel="draft" [mValue]="'draft'"></m-option>
          <m-option mLabel="active" [mValue]="'active'"></m-option>
        </m-select>
      </m-form-item>

      <m-form-item mName="tag" mLabel="entities.page.tags">
        <m-select name="tag" [(ngModel)]="pageTags" tags>
          <m-option *ngFor="let tag of tags" [mLabel]="tag.text" [mValue]="tag.text"></m-option>
        </m-select>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="closed.emit()">{{'core.btn.close' | translate}}</m-button>
    <m-button mDisplay="primary"
        [mLoading]="loader.state['save']"
        [disabled]="loader.state['init'] || isLoading"
        (click)="save()"
    >{{'core.btn.save' | translate}}</m-button>
  </div>
</m-modal>


