<div class="m-text-secondary">
  {{space?.names | localName: space?.code ?? '...'}}
</div>

<div class="m-items-top">
  <h1 class="m-bold" style="margin-top: 1rem">
    {{'web.wiki-page.overview.pages' | translate}}
  </h1>
  <span style="margin-top: 1rem">{{totalPages}}</span>
</div>


<m-skeleton *ngIf="space" [mLoading]="loader.state['recent']">
  <h3 style="margin-top: 2rem; margin-bottom: 1rem">
    {{'web.wiki-page.overview.recently-modified.header' | translate}}
  </h3>

  <div class="equal-columns">
    <ng-container *ngFor="let c of recentlyModified">
      <a class="m-card m-raised m-clickable initial" [routerLink]="c.slug | apply: viewPageRoute">
        <div class="m-card__header m-justify-between">
          <div class="m-bold">{{c.name}}</div>
          <div class="m-text-secondary m-text-small" style="text-transform: uppercase">{{c.lang}}</div>
        </div>

        <div class="m-card__content m-whitespace" style="overflow: hidden">{{c.content | abbreviate: 200}}</div>

        <div class="m-card__footer m-text-secondary m-text-small">
          <m-icon mCode="clock-circle"/>
          {{(c.modifiedAt ? 'web.wiki-page.overview.recently-modified.updated' : 'web.wiki-page.overview.recently-modified.created') | translate: ({date: (c.modifiedAt ?? c.createdAt) | localDateTime})}}
        </div>
      </a>
    </ng-container>
  </div>
</m-skeleton>
