@if (pageContent) {
  <div class="page__header m-justify-between m-items-middle">
    <div>
      <h2 class="m-items-middle">
        <span class="m-bold">{{pageContent?.name}}</span>
      </h2>
      @if (pageContent | apply: author; as author) {
        <div class="m-items-middle m-text-secondary">
          <div [innerHTML]="'web.wiki-page.header.modified' | translate: ({user: author.by, date: author.at | localDateTime})"></div>
          @if (viewHistory.observed) {
            <m-icon-button mIcon="history" (mClick)="viewHistory.emit()"/>
          }
        </div>
      }
    </div>
    <div class="m-items-middle">
      <ng-content></ng-content>
    </div>
  </div>
}
