
@if (!valueSet) {
  <m-no-data></m-no-data>
}

@if (valueSet; as vs) {
  <div>
    <div class="m-items-middle m-bold">
      <m-icon mCode="key"></m-icon>
      <tw-copy-container [text]="vs.id">{{vs.id}}</tw-copy-container>
    </div>
    <span>{{vs.description | localName}}</span>
    @if ((vs | apply:getTelecoms); as telecoms) {
      <div class="m-items-middle">
        <m-icon mCode="contacts"></m-icon>
        <div>
          @for (t of telecoms | keyvalue; track t) {
            <div>
              {{t.key}}: {{t.value | map: 'value' | join: ', '}}
            </div>
          }
        </div>
      </div>
    }
    @if (vs.publisher) {
      <div class="m-items-middle">
        <m-icon mCode="environment"></m-icon>
        <span>{{vs.publisher | localizedConceptName:{codeSystem: 'publisher'} | async}}</span>
      </div>
    }
  </div>
}
