<m-no-data *ngIf="!(versions?.length > 0)"></m-no-data>

<m-list *ngIf="versions?.length > 0" mSeparated>
  <m-list-item *ngFor="let version of versions" mClickable (mClick)="openVersionSummary(version.version)">
    <div class="m-justify-between">
      <div class="m-items-middle">
        <span class="m-bold">{{version.version}}</span>
        <m-divider mVertical></m-divider>
        <span>{{(version.releaseDate | localDate) || '...'}} - {{(version.expirationDate | localDate) || '...'}}</span>
      </div>
      <tw-status-tag [status]="version.status"></tw-status-tag>
    </div>
    <div class="m-items-middle">
      <m-icon mCode="global"></m-icon>
      <ng-container *ngFor="let lang of version.supportedLanguages; let i = index">
        <span>{{lang}}</span>
        <m-divider mVertical *ngIf="i !== (version.supportedLanguages?.length - 1)"></m-divider>
      </ng-container>
    </div>
    <div *ngFor="let rule of version.ruleSet?.rules">
      <div class="m-items-middle">
        <m-icon *ngIf="rule.type === 'include'" mCode="plus-square" style="color:green"></m-icon>
        <m-icon *ngIf="rule.type === 'exclude'" mCode="minus-square" style="color: red"></m-icon>
        <span *ngIf="rule.codeSystem" class="m-items-middle">CS: {{rule.codeSystem}} <m-divider mVertical></m-divider> {{rule.codeSystemVersion?.version}}</span>
        <span *ngIf="rule.valueSet" class="m-items-middle">VS: {{rule.valueSet}} <m-divider mVertical></m-divider> {{rule.valueSetVersion?.version}}</span>
      </div>
      <div *ngIf="rule.concepts?.length > 0">(<span *ngFor="let c of rule.concepts">#{{c.concept.code}} </span>)</div>
    </div>
    <div>{{version.description | localName}}</div>
  </m-list-item>
</m-list>
