<div nz-row nzGutter="12">
  <div nz-col [nzMd]="6" [nzXs]="24">
    <m-card>
      <nz-divider nzOrientation="left" nzText="FHIR"></nz-divider>
      <nz-collapse nzGhost>
        <nz-collapse-panel nzHeader="CodeSystem">
          <m-button mDisplay="link" [routerLink]="'./fhir/$sync'" [queryParams]="{ source: 'CodeSystem'}">$sync</m-button>
        </nz-collapse-panel>
      </nz-collapse>

      <nz-collapse nzGhost>
        <nz-collapse-panel nzHeader="ValueSet">
          <m-button mDisplay="link" [routerLink]="'./fhir/$sync'" [queryParams]="{ source: 'ValueSet'}">$sync</m-button>
        </nz-collapse-panel>
      </nz-collapse>

      <nz-collapse nzGhost>
        <nz-collapse-panel nzHeader="ConceptMap">
          <m-button mDisplay="link" [routerLink]="'./fhir/$sync'" [queryParams]="{ source: 'ConceptMap'}">$sync</m-button>
        </nz-collapse-panel>
      </nz-collapse>

      <nz-divider nzOrientation="left" nzText="ATC"></nz-divider>
      <nz-divider nzOrientation="left" nzText="ICD-10"></nz-divider>
    </m-card>
  </div>
  <div nz-col [nzMd]="18" [nzXs]="24">
    <router-outlet></router-outlet>
  </div>
</div>
