<div nz-row nzGutter="12" class="m-row">
  <div nz-col [nzMd]="6" [nzXs]="24">
    <m-card>
      <m-divider [mText]="'web.integration.systems.fhir' | translate" *twaPrivileged="['*.CodeSystem.view', '*.ValueSet.view', '*.MapSet.view']"></m-divider>
      <nz-collapse nzGhost *twaPrivileged="'*.CodeSystem.view'">
        <nz-collapse-panel nzHeader="CodeSystem">
          <div style="display: grid">
            <m-button mDisplay="link" [routerLink]="'./fhir/$sync'" *twaPrivileged="'*.CodeSystem.edit'" [queryParams]="{ source: 'CodeSystem'}">$sync</m-button>
            <m-button mDisplay="link" [routerLink]="'./fhir/CodeSystem/$lookup'">$lookup</m-button>
            <m-button mDisplay="link" [routerLink]="'./fhir/CodeSystem/$validate-code'">$validate-code</m-button>
            <m-button mDisplay="link" [routerLink]="'./fhir/CodeSystem/$subsumes'">$subsumes</m-button>
            <m-button mDisplay="link" [routerLink]="'./fhir/CodeSystem/$find-matches'">$find-matches</m-button>
          </div>
        </nz-collapse-panel>
      </nz-collapse>

      <nz-collapse nzGhost *twaPrivileged="'*.ValueSet.view'">
        <nz-collapse-panel nzHeader="ValueSet">
          <div style="display: grid">
            <m-button mDisplay="link" [routerLink]="'./fhir/$sync'" *twaPrivileged="'*.ValueSet.edit'" [queryParams]="{ source: 'ValueSet'}">$sync</m-button>
            <m-button mDisplay="link" [routerLink]="'./fhir/ValueSet/$expand'">$expand</m-button>
            <m-button mDisplay="link" [routerLink]="'./fhir/ValueSet/$validate-code'">$validate-code</m-button>
          </div>
        </nz-collapse-panel>
      </nz-collapse>

      <nz-collapse nzGhost *twaPrivileged="'*.MapSet.view'">
        <nz-collapse-panel nzHeader="ConceptMap">
          <div style="display: grid">
            <m-button mDisplay="link" [routerLink]="'./fhir/$sync'" *twaPrivileged="'*.MapSet.edit'" [queryParams]="{ source: 'ConceptMap'}">$sync</m-button>
            <m-button mDisplay="link" [routerLink]="'./fhir/ConceptMap/$translate'">$translate</m-button>
            <m-button mDisplay="link" [routerLink]="'./fhir/ConceptMap/$closure'">$closure</m-button>
          </div>
        </nz-collapse-panel>
      </nz-collapse>

      <m-divider [mText]="'web.integration.systems.atc' | translate" *twaPrivileged="'*.CodeSystem.edit'"></m-divider>
      <div style="display: grid" *twaPrivileged="'*.CodeSystem.edit'">
        <m-button mDisplay="link" [routerLink]="'./atc/import'" [queryParams]="{edition: 'int'}">
          {{'web.integration.import.atc' | translate: ({edition: 'int'})}}
        </m-button>
        <m-button mDisplay="link" [routerLink]="'./atc/import'" [queryParams]="{edition: 'est'}">
          {{'web.integration.import.atc' | translate: ({edition: 'est'})}}
        </m-button>
      </div>
      <m-divider [mText]="'web.integration.systems.icd-10' | translate" *twaPrivileged="'*.CodeSystem.edit'"></m-divider>
      <div style="display: grid" *twaPrivileged="'*.CodeSystem.edit'">
        <m-button mDisplay="link" [routerLink]="'./icd-10/import'" [queryParams]="{edition: 'int'}">
          {{'web.integration.import.icd-10' | translate: ({edition: 'int'})}}
        </m-button>
        <m-button mDisplay="link" [routerLink]="'./icd-10/import'" [queryParams]="{edition: 'est'}">
          {{'web.integration.import.icd-10' | translate: ({edition: 'est'})}}</m-button>
      </div>

      <m-divider [mText]="'web.integration.systems.ichi' | translate" *twaPrivileged="'*.CodeSystem.edit'"></m-divider>
      <div style="display: grid" *twaPrivileged="'*.CodeSystem.edit'">
        <m-button mDisplay="link" [routerLink]="'./ichi/import'">
          {{'web.integration.import.ichi' | translate: ({edition: 'uz'})}}
        </m-button>
      </div>

      <m-divider [mText]="'web.integration.systems.orphanet' | translate" *twaPrivileged="'*.CodeSystem.edit'"></m-divider>
      <div style="display: grid" *twaPrivileged="'*.CodeSystem.edit'">
        <m-button mDisplay="link" [routerLink]="'./orphanet/import'">{{'web.integration.import.orphanet' | translate}}</m-button>
      </div>

      <m-divider [mText]="'web.integration.file-import.file-import' | translate" *twaPrivileged="['*.CodeSystem.edit', '*.MapSet.edit']"></m-divider>
      <div style="display: grid" *twaPrivileged="['*.CodeSystem.edit', '*.MapSet.edit']">
        <m-button mDisplay="link" [routerLink]="'./file-import/code-system'" *twaPrivileged="'*.CodeSystem.edit'">{{'web.integration.file-import.code-system.import' | translate}}</m-button>
        <m-button mDisplay="link" [routerLink]="'./file-import/concept-map'" *twaPrivileged="'*.MapSet.edit'">{{'web.integration.file-import.concept-map.import' | translate}}</m-button>
      </div>
    </m-card>
  </div>
  <div nz-col [nzMd]="18" [nzXs]="24">
    <router-outlet></router-outlet>
  </div>
</div>
