<m-card>
  <nz-tabset nzLinkRouter>
    <nz-tab *ngIf="!ecl">
      <a *nzTabLink nz-tab-link [routerLink]="['.']" class="m-items-middle">
        {{'web.snomed.search.taxonomy' | translate}}
      </a>
      <ng-template nz-tab>
        <m-spinner [mLoading]="loading['taxonomy']">
          <m-input name="searchText" [(ngModel)]="searchText" (ngModelChange)="searchUpdate.next($event)" style="display: block; margin-bottom: 1em"/>

          <nz-breadcrumb style="margin-block: 1rem">
            <nz-breadcrumb-item *ngFor="let parent of parents; let index = index">
              <a (click)="loadTaxonomyTree(parent.conceptId);selectConcept(parent.conceptId, index)">{{parent | snomedConceptName | async}}</a>
            </nz-breadcrumb-item>
          </nz-breadcrumb>

          <div style="display: grid">
            <div *ngFor="let child of children" class="m-items-middle">
              <m-icon *ngIf="!child.isLeafInferred" (click)="loadTaxonomyTree(child.conceptId)" mCode="down"></m-icon>
              <a (click)="selectConcept(child.conceptId)" class="m-items-middle" [style]="conceptId === child.conceptId ? 'font-weight:bold': ''">
                <m-icon *ngIf="child.isLeafInferred" mCode="minus"></m-icon>
                <label>{{child['term'] || (child | snomedConceptName | async)}}</label>
                <label *ngIf="child['term']" style="color: grey">{{child | snomedConceptName: 'fsn' | async}}</label>
              </a>
            </div>
          </div>
        </m-spinner>
      </ng-template>
    </nz-tab>


    <nz-tab *ngIf="!ecl">
      <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'refset' }">
        {{'web.snomed.search.refsets' | translate}}
      </a>
      <ng-template nz-tab>
        <div class="m-items-middle" style="margin-bottom: 1rem">
          <m-select style="flex: 1" name="refSet" [(ngModel)]="refsetParams.referenceSet" (ngModelChange)="loadRefsetConcepts()" [disabled]="loading['refsets']">
            <m-option *ngFor="let refSet of refsets" [mLabel]="refSet | snomedConceptName | async" [mValue]="refSet.id"/>
          </m-select>
          <a *ngIf="refsetParams.referenceSet && !loading['csv-export']" (mClick)="exportConceptCsv('refset')">
            CSV
            <m-icon mCode="download"/>
          </a>
          <m-icon *ngIf="loading['csv-export']" mCode="loading"/>
        </div>

        <m-backend-table [mResult]="refsetConcepts" [(mQuery)]="refsetParams" (mQueryChange)="loadRefsetConcepts()" [mLoading]="loading['refsets'] || loading['refset-concepts']">
          <tr *mTableHead>
            <th>{{'entities.snomed-concept.term' | translate}}</th>
          </tr>
          <tr *mTableRow="let concept">
            <td>
              <div class="m-items-middle">
                <a (click)="conceptSelected.emit(concept.conceptId)">{{concept.conceptId}}</a>
                <label>{{concept.term || (concept | snomedConceptName | async)}}</label>
              </div>
          </tr>
          <tr *mTableNoData>
            <td colspan="100%">
              <m-no-data/>
            </td>
          </tr>
        </m-backend-table>
      </ng-template>
    </nz-tab>


    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'ecl' }">
        {{'web.snomed.search.ecl' | translate}}
      </a>
      <ng-template nz-tab>
        <div class="m-items-middle" style="margin-bottom: 1rem">
          <m-textarea name="ecl"
              [(ngModel)]="eclParams.ecl"
              (keydown.enter)="loadEclConcepts()"
              [placeholder]="'web.snomed.search.ecl-placeholder'"
              style="flex: 1"></m-textarea>
          <a *ngIf="eclConcepts?.data.length > 0 && !loading['csv-export']" (mClick)="exportConceptCsv('ecl')">CSV
            <m-icon mCode="download"/>
          </a>
          <m-icon *ngIf="loading['csv-export']" mCode="loading"/>
        </div>

        <m-backend-table [mResult]="eclConcepts" [(mQuery)]="eclParams" (mQueryChange)="loadEclConcepts()" [mLoading]="loading['ecl-concepts']">
          <tr *mTableHead>
            <th>{{'entities.snomed-concept.term' | translate}}</th>
          </tr>
          <tr *mTableRow="let concept">
            <td><a (click)="conceptSelected.emit(concept.conceptId)">{{concept | snomedConceptName | async}}</a></td>
          </tr>
          <tr *mTableNoData>
            <td colspan="100%">
              <m-no-data/>
            </td>
          </tr>
        </m-backend-table>
      </ng-template>
    </nz-tab>
  </nz-tabset>
</m-card>
