<div class="m-justify-between">
  <a class="drawer-search-input" [class.uw-text-disabled]="disabled" [class.cursor-not-allowed]="disabled" (click)="openDrawer()">
    @if (valueDefined) {
      {{value | apply: valueDisplay | async}}
    }
    @if (!valueDefined) {
      {{'core.btn.select' | translate}}
    }
  </a>
</div>


@if (drawerOpened) {
  <m-drawer [mVisible]="drawerOpened" (mClose)="closeDrawer()">
    <tw-snomed-search (conceptSelected)="onSelect($event)" [conceptId]="value" [branch]="branch"></tw-snomed-search>
  </m-drawer>
}

