<m-drawer [mVisible]="drawerOpened" (mClose)="closeDrawer()">
  @if (drawerOpened && !targetConcept) {
    <m-card mDisplay="flat">
      <div *m-card-header class="m-justify-between">
        <m-title>{{'web.map-set-version.summary.associations.target-concepts' | translate}}</m-title>
        <m-input name="searchInput" [(ngModel)]="searchInput" twDebounce [debounced]="onSearch" placeholder="marina.ui.inputs.search.placeholder"></m-input>
      </div>
      <m-spinner *m-card-content [mLoading]="!!loading">
        <m-backend-table [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="loadData()" [mLoading]="loading">
          <tr *mTableHead>
            <th>{{'web.map-set-version.summary.associations.code' | translate}}</th>
            <th>{{'web.map-set-version.summary.associations.display' | translate}}</th>
          </tr>
          <tr *mTableRow="let c">
            <td>
              <tw-code-system-coding-reference
                [property]="targetConceptProperty"
                [value]="c | apply:targetConceptValue">
              </tw-code-system-coding-reference>
            </td>
            <td><a (mClick)="targetConcept = c">{{c.display.name}}</a></td>
          </tr>
          <tr *mTableNoData>
            <td colspan="100%">
              <m-no-data></m-no-data>
            </td>
          </tr>
        </m-backend-table>
      </m-spinner>
    </m-card>
  }

  @if (sourceConcept && targetConcept) {
    <m-card mDisplay="flat">
      <m-title *m-card-header>{{'web.map-set-version.summary.associations.target-mapping' | translate}}</m-title>
      <m-spinner *m-card-content [mLoading]="!!loading">
        <form #form="ngForm">
          <m-form-row>
            <m-form-item *mFormCol mLabel="web.map-set-version.summary.associations.source-cs">{{sourceConcept.codeSystem || '-'}}</m-form-item>
            <m-form-item *mFormCol mLabel="web.map-set-version.summary.associations.source-code">{{sourceConcept.code}}</m-form-item>
            <m-form-item *mFormCol mLabel="web.map-set-version.summary.associations.source-display">{{sourceConcept.display?.name}}</m-form-item>
          </m-form-row>
          <m-form-row>
            <m-icon *mFormCol mCode="arrow-down"></m-icon>
            <m-icon *mFormCol mCode="arrow-down"></m-icon>
            <m-icon *mFormCol mCode="arrow-down"></m-icon>
          </m-form-row>
          @if (!targetExternal) {
            <m-form-row>
              <m-form-item *mFormCol mLabel="web.map-set-version.summary.associations.target-cs">{{targetConcept.codeSystem || '-'}}</m-form-item>
              <m-form-item *mFormCol mLabel="web.map-set-version.summary.associations.target-code">{{targetConcept.code}}</m-form-item>
              <m-form-item *mFormCol mLabel="web.map-set-version.summary.associations.target-display">{{targetConcept.display?.name}}</m-form-item>
            </m-form-row>
          }
          @if (targetExternal) {
            <m-form-row>
              <m-form-item *mFormCol mLabel="web.map-set-version.summary.associations.target-cs">{{targetConcept.codeSystem || '-'}}</m-form-item>
              <m-form-item *mFormCol mLabel="web.map-set-version.summary.associations.target-code" mName="targetCode" required>
                <m-input [(ngModel)]="targetConcept.code" name="targetCode" required></m-input>
              </m-form-item>
              <m-form-item *mFormCol mLabel="web.map-set-version.summary.associations.target-display" mName="targetDisplay">
                <m-input [(ngModel)]="targetConcept.display.name" name="targetDisplay"></m-input>
              </m-form-item>
            </m-form-row>
          }
          <m-form-row>
            <m-form-item mLabel="web.map-set-version.summary.associations.relationship" required>
              <m-radio-group name="sourceImportMode" [(ngModel)]="relationship" required>
                <div style="display: flex; flex-direction: column; gap: 0.5rem">
                  @for (t of associationTypes; track t) {
                    <div m-radio [mValue]="t.code">{{t.forwardName}}</div>
                  }
                </div>
              </m-radio-group>
            </m-form-item>
          </m-form-row>
          <m-form-row>
            <div class="m-justify-between">
              <label class="m-bold">{{'web.map-set-version.summary.associations.properties' | translate}}</label>
              <m-dropdown>
                <tw-add-button *m-dropdown-container>
                  {{'web.map-set-version.summary.associations.add-property-value' | translate}}
                </tw-add-button>
                @for (prop of mapSet?.properties; track prop) {
                  <a *m-dropdown-item (mClick)="addPropertyValue(prop)">{{prop.name}}</a>
                }
              </m-dropdown>
            </div>
            <tw-map-set-property-values [propertyValues]="propertyValues" [properties]="mapSet?.properties"></tw-map-set-property-values>
          </m-form-row>
        </form>
      </m-spinner>
      <ng-container *m-card-footer>
        <m-button mLabel="core.btn.save" (mClick)="save()"></m-button>
      </ng-container>
    </m-card>
  }
</m-drawer>
