<m-card class="m-card-inside">
  <div *m-card-header>
    <div class="m-card__title">{{'entities.value-set-version.concepts' | translate}}</div>
  </div>

  <form #form="ngForm" *ngIf="concepts">
    <m-editable-table #rowsTable [mData]="concepts" [mRowInstance]="rowInstance" [mEditAllowed]="!viewMode && ('*.ValueSet.edit' | twHasAnyPrivilege)">
      <m-editable-column mTitle="entities.value-set-version-concept.order-number" mName="order-number">
        <ng-template #viewTemplate let-c>{{c.orderNumber}}</ng-template>
        <ng-template #editTemplate let-c let-ngModelName="ngModelName">
          <m-number-input [name]="ngModelName" [(ngModel)]="c.orderNumber"></m-number-input>
        </ng-template>
      </m-editable-column>

      <m-editable-column mTitle="entities.value-set-version-concept.concept" mName="concept">
        <ng-template #viewTemplate let-c>{{c.concept.code}}</ng-template>
        <ng-template #editTemplate let-c let-ngModelName="ngModelName">
          <m-input [name]="ngModelName" [(ngModel)]="c.concept.code" required></m-input>
        </ng-template>
      </m-editable-column>

      <m-editable-column mTitle="entities.value-set-version-concept.display" mName="display">
        <ng-template #viewTemplate let-c>{{c.display.name}}</ng-template>
        <ng-template #editTemplate let-c let-ngModelName="ngModelName">
          <m-input [name]="ngModelName" [(ngModel)]="c.display.name"></m-input>
        </ng-template>
      </m-editable-column>

      <m-editable-column mTitle="entities.value-set-version-concept.additional-designations" mName="additional-designations">
        <ng-template #viewTemplate let-c>
          <div style="display: grid"><label *ngFor="let d of c.additionalDesignations">{{d.language}} | {{d.name}}</label></div>
        </ng-template>
        <ng-template #editTemplate let-c let-ngModelName="ngModelName">
          <div *ngFor="let d of c.additionalDesignations; let i = index" class="m-items-middle" style="margin-bottom: 0.5rem">
            <tw-value-set-concept-select [name]="ngModelName + '-lang' + i" [(ngModel)]="d.language" valueSet="languages"></tw-value-set-concept-select>
            <m-input [name]="ngModelName + '-name' + i" [(ngModel)]="d.name"></m-input>
            <m-icon (click)="deleteDesignation(c, i)" mCode="delete"></m-icon>
          </div>
          <tw-add-button (click)="addDesignation(c)">Add designation</tw-add-button>
        </ng-template>
      </m-editable-column>
    </m-editable-table>
  </form>
</m-card>
