<m-modal [(mVisible)]="modalVisible" (mClose)="toggleModal()" mClosable>
  <ng-container *m-modal-header>
    {{'web.value-set-version.form.concepts.modal.header' | translate}}
  </ng-container>

  <ng-container *m-modal-content>
    <m-table [mData]="concepts">
      <tr *mTableHead>
        <th></th>
        <th>{{'entities.value-set-version-concept.concept' | translate}}</th>
        <th>{{'entities.value-set-version-concept.display' | translate}}</th>
        <th>{{'entities.value-set-version-concept.additional-designations' | translate}}</th>
      </tr>

      <ng-container *mTableRow="let item; let i = index">
        <ng-container>
          <tr *ngFor="let ad of item.additionalDesignations; let isFirst = first">
            <td *ngIf="isFirst" [rowSpan]="item.additionalDesignations?.length">
              <m-icon *ngIf="!item.id && !item.active"
                  mCode="warning"
                  m-popover
                  mContent="{{'web.value-set-version.form.concepts.modal.warning' | translate}}"></m-icon>
            </td>
            <td *ngIf="isFirst" [rowSpan]="item.additionalDesignations?.length">
              {{item.concept?.code}}
            </td>
            <td *ngIf="isFirst" [rowSpan]="item.additionalDesignations?.length">
              {{item.display?.name ? item.display.name : (item.concept.code | localizedConceptName : {codeSystem: item.concept?.codeSystem} | async)}}
            </td>
            <td>{{ad.language}} | {{ad.name}}</td>
          </tr>
        </ng-container>

        <tr *ngIf="!(item.additionalDesignations?.length > 0)">
          <td>
            <m-icon *ngIf="!item.id && !item.active"
                mCode="warning"
                m-popover
                mContent="{{'web.value-set-version.form.concepts.modal.warning' | translate}}"></m-icon>
          </td>
          <td>
            {{item.concept?.code}}
          </td>
          <td>
            {{item.display?.name ? item.display.name : (item.concept.code | localizedConceptName : {codeSystem: item.concept?.codeSystem} | async)}}
          </td>
          <td></td>
        </tr>
      </ng-container>

      <tr *mTableNoData>
        <td colspan="4">
          <m-no-data></m-no-data>
        </td>
      </tr>
    </m-table>

  </ng-container>
</m-modal>
