<div class="tw-flex-container">
  <div *ngIf="designations?.length">
    <ng-container *ngIf="designations | apply: collectDesignations as groups">
      <ng-container *ngFor="let dType of groups | keys">
        <div class="m-subtitle">{{dType}}</div>

        <div class="col">
          <ng-container *ngFor="let d of groups[dType] | sort: 'language'; let i = index">
            <div *ngIf="viewMode" class="m-justify-between offset">
              <span><span class="italic">{{d.language}}</span> | {{d.name}}</span>
              <div class="m-items-middle">
                <label>{{d.caseSignificance}}</label>
                <m-icon [mOptions]="{nzTheme : d.preferred ? 'fill' : 'outline'}" [mCode]="'star'"/>
                <span class="tw-circled" [style.color]="d.status === 'draft' ? 'var(--color-amber-7)' : 'initial'">{{d.status?.[0] | uppercase}}</span>
              </div>
            </div>
            <div *ngIf="!viewMode" class="m-items-middle">
              <nz-input-group [nzAddOnBefore]="d.language">
                <input type="text" nz-input [(ngModel)]="d.name" name="{{i}}-name"/>
              </nz-input-group>
              <m-button (mClick)="d.preferred = !d.preferred">
                <m-icon [mOptions]="{nzTheme : d.preferred ? 'fill' : 'outline'}" [mCode]="'star'"></m-icon>
              </m-button>
              <tw-value-set-concept-select name="{{i}}-status" [(ngModel)]="d.status" valueSet="publication-status"></tw-value-set-concept-select>
              <m-select name="{{i}}-caseSignificance" [(ngModel)]="d.caseSignificance">
                <m-option mLabel="web.case-sensitive-options.ci" mValue="ci"></m-option>
                <m-option mLabel="web.case-sensitive-options.cs" mValue="cs"></m-option>
                <m-option mLabel="web.case-sensitive-options.ics" mValue="ics"></m-option>
              </m-select>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
