<div class="m-justify-between">
  <a class="drawer-search-input" [class.uw-text-disabled]="disabled" [class.cursor-not-allowed]="disabled" (click)="openDrawer()">
    @if (valueDefined) {
      {{val | apply: valueDisplay}}
    }
    @if (!valueDefined) {
      {{'web.space.select-context' | translate}}
    }
  </a>
</div>

<m-drawer [mVisible]="drawerOpened" (mClose)="closeDrawer()">
  <m-card mDisplay="flat">
    <m-spinner *m-card-content [mLoading]="!!loading">
      @if (val) {
        <form #form="ngForm">
          <m-form-row>
            <div *m-form-col>
              <m-form-item mName="space" mLabel="entities.space.singular">
                <tw-space-select name="space" [(ngModel)]="val.space" (ngModelChange)="loadPackages($event?.id)"></tw-space-select>
              </m-form-item>
              <m-form-item mName="package" mLabel="entities.package.singular">
                <m-select name="package"
                  [(ngModel)]="val.package"
                  [disabled]="!packages"
                  (ngModelChange)="loadVersions(val.space?.id, $event?.id)"
                  compareWith="id"
                  autoSelect>
                  @for (pack of packages; track pack) {
                    <m-option [mLabel]="pack.code" [mValue]="pack"></m-option>
                  }
                </m-select>
              </m-form-item>
              <m-form-item mName="version" mLabel="entities.package.version.singular">
                <m-select name="version" [(ngModel)]="val.version" [disabled]="!packageVersions" compareWith="id" autoSelect>
                  @for (version of packageVersions; track version) {
                    <m-option [mLabel]="version.version" [mValue]="version"></m-option>
                  }
                </m-select>
              </m-form-item>
            </div>
          </m-form-row>
        </form>
      }
    </m-spinner>
    <ng-container *m-card-footer>
      <m-button mLabel="core.btn.select" (mClick)="onSelect(val)"></m-button>
    </ng-container>
  </m-card>
</m-drawer>

