<div class="m-justify-between">
  <m-select style="flex: 3" [(ngModel)]="value" (ngModelChange)="fireOnChange()" multiple>
    <m-option *ngFor="let key of data | keys" [mValue]="key" [mLabel]="data[key]?.names | localName"></m-option>
  </m-select>

  <a style="flex: 2" (click)="drawerOpened = true">{{'web.observation-definition.select-snomed' | translate}}</a>
</div>

<m-drawer [mVisible]="drawerOpened" (mClose)="drawerOpened = false">
  <tw-snomed-search (conceptSelected)="onSelect($event)" [ecl]="snomedEcl"></tw-snomed-search>
</m-drawer>


