<tw-resource-context resourceType="CodeSystem" [resource]="codeSystem" [versions]="versions" mode="summary"></tw-resource-context>
<m-page [mLoading]="loader.isLoading" [twPrivilegeContext]="[codeSystem?.id, 'CodeSystem']">
<m-page-container breakpoint="xl">
  <m-form-row mGap="1rem">
    <div *mFormCol style="display: flex; gap: 1rem; flex-direction: column">

      <!-- CodeSystem info -->
      <m-card>
        <m-title *m-card-header mTitle="web.code-system.summary.code-system"></m-title>
        <tw-code-system-info-widget [codeSystem]="codeSystem"></tw-code-system-info-widget>
      </m-card>

      <!-- Versions -->
      <m-card>
        <m-title *m-card-header mTitle="web.code-system.summary.versions">
          <div mControls class="m-items-middle">
            <m-button mDisplay="text" [routerLink]="['/resources/code-systems/compare', {'code-system': codeSystem?.id}]">
              {{'web.code-system.summary.compare' | translate}}&nbsp;
              <m-icon mCode="diff"></m-icon>
            </m-button>
            <ng-container *twPrivileged>
              <m-divider mVertical></m-divider>
              <m-button mDisplay="text" [routerLink]="['/resources/code-systems', codeSystem?.id, 'versions', 'add']">
                {{'web.code-system.summary.add-version' | translate}}&nbsp;
                <m-icon mCode="plus"></m-icon>
              </m-button>
            </ng-container>
          </div>
        </m-title>
        <tw-code-system-versions-widget [codeSystem]="codeSystem?.id"
            [codeSystemTitle]="codeSystem?.title"
            [codeSystemValueSet]="codeSystem?.valueSet"
            [versions]="versions"
            (versionsChanged)="loadData(codeSystem.id)"/>
      </m-card>

    </div>
    <div *mFormCol style="display: flex; gap: 1rem; flex-direction: column">

      <!-- Unlinked concepts -->
      <m-card *ngIf="codeSystem">
        <m-title *m-card-header mTitle="web.code-system.summary.unlinked-concepts.title">
          <div mControls class="m-items-middle" *twPrivileged>
            <m-dropdown>
              <m-button *m-dropdown-container mDisplay="text">
                {{'web.code-system.summary.unlinked-concepts.link-to' | translate:{version: '...'} }}
              </m-button>
              <ng-container *ngFor="let v of versions | filter: filterDraftVersions">
                <a *m-dropdown-item (mClick)="link(v.version, unlinkedConcepts.checked())">{{v.version}}</a>
              </ng-container>
              <ng-container *ngIf="!(versions | filter: filterDraftVersions)?.length">
                <span *m-dropdown-item>{{'web.code-system.summary.unlinked-concepts.no-versions' | translate}}</span>
              </ng-container>
            </m-dropdown>
            <m-divider mVertical/>
            <m-button mControls mDisplay="text" [routerLink]="['/resources/code-systems', codeSystem?.id, 'concepts', 'add']">
              {{'web.code-system.summary.add-concept' | translate}}&nbsp;
              <m-icon mCode="plus"></m-icon>
            </m-button>
          </div>
        </m-title>
        <tw-code-system-unlinked-concepts #unlinkedConcepts
            [codeSystem]="codeSystem.id"
            [versions]="versions"
            [approvalRequired]="codeSystem.settings?.approvalRequired"
            (taskCreated)="tasksWidgetComponent.loadTasks()"></tw-code-system-unlinked-concepts>
      </m-card>

      <!-- Tasks -->
      <m-card *twPrivileged="'*.Task.view'">
        <div *m-card-header class="m-justify-between">
          <div class="m-items-middle">
            <a *ngIf="!showOnlyOpenedTasks" (mClick)="showOnlyOpenedTasks = !showOnlyOpenedTasks">
              <m-title mTitle="web.code-system.summary.opened-tasks"></m-title>
            </a>
            <m-title *ngIf="showOnlyOpenedTasks" mTitle="web.code-system.summary.opened-tasks"></m-title>
            <span>|</span>
            <a *ngIf="showOnlyOpenedTasks" (mClick)="showOnlyOpenedTasks = !showOnlyOpenedTasks">
              <m-title mTitle="web.code-system.summary.all-tasks"></m-title>
            </a>
            <m-title *ngIf="!showOnlyOpenedTasks" mTitle="web.code-system.summary.all-tasks"></m-title>
          </div>
          <m-button mDisplay="text"
              (mClick)="taskModal.toggleModal({type: 'review', workflowPrefix: 'version', context: {resourceId: codeSystem?.id}})"
              *twPrivileged="'*.Task.edit'">
            <m-icon mCode="plus"/>&nbsp; {{'web.code-system.summary.add-task' | translate}}
          </m-button>
        </div>
        <tw-resource-tasks-widget [resourceId]="codeSystem?.id"
            [taskFilters]="showOnlyOpenedTasks ? {statuses: ['requested']} : undefined"
            resourceType="CodeSystem"></tw-resource-tasks-widget>
      </m-card>

      <!-- Related artifacts-->
      <m-card>
        <m-title *m-card-header mTitle="web.code-system.summary.related-artifacts"></m-title>
        <tw-resource-related-artifact-widget [resourceId]="codeSystem?.id" resourceType="CodeSystem"></tw-resource-related-artifact-widget>
      </m-card>

    </div>
  </m-form-row>
</m-page-container>
</m-page>

<tw-resource-task-modal #taskModal (taskCreated)="tasksWidgetComponent.loadTasks()" resourceType="CodeSystem"/>
