<form #form="ngForm">
  <m-form-control mName="value">
    <ng-container *ngIf="!viewMode" [ngSwitch]="property?.type">
      <m-input *ngSwitchDefault name="value" [(ngModel)]="value" (ngModelChange)="fireOnChange()" [required]="required"></m-input>
      <m-date-picker *ngSwitchCase="'dateTime'" name="value" [(ngModel)]="value" (ngModelChange)="fireOnChange()" [required]="required"></m-date-picker>
      <m-number-input *ngSwitchCase="'decimal'" name="value" [(ngModel)]="value" (ngModelChange)="fireOnChange()" [required]="required"></m-number-input>
      <m-number-input *ngSwitchCase="'integer'" name="value" [(ngModel)]="value" (ngModelChange)="fireOnChange()" [required]="required"></m-number-input>
      <ng-container *ngSwitchCase="'code'">
        <tw-term-concept-search name="value"
            valueType="code"
            [(ngModel)]="value"
            [codeSystem]="codeSystem"
            [propertyValues]="property | apply:getFilterPropertyValues"
            (ngModelChange)="fireOnChange()"
            [required]="required"></tw-term-concept-search>
      </ng-container>
      <ng-container *ngSwitchCase="'Coding'">
        <div class="m-items-middle" [ngSwitch]="property | apply:codingType" *ngIf="value">
          <ng-container *ngSwitchDefault>
            <tw-code-system-search style="flex: 1"
                name="system"
                valuePrimitive
                placeholder="Code system"
                [(ngModel)]="value.codeSystem"
                (ngModelChange)="fireOnChange()"
                [required]="required"></tw-code-system-search>
            <tw-term-concept-search style="flex: 1"
                name="value"
                valueType="code"
                [(ngModel)]="value.code"
                (ngModelChange)="fireOnChange()"
                [codeSystem]="value.codeSystem"
                [required]="required"></tw-term-concept-search>
          </ng-container>
          <ng-container *ngSwitchCase="'code-system'">
            <m-select style="flex: 1"
                name="system"
                autoSelect
                placeholder="Code system"
                [(ngModel)]="value.codeSystem"
                (ngModelChange)="fireOnChange()"
                [required]="required | toBoolean">
              <m-option *ngFor="let system of property.rule.codeSystems" [mValue]="system" [mLabel]="system"></m-option>
            </m-select>
            <tw-term-concept-search style="flex: 1"
                name="value"
                valueType="code"
                [(ngModel)]="value.code"
                (ngModelChange)="fireOnChange()"
                [codeSystem]="value.codeSystem"
                [required]="required"></tw-term-concept-search>
          </ng-container>
          <ng-container *ngSwitchCase="'value-set'">
            <tw-value-set-concept-select style="flex: 1"
                name="value"
                valuePrimitive
                [(ngModel)]="value.code"
                (ngModelChange)="fireOnChange()"
                (selected)="value.codeSystem = $event?.concept?.codeSystem; fireOnChange()"
                [valueSet]="property.rule.valueSet"
                [required]="required"></tw-value-set-concept-select>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="viewMode">
      <label *ngIf="['string', 'decimal', 'integer', undefined] | includes:property?.type">{{value}}</label>
      <m-checkbox *ngIf="'boolean' === property?.type" [ngModel]="value" readOnly></m-checkbox>
      <label *ngIf="'dateTime' === property?.type">{{value | localDate}}</label>
      <label *ngIf="'code' === property?.type">{{value | localizedConceptName: {codeSystem: codeSystem} | async}}</label>
      <ng-container *ngIf="'Coding' === property?.type" [ngSwitch]="property | apply:codingType">
        <label *ngSwitchCase="'value-set'">
          {{value?.code | localizedConceptName: {valueSet: property.rule.valueSet} | async}}
        </label>
        <label *ngSwitchDefault>
          {{value?.code | localizedConceptName: {codeSystem: value?.codeSystem} | async}}
        </label>
      </ng-container>
    </ng-container>
  </m-form-control>
</form>
