<form #form="ngForm">
  <m-form-control mName="value">
    @if (!viewMode) {
      @switch (property?.type) {
        @default {
          <m-textarea name="value" [(ngModel)]="value" (ngModelChange)="fireOnChange()" [required]="required"></m-textarea>
        }
        @case ('boolean') {
          <m-checkbox name="value" [(ngModel)]="value" (ngModelChange)="fireOnChange()" [required]="required"></m-checkbox>
        }
        @case ('dateTime') {
          <m-date-picker name="value" [(ngModel)]="value" (ngModelChange)="fireOnChange()" [required]="required"></m-date-picker>
        }
        @case ('decimal') {
          <m-number-input name="value" [(ngModel)]="value" (ngModelChange)="fireOnChange()" [required]="required"></m-number-input>
        }
        @case ('integer') {
          <m-number-input name="value" [(ngModel)]="value" (ngModelChange)="fireOnChange()" [required]="required"></m-number-input>
        }
        @case ('code') {
          <tw-term-concept-search name="value"
              valueType="code"
              [(ngModel)]="value"
              [codeSystem]="codeSystem"
              [showStatus]="showStatus"
              [propertyValues]="property | apply:getFilterPropertyValues"
              (ngModelChange)="fireOnChange()"
              [required]="required"></tw-term-concept-search>
        }
        @case ('Coding') {
          @if (value) {
            <div class="m-items-middle" style="gap: 0.5rem">
              <div class="m-items-middle" style="flex: 1">
                @switch (property | apply:codingType) {
                  @default {
                    <tw-code-system-search style="flex: 1"
                        name="system"
                        valuePrimitive
                        placeholder="Code system"
                        [(ngModel)]="value.codeSystem"
                        (ngModelChange)="fireOnChange()"
                        [required]="required"></tw-code-system-search>
                    <tw-term-concept-search style="flex: 1"
                        name="value"
                        valueType="code"
                        [(ngModel)]="value.code"
                        (ngModelChange)="fireOnChange()"
                        [codeSystem]="value.codeSystem"
                        [showStatus]="showStatus"
                        [required]="required"></tw-term-concept-search>
                  }
                  @case ('code-system') {
                    @if (!value.codeSystem || property.rule.codeSystems?.length > 1) {
                      <m-select
                          style="flex: 1"
                          name="system"
                          autoSelect
                          placeholder="Code system"
                          [(ngModel)]="value.codeSystem"
                          (ngModelChange)="fireOnChange()"
                          [required]="required | toBoolean">
                        @for (system of property.rule.codeSystems; track $index) {
                          <m-option [mValue]="system" [mLabel]="system"></m-option>
                        }
                      </m-select>
                    }
                    <tw-term-concept-search style="flex: 1"
                        name="value"
                        valueType="code"
                        [(ngModel)]="value.code"
                        (ngModelChange)="fireOnChange()"
                        [codeSystem]="value.codeSystem"
                        [showStatus]="showStatus"
                        [required]="required"></tw-term-concept-search>
                  }
                  @case ('value-set') {
                    <tw-value-set-concept-select style="flex: 1"
                        name="value"
                        valuePrimitive
                        [(ngModel)]="value.code"
                        (ngModelChange)="fireOnChange()"
                        (selected)="value.codeSystem = $event?.concept?.codeSystem; fireOnChange()"
                        [valueSet]="property.rule.valueSet"
                        [required]="required"></tw-value-set-concept-select>
                  }
                }
              </div>
            </div>
          }
        }
      }
    }

    @if (viewMode) {
      <div style="word-break: break-word">
        @if (['string', 'decimal', 'integer', undefined, null] | includes:property?.type) {
          <label>{{ value }}</label>
        }
        @if ('boolean' === property?.type) {
          <m-checkbox [ngModel]="value" name="value" readOnly></m-checkbox>
        }
        @if ('dateTime' === property?.type) {
          <label>{{ value | localDate }}</label>
        }
        @if ('code' === property?.type) {
          <label>{{ value | localizedConceptName: {codeSystem: codeSystem} | async }}</label>
        }
        @if ('Coding' === property?.type) {
          <span [class.coding-compact-view]="compact" class="m-items-middle" [style.gap]="compact ? '0.15rem' : '0.5rem'">
            @if (compact && codingReference?.href) {
              @if (embedded) {
                <a m-tooltip [mTitle]="value?.code" [href]="codingReference.href">
                  {{ value?.code | localizedConceptName: {codeSystem: value?.codeSystem} | async }}
                </a>
              } @else {
                <a m-tooltip [mTitle]="value?.code" [href]="codingReference.href" target="_blank" rel="noopener noreferrer">
                  {{ value?.code | localizedConceptName: {codeSystem: value?.codeSystem} | async }}
                </a>
              }
            } @else {
              <label m-tooltip [mTitle]="value?.code">{{ value?.code | localizedConceptName: {codeSystem: value?.codeSystem} | async }}</label>
            }
          </span>
        }
      </div>
    }
  </m-form-control>
</form>
