<m-card>
  <m-spinner [mLoading]="loading">
    <div *m-card-header class="m-justify-between">
      <nz-breadcrumb>
        <nz-breadcrumb-item>FHIR</nz-breadcrumb-item>
        <nz-breadcrumb-item>ConceptMap</nz-breadcrumb-item>
        <nz-breadcrumb-item>$validate-code</nz-breadcrumb-item>
      </nz-breadcrumb>
      <m-button mDisplay="primary" [disabled]="!data.code || !data.system" (click)="translate()">{{'web.integration.send-request' | translate}}</m-button>
    </div>

    <m-form-item [mLabel]="url">
      <ng-template #url>
        <div>{{'web.integration.fhir.concept-map.translate.uri' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover [mContent]="urlContent"></m-icon>
        <ng-template #urlContent>
          <span [innerHTML]="('web.integration.fhir.concept-map.translate.uri' | translate)"></span>
        </ng-template>
      </ng-template>
      <m-input [(ngModel)]="data.uri"></m-input>
    </m-form-item>
    <m-form-item [mLabel]="conceptMapVersion">
      <ng-template #conceptMapVersion>
        <div>{{'web.integration.fhir.concept-map.translate.concept-map-version' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover [mContent]="conceptMapVersion"></m-icon>
        <ng-template #conceptMapVersion>
          <span [innerHTML]="('web.integration.fhir.concept-map.translate.concept-map-version-tooltip' | translate)"></span>
        </ng-template>
      </ng-template>
      <m-input [(ngModel)]="data.conceptMapVersion"></m-input>
    </m-form-item>
    <m-form-item [mLabel]="code" required>
      <ng-template #code>
        <div>{{'web.integration.fhir.concept-map.translate.code' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover mContent="{{'web.integration.fhir.concept-map.translate.code-tooltip' | translate}}"></m-icon>
      </ng-template>
      <m-input [(ngModel)]="data.code"></m-input>
    </m-form-item>
    <m-form-item [mLabel]="system" required>
      <ng-template #system>
        <div>{{'web.integration.fhir.concept-map.translate.system' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover mContent="{{'web.integration.fhir.concept-map.translate.system-tooltip' | translate}}"></m-icon>
      </ng-template>
      <m-input [(ngModel)]="data.system"></m-input>
    </m-form-item>
    <m-form-item [mLabel]="version">
      <ng-template #version>
        <div>{{'web.integration.fhir.concept-map.translate.version' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover mContent="{{'web.integration.fhir.concept-map.translate.version-tooltip' | translate}}"></m-icon>
      </ng-template>
      <m-input [(ngModel)]="data.version"></m-input>
    </m-form-item>
    <m-form-item [mLabel]="targetSystem">
      <ng-template #targetSystem>
        <div>{{'web.integration.fhir.concept-map.translate.target-system' | translate}}&nbsp;</div>
        <m-icon mCode="info-circle" m-popover [mContent]="targetSystemContent"></m-icon>
        <ng-template #targetSystemContent>
          <span [innerHTML]="('web.integration.fhir.concept-map.translate.target-system-tooltip' | translate)"></span>
        </ng-template>
      </ng-template>
      <m-input [(ngModel)]="data.targetSystem"></m-input>
    </m-form-item>

    <m-card *ngIf="response || error" class="m-card-inside">
      <div *m-card-header class="m-items-middle">
        <div class="m-card__title">{{'web.integration.response' | translate}}</div>
        <m-button (click)="copyResult()">
          <m-icon mCode="copy"></m-icon>
        </m-button>
      </div>
      <pre *ngIf="response">{{response | json}}</pre>
      <div *ngFor="let issue of error?.issue">
        <m-alert [mType]="issue.severity" mShowIcon>
          {{issue?.details?.text}}
        </m-alert>
      </div>
    </m-card>

  </m-spinner>
</m-card>
