@if (codeSystem) {
  @switch (codeSystem) {
    @case ('ucum') {
      <tw-measurement-unit-search
        name="value" [(ngModel)]="value"
        (ngModelChange)="fromUcum($event)"
        [valuePrimitive]="valueType | apply:valuePrimitive"
      [multiple]="multiple"></tw-measurement-unit-search>
    }
    @case ('snomed-ct') {
      <tw-snomed-drawer-search
        [value]="value | apply:getCode"
        (twChange)="fromSnomed($event)"
        [multiple]="multiple"
        [displayType]="displayType"
      [branch]="snomedBranch"></tw-snomed-drawer-search>
    }
    @default {
      <tw-concept-search
        name="value" [(ngModel)]="value"
        (ngModelChange)="onChange($event)"
        [valueType]="valueType"
        [displayType]="displayType"
        [codeSystem]="codeSystem"
        [codeSystemVersion]="codeSystemVersion"
        [codeSystemVersionId]="codeSystemVersionId"
        [codeSystemVersionReleaseDateLe]="codeSystemVersionReleaseDateLe"
        [codeSystemVersionExpirationDateGe]="codeSystemVersionExpirationDateGe"
        [codeSystemEntityVersionStatus]="codeSystemEntityVersionStatus"
        [propertyValues]="propertyValues"
        [multiple]="multiple"
        [showStatus]="showStatus"
      [placeholder]="placeholder"></tw-concept-search>
    }
  }
}
