<m-spinner class="page page__wrapper" [mLoading]="isLoading">
  <tw-thesaurus-page-header *ngIf="page?.id" [page]="page" [slug]="slug">
    <m-button (mClick)="editPage.emit(pageContent.slug)">
      <div class="m-items-middle">
        <m-icon mCode="edit"></m-icon>
        {{'core.btn.edit' | translate}}
      </div>
    </m-button>

    <m-dropdown>
      <m-button *m-dropdown-container mDisplay="text">
        <m-icon mCode="ellipsis"></m-icon>
      </m-button>

      <a *m-dropdown-item class="m-items-middle" (click)="pageModal.open({links:[{sourceId: page?.id, orderNumber: 1}]})">
        <m-icon mCode="file-add"/>
        {{'web.thesaurus-page.header.add-subpage' | translate}}
      </a>
      <a *m-dropdown-item>
        <tw-github-export type="text" [title]="pageContent?.name" [prepareExport]="prepareExport"/>
      </a>
    </m-dropdown>
  </tw-thesaurus-page-header>


  <div *ngIf="page?.id">
    <div nz-row nzGutter="12">
      <div nz-col [nzLg]="18" [nzXs]="24" class="page__content">
        <m-card>
          <tw-smart-text-editor
              *ngIf="pageContent"
              [(ngModel)]="pageContent.content"
              [valueType]="pageContent.contentType"
              [lang]="pageContent.lang"
              viewMode
          />
        </m-card>
      </div>

      <div nz-col [nzLg]="6" [nzXs]="24">
        <m-card>
          <div class="page__actions">
            <div>
              <b>{{'web.thesaurus-page.actions.contents' | translate}}</b>
              <div>
                <div *ngFor="let content of page?.contents | sort: 'lang'">
                  <a (click)="viewPage.emit(content.slug)">
                    {{content.lang | uppercase}} | {{content.name}}
                  </a>
                </div>
                <div *ngFor="let lang of muiConfig.config.supportedLangs | keys | apply: filterLanguages: pageContent?.lang: page?.contents">
                  <a (click)="createPageContent(lang)" class="m-text-secondary">
                    {{lang | uppercase}}
                  </a>
                </div>
              </div>
            </div>

            <div>
              <b>{{'web.thesaurus-page.actions.relations' | translate}}</b>
              <div *ngIf="!(pageRelations | keys)?.length" class="m-text-secondary">
                {{'web.thesaurus-page.actions.none' | translate}}
              </div>
              <dl *ngFor="let key of pageRelations | keys">
                <dt>{{key}}</dt>
                <dd>
                  <li style="margin-left: 1rem" *ngFor="let relation of pageRelations[key];">
                    <a (click)="viewRelation.emit(relation)">{{relation.target}}</a>
                  </li>
                </dd>
              </dl>
            </div>

            <div>
              <b>{{'web.thesaurus-page.actions.usages' | translate}}</b>
              <div *ngIf="!pageUsages?.length" class="m-text-secondary">
                {{'web.thesaurus-page.actions.none' | translate}}
              </div>
              <div>
                <a *ngFor="let usage of pageUsages" (click)="viewRelation.emit(usage)">
                  <m-icon mCode="link"></m-icon>
                  {{usage.content.names | localName}}
                </a>
              </div>
            </div>

            <div>
              <b>{{'web.thesaurus-page.actions.tags' | translate}}</b>
              <div *ngIf="!page?.tags?.length" class="m-text-secondary">
                {{'web.thesaurus-page.actions.none' | translate}}
              </div>
              <div class="m-items-middle">
                <m-tag *ngFor="let tag of page?.tags">
                  {{tag.tag.text}}
                </m-tag>
              </div>
            </div>
          </div>
        </m-card>
      </div>
    </div>
  </div>
</m-spinner>


<m-modal [(mVisible)]="contentModalData.visible" (mClose)="contentModalData.visible = false">
  <ng-container *m-modal-header>
    {{'web.thesaurus-page.form.content-header' | translate}}
  </ng-container>

  <ng-container *m-modal-content>
    <form #contentForm="ngForm" *ngIf="contentModalData.content">
      <m-form-item mName="name" mLabel="entities.page-content.name" required>
        <m-input name="name" [(ngModel)]="contentModalData.content.name" autofocus required></m-input>
      </m-form-item>

      <m-form-item mName="type" mLabel="entities.page-content.content-type" required>
        <m-select name="type" [(ngModel)]="contentModalData.content.contentType" required>
          <m-option mLabel="WYSIWYG" [mValue]="'html'"></m-option>
          <m-option mLabel="Markdown" [mValue]="'markdown'"></m-option>
        </m-select>
      </m-form-item>
    </form>
  </ng-container>

  <div *m-modal-footer class="m-items-middle">
    <m-button mDisplay="text" (click)="contentModalData.visible = false">
      {{'core.btn.close' | translate}}
    </m-button>

    <m-button mDisplay="primary"
        [mLoading]="loader.state['save']"
        [disabled]="loader.state['init'] || isLoading"
        (mClick)="savePageContent()"
    >
      {{'core.btn.save' | translate}}
    </m-button>
  </div>
</m-modal>


<tw-thesaurus-page-modal
  #pageModal
    (saved)="editPage.emit($event.pageContent.slug)"
    (closed)="pageModal.close()"
></tw-thesaurus-page-modal>
