<m-page-layout
    [class.embedded]="router.url | apply: isEmbedded"
    mTitle="web.app.header"
    [mMenu]="menu$ | async" mMenuMode="horizontal"
    [mUserInfo]="auth.user ? {initials: auth.user?.username, template: userInfoTpl} : undefined"
    (mLangChange)="onLangChange($event)"
    (mLogout)="logout()"
>
  <ng-template #userInfoTpl>
    <div class="tw-form-view">
      <div class="tw-user-info__user">
        <div>{{auth.user?.username}}</div>
      </div>

      <div class="tw-user-info__info">
        <m-form-item mLabel="entities.common.privileges" *ngIf="auth.user.privileges as roles">
          <div *ngFor="let role of roles">{{role}}</div>
        </m-form-item>
      </div>
    </div>
  </ng-template>

  <ng-container *ngIf="activeRoutePrivileges$ | async as privileges">
    <router-outlet *ngIf="!privileges || privileges | twHasAnyPrivilege; else accessError"/>
    <ng-template #accessError>
      <tw-no-privilege [privileges]="privileges"/>
    </ng-template>
  </ng-container>
</m-page-layout>


