.tw-user-info__user {
  text-transform: uppercase;
  background: var(--page-userinfo-color);
  border-radius: var(--border-radius-component) var(--border-radius-component) 0 0;

  margin-block: 0.5rem;
  padding: 1rem;


  &, .m-subtitle {
    color: var(--page-userinfo-background);
  }
}

.tw-app-title {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  &__logo {
    height: 1.5rem;
    width: auto;
  }

  &__skin {
    font-weight: normal;
    opacity: 0.75;
  }
}

.tw-user-info__theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.tw-user-info__info {
  padding: 0 1rem 0.3rem 1rem;

  .ant-form-item-label {
    white-space: nowrap;
  }
}

::ng-deep .embedded {
  --page-header-height: 0px;
  --page-content-padding: 6px;

  .m-page__header-wrapper {
    border-bottom: unset;
  }

}

::ng-deep .semi-embedded {
  .m-page-header__dropdown__border-top {
    display: none;
  }

  .m-page-header m-dropdown + .m-icon-button-wrapper {
    display: none;
  }
}

::ng-deep#preloader.hide {
  opacity: 0;

  .preloader-img {
    opacity: 0;
  }
}
