<ng-template #tmplNode let-node="node">
  <div
    class="node-item"
    [class.node-item--selected]="node.key === selectedKey"
    [class.node-item--expandable]="node.expandable"
    [class.node-item--expanded]="node.expanded"

    [class.drop-container-target]="node.key === dragInfo?.targetKey"
    [class.drop-container-target--before]="dragInfo?.action === 'before'"
    [class.drop-container-target--inside]="dragInfo?.action === 'inside'"
    [class.drop-container-target--after]="dragInfo?.action === 'after'"
    [class.drop-container-target__parent]="node.key === dragInfo?.parentKey"

    (mouseenter)="node['_hovered'] = true"
    (mouseleave)="node['_hovered'] = false"
    >
    <div
      [attr.data-key]="node.key"
      class="drop-container"
      (click)="onSelect(node, $event)"
      >

      @if (node.expandable) {
        <a class="initial" (mClick)="onExpand(node, $event)">
          <m-icon [mCode]="node.expanded ? 'folder-open' : 'folder'"></m-icon>
        </a>
      } @else {
        <div class="node-item__default-icon">
          <div></div>
        </div>
      }


      <div class="node-item__renderer">
        <ng-container *ngTemplateOutlet="renderer, context: {$implicit: node, node: node}"/>
      </div>

      <div class="node-item__actions m-items-middle" [style.display]="nodeActions && node['_hovered'] ? '' : 'none' ">
        <ng-container *ngTemplateOutlet="nodeActions, context: {$implicit: node, node: node}"/>
      </div>
    </div>
  </div>

  <div
    [attr.data-key]="node.key"
    class="drop-container__wrapper"
    [class.drop-container-target]="node.key === dragInfo?.targetKey"
    >
    @if (node.expanded && node.children.length) {
      <div
        [style.padding-left.rem]="DEFAULT_ITEM_OFFSET"
        cdkDropList
        [id]="node.key"
        [cdkDropListData]="node.children"
        (cdkDropListDropped)="dropped($event)"
        [cdkDropListSortingDisabled]="true"
        >
        @for (child of node.children; track trackBy($index, child)) {
          <div>
            <div cdkDrag [cdkDragData]="child" (cdkDragMoved)="dragMoved($event)">
              <div *cdkDragPreview class="node-item--preview">
                <ng-container *ngTemplateOutlet="renderer, context: {$implicit: child, node: child}"/>
              </div>
              <ng-container *ngTemplateOutlet="tmplNode, context:{$implicit: child, node: child}"/>
            </div>
          </div>
        }
      </div>
    }
  </div>
</ng-template>


<div cdkDropListGroup>
  <div
    cdkDropList
    [id]="undefined"
    [cdkDropListData]="nodes"
    (cdkDropListDropped)="dropped($event)"
    [cdkDropListSortingDisabled]="true"
    [class.dragging]="!!dragInfo"
    >
    @for (node of nodes; track trackBy($index, node)) {
      <div cdkDrag [cdkDragData]="node" (cdkDragMoved)="dragMoved($event)">
        <div *cdkDragPreview class="node-item--preview">
          <ng-container *ngTemplateOutlet="renderer, context: {$implicit: node, node: node}"/>
        </div>
        <ng-container *ngTemplateOutlet="tmplNode, context:{$implicit: node, node: node}"/>
      </div>
    }
  </div>
</div>


<ng-template #renderer let-node="node">
  @if (nodeRenderer) {
    <ng-container *ngTemplateOutlet="nodeRenderer, context:{$implicit: node, node: node}"/>
  } @else {
    {{node.title}}
  }

</ng-template>
