<div *ngIf="page" class="page__header m-justify-between m-items-middle">
  <div>
    <h2 class="m-items-middle">
      <span class="m-bold">{{(page | apply: getContent: slug)?.name}}</span>
    </h2>

    <div class="m-items-middle m-text-secondary">
      <div
          *ngIf="page | apply: author as author"
          [innerHTML]="'web.thesaurus-page.header.modified' | translate: ({user: author.by, date: author.at | localDateTime})"
      ></div>
    </div>
  </div>

  <div class="m-items-middle">
    <ng-content></ng-content>
  </div>
</div>
