<tw-finder-wrapper [loading]="loading['general']" title="CODE SYSTEM">
  <div class="tw-finder-view-form">
    <m-form-row mFull>
      <div *mFormCol>
        <m-form-item mLabel="entities.code-system.id">
          {{codeSystem?.id || '-'}}
        </m-form-item>
      </div>

      <div *mFormCol>
        <m-form-item mLabel="entities.code-system.name">
          {{(codeSystem?.title | localName) || '-'}}
        </m-form-item>
      </div>
    </m-form-row>

    <m-form-item mLabel="entities.code-system.uri-short">
      {{codeSystem?.uri || '-'}}
    </m-form-item>

    <m-form-row mFull>
      <div *mFormCol>
        <m-form-item mLabel="entities.code-system.content">
          {{codeSystem?.content || '-'}}
        </m-form-item>
      </div>

      <div *mFormCol>
        <m-form-item mLabel="entities.code-system.case-sensitivity">
          {{codeSystem?.caseSensitive || '-'}}
        </m-form-item>
      </div>
    </m-form-row>

    <m-form-item mLabel="entities.code-system.description">
      {{codeSystem?.description | localName: '-'}}
    </m-form-item>

    <m-form-item mLabel="entities.code-system.narrative">
      @if (codeSystem?.narrative) {
        @if (narrativeVisible) {
          <m-quill name="narrative" [ngModel]="codeSystem.narrative" mViewMode></m-quill>
        }
        <m-button mDisplay="text" style="width: 100%" (click)="narrativeVisible = !narrativeVisible">
          {{narrativeVisible ? 'Hide narrative' : 'Show narrative'}}
        </m-button>
      }
      @if (!codeSystem?.narrative) {
        -
      }
    </m-form-item>
  </div>

  <tw-finder-menu title="entities.code-system.properties" [length]="codeSystem?.properties?.length ">
    @for (p of codeSystem?.properties; track p) {
      <tw-finder-menu-item>
        {{p.name}} - {{p.type}}
      </tw-finder-menu-item>
    }
  </tw-finder-menu>


  <!-- Versions -->
  <tw-finder-menu title="entities.code-system.versions"  [length]="versions.length">
    @for (v of versions; track v) {
      <tw-finder-menu-item [navigate]="['versions', v.version]">
        {{v.version}}
      </tw-finder-menu-item>
    }
  </tw-finder-menu>

  <!-- Concepts -->
  <tw-finder-menu title="entities.code-system.concepts" [loading]="loading['concepts']" [length]="conceptResult.data.length">
    @for (c of conceptResult.data; track c) {
      <tw-finder-menu-item [navigate]="['concepts', c.code]">
        {{c.code}}
      </tw-finder-menu-item>
    }

    @if (conceptResult.data.length < conceptResult.meta.total) {
      <tw-finder-load-more-item
        (twClick)="loadConcepts(codeSystem.id, conceptResult.data.length + DEFAULT_CONCEPT_LIMIT)">
      </tw-finder-load-more-item>
    }
  </tw-finder-menu>


  <tw-finder-menu title="entities.code-system.contacts" [length]="codeSystem?.contacts?.length">
    @for (c of codeSystem?.contacts; track c) {
      <tw-finder-menu-item>
        <tw-finder-menu [title]="c.name || 'Unknown'" [open]="false" [length]="c?.telecoms?.length">
          @for (t of c.telecoms; track t) {
            <tw-finder-menu-item>
              {{t.system}} {{t.use ? '(' + t.use + ')' : ''}} - {{t.value}}
            </tw-finder-menu-item>
          }
        </tw-finder-menu>
      </tw-finder-menu-item>
    }
  </tw-finder-menu>

</tw-finder-wrapper>
