<tw-finder-wrapper [loading]="loading" title="VALUE SET">
  <div class="tw-finder-view-form">
    <m-form-item mLabel="entities.value-set.id">
      {{valueSet?.id || '-'}}
    </m-form-item>

    <m-form-item mLabel="entities.value-set.name">
      {{(valueSet?.name | localName) || '-'}}
    </m-form-item>

    <m-form-item mLabel="entities.value-set.uri-short">
      {{valueSet?.uri || '-'}}
    </m-form-item>

    <m-form-item mLabel="entities.value-set.description">
      {{valueSet?.description || '-'}}
    </m-form-item>
  </div>

  <tw-finder-menu title="entities.value-set.versions" [length]="versions.length">
    @for (v of versions; track v) {
      <tw-finder-menu-item [navigate]="['versions', v.version]">
        {{v.version}}
      </tw-finder-menu-item>
    }
  </tw-finder-menu>


  <tw-finder-menu title="entities.value-set.contacts" [length]="valueSet?.contacts?.length">
    @for (c of valueSet?.contacts; track c) {
      <tw-finder-menu-item>
        <tw-finder-menu [title]="c.name || 'Unknown'" [open]="false" [length]="c?.telecoms?.length">
          @for (t of c.telecoms; track t) {
            <tw-finder-menu-item>
              {{t.system}} {{t.use ? '(' + t.use + ')' : ''}} - {{t.value}}
            </tw-finder-menu-item>
          }
        </tw-finder-menu>
      </tw-finder-menu-item>
    }
  </tw-finder-menu>
</tw-finder-wrapper>
