<tw-finder-wrapper [loading]="loading" title="VALUE SET">
  <div class="tw-finder-view-form">
    <m-form-item mLabel="entities.value-set.id">
      {{valueSet?.id || '-'}}
    </m-form-item>

    <m-form-item mLabel="entities.value-set.name">
      {{(valueSet?.names | localName) || '-'}}
    </m-form-item>

    <m-form-item mLabel="entities.value-set.uri-short">
      {{valueSet?.uri || '-'}}
    </m-form-item>

    <m-form-item mLabel="entities.value-set.description">
      {{valueSet?.description || '-'}}
    </m-form-item>
  </div>

  <tw-finder-menu title="entities.value-set.versions" [length]="versions.length">
    <tw-finder-menu-item *ngFor="let v of versions" [navigate]="['versions', v.version]">
      {{v.version}} - {{v.source}}
    </tw-finder-menu-item>
  </tw-finder-menu>


  <tw-finder-menu title="entities.value-set.contacts" [length]="valueSet?.contacts?.length">
    <tw-finder-menu-item *ngFor="let c of valueSet?.contacts">
      <tw-finder-menu [title]="c.name || 'Unknown'" [open]="false" [length]="c?.telecoms?.length">
        <tw-finder-menu-item *ngFor="let t of c.telecoms">
          {{t.system}} {{t.use ? '(' + t.use + ')' : ''}} - {{t.value}}
        </tw-finder-menu-item>
      </tw-finder-menu>
    </tw-finder-menu-item>
  </tw-finder-menu>
</tw-finder-wrapper>
