@if (mode === 'edit' && valueSet?.id) {
  <tw-resource-context resourceType="ValueSet" [resource]="valueSet" [versions]="versions" mode="details"></tw-resource-context>
}
<m-spinner [mLoading]="loader.state['save']">
  @if (valueSet) {
    <form nz-row [nzGutter]="12" #form="ngForm">
      <div nz-col [nzMd]="18" [nzXs]="24" style="margin-bottom: 1rem">
        <m-card [mShowSkeleton]="loader.isLoading" class="tw-card__sticky-footer">
          <div *m-card-header class="m-justify-between">
            <div class="m-card__title">{{(viewMode ? 'web.value-set.form.details-header' : 'web.value-set.form.' + mode + '-header') | translate}}</div>
            @if (viewMode && canEdit) {
              <m-button mDisplay="text" (mClick)="openEdit()">
                {{'core.btn.edit' | translate}}&nbsp;<m-icon mCode="form"></m-icon>
              </m-button>
            }
          </div>
          <div *mCardContent="!loader.isLoading">
            <tw-resource-form resourceType="ValueSet" [resource]="valueSet" [mode]="mode" [viewMode]="viewMode"></tw-resource-form>
            <tw-resource-identifiers [(identifiers)]="valueSet.identifiers" [viewMode]="viewMode"></tw-resource-identifiers>
            <tw-resource-configuration-attributes [attributes]="valueSet.configurationAttributes" [viewMode]="viewMode"></tw-resource-configuration-attributes>
            <tw-resource-contacts [(contacts)]="valueSet.contacts" [viewMode]="viewMode"></tw-resource-contacts>
            @if (mode === 'add') {
              <tw-resource-version-form></tw-resource-version-form>
            }
          </div>

          <ng-container *m-card-footer>
            @if (!viewMode) {
              <m-button mDisplay="primary" [mLoading]="loader.state['save']" [disabled]="loader.isLoading" (mClick)="save()">
                {{'core.btn.save' | translate}}
              </m-button>
            }
          </ng-container>
        </m-card>
      </div>

      <div nz-col [nzMd]="6" [nzXs]="24">
        <m-card [mShowSkeleton]="loader.isLoading">
          <tw-resource-side-info [copyright]="valueSet.copyright" [permissions]="valueSet.permissions" [settings]="valueSet.settings" [viewMode]="viewMode"></tw-resource-side-info>
        </m-card>
      </div>
    </form>
  }
</m-spinner>
