<m-page-container breakpoint="xxl">
  <m-spinner [mLoading]="loader.state['save']">
    <form nz-row [nzGutter]="12" #form="ngForm" *ngIf="valueSet">
      <div nz-col [nzMd]="18" [nzXs]="24" style="margin-bottom: 1rem">
        <m-card [mTitle]="'web.value-set.form.' + mode + '-header'" [mShowSkeleton]="loader.isLoading" class="tw-card__sticky-footer">
          <div *mCardContent="!loader.isLoading">
            <tw-resource-form resourceType="ValueSet" [resource]="valueSet" [mode]="mode"></tw-resource-form>
            <tw-resource-identifiers [identifiers]="valueSet.identifiers"></tw-resource-identifiers>
            <tw-resource-configuration-attributes [attributes]="valueSet.configurationAttributes"></tw-resource-configuration-attributes>
            <tw-resource-contacts [(contacts)]="valueSet.contacts"></tw-resource-contacts>
            <tw-resource-version-form *ngIf="mode === 'add'"></tw-resource-version-form>
          </div>

          <m-button *m-card-footer mDisplay="primary" [mLoading]="loader.state['save']" [disabled]="loader.isLoading" (mClick)="save()">
            {{'core.btn.save' | translate}}
          </m-button>
        </m-card>
      </div>

      <div nz-col [nzMd]="6" [nzXs]="24">
        <m-card [mShowSkeleton]="loader.isLoading">
          <tw-resource-side-info [copyright]="valueSet.copyright" [permissions]="valueSet.permissions" [settings]="valueSet.settings"></tw-resource-side-info>
        </m-card>
      </div>
    </form>
  </m-spinner>
</m-page-container>
