<m-spinner [mLoading]="loader.state['save']">
  <form nz-row [nzGutter]="12" #form="ngForm" *ngIf="valueSet">
    <div nz-col [nzMd]="18" [nzXs]="24" style="margin-bottom: 1rem">
      <m-card [mTitle]="viewMode ? 'web.value-set.form.details-header' : 'web.value-set.form.' + mode + '-header'" [mShowSkeleton]="loader.isLoading" class="tw-card__sticky-footer">
        <div *mCardContent="!loader.isLoading">
          <tw-resource-form resourceType="ValueSet" [resource]="valueSet" [mode]="mode" [viewMode]="viewMode"></tw-resource-form>
          <tw-resource-identifiers [identifiers]="valueSet.identifiers" [viewMode]="viewMode"></tw-resource-identifiers>
          <tw-resource-configuration-attributes [attributes]="valueSet.configurationAttributes" [viewMode]="viewMode"></tw-resource-configuration-attributes>
          <tw-resource-contacts [(contacts)]="valueSet.contacts" [viewMode]="viewMode"></tw-resource-contacts>
          <tw-resource-version-form *ngIf="mode === 'add'"></tw-resource-version-form>
        </div>

        <ng-container *ngIf="!viewMode">
          <m-button *m-card-footer mDisplay="primary" [mLoading]="loader.state['save']" [disabled]="loader.isLoading" (mClick)="save()">
            {{'core.btn.save' | translate}}
          </m-button>
        </ng-container>
      </m-card>
    </div>

    <div nz-col [nzMd]="6" [nzXs]="24">
      <m-card [mShowSkeleton]="loader.isLoading">
        <tw-resource-side-info [copyright]="valueSet.copyright" [permissions]="valueSet.permissions" [settings]="valueSet.settings" [viewMode]="viewMode"></tw-resource-side-info>
      </m-card>
    </div>
  </form>
</m-spinner>
