<m-form-row>
  <div *mFormCol>
    <m-spinner [mLoading]="loading">
      <m-card [mTitle]="mode === 'edit'? 'web.entity-property.form.edit-header' : 'web.entity-property.form.add-header'">
        <form #form="ngForm" *ngIf="property">
          <twa-code-system-property-form [property]="property"></twa-code-system-property-form>
        </form>
        <ng-container *m-card-footer>
          <m-button mDisplay="primary" [mLoading]="loading" [disabled]="loading" (click)="save()">
            {{'core.btn.save' | translate}}
          </m-button>
        </ng-container>
      </m-card>
    </m-spinner>
  </div>
</m-form-row>
