<m-card [mTitle]="'entities.code-system.properties'" class="m-card-inside">
  <m-table [mData]="properties" [mLoading]="loading" mEnablePagination mHideOnSinglePage>
    <tr *mTableHead>
      <th>{{'entities.entity-property.name' | translate}}</th><!--Add router to edit when editing becomes available-->
      <th>{{'entities.entity-property.type' | translate}}</th>
      <th>{{'entities.entity-property.status' | translate}}</th>
    </tr>

    <tr *mTableRow="let property">
      <td>{{property.name}}</td>
      <td>{{property.type | localizedConceptName: {valueSet: 'concept-property-type'} | async}}</td>
      <td class="tw-table-min-width">
        <twa-status-tag [status]="property.status"></twa-status-tag>
      </td>
    </tr>

    <tr *mTableNoData>
      <td colspan="3">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-table>
</m-card>
