<m-card class="m-card-inside">
  <div *m-card-header class="m-items-between">
    <m-input [(ngModel)]="searchInput" (mChange)="searchUpdate.next($event)" placeholder="marina.ui.inputs.search.placeholder"></m-input>
    <twa-add-button [routerLink]="['../concepts/add']">
      {{'web.code-system.form.concepts.add-concept' | translate}}
    </twa-add-button>
  </div>

  <m-backend-table [mResult]="searchResult" [(mQuery)]="query" (mQueryChange)="loadData()" [mLoading]="loading" mSize="small">
    <tr *mTableRow="let concept">
      <td><a [routerLink]="['../concepts/', concept.id, 'edit']">{{concept.code}}</a></td>
    </tr>

    <tr *mTableNoData>
      <td>
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-backend-table>
</m-card>
