<m-card [title]="'web.code-system.list.properties'" class="tw-card-table">
  <m-table [data]="properties" [loading]="loading" enablePagination hideOnSinglePage>
    <tr *mTableHead>
      <th>{{'web.entity-property.entity.name' | translate}}</th><!--Add router to edit when editing becomes available-->
      <th>{{'web.entity-property.entity.type' | translate}}</th>
      <th>{{'web.entity-property.entity.status' | translate}}</th>
    </tr>

    <tr *mTableRow="let property">
      <td>{{property.name}}</td>
      <td>{{property.type}}</td>
      <td>{{property.status}}</td>
    </tr>

    <tr *mTableNoData>
      <td colspan="3">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-table>
</m-card>
