<m-card class="tw-card-inner">
  <div *m-card-header class="tw-items-between">
    <div class="m-card-title">{{'entities.code-system.versions' | translate}}</div>

    <m-dropdown>
      <m-button *m-dropdown-container>
        <span>{{'web.code-system.form.versions.list.add-version' | translate}}</span> &nbsp;
        <m-icon mCode="down" mSize="10"></m-icon>
      </m-button>
      <a *m-dropdown-item [routerLink]="['../versions/add']">{{'web.code-system.form.versions.list.add-new-version' | translate}}</a>
      <a *m-dropdown-item (click)="duplicateModal.toggleModal({targetCodeSystem: codeSystemId})">{{'web.code-system.form.versions.list.duplicate-version' | translate}}</a>
    </m-dropdown>
  </div>

  <m-table [mData]="versions" [mLoading]="loading" mEnablePagination mHideOnSinglePage>
    <tr *mTableHead>
      <th>{{'entities.code-system-version.version' | translate}}</th>
      <th>{{'entities.code-system-version.source' | translate}}</th>
      <th>{{'entities.code-system-version.release-date' | translate}}</th>
      <th>{{'entities.code-system-version.expiration-date' | translate}}</th>
      <th>{{'entities.code-system-version.status' | translate}}</th>
      <th class="tw-table-actions"></th>
      <th class="tw-table-actions"></th>
    </tr>

    <tr *mTableRow="let version">
      <td><a [routerLink]="['../versions', version.version, version.status === 'active'? 'view' : 'edit']">{{version.version}}</a></td>
      <td>{{version.source}}</td>
      <td>{{version.releaseDate | localDate}}</td>
      <td>{{version.expirationDate | localDate}}</td>
      <td>{{version.status}}</td>
      <td class="tw-table-actions">
        <a *ngIf="version.status === 'active'" (click)="retireVersion(version)">
          {{'web.publication-status.operations.retire' | translate}}
        </a>
        <a *ngIf="version.status !== 'active'" (click)="activateVersion(version)">
          {{'web.publication-status.operations.activate' | translate}}
        </a>
      </td>
      <td class="tw-table-actions">
        <m-dropdown>
          <a *m-dropdown-item (click)="duplicateModal.toggleModal({targetCodeSystem: codeSystemId, sourceCodeSystem: codeSystemId, sourceVersion: version})">
            {{'core.btn.duplicate' | translate}}
          </a>
          <a *m-dropdown-item (click)="exportFhirFormatVersion(version.id)">
            {{'web.code-system.form.versions.list.export-fhir' | translate}}
          </a>
        </m-dropdown>
      </td>
    </tr>

    <tr *mTableNoData>
      <td colspan="5">
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-table>
</m-card>

<twa-code-system-version-duplicate-modal #duplicateModal (duplicated)="loadVersions()"></twa-code-system-version-duplicate-modal>
