<m-spinner [loading]="loading">
  <form #form="ngForm" *ngIf="codeSystem">
    <m-form-item name="id" label="web.code-system.entity.id" required>
      <m-input name="id" [(ngModel)]="codeSystem.id" [disabled]="mode === 'edit'" required></m-input>
    </m-form-item>

    <m-form-item label="web.code-system.entity.name">
      <m-multi-language-input name="name" [(ngModel)]="codeSystem.names"></m-multi-language-input>
    </m-form-item>

    <m-form-item name="uri" label="web.code-system.entity.uri" required>
      <m-input name="uri" [(ngModel)]="codeSystem.uri" required></m-input>
    </m-form-item>

    <m-form-item name="description" label="web.code-system.entity.description">
      <m-textarea name="description" [(ngModel)]="codeSystem.description"></m-textarea>
    </m-form-item>
  </form>
</m-spinner>
