<div nz-row nzJustify="center">
  <div nz-col [nzLg]="18" [nzXs]="24">
    <nz-tabset nzLinkRouter>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.']" [replaceUrl]="true" class="m-items-middle">
          {{'web.code-system.tabs.code-system' | translate}}
        </a>
        <m-spinner [mLoading]="loading['save']">
          <m-card [mTitle]="mode === 'edit' ? 'web.code-system.form.edit-header' : 'web.code-system.form.add-header'" [mShowSkeleton]="loading['init']" autofocus>
            <form #form="ngForm" *ngIf="codeSystem">
              <m-form-item mName="id" mLabel="entities.code-system.id" required>
                <m-input name="id" [(ngModel)]="codeSystem.id" [disabled]="mode === 'edit'" required></m-input>
              </m-form-item>

              <m-form-item mName="baseCodeSystem" mLabel="entities.code-system.base-code-system">
                <twl-code-system-search name="baseCodeSystem" [(ngModel)]="codeSystem.baseCodeSystem" valuePrimitive></twl-code-system-search>
              </m-form-item>

              <m-form-item mLabel="entities.code-system.name">
                <m-multi-language-input name="name" [(ngModel)]="codeSystem.names"></m-multi-language-input>
              </m-form-item>

              <m-form-item mName="uri" mLabel="entities.code-system.uri" required>
                <div class="m-items-middle">
                  <m-input style="width: 100%" name="uri" [(ngModel)]="codeSystem.uri" required></m-input>
                  <a *ngIf="codeSystem.uri | validateUrl" [href]="codeSystem.uri" target="_blank">
                    <m-button>
                      <m-icon mCode="eye"></m-icon>
                    </m-button>
                  </a>
                </div>
              </m-form-item>

              <m-form-item mName="content" mLabel="entities.code-system.content" required>
                <twl-value-set-concept-select name="content"
                    [(ngModel)]="codeSystem.content"
                    valueSet="codesystem-content-mode"
                    required></twl-value-set-concept-select>
              </m-form-item>

              <m-form-item mName="caseSensitive" mLabel="entities.code-system.case-sensitivity">
                <m-select name="caseSensitive" [(ngModel)]="codeSystem.caseSensitive">
                  <m-option mLabel="web.case-sensitive-options.ci" mValue="ci"></m-option>
                  <m-option mLabel="web.case-sensitive-options.cs" mValue="cs"></m-option>
                  <m-option mLabel="web.case-sensitive-options.ics" mValue="ics"></m-option>
                </m-select>
              </m-form-item>

              <m-form-item mName="caseSensitive" mLabel="entities.code-system.supported-languages">
                <twl-value-set-concept-select name="supportedLanguages"
                    [(ngModel)]="codeSystem.supportedLanguages"
                    valueSet="languages"
                    multiple></twl-value-set-concept-select>
              </m-form-item>

              <m-form-item mName="description" mLabel="entities.code-system.description">
                <m-textarea name="description" [(ngModel)]="codeSystem.description"></m-textarea>
              </m-form-item>
            </form>

            <twa-code-system-versions-list *ngIf="mode === 'edit' && codeSystem"
                [codeSystemId]="codeSystemId"
                [versions]="codeSystem.versions"></twa-code-system-versions-list>
            <twa-code-system-properties-list *ngIf="mode === 'edit' && codeSystem"
                [codeSystemId]="codeSystemId"
                [properties]="codeSystem.properties"></twa-code-system-properties-list>
            <twa-contact-list *ngIf="codeSystem" [(contacts)]="codeSystem.contacts"></twa-contact-list>

            <ng-container *m-card-footer>
              <m-button mDisplay="primary" [mLoading]="loading['save']" [disabled]="loading['save'] || loading['init']" (click)="save()">
                {{'core.btn.save' | translate}}
              </m-button>
            </ng-container>
          </m-card>
        </m-spinner>
      </nz-tab>

      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.']" [replaceUrl]="true" [queryParams]="{ tab: 'narrative' }">
          {{'web.code-system.tabs.narrative' | translate}}
        </a>
        <ng-template nz-tab>
          <m-card *ngIf="codeSystem">
            <m-form-item mName="narrative" [mLabel]="narrativeHeader">
              <ng-template #narrativeHeader>
                <div class="m-justify-between">
                  <div class="m-card__title">{{'entities.code-system.narrative' | translate}}</div>
                  <m-button (click)="narrativeRaw = !narrativeRaw" mSize="small" mDisplay="link" mShape="circle">
                    <m-icon [mCode]="narrativeRaw ? 'check-square' : 'form'"></m-icon>
                  </m-button>
                </div>
              </ng-template>
              <m-quill *ngIf="!narrativeRaw" [(ngModel)]="codeSystem.narrative" name="narrative"></m-quill>
              <m-textarea *ngIf="narrativeRaw" [(ngModel)]="codeSystem.narrative" name="narrative"></m-textarea>
            </m-form-item>
          </m-card>
        </ng-template>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.']" [replaceUrl]="true" [queryParams]="{ tab: 'concepts' }">
          {{'entities.code-system.concepts' | translate}}
        </a>
        <m-card *ngIf="codeSystem">
          <twa-code-system-concepts-list [codeSystemId]="codeSystemId" [codeSystemVersions]="codeSystem.versions" [properties]="codeSystem.properties"></twa-code-system-concepts-list>
        </m-card>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
