<m-card class="tw-card-table">
  <div *m-card-header class="tw-card-header">
    <m-input [(ngModel)]="searchInput" (mChange)="searchUpdate.next($event)" placeholder="marina.ui.inputs.search.placeholder"></m-input>
    <m-button [routerLink]="['../concepts/add']">
      <m-icon [code]="'plus'"></m-icon> &nbsp; {{'web.code-system.list.add-concept' | translate}}
    </m-button>
  </div>

  <m-backend-table [result]="searchResult" [(query)]="query" (queryChange)="loadData()" [loading]="loading" size="small">
    <tr *mTableRow="let concept">
      <td><a [routerLink]="['../concepts/', concept.code, 'edit']">{{concept.code}}</a></td>
    </tr>

    <tr *mTableNoData>
      <td>
        <m-no-data></m-no-data>
      </td>
    </tr>
  </m-backend-table>
</m-card>
